
ALTER  PROCEDURE [dbo].[KV2_BM_06_02]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,	
	@p_MaHangHoa nvarchar(18)	
	,@p_TimeF datetime,
	@p_TimeT datetime
AS
BEGIN

    declare @p_From_Hour int
	declare @p_From_MINUTE int
	
	declare @p_To_Hour int
	declare @p_To_MINUTE int
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	
	set @p_From_Hour= datepart(hour,@p_TimeF)
	set @p_From_MINUTE = datepart(MINUTE ,@p_TimeF)
	set @p_to_Hour= datepart(hour,@p_TimeT)
	set @p_To_MINUTE = datepart(MINUTE ,@p_TimeT)
	
	
	
	
	declare @p_FromTime int 
	set @p_FromTime =  convert(nvarchar(4),	@p_From_Hour ) +  case when LEN(convert(nvarchar(4),@p_From_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_From_MINUTE)
								else convert(nvarchar(4),@p_From_MINUTE) end
	declare @p_ToTime int
	set @p_ToTime= convert(nvarchar(4),	@p_To_Hour ) + case when LEN(convert(nvarchar(4),@p_To_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_To_MINUTE)
								else convert(nvarchar(4),@p_To_MINUTE) end
	
	--print @p_ToTime
	declare @TableVar1 table (
		MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			SoLuongDuXuat_Ndo decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18,2),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime,
			DVT nvarchar(10),
			gst numeric(18,2)
			,Niem nvarchar(400)
			,SoLuongDuXuat_Thuy decimal(18,2)
			--CustomerID nchar(5) NOT NULL			
			)		
		
	insert into @TableVar1
		(MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat 
				,SoLuongDuXuat_Ndo
				,BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				 NhietDo,
				TyTrong ,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst )
	SELECT	a.MaHangHoa, 
				a.TenHangHoa, 
				a.SoLenh, 
				a.SoLuongDuXuat as SoLuongThucXuat, 
				a.SoLuongThucXuat as SoLuongDuXuat_Ndo,
				a.BeXuat, 
				a.MaPhuongTien,
				a.MaLuuLuongKe as SoCongTo, 
				a.Sl_llkebd,
				a.Sl_llkekt,
				a.MaEntry,
				--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
				NhietDo as NhietDo,
				case when a.[Status] = '3' then --dbo.fm_TyTrongE5 (a.LineID, a.MaLenh, a.NgayXuat) 
				0 else TyTrong_15 end as  TyTrong,
				0.0000 as VCF, 
				0 as SluongQC, 
				case when a.[Status] = '3' then isnull(a.NgayTichKe,a.NgayXuat)
				else a.ThoiGianDau end as GioXuatKho,
				a.[Status], client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst
				--,convert(int,  REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) 
		from FPT_LenhXuat_TongHop_v a
			where convert(date,ThoiGianDau)>=@p_Fdate and 
			CONVERT(date,ThoiGianDau)<=@p_TDate 
					and a.Status in ('31','4','5')
								
				and  a.MaHangHoa = ISNULL(@p_MaHangHoa,a.mahanghoa) -- case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
				  
				  and  CONVERT(int, REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) >=  @p_FromTime
				and convert(int,  REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) <=  @p_ToTime	
	
			
		
		
		
	declare @TableVarTmp table (
						MaHangHoa nvarchar(50), 
						TenHangHoa nvarchar(500), 					
						--SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
						SoLuongDuXuat decimal(18,2),						
						SluongQC decimal (18), 
						VCF decimal (10,4), 
						client nvarchar(5),
						MaVanChuyen nvarchar(20),									
						gst numeric(18,2)		
						--,solenh nvarchar(20)					
						)	
		insert into  @TableVarTmp
				(MaHangHoa , 
						TenHangHoa , 
						client ,
						MaVanChuyen,					
						--SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
					SoLuongDuXuat,					
					
														
						gst		
						--,solenh
				)	
				
		select MaHangHoa, TenHangHoa, Client, MaVanChuyen, sum(SluongQC) as SluongQC ,	sum(gst) as gst		
		from (			
				select MaHangHoa, 
					   TenHangHoa,			  
					
					  case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 and isnull(gst,0) >0 then gst else 
						dbo.zzFPT_mdlQCI_CalculateQCI_NS (
										SluongThucXuat, 
										'L',
										--(NhietDo * SluongThucXuat) / (SluongThucXuat),
										NhietDo,
										TyTrong,MaHangHoa, VCF
										) end as SluongQC,		
					 
						Client,					  
					   dbo.FPT_GetLoadingSite( MaVanChuyen) as MaVanChuyen ,	
					   		
						gst		--, solenh		
						from  (
						
						
						
								select solenh,MaHangHoa, 
									   TenHangHoa,
									  Client, 
									  MaVanChuyen,
									--   sum(SoLuongDuXuat) as SluongThucXuat, 
									   
									  sum( dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0)) as SluongThucXuat,	
									
									   round(sum(NhietDo *  SoLuongDuXuat_Ndo) / sum(SoLuongDuXuat_Ndo),2) as NhietDo,
									  -- avg(TyTrong) as TyTrong,
									  avg(convert(decimal(14,5),TyTrong)) as TyTrong,
									  --0.0000 as VCF, --BM_05_04.VCF, 
									case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 and round( SUM(isnull(gst,0)),0) >0  
											then 0.0000 else  dbo.zzFPT_mdlQCI_GetVCF_NS (round(sum(NhietDo * dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0)) 
												/ sum(dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0)),2), avg(convert(decimal(14,5),
												TyTrong))) end as VCF,
									  0 as SluongQC,   	 
									  
									round( SUM(isnull(gst,0)),0) as gst			
									,gst as aaa   	
									  -- 	, solenh
								from  @TableVar1 --where Status <>'3'			
								group by solenh,MaHangHoa, TenHangHoa, Client, MaVanChuyen, gst
								
								--having solenh='2020542439'
									
								) abc
		) abc123 group by MaHangHoa, TenHangHoa, Client, MaVanChuyen
	
	
	
	--select gst from @TableVar1  where solenh='2020542439'
	--select * from @TableVarTmp 
	----select SoLenh,sum(gst) as  gst from @TableVar1 group by solenh order by solenh
	--return

	
	
	
		select MaHangHoa, 
			   TenHangHoa,
				SluongThucXuat
				,SluongThucXuat_A
				,SluongThucXuat_B
				,SluongThucXuat_C
				,SluongThucXuat_THUY
				,round(case when SluongThucXuat =0 or SluongThucXuat_A =0 then 
						0.00 
					 else 
						( SluongThucXuat_A / SluongThucXuat  )*100
						end ,2 )   as ThucXuat_A_TL
				,round(case when SluongThucXuat =0 or SluongThucXuat_B =0 then 
						0.00 
					 else 
						(SluongThucXuat_B / SluongThucXuat )*100
						end ,2 ) as ThucXuat_B_TL	
				,round(case when SluongThucXuat =0 or SluongThucXuat_C =0 then 
						0.00 
					 else 
						(SluongThucXuat_C / SluongThucXuat )*100
						end ,2 ) as ThucXuat_C_TL		
				,round(case when SluongThucXuat =0  or SluongThucXuat_THUY=0  then 
						0.00 
					 else 
						(SluongThucXuat_THUY / SluongThucXuat )*100
						end ,2 ) as ThucXuat_THUY_TL
				,SluongThucXuat_BO
				,round(case when SluongThucXuat =0 or SluongThucXuat_BO=0  then 
						0.00 
					 else 
						(SluongThucXuat_BO / SluongThucXuat )*100
						end ,2 ) as ThucXuat_BO_TL
	    from  (
					select MaHangHoa, 
						   TenHangHoa,
						 --  Client_A,
						   sum(isnull(SluongThucXuat_THUY,0))  + sum(isnull(SluongThucXuat_BO,0))  as SluongThucXuat,
							sum(SluongThucXuat_A) as SluongThucXuat_A, 
							sum(SluongThucXuat_b) as SluongThucXuat_B,
							sum(SluongThucXuat_C) as  SluongThucXuat_C
						   , sum(isnull(SluongThucXuat_THUY,0)) as SluongThucXuat_THUY
						   , sum(isnull(SluongThucXuat_BO,0)) as SluongThucXuat_BO
						   
							from  (
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,						 
											   round( sum(SoLuongDuXuat),0)  as SluongThucXuat_A
											   , 0 as SluongThucXuat_B, 								  
												0 as SluongThucXuat_C,
												case when MaVanChuyen ='THUY' then
												   0
												else
												  round( sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
												
												
										from  @TableVarTmp--where Status <>'3'	
											where client ='A'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
										Union all
										
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,
												0 as SluongThucXuat_A, 						 
											  round( sum(SoLuongDuXuat),0) as SluongThucXuat_B								   								  
												,0 as SluongThucXuat_C
												,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												  round( sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
										from  @TableVarTmp--where Status <>'3'	
											where client ='B'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
										Union all
										
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,
												0 as SluongThucXuat_A
												,0 as SluongThucXuat_B,						 
											   round(sum(SoLuongDuXuat),0)  as SluongThucXuat_C								   								  
												,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
										from  @TableVarTmp--where Status <>'3'	
											where client ='C'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
											
										) abc Group by MaHangHoa, 
														TenHangHoa) anhqh
					  order by MaHangHoa
END