
ALTER  PROCEDURE [dbo].[KV2_BM_06_01]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,
	@p_Client nvarchar(10),
	@p_MaHangHoa nvarchar(18),
	@p_SoCongTo nvarchar(30),
	@p_BeXuat nvarchar(20),
	@p_MaPhuongTien nvarchar(10)
	--@p_TimeF datetime,
	--@p_TimeT datetime
AS
BEGIN

    declare @p_From_Hour int
	declare @p_From_MINUTE int
	
	declare @p_To_Hour int
	declare @p_To_MINUTE int
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	
	set @p_From_Hour=0 -- datepart(hour,@p_TimeF)
	set @p_From_MINUTE = 0 --datepart(MINUTE ,@p_TimeF)
	set @p_to_Hour= 23  --datepart(hour,@p_TimeT)
	set @p_To_MINUTE =59   --datepart(MINUTE ,@p_TimeT)
	
	
	
	
	declare @p_FromTime int 
	set @p_FromTime =  convert(nvarchar(4),	@p_From_Hour ) +  case when LEN(convert(nvarchar(4),@p_From_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_From_MINUTE)
								else convert(nvarchar(4),@p_From_MINUTE) end
	declare @p_ToTime int
	set @p_ToTime= convert(nvarchar(4),	@p_To_Hour ) + case when LEN(convert(nvarchar(4),@p_To_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_To_MINUTE)
								else convert(nvarchar(4),@p_To_MINUTE) end
	
	
	
	declare @TableVar2 table (
			MeterID nvarchar(50)
			)
	insert into @TableVar2
	select MeterId  from vwMeterAll where Client =ISNULL(@p_Client,client) 
			
	
	declare @TableVar3 table (
			Client nvarchar(50)
			)
	insert into @TableVar3
	select Client   from FPT_Client_V  where Client =ISNULL(@p_Client,client) 
	
	
	declare @TableVar1 table (
		MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			SoLuongDuXuat_Ndo decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime,
			DVT nvarchar(10),
			gst numeric(18,2)
			,Niem nvarchar(400)
			--CustomerID nchar(5) NOT NULL			
			)		
	insert into @TableVar1
		(MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat 
				,SoLuongDuXuat_Ndo
				,BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				 NhietDo,
				TyTrong ,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst
				,Niem )
	SELECT	a.MaHangHoa, 
				a.TenHangHoa, 
				a.SoLenh, 
				
				dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0) as SoLuongThucXuat, 
				 dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0) as SoLuongDuXuat_Ndo,
				 
				a.BeXuat, 
				a.MaPhuongTien,
				a.MaLuuLuongKe as SoCongTo, 
				a.Sl_llkebd,
				a.Sl_llkekt,
				a.MaEntry,
				--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
				NhietDo as NhietDo,
				case when a.[Status] = '3' then --dbo.fm_TyTrongE5 (a.LineID, a.MaLenh, a.NgayXuat) 
				0 else TyTrong_15 end as  TyTrong,
				0.0000 as VCF, 
				0 as SluongQC, 
				case when a.[Status] = '3' then isnull(a.NgayTichKe,a.NgayXuat)
				else a.ThoiGianDau end as GioXuatKho,
				a.[Status], client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst
				,(select Niem from tbllenhxuate5 with (nolock )  where SoLenh=a.SoLenh)  as Niem
		from FPT_LenhXuat_TongHop_v a, @TableVar2 bb
		where convert(date,ThoiGianDau)>=@p_Fdate and 
			CONVERT(date,ThoiGianDau)<=@p_TDate 
					and a.Status in ('4','5')
					and a.MaVanChuyen = 'ZT' 	
					and a.MaLuuLuongKe =bb.MeterID 				
				and  a.MaHangHoa = ISNULL(@p_MaHangHoa,a.mahanghoa) -- case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
				  and ISNULL(a.MaLuuLuongKe,'') =isnull(@p_SoCongTo,isnull(MaLuuLuongKe,''))  -- case when  @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and   -- case when len(@p_SoCongTo)=0 OR @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and
				 and a.BeXuat =  ISNULL(@p_BeXuat,a.BeXuat)   --case when LEN(@p_BeXuat)=0 OR @p_BeXuat IS NULL then a.BeXuat else @p_BeXuat end and
				  and a.MaPhuongTien =isnull(@p_MaPhuongTien,a.maphuongtien)  
				  
				  and  CONVERT(int, REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) >=  @p_FromTime
				and convert(int,  REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) <= @p_ToTime	
	

		
		
		update @TableVar1 set DVT ='L15' where MaHangHoa not like '07%'
		update @TableVar1 set DVT ='KG' where MaHangHoa  like '07%'
		

		
	select  * from @TableVar1 where solenh='2021223805'
	return
	
		
		select MaHangHoa, 
			   TenHangHoa,
			   SoLenh, 
			 --  Niem,
			    SluongThucXuat, 
			   BeXuat, 
			   MaPhuongTien,
			   SoCongTo, 
				 CSCtoDau,
			   CSCtoCuoi,
			   SluongXuatCto, 
			    CCHH, -- Chiều cao hầm hàng
			    NhietDo,
			   TyTrong,
			   case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 and isnull(gst,0) >0 then round(gst/SluongThucXuat,4) else 
				VCF end as VCF,
			  case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 and isnull(gst,0) >0 then gst else 
			    dbo.zzFPT_mdlQCI_CalculateQCI_NS (
								SluongThucXuat, 
								'L',
								--(NhietDo * SluongThucXuat) / (SluongThucXuat),
								NhietDo,
								TyTrong,MaHangHoa,VCF
								) end as SluongQC,
				GioXuatKho,
				NgayXuatKho,
				[Status],
				DVT,
				gst, Niem
				from  (
							select MaHangHoa, 
								   TenHangHoa,
								   SoLenh, 
								   Niem,
								   sum(SoLuongDuXuat) as SluongThucXuat, 
								   BeXuat, 
								   MaPhuongTien,
								   SoCongTo, 
								   min(Sl_llkebd) as CSCtoDau,
								   max(Sl_llkekt) as CSCtoCuoi,
								   max(Sl_llkekt) - min(Sl_llkebd) as SluongXuatCto, 
								   sum(MaEntry) as CCHH, -- Chiều cao hầm hàng
								   round(sum(NhietDo *  SoLuongDuXuat_Ndo) / sum(SoLuongDuXuat_Ndo),2) as NhietDo,
								  -- avg(TyTrong) as TyTrong,
								  avg(convert(decimal(14,5),TyTrong)) as TyTrong,
								 -- 0.0000 as VCF, --BM_05_04.VCF, 
								case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 and round( SUM(isnull(gst,0)),0) >0  
										then '0' else  dbo.zzFPT_mdlQCI_GetVCF_NS (round(sum(NhietDo * SoLuongDuXuat_Ndo) / sum(SoLuongDuXuat_Ndo),2), avg(convert(decimal(14,5),TyTrong))) end as VCF,
								  0 as SluongQC,   	   
								convert(char(5), min(GioXuatKho), 108)	as GioXuatKho,			
								 min(GioXuatKho)	as NgayXuatKho,			
								--GioXuatKho,	
								Status ,
								DVT		,
								round( SUM(isnull(gst,0)),0) as gst	   					   	
							from  @TableVar1--where Status <>'3'			
							group by MaHangHoa, TenHangHoa, SoLenh,Niem,  BeXuat, MaPhuongTien, SoCongTo, [Status],DVT 
								
							) abc
END