
alter  PROCEDURE [dbo].[KV2_BM_06_03]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,	
	@p_MaHangHoa nvarchar(18)	
	,@p_TimeF datetime,
	@p_TimeT datetime
AS
BEGIN

    declare @p_From_Hour int
	declare @p_From_MINUTE int
	
	declare @p_To_Hour int
	declare @p_To_MINUTE int
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	
	set @p_From_Hour= datepart(hour,@p_TimeF)
	set @p_From_MINUTE = datepart(MINUTE ,@p_TimeF)
	set @p_to_Hour= datepart(hour,@p_TimeT)
	set @p_To_MINUTE = datepart(MINUTE ,@p_TimeT)
	
	
	
	
	declare @p_FromTime int 
	set @p_FromTime =  convert(nvarchar(4),	@p_From_Hour ) +  case when LEN(convert(nvarchar(4),@p_From_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_From_MINUTE)
								else convert(nvarchar(4),@p_From_MINUTE) end
	declare @p_ToTime int
	set @p_ToTime= convert(nvarchar(4),	@p_To_Hour ) + case when LEN(convert(nvarchar(4),@p_To_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_To_MINUTE)
								else convert(nvarchar(4),@p_To_MINUTE) end
	
	
	declare @TableVar1 table (
		MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			SoLuongDuXuat_Ndo decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18,2),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime,
			DVT nvarchar(10),
			gst numeric(18,2)
			,Niem nvarchar(400)
			,SoLuongDuXuat_Thuy decimal(18,2)
			--CustomerID nchar(5) NOT NULL			
			)		
	insert into @TableVar1
		(MaHangHoa , 
				TenHangHoa , 
				client,
				MaVanChuyen,		
				
						
				SoLuongDuXuat			
				
				)
	SELECT	a.MaHangHoa, 
				a.TenHangHoa, 
				client,
				dbo.FPT_GetLoadingSite( MaVanChuyen) as MaVanChuyen,	
				
				sum(isnull(SoLuongThucXuat,0)) as SoLuongDuXuat 			
			--	sum(isnull(gst,0)	) as gst			
		from FPT_LenhXuat_TongHop_v a   ---, @TableVar2 bb
		where convert(date,ThoiGianDau)>=@p_Fdate and 
			CONVERT(date,ThoiGianDau)<=@p_TDate 
					and a.Status in ('4','5')
								
				and  a.MaHangHoa = ISNULL(@p_MaHangHoa,a.mahanghoa) -- case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
				  
				  and  CONVERT(int, REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) >=  @p_FromTime
				and convert(int,  REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) <= @p_ToTime	
	
  group by a.MaHangHoa, 
				a.TenHangHoa, 
				client, dbo.FPT_GetLoadingSite( MaVanChuyen)
				
				--) anhqh
				
	--	return
		--
		select MaHangHoa, 
			   TenHangHoa,
				SluongThucXuat
				,SluongThucXuat_A
				,SluongThucXuat_B
				,SluongThucXuat_C
				,SluongThucXuat_A_THUY
				,SluongThucXuat_B_THUY
				,SluongThucXuat_C_THUY
				,SluongThucXuat_THUY
				,SluongThucXuat_BO
				,round(case when SluongThucXuat =0 or SluongThucXuat_A =0 then 
						0.00 
					 else 
						( SluongThucXuat_A / SluongThucXuat  )*100
						end ,2 )   as ThucXuat_A_TL
			   
			   ,round(case when SluongThucXuat =0 or SluongThucXuat_A_THUY =0 then 
						0.00 
					 else 
						( SluongThucXuat_A_THUY / SluongThucXuat  )*100
						end ,2 )   as ThucXuat_A_TL_THUY
						
				,round(case when SluongThucXuat =0 or SluongThucXuat_B =0 then 
						0.00 
					 else 
						(SluongThucXuat_B / SluongThucXuat )*100
						end ,2 ) as ThucXuat_B_TL	
			    ,round(case when SluongThucXuat =0 or SluongThucXuat_B_THUY =0 then 
						0.00 
					 else 
						(SluongThucXuat_B_THUY / SluongThucXuat )*100
						end ,2 ) as ThucXuat_B_TL_THUY	
				,round(case when SluongThucXuat =0 or SluongThucXuat_C =0 then 
						0.00 
					 else 
						(SluongThucXuat_C / SluongThucXuat )*100
						end ,2 ) as ThucXuat_C_TL		
				,round(case when SluongThucXuat =0 or SluongThucXuat_C_THUY =0 then 
						0.00 
					 else 
						(SluongThucXuat_C_THUY / SluongThucXuat )*100
						end ,2 ) as ThucXuat_C_TL_THUY		
	    from  (
					select MaHangHoa, 
						   TenHangHoa,
						 --  Client_A,
						   sum(isnull(SluongThucXuat_THUY,0))  + sum(isnull(SluongThucXuat_BO,0))  as SluongThucXuat,
							sum(SluongThucXuat_A) as SluongThucXuat_A, 
							sum(SluongThucXuat_A_THUY) as SluongThucXuat_A_THUY, 
							sum(SluongThucXuat_b) as SluongThucXuat_B,
							sum(SluongThucXuat_b_THUY) as SluongThucXuat_B_THUY,
							sum(SluongThucXuat_C) as  SluongThucXuat_C
							,sum(SluongThucXuat_C_THUY) as  SluongThucXuat_C_THUY
						   , sum(isnull(SluongThucXuat_THUY,0)) as SluongThucXuat_THUY
						   , sum(isnull(SluongThucXuat_BO,0)) as SluongThucXuat_BO
						   
							from  (
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,						 
											   case when MaVanChuyen ='THUY' then
												   0
												else
												  round( sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_A
											,case when MaVanChuyen ='THUY' then
												    round( sum(SoLuongDuXuat),0)
												else
												    0
												end   as SluongThucXuat_A_THUY
												
											   , 0 as SluongThucXuat_B		
											   , 0 as SluongThucXuat_B_THUY, 							  
												0 as SluongThucXuat_C,
												0 as SluongThucXuat_C_THUY,
												case when MaVanChuyen ='THUY' then
												   0
												else
												  round( sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY												
												
										from  @TableVar1--where Status <>'3'	
											where client ='A'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
										Union all
										
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,
												0 as SluongThucXuat_A, 	
												0 as SluongThucXuat_A_THUY 						 
											  ,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_B	
												 ,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_B_THUY								   								  
												,0 as SluongThucXuat_C
												,0 as SluongThucXuat_C_THUY
												,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												  round( sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
										from  @TableVar1--where Status <>'3'	
											where client ='B'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
										Union all
										
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,
												0 as SluongThucXuat_A
												,0 as SluongThucXuat_A_THUY
												,0 as SluongThucXuat_B		
												,0 as SluongThucXuat_B_THUY					 
											   ,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end  as SluongThucXuat_C
												 ,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0 
												end  as SluongThucXuat_C_THUY									   								  
												,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
										from  @TableVar1--where Status <>'3'	
											where client ='C'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
											
										) abc Group by MaHangHoa, 
														TenHangHoa) anhqh
					  order by MaHangHoa
END