

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_CheckLenhInTichKe] 
	@p_StrLenh nvarchar(500)
	, @p_IntIchKe int  =0
AS
BEGIN

	-- Enhance
	DECLARE @theday DATETIME
	declare @p_TANK_GROUP nvarchar(5)

	declare @p_NguonTD nvarchar(10)='N05'
	declare @p_KhachHangTD nvarchar(2000) = '0000108810'


	declare @p_NguonPA nvarchar(10)='N40'
	declare @p_KhachHangPA nvarchar(2000) = '0000200016'

	declare @p_Table table (So_TKTX nvarchar(50), SoLenh nvarchar(50), NOTE_SMO nvarchar(150),  MaNguon nvarchar(50), MaKhachHang nvarchar(50) )

	insert into @p_Table (NOTE_SMO, So_TKTX, SoLenh, MaNguon, MaKhachHang)
		select NOTE_SMO,So_TKTX , SoLenh , MaNguon, MaKhachHang  from tbllenhxuate5 with (nolock) where  (MaKhachHang   = @p_KhachHangTD or  MaKhachHang =  @p_KhachHangPA ) 
				and (MaNguon   = @p_NguonTD or  MaNguon =  @p_NguonPA ) 
				and  isnull(So_TKTX,'') = ''
				and  CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0 

	select @p_TANK_GROUP  = KEYVALUE   from sys_config where upper(KEYCODE) = 'TANK_GROUP'

	SET @theday = DATEADD(DAY, -3, GETDATE())

	declare @p_TankApproved nvarchar(100)
	declare @p_TankGroup nvarchar(2)

	set @p_TankGroup = (select top 1 KEYVALUE from SYS_CONFIG where upper(KeyCode) = 'TANK_GROUP' )

	select top 1 @p_TankApproved  =KeyValue from sys_config where KeyCode ='TANKAPPROVED'

	select  1 as Err,N'Số lệnh (' + a.SoLenh +N') Mã bể ' + a.BeXuat + N'  chưa được khai báo theo ngày'  as  sDesc from 
	(select *
	FROM	tblLenhXuat_hanghoaE5 with (nolock)
	WHERE Ngayxuat >= @theday)
	
	a 	
			where   CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0 
			 and not  exists (select 1 from  FPT_tblTankActive_v b where Date1=CONVERT(date,getdate ()) 
								and Name_nd=a.BeXuat  and isnull(Tank_App,'') ='Y' )
									--20241230 kiem tra với các lệnh có gắn bể
									and isnull(BeXuat,'') <> ''
	
	union all 
	select 	1 as Err,N'Số lệnh (' + a.SoLenh +N')  đã hết hạn'  as  sDesc from 
	(select * from
	tblLenhXuatE5  with(nolock)		
	where ngayxuat >= @theday
	) a
			where   CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0 
					and CONVERT(date,getdate())	> CONVERT(date,ISNULL(NgayHetHieuLuc,getdate()))					
	
	--anhqh  20210815 bo sung kiem tra MaNguon				
	union all 
	select 	1 as Err,N'Số lệnh (' + a.SoLenh +N')  Mã nguồn chưa nhập'  as  sDesc from (select * from
	tblLenhXuatE5  with(nolock)		
	where ngayxuat >= @theday
	) a		
			where   CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0 
					and isnull(MaNguon,'') =''	
   --anhqh 20241202 Kiem tra theo NHom be xuat
	union all
	select 	1 as Err,N'Số lệnh (' + a.SoLenh +N')  Nhóm bể của bể xuất không đúng với nhóm bể của lệnh xuât'  as  sDesc from 
			tblLenhXuat_HanghoaE5 a with(nolock) where   CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0  --and (isnull(NhomBeXuat,'') ='' or isnull(BeXuat,'') ='') 
					and 	isnull(@p_TankGroup,'') ='Y'
					and  exists (select 1 from tblLenhXuatE5 k with(nolock) where k.SoLenh = a.SoLenh  and  isnull(k.nhombexuat,'') <> isnull(a.nhombexuat,'') 
					and   isnull(k.nhombexuat,'')  <> '' )
						 -- and  isnull(NhomBeXuat,'') <> ''
	union all
	select 	1 as Err,N'Số lệnh (' + a.SoLenh +N')  Bể xuất theo nhóm bể hết hiệu lực'  as  sDesc from 
			tblLenhXuat_HanghoaE5 a with(nolock) where   CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0  --and (isnull(NhomBeXuat,'') ='' or isnull(BeXuat,'') ='') 
					and 	isnull(@p_TankGroup,'') ='Y'					
					and not exists (select 1 from tblTankGroup bb where getdate() >= isnull(FromDate,getdate() -1) and getdate() <= isnull(ToDate,getdate() +11)
								and bb.Name_nd =a.BeXuat and isnull(bb.TankGroup ,'') = isnull(a.NhomBeXuat ,''))
					and exists (select 1 from tblLenhXuatE5 k with(nolock) where k.SoLenh = a.SoLenh  and    isnull(k.nhombexuat,'')  <> '' )
					--20241230 kiem tra với các lệnh có gắn bể
					and isnull(a.BeXuat,'') <> ''
					and isnull(@p_IntIchKe,0) >0


	--union all
	--select 1 as Err, N'Ngăn ' +  MaNgan + N' không có cùng nhóm bể' from 
	--	(	select distinct kk1.MaNgan, kk.NhomBeXuat from tblLenhXuatE5  kk with (nolock) ,
	--			FPT_tblLenhXuatChiTietE5_V  kk1 where  kk.SoLenh = kk1.SoLenh 
	--					 and    CHARINDEX (',' +  kk.SoLenh +',', ',' + @p_StrLenh + ',' ,1)>0  
	--				group by   kk1.MaNgan, kk.NhomBeXuat
	--	) abc group by 	 MaNgan	having Count(NhomBeXuat) >1	

   union all
	-----kiểm tra công tơ cho xuất thủy
	  select 1 as Err, N'Công tơ ' +  kk1.MeterId  + N' hết hiệu lực'  from tblLenhXuat_HangHoaE5  kk1 with  (nolock) , tbllenhxuatE5 kk2 with  (nolock)  where 
		kk1.SoLenh = kk2.SoLenh and       CHARINDEX (',' +  kk2.SoLenh +',', ',' + @p_StrLenh + ',' ,1)>0  
		and not exists (SELECT B.METERID AS  [CÔNG TƠ] , B.BEXUAT,B.MAHANGHOA, B.TANKGROUP AS NHOMBEXUAT  FROM  TBLCONGTONHOMBE B  WHERE  GETDATE() >= 
		ISNULL(B.VALID_FROM ,GETDATE()-1)   AND GETDATE() <=  ISNULL(B.VALID_TO  ,GETDATE() + 1)   
		AND  kk2.NHOMBEXUAT  = B.TANKGROUP   AND B.MAHANGHOA=  kk1.MaHangHoa 
		AND B.BEXUAT IN (SELECT NAME_ND FROM FPT_TBLTANKACTIVE_V A11 WHERE DATE1= kk2.NgayXuat  AND PRODUCT_ND = kk1.MaHangHoa   AND ISNULL(TANK_APP,'N') ='Y' 
		AND NAME_ND = kk1.BeXuat 
		AND  (LOADINGSITE IS NULL OR LOADINGSITE ='' OR UPPER(LOADINGSITE)=UPPER( [dbo].[FPT_GetLoadingSite] (kk2.MaVanChuyen) ) ) ) 
		AND EXISTS (SELECT 1 FROM FPT_METERALL A WHERE LOADINGSITE= [dbo].[FPT_GetLoadingSite] (kk2.MaVanChuyen)   AND METERID  = B.METERID)    ) 
		and isnull(@p_TANK_GROUP,'') = 'Y' and kk2.MaVanChuyen <> 'ZT' and isnull( kk1.MeterId ,'' ) <> ''

	union all
	select 1 as Err, N'Số lệnh (' + a.SoLenh +N')  Lệnh tái xuất chưa nhập số TKTX'  as sDesc  from @p_Table  a where  MaKhachHang = @p_KhachHangPA 
		and  MaNguon  = @p_NguonPA   and isnull(NOTE_SMO,'') <> ''  and isnull(So_TKTX,'') = ''
	union all 
	select 1 as Err, N'Số lệnh (' + a.SoLenh +N')  Lệnh tái xuất chưa nhập số TKTX'  as sDesc  from @p_Table a  where  MaKhachHang = @p_KhachHangTD 
		and  MaNguon  = @p_NguonTD    and isnull(So_TKTX,'') = ''
END

