
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>   exec [FPT_DanhSachATG_SAP_New] '20190101', '20190105', 'sysadmin',''
-- =============================================
ALTER PROCEDURE [dbo].[FPT_DanhSachATG_SAP_New]
	---@p_DocEntry int
	---,@p_Client nvarchar(50)
	---, @p_PurposeCode nvarchar(50)
	@p_FromDate datetime
	, @p_ToDate datetime
	,@p_UserName nvarchar(50)
	,@p_Tank nvarchar(1000)
AS
BEGIN
	declare  @p_TankList table (TankCode nvarchar(100))
	
		

    if  isnull(@p_Tank,'') <>'' 
		begin
			insert into @p_TankList (TankCode)
			select Name_nd from fpt_tblTank_v a  where
						 charindex(a.Name_nd,@p_Tank,1)>0
		end
	else
		begin
			insert into @p_TankList (TankCode)
			select Name_nd from fpt_tblTank_v a  where
						 charindex(a.client,(select  isnull(Terminal,'') from 
						 sys_user where upper(user_name)=upper(@p_UserName)),1)>0
		end
    declare @p_TableReport table(
					DocEntry int
					, crDate datetime
					, sType nvarchar(100), 
					SyncUser nvarchar(100)
					,SyncDate datetime  		
					, TankCode nvarchar(500)
					,ProductCode nvarchar(200)
					,TankHeight numeric(18,4), 
					TankTemp numeric(18,4) ,
					PurposeCode nvarchar(200)
					,Purposename nvarchar(3000),
					Dens numeric(18,4)
					,VCF numeric(18,4)
					,WCF numeric(18,4), 
					Ltt numeric(18,2),
					VolumnL15 numeric(18,2),
					VolumnKG numeric(18,2)
					,Status nvarchar(20)
					,fromdate datetime
					,TankHeaderCode nvarchar(200)
					,NhomBeXuat nvarchar(20)
				)
	Insert into @p_TableReport (	
							DocEntry
							, crDate 
							, sType , 
							SyncUser 
							,SyncDate   		
							, TankCode 
							,ProductCode
							,TankHeight, 
							TankTemp,
							PurposeCode
							,Purposename ,
							Dens 
							,VCF
							,WCF , 
							Ltt ,
							VolumnL15 ,
							VolumnKG 
							,Status, fromdate, TankHeaderCode, NhomBeXuat )
	select a.DocEntry as [Số giao dịch], a.crDate as [Ngày tháng]  , sType, 
						a.SyncUser as [User đồng bộ], a.SyncDate as [Ngày đồng bộ SAP]  , 
					b.TankCode as [Bồn xuất], b.ProductCode as [Mã hàng],  TankHeight as [Chiều cao dầu], 
					TankTemp as [Nhiệt độ],	b.PurposeCode as [Mã MDD], b.Purposename as [Tên MDD],
					b.Dens as [Tỷ trọng], b.VCF, b.WCF, b.Ltt,
					 B.VolumnL15 as L15,b.VolumnKG as KG 
					 --, a.Status
					  , case when isnull(b.X,'') ='Y' then a.Status  else '' end as Status
					 , a.fromdate, a.TankHeaderCode, b.NhomBeXuat 
					 from dbo.ztblTankHeaderImp  a with(nolock ),
					  dbo.ztblTankLineImp_v b with(nolock), @p_TankList b1
				where a.TankHeaderCode =b.TankHeaderCode
						----and  a.DocEntry =  isnull(@p_DocEntry,a.DocEntry)
						--and   b.PurposeCode =  isnull(@p_PurposeCode, b.PurposeCode)					
					and a.fromdate >=  isnull(@p_FromDate,a.fromdate) 
						and a.fromdate<=  isnull(@p_ToDate,a.fromdate) 
					and b.TankCode=b1.TankCode
					and  isnull( a.Status,'')  ='S' and isnull(X,'') ='Y'
					and a.sType ='A'
	union all
	
	select a.DocEntry as [Số giao dịch], a.crDate as [Ngày tháng]  , sType, 
						a.SyncUser as [User đồng bộ], a.SyncDate as [Ngày đồng bộ SAP]  , 
					b.TankCode as [Bồn xuất], b.ProductCode as [Mã hàng],  TankHeight as [Chiều cao dầu], 
					TankTemp as [Nhiệt độ],	b.PurposeCode as [Mã MDD], b.Purposename as [Tên MDD],
					b.Dens as [Tỷ trọng], b.VCF, b.WCF, b.Ltt,
					 B.VolumnL15 as L15,b.VolumnKG as KG 
					 --, a.Status
					  , case when isnull(b.X,'') ='Y' then a.Status  else '' end as Status
					 , b.crdate, a.TankHeaderCode, b.NhomBeXuat 
					 from dbo.ztblTankHeaderImp  a with(nolock ),
					  dbo.ztblTankLineImp_v b with(nolock), @p_TankList b1
				where a.TankHeaderCode =b.TankHeaderCode
						----and  a.DocEntry =  isnull(@p_DocEntry,a.DocEntry)
						--and   b.PurposeCode =  isnull(@p_PurposeCode, b.PurposeCode)					
					and b.crdate >=  isnull(@p_FromDate,b.crdate) 
						and a.fromdate<=  isnull(@p_ToDate,b.crdate) 
					and b.TankCode=b1.TankCode
					and  isnull( a.Status,'')  ='S' and isnull(X,'') ='Y'
					and a.sType ='M'


	select TankCode , FromDate , 
			 TankHeight ,TankTemp ,PurposeCode , Purposename ,
					Dens , Ltt, VCF, VolumnL15 ,	WCF,VolumnKG					
					  , case when  sType='A' then N'Tự động' else N'Nhập tay' end as sType,crDate , 
										SyncUser , SyncDate  , TankHeaderCode, NhomBeXuat 
						 from @p_TableReport
									 order by TankCode, CrDate


	--select TankCode as [Mã bể],  fromdate  as [Thời gian đo bồn], 
	--		 TankHeight as [Chiều cao dầu], TankTemp as [Nhiệt độ],	PurposeCode as [Mã MDD], Purposename as [Tên MDD],
	--				Dens as [Tỷ trọng], Ltt, VCF, VolumnL15 as L15,	WCF,VolumnKG as KG 					
	--				  , case when  sType='A' then N'Tự động' else N'Nhập tay' end as [Loại],crDate as [Thời gian tạo giao dịch] , 
	--									SyncUser as [User đồng bộ], SyncDate as [Ngày đồng bộ SAP]  , TankHeaderCode
	--					 from @p_TableReport
	--								 order by TankCode, CrDate
		
END
