USE [ZZKV2_20190516]
GO
/****** Object:  StoredProcedure [dbo].[FPT_LenhXuat_TichKe]    Script Date: 11/28/2024 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		anhqh
-- Create date: 31/07/2015
--Update date: 20191117
-- Description:	Turnning
-- =============================================
ALTER PROCEDURE [dbo].[FPT_LenhXuat_TichKe]
	@p_SoLenh nvarchar(500),
	@p_MaVach int
AS
BEGIN
	DECLARE @theday DATETIME
	SET @theday = DATEADD(DAY, -2, GETDATE())

			declare @p_TblTickKe table (SoLenh nvarchar(20), SoTichKe nvarchar(20) )
			declare @p_tblSoLenh table (SoLenh nvarchar(20))
			declare @p_TblSoLenhHangHoa table  (SoLenh nvarchar(20), DonViTinh nvarchar(100))
			
			insert into @p_tblSoLenh  (SoLenh) 			
			select SoLenh from SplitString (@p_SoLenh,',')  where SoLenh <>''	
			
			insert into @p_TblTickKe (SoLenh, SoTichKe)
			select SoLenh, SoTichKe  
			from (SELECT * 
			      FROM tblTichKe with (Nolock)
				  WHERE NgayTichKe >= @theday) h
			where exists (select 1 from @p_tblSoLenh b where h.SoLenh =b.SoLenh)

			insert into @p_TblSoLenhHangHoa  (SoLenh, DonViTinh)
				select SoLenh, DonViTinh 
				from (select *
					  FROM tblLenhXuat_HangHoaE5 with (nolock)
					  WHERE NgayXuat >= @theday) u
					where  
							exists (select 1 from @p_tblSoLenh b where u.SoLenh =b.SoLenh)
			SELECT 
				  a.[MaLenh]			     
				 ,isnull(NgayTichKe,GETDATE()) as NgayXuat
				  ,a.SoLenh
				  ,(select top 1 SoTichKe from @p_TblTickKe h   where h.SoLenh =a.SoLenh) as MaTichKe
				  ,[MaDonVi]
				  ,[MaNguon]
				  ,[MaKho]
				  ,[MaVanChuyen]
				  ,[MaPhuongTien]
				  ,[NguoiVanChuyen]
				  ,[MaPhuongThucBan]  + '-' + [TenPhuongThucBan] as [MaPhuongThucBan]      
				  ,[MaKhachHang]+ '-' + [TenKhachHang] as [MaKhachHang]
				  , mangan
				   ,[MaHangHoa]
					,(select top 1 [DonViTinh] from @p_TblSoLenhHangHoa h where h.SoLenh =a.SoLenh) as DonViTinh 
					 ,convert(int,[SoLuongDuXuat])  as SoLuongDuXuat
				  ,convert(int,[SoLuongDuXuat])  as [SoLuongThucXuat] 
					,[ThoiGianDau]
				  ,[ThoiGianCuoi]
				   ,[Sl_llkebd]
				  ,[Sl_llkekt]
				   ,convert(nvarchar(10),[HeSo_k] ) as HeSo_k
				  ,[NhietDo]
				  ,[TyTrong_15]
				  ,b.Status
				  ,[BeXuat] as MaBeXuat
				  ,TenHangHoa 
				  ,case when MaVanChuyen='ZB' OR MaVanChuyen='ZM' then 'X' else '' end as  Thuy
				  ,case when MaVanChuyen='ZR'  then 'X' else '' end as  Sat
				  , case when MaVanChuyen='ZR' OR MaVanChuyen='ZT' then 'X' else '' end as  Bo
			    
				 , MeterId as MaCongTo
				   ,TableID as PR_KEY
				  ,LineID
				  ,TableID
				  ,LoaiPhieu
				,MaTuDongHoa   -----into AAAA_TMP
				,NhomBeXuat
			  FROM  (SELECT * FROM fpt_tblLenhXuatChiTietE5_v WHERE NgayXuat >= @theday) a , 
						(SELECT * FROM fpt_tbllenhxuate5_V WHERE NgayXuat >= @theday)  b
				where a.SoLenh =b.SoLenh  and CHARINDEX ( a.SoLenh, @p_SoLenh ,1) >0 and a.SoLenh<>'0'
				ORDER BY MaNgan ASC
		
END
