
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create TRIGGER [dbo].[tblCongToNhomBe_TDH_INS]
   ON   [dbo].[tblCongToNhomBe_TDH]
   AFTER INSERT
AS 
BEGIN	
		declare @p_FromDate datetime
		declare @p_ToDate datetime
		--select @p_FromDate =Valid_from , @p_ToDate =Valid_to  from deleted 
		INSERT INTO [tblCongToNhomBe_TDH_HIST]
				   ([IDLINE]
				   ,[ID]
				   ,[MeterId]
				   ,[Valid_from]
				   ,[Valid_to]
				   ,[Bexuat]
				   ,[TankGroup]
				   ,[TankGroup_Name]
				   ,[MaHangHoa]
				   ,[TenHangHoa]				   
				   ,[CreateUser]
				   ,[CreateDate]
				   ,[UpdateUser]
				   ,[UpdateDate]
				   ,[sType]
				   ,[TankValidfrom]
				   ,[TankValid_to]
				   ,[CurrentDate]
				   --,[OldValid_from]
				   --,[OldValid_to]
				   )
			 select [IDLINE]
				   ,[ID]
				   ,[MeterId]
				   ,[Valid_from]
				   ,[Valid_to]
				   ,[Bexuat]
				   ,[TankGroup]
				   ,[TankGroup_Name]
				   ,[MaHangHoa]
				   ,[TenHangHoa]				  
				   ,[CreateUser]
				   ,[CreateDate]
				   ,[UpdateUser]
				   ,[UpdateDate]
				   ,'I' [sType]
				   ,[TankValidfrom]
				   ,[TankValid_to]
				   ,getdate()
				   --,@p_FromDate
				  --,@p_ToDate
			from inserted 

END
