
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create TRIGGER [dbo].[tblCongToNhomBe_DEL]
   ON  [dbo].[tblCongToNhomBe]
   AFTER DELETE
AS 
BEGIN
	
	INSERT INTO [dbo].[tblCongToNhomBe_Hist]
           ([ID]
           ,[MeterId]
           ,[Valid_from]
           ,[Valid_to]
           ,[Bexuat]
           ,[TankGroup]
           ,[TankGroup_Name]
           ,[MaHangHoa]
           ,[TenHangHoa]
           ,[Push_TDH]
           ,[Push_XTTD]
           ,[User_Push_TDH]
           ,[Date_Push_TDH]
           ,[User_Push_XTTD]
           ,[Date_Push_XTTD]
           ,[CreateUser]
           ,[CreateDate]
           ,[UpdateUser]
           ,[UpdateDate]
           ,[sType])
     select [ID]
           ,[MeterId]
           ,[Valid_from]
           ,[Valid_to]
           ,[Bexuat]
           ,[TankGroup]
           ,[TankGroup_Name]
           ,[MaHangHoa]
           ,[TenHangHoa]
           ,[Push_TDH]
           ,[Push_XTTD]
           ,[User_Push_TDH]
           ,[Date_Push_TDH]
           ,[User_Push_XTTD]
           ,[Date_Push_XTTD]
           ,[CreateUser]
           ,getdate()
           ,[UpdateUser]
           ,[UpdateDate]
           ,'D' 
		from deleted 
END
