
ALTER TRIGGER [dbo].[zTankListATG_AM_INS]
   ON  [dbo].[zTankListATG_AM]
   AFTER INSERT
AS 
BEGIN
	INSERT INTO [zTankListATG_AM_HIST]
           ([ID]
           ,[TankCode]
           ,[CrDate]
           ,[CrUser]
           ,[UpdDate]
           ,[UpdUser]
           ,[FromDate]
           ,[ToDate]
           ,UpdateDate 
           , UpdatedBy 
           ,  Createby 
           ,Product
           ,[sStatus]
           ,[dDate],
		   NhomBeXuat )
     select   [ID]
           ,[TankCode]
           ,[CrDate]
           ,[CrUser]
           ,[UpdDate]
           ,[UpdUser]
           ,[FromDate]
           ,[ToDate]
           ,UpdateDate 
           , UpdatedBy 
           ,  Createby 
           ,Product
				   ,'I' as [sStatus]
				  -- ,[sUser]
				   ,getdate() as [dDate]		
				   ,NhomBeXuat 
			  FROM Inserted
		
END



