
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter TRIGGER [dbo].[tblPhuongTien_LaiXe_Del]
   ON  [dbo].[tblPhuongTien_LaiXe]
   AFTER	DELETE
AS 
BEGIN
			INSERT INTO [tblPhuongTien_LaiXe_Hist]
				   ([ID]
				   ,[MaPhuongTien]
				   ,[HoVaTen]
				   ,[NoiDung]
				   ,[FromDate]
				   ,[ToDate]
				   ,[sType]
				   ,[sDefault]
				   ,[cStatus]
				   ,CrdDate
				   ,SynDate
           ,SynStatus)
		     
 			SELECT [ID]
				   ,[MaPhuongTien]
				   ,[HoVaTen]
				   ,[NoiDung]
				   ,[FromDate]
				   ,[ToDate]
				   ,[sType]
				   ,[sDefault]
						    ,'D' [cStatus]
									   ,getdate ()  as [CreateDate]
							,SynDate
           ,SynStatus
							  FROM deleted   
END
