
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter TRIGGER [dbo].[tblPhuongTien_Infor_Del]
   ON  [dbo].[tblPhuongTien_Infor]
   AFTER	DELETE
AS 
BEGIN
			INSERT INTO [tblPhuongTien_Infor_Hist]
						   ([ID]
						   ,[MaPhuongTien]
						   ,[NoiDung]
						   ,[FromDate]
						   ,[ToDate]
						   ,[sType]
						   ,[cStatus]
						   ,CrdDate
						   ,SynDate
           ,SynStatus)
													   						    
			SELECT [ID]
						   ,[MaPhuongTien]
						   ,[NoiDung]
						   ,[FromDate]
						   ,[ToDate]
						   ,[sType]
						    ,'D' [cStatus]
									   ,getdate ()  as [CreateDate]
						,SynDate
           ,SynStatus			
							  FROM deleted   
END
