
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter TRIGGER [dbo].[tblPhuongTien_TaiTrong_Del]
   ON  [dbo].[tblPhuongTien_TaiTrong]
   AFTER	DELETE
AS 
BEGIN
			INSERT INTO [tblPhuongTien_TaiTrong_Hist]
				   (ID, [MaPhuongTien]
				   ,[TuNgay]
				   ,[DenNgay]
				   ,[TaiTrong]
				   ,[Createby]
				   ,[UpdatedBy]
				   ,[CreateDate]
				   ,[UpdateDate]
				   ,[cStatus]
				 ,CrdDate
				 ,SynDate
           ,SynStatus)     
			 select  ID, MaPhuongTien
					   ,[TuNgay]
					   ,[DenNgay]
					   ,[TaiTrong]
					   ,[Createby]
					   ,[UpdatedBy]
					   ,[CreateDate]
					   ,[UpdateDate]    
						    ,'D' [cStatus]
									   ,getdate ()  as [CreateDate]
									,SynDate
           ,SynStatus
							  FROM deleted   
END
