

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter TRIGGER [dbo].[tblPhuongTien_Infor_Upd]
   ON  [dbo].[tblPhuongTien_Infor]
   AFTER UPDATE
AS 
BEGIN
	INSERT INTO [tblPhuongTien_Infor_Hist]
           ([ID]
           ,[MaPhuongTien]
           ,[NoiDung]
           ,[FromDate]
           ,[ToDate]
           ,[sType]
           ,[cStatus]
           ,CrdDate
           ,SynDate
           ,SynStatus)
 	SELECT [ID]
           ,[MaPhuongTien]
           ,[NoiDung]
           ,[FromDate]
           ,[ToDate]
			,[sType]
			,'U' [cStatus]	
			,getdate ()  as [CreateDate]
				  ,SynDate
           ,SynStatus
							  FROM inserted  
END
