

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter TRIGGER [dbo].[tblPhuongTien_LaiXe_Upd]
   ON  [dbo].[tblPhuongTien_LaiXe]
   AFTER UPDATE
AS 
BEGIN
	INSERT INTO [tblPhuongTien_LaiXe_Hist]
           ([ID]
           ,[MaPhuongTien]
           ,[HoVaTen]
           ,[NoiDung]
           ,[FromDate]
           ,[ToDate]
           ,[sType]
           ,[sDefault]
           ,[cStatus]
           ,CrdDate
           ,SynDate
           ,SynStatus
           )
     
 	SELECT [ID]
           ,[MaPhuongTien]
           ,[HoVaTen]
           ,[NoiDung]
           ,[FromDate]
           ,[ToDate]
           ,[sType]
           ,[sDefault]
			,'U' [cStatus]	
			,getdate ()  as [CreateDate]
			,SynDate
           ,SynStatus		  
							  FROM inserted  
END
