USE [ZZKV1_20171127]
GO
/****** Object:  Trigger [dbo].[tblTankActive_DEL]    Script Date: 06/04/2018 10:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		anhqh
-- Create date: 20150120
-- Description:	Trigger Insert
-- =============================================
ALTER TRIGGER [dbo].[tblTankActive_DEL]
   ON  [dbo].[tblTankActive]
   AFTER DELETE
AS 
BEGIN
		INSERT INTO [tblTankActive_Hist]
					   (ID,
						[Date_nd]
					   ,[Name_nd]
					   ,[Dens_nd]
					   ,[Product_nd]
					   ,[Createby]
					   ,[CreateDate]
					   ,[UpdateDate]
					   ,[UpdatedBy]					   
					   ,[cStatus]
					   ,HistDate
					   )
				SELECT ID,
						[Date_nd]
					   ,[Name_nd]
					   ,[Dens_nd]
					   ,[Product_nd]
					   ,[Createby]
					   ,[CreateDate]					    
					   ,GETDATE()
					    ,UpdatedBy
					   ,'D' 
					   ,getdate() FROM Deleted 		
END
