USE [ZZKV1_20171127]
GO
/****** Object:  Trigger [dbo].[tblTankActive_INS]    Script Date: 06/04/2018 10:57:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		anhqh
-- Create date: 20150120
-- Description:	Trigger Insert
-- =============================================
ALTER TRIGGER [dbo].[tblTankActive_INS]
   ON  [dbo].[tblTankActive]
   AFTER INSERT
AS 
BEGIN
		INSERT INTO [tblTankActive_Hist]
					   (ID, [Date_nd]
					   ,[Name_nd]
					   ,[Dens_nd]
					   ,[Product_nd]
					   ,[Createby]
					   ,[CreateDate]
					   ,[UpdateDate]
					   ,[cStatus]
					   ,[UpdatedBy]
					   ,HistDate)
							SELECT ID,
								   [Date_nd]
					   ,[Name_nd]
					   ,[Dens_nd]
					   ,[Product_nd]
					   ,[Createby]
					   ,[CreateDate]
					   ,[UpdateDate]
					   ,'I'
					   ,[UpdatedBy]
						,GETDATE()		   		
					   FROM Inserted
		
END
