
alter table tblPhuongTien_Infor add SynDate  datetime,  SynStatus varchar(1),Map_ID int;
alter table tblPhuongTien_LaiXe add SynDate  datetime,  SynStatus varchar(1),Map_ID int;
alter table tblPhuongTien_TaiTrong add SynDate  datetime,  SynStatus varchar(1),Map_ID int;


alter table tblTankActive add SynDate  datetime,  SynStatus varchar(1);
alter table tblTankActive_Hist add SynDate  datetime,  SynStatus varchar(1);
alter table tblTankActive add Map_ID int;

alter table tblTankActive_Hist add  [IDNumber] [int] IDENTITY(1,1) NOT NULL;


alter table tblTankActive_Arm_Hist add SynDate  datetime,  SynStatus varchar(1);

--alter table tblPhuongTien_Infor add Map_ID int;
--alter table tblPhuongTien_LaiXe add Map_ID int;
--alter table tblPhuongTien_TaiTrong add Map_ID int;
