
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter PROCEDURE [dbo].[FPT_SynchActive_Arm_Hist]	
AS
BEGIN
	declare @p_MeterId nvarchar(50)
	--declare @p_ID as int
	--declare @p_cStatus varchar(1)
	--declare @p_IDNumber int
	declare @p_Date datetime
	--============Lenh xuat===========================
	DECLARE SoLenh_cursor CURSOR FOR   
		SELECT  [MeterId]     
				  ,[CrdDate]    
			  FROM LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive_Arm_Hist] where convert(date,CrdDate)>='20180101'
						and isnull([SynStatus],'N') <>'Y'   order by MeterId,CrdDate
	OPEN SoLenh_cursor  
	FETCH NEXT FROM SoLenh_cursor INTO @p_MeterId, @p_Date
	WHILE @@FETCH_STATUS = 0  
		BEGIN  
			BEGIN TRY 				
			  
				INSERT INTO [tblTankActive_Arm_Hist]
						   ([MeterId]
						   ,[LoadingSite]
						   ,[ArmNo]
						   ,[ProductCode]
						   ,[Name_ND]
						   ,[CrdDate]
						   ,[UserName]
						   ,[RecordDel]
						   ,[Dens]
						   ,[ArmNo_Table]
						   ,[SynDate]
						   ,[SynStatus])
				    			   

				   select [MeterId]
						   ,[LoadingSite]
						   ,[ArmNo]
						   ,[ProductCode]
						   ,[Name_ND]
						   ,[CrdDate]
						   ,[UserName]
						   ,[RecordDel]
						   ,[Dens]
						   ,[ArmNo_Table]										  											  
									   , getdate(), 'Y'
									   -- ,[ID]
					from LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive_Arm_Hist] with (nolock) 
							where [MeterId]   =@p_MeterId
									and [CrdDate]  =@p_Date
					 
					 update LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive_Arm_Hist]
					 set SynDate=getdate(), SynStatus='Y' where [MeterId]   =@p_MeterId
																	  and [CrdDate]  =@p_Date
						
				
			END TRY  
			BEGIN CATCH 
			--Loi thi chen vao bang theo doi
				INSERT INTO [tblSyncHistErr]
							   ([TableName]
							   ,[ErrorNumber]
							   ,[ErrorMessage]
							   ,[CreatDate]
							   ,[ObjText])
						 VALUES
							   ('tblTankActive_Arm_Hist'
							   ,ERROR_NUMBER()
							   ,ERROR_MESSAGE()
							   ,Getdate() 
							   , '')
					
			END CATCH;  
			--SELECT @message = '         ' + @product  
			--PRINT @message  
			FETCH NEXT FROM SoLenh_cursor INTO  @p_MeterId, @p_Date
		END  

	CLOSE SoLenh_cursor  
	DEALLOCATE SoLenh_cursor  	
	
	--exec FPT_Synchronized_LenhXuatHangHoa
	--exec FPT_Synchronized_LenhXuatChiTiet
	--============End Lenh xuat=======================
END
