

ALTER PROCEDURE [dbo].[sp_Reports_HoaDonTaiXuatE5]
@SoLenh	NVARCHAR (10)
AS
	SELECT dv.TenDonVi, dv.DiaChi AS DiaChiDH, dv.MaSoThue AS MaSoThueDH,
		kh.MaKhachHang, kh.TenKhachHang, kh.DiaChiFull As 'DiaChi', kh.MaSoThue,
		lx.MaPhuongTien, lx.SoLenh, K.TenKho As 'MaKho', lx.NguoiVanChuyen, lx.NgayXuat, lx.MaVanChuyen,
		isnull(lx.SoHopDong,'') as SoHopDong, lx.NgayHopDong, 
		isnull(lx.SoTKHQNhap,'') as SoTKHQNhap, isnull(lx.SoTKHQXuat,'') as SoTKHQXuat, 
		isnull(lx.TyGia,0) as TyGia, 
		isnull(gn.DGDiemKhoiHanh,'') as DiemGiaoHang,
		isnull(p.NoiDung,'') as PhuongThucThanhToan, isnull(t.GhiChu,'') as ThoiHanThanhToan,
		 isnull(v.TenNhaCungCap,'') as DonViCungCapVanTai,
		ISNULL(lx.LoaiPhieu, '') as MaTimKiem,
		ISNULL(lx.SoPXK,'') as SoPXK, lx.NgayPXK,
		'' as DiemNhanHang --ISNULL(gn.DGDiemDen,'') as DiemNhanHang
	FROM tblLenhXuatE5 AS lx
		LEFT JOIN tblDonvi AS dv ON dv.MaDonVi=lx.MaDonVi 
		LEFT JOIN tblKhachHang AS kh ON kh.MaKhachHang=lx.MaKhachHang
		LEFT JOIN tblKho K ON lx.MaKho = K.MaKho
		left join tblGiaoNhan gn on gn.MaTuyenDuong = lx.MaTuyenDuong and gn.DiemDen=lx.DischargePoint
		left join tblPhuongThucThanhToan p on p.MaPhuongThuc = lx.PaymentMethod
		left join tblThoiHanThanhToan t on t.TermKey = lx.Term
		left join tblNhaCungCap v on v.MaNhaCungCap = lx.NhaCungCap --lx.DonViCungCapVanTai
	WHERE lx.SoLenh=@SoLenh
	
	SELECT lxhh.LineID, lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh, lxhh.TongDuXuat, lxhh.TongXuat
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
	WHERE lxhh.SoLenh=@SoLenh

