

--select * from update tblLenhXuate5 set Status ='4' where solenh ='2023762760'
-- =============================================
-- Author:		anhqh 
-- Create date: 20200325 
-- Description:	ham lay du lieu cho THN
--   exec  [FPT_GetData_THN]  null, '20200331','20210131', 'Y', 'ALL'
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GetData_THN]
	@p_SoLenh nvarchar(50),
	@p_FromNgayXuat datetime,
	@p_ToNgayXuat datetime
	,@p_HTTG nvarchar(10)
	,@p_CLient nvarchar(100)
AS
BEGIN
 
	declare @p_TableNV table (Code nvarchar(100)
					,MaNV nvarchar(100))
	declare @p_MaxTimeEnd nvarchar(100)
	declare @p_TableSoLenh table (SoLenh nvarchar(200)
					, MaNguon nvarchar(100)
					, MaVanChuyen nvarchar(100)
					,SoLenhDO1 nvarchar(100)
					,HTTG nvarchar(10)
					,MaKho nvarchar(100))
	---declare @p_MaKho nvarchar(50)
	declare @p_SHIPPINGPOINT nvarchar(50)
	declare @p_HangHoaE5 table (
					SOLENH	nvarchar(20)
					,LINEID	nvarchar(6)
					,MAHANGHOA	nvarchar(18)
					,GIACTY	decimal(18, 6)
					,PHIVT	decimal(18, 6)
					,CHIETKHAU	decimal(18, 6)
					,GIACTY_PER	decimal(18, 2)
					,PHIVT_PER	decimal(18, 2)
					,CURRENCYKEY	nvarchar(10)
					,MAKHO	nvarchar(4)
					,BEXUAT	nvarchar(20)
					,MANGUON	nvarchar(10)
					,SHIPPINGPOINT	nvarchar(50)
					,DONVITINH	nvarchar(3)
					,NHIETDO	decimal(5, 2)
					,D15	decimal(6, 4)
					,VCF	decimal(6, 4)
					,WCF	decimal(6, 4)
					,SOLUONGTHUCXUAT	decimal(18, 2)
					,L15	decimal(18, 2)
					,KG	decimal(18, 2)
					,DONGIA	decimal(18, 6)
	)

	declare @p_tblDO_Item_Material table (
						MAHANGHOA nvarchar(100),
									GIACTY decimal(18, 6),
									PHIVT decimal(18, 6),
									CHIETKHAU decimal(18, 6),
									 GIACTY_PER decimal(18, 6),
									PHIVT_PER decimal(18, 6)
									,MaKho nvarchar(100)
									,Solenh nvarchar(100)
					)
	declare @p_TableLine table(SoLenh nvarchar(100), NgayThang datetime,
			 NgayGio nvarchar(100), NgayThangStart datetime, NgayThangEnd datetime
			 ,Sl_llkebd	decimal(20, 2)
				,Sl_llkekt	decimal(20, 2))

	declare @p_TableMatraCuu table (SoLenh nvarchar(100)
			 ,MauSoHoaDon nvarchar(100)
			,KyHieuHoaDon nvarchar(100)
			,SoHoaDon nvarchar(100)		
			,MaTraCuu nvarchar(100), NgayHoaDon datetime
			,NgayKySo datetime
			,LoaiChungTu nvarchar(100)
			,CreateUser nvarchar(100))
	declare @p_TableMatraCuu_VCNB table (SoLenh nvarchar(100)
			 ,MauSoHoaDon nvarchar(100)
			,KyHieuHoaDon nvarchar(100)
			,SoHoaDon nvarchar(100)		
			,MaTraCuu nvarchar(100), NgayHoaDon datetime
			,NgayKySo datetime
			,LoaiChungTu nvarchar(100)
			,CreateUser nvarchar(100))
	--declare @p_TableLine2 table (SoLenh nvarchar(100)
	--							,MaNgan nvarchar(100))

	declare @p_tblDO_Header table (
				SoLenh nvarchar(100),		
				HDCHUYEN nvarchar(10),
				INCO1 nvarchar(100),
				INCO2 nvarchar(100),
				PAYMENTTERM nvarchar(100),
				MaPhuongThucBan nvarchar(100),
				MaKhachHang nvarchar(100),
				DO1_SOLENH nvarchar(100),
				DO1_MaKhachHang nvarchar(100),
				DO1_SoHopDong nvarchar(100),
				DO1_Khoxuat nvarchar(100),
				DO1_PaymentMethod nvarchar(100),
				DO1_PaymentTerm nvarchar(100),
				DO1_Pricingdate datetime
	)
	declare @p_SourceLine table (	SOLENH	nvarchar(20)
							,	LINEID	nvarchar(6)
							,	MANGAN	nvarchar(5)
							,	MAHANGHOA	nvarchar(18)
							,	SOLUONGTHUCXUAT	decimal(18, 2)
							,	L15	decimal(18, 2)
							,	KG	decimal(18, 2)
							,	NHIETDO	decimal(5, 2)
							,	D15	decimal(6, 4)
							,	VCF	decimal(6, 4)
							,	WCF	decimal(6, 4)
							,	THOIGIANDAU	datetime
							,	THOIGIANCUOI	datetime
							,	METERID	nvarchar(20)
							,	SL_LLKEBD 		decimal(18, 0)
							,	SL_LLKEKT   	decimal(18, 0)
							,	GV_BASE	decimal(18, 2)
							,	GST_BASE	decimal(18, 2)
							,	GV_E	decimal(18, 2)
							,	GST_E	decimal(18, 2)
							, MaVanChuyen  nvarchar(50)
							,SoThucXuat decimal(18, 2)
							, SoDuXuat decimal(18, 2)
							,ZZMaEntry decimal(18,0)
							)
	declare @p_WareHouse nvarchar(20)


	select top 1  @p_SHIPPINGPOINT =SHIPPINGPOINT  from tblConfig 
	
	select top 1 @p_MaxTimeEnd =KeyValue  from SYS_CONFIG  where upper(keyCode )= upper('MaxTimeEnd')
	if isnull(@p_MaxTimeEnd,'') =''
		begin
			set @p_MaxTimeEnd ='N'
		end
	

	insert into  @p_TableNV (Code, MaNV)
		select 'CIFNOIDIA' as  Code , '02' as MaNV
					union all
					select 'FOBNOIDIA' as  Code , '01' as MaNV
					union all
					select 'TDDICHUYEN' as  Code , '06' as MaNV
					union all
					select 'DICHUYEN' as  Code , '05' as MaNV
					union all
					select 'HANGGUI' as  Code , '07' as MaNV
					union all
					select 'CIFTAIXUAT' as  Code , '04' as MaNV
					union all
					select 'FOBTAIXUAT' as  Code , '03' as MaNV
	---------------------------------
	Insert into  @p_TableSoLenh  (SoLenh, MaNguon, MaVanChuyen, SoLenhDO1, HTTG, MaKho)
		select SoLenh , MaNguon, MaVanChuyen, DO1_SoLenh,isnull(HTTG,'N') as  HTTG, MaKho from FPT_tblLenhXuatE5_new_V where Status ='4'
				and SoLenh =isnull(@p_SoLenh,SoLenh)
				and convert(date, NgayXuat ) >= convert(date,@p_FromNgayXuat)
				and convert(date, NgayXuat ) <=convert(date,@p_ToNgayXuat)
				and isnull(HTTG,'N') =case when @p_HTTG='A' then isnull(HTTG,'N') else @p_HTTG  end
				and Client = case when @p_CLient ='ALL' then Client else  @p_CLient end
------------------------------------- Ca lenh co Do1 duoc tao duoi httg
	insert into @p_tblDO_Header  (
				SoLenh ,
				DO1_SOLENH ,
				DO1_MaKhachHang ,
				DO1_SoHopDong ,
				DO1_Khoxuat ,
				DO1_PaymentMethod ,
				DO1_PaymentTerm ,
				DO1_Pricingdate 
				)
			----select Top 100 *  from tblDO_Header   where SoDO1 <> '' 
	select aa.SoLenh, aa.SoDO1, aa.MaKhachHang , aa.SoHopDong , aa.MaKhoXuat ,
						 aa.PaymentMethod , aa.Term, aa.PrcingDate from  tblDO_Header aa with  (nolock), @p_TableSoLenh bb
				where aa.SoLenh =bb.SoLenh  and  isnull( aa.SoDO1,'')= isnull(bb.SoLenhDO1,'')  and isnull(bb.SoLenhDO1,'')  <> '' and bb.HTTG='Y'

	insert into  @p_tblDO_Item_Material (SoLenh
					,MAHANGHOA,
						GIACTY,
						PHIVT,
						CHIETKHAU,
						GIACTY_PER,
						PHIVT_PER
						,MaKho)
	select	u.SoLenh,
					MAHANGHOA,
					GIACTY,
					PHIVT,
					CHIETKHAU,
					Z001_PER as GIACTY_PER,
					Z003_PER as PHIVT_PER
					, u1.DO1_Khoxuat
					--,
					--MAKHO
					from tblDO_Item_Material u with (nolock)  , @p_tblDO_Header u1 where  u.solenh=u1.SoLenh

---------------------------------------Hoa don GTGT va Hoa don tai xuat
	insert into @p_TableMatraCuu  (SoLenh ,MauSoHoaDon,KyHieuHoaDon,SoHoaDon,MaTraCuu, NgayHoaDon,NgayKySo, LoaiChungTu)	
		select SoLenh, MauSoHoaDon, KyHieuHoaDon, txtSoHoaDon, MaTraCuu, isnull( a2.dtNgayHoaDon,dtNgayXuat) as NgayHoaDon 
			,(select top 1 SyncDate from tblMaTRaCuu a1  where a1.solenh =a2.SoLenh and a1.MaTRaCuu=a2.MaTraCuu)
			, LoaiChungTu
						 from tblChungTu a2 with (nolock)
								where exists (select 1 from @p_TableSoLenh  a3 where a2.SoLenh =a3.SoLenh ) 
										and isnull(MaTRaCuu,'' ) <> '' and isnull(txtSoHoaDon,'') <> ''	
										and LoaiChungTu in ('GTGT','HDTX_VN')			
		union all
			select SoLenh, MauSoHoaDon, left(txtSoHoaDon, charindex ('-',txtSoHoaDon)-1) as  KyHieuHoaDon
				, right(txtSoHoaDon,len(txtSoHoaDon) - charindex ('-',txtSoHoaDon))  txtSoHoaDon
				, MaTraCuu, isnull( a2.dtNgayHoaDon,dtNgayXuat) as NgayHoaDon 
					,(select top 1 SyncDate from tblMaTRaCuu a1  where a1.solenh =a2.SoLenh and a1.MaTRaCuu=a2.MaTraCuu)
					, LoaiChungTu
								 from tblChungTu a2 with (nolock)
										where  exists (select 1 from @p_TableSoLenh  a3 where a2.SoLenh =a3.SoLenh ) 
												and isnull(txtSoHoaDon,'') <> ''	
												and LoaiChungTu in ('GTGT_GIUHO')	
	
	update @p_TableMatraCuu  set CreateUser = (select top 1 CreateUser from tblMaTRaCuu a1  with (nolock)
							where a1.solenh =[@p_TableMatraCuu].SoLenh and a1.MaTRaCuu=[@p_TableMatraCuu].MaTraCuu) 

												---and solenh ='2023768273'								
	---------------------------------------Hoa don PXKKVCNB
	insert into @p_TableMatraCuu_VCNB  (SoLenh ,MauSoHoaDon,KyHieuHoaDon,SoHoaDon,MaTraCuu, NgayHoaDon,NgayKySo, LoaiChungTu)	
		select SoLenh, MauSoHoaDon, KyHieuHoaDon, txtSoHoaDon, MaTraCuu, isnull( a2.dtNgayHoaDon,dtNgayXuat) as NgayHoaDon 
			,(select top 1 SyncDate from tblMaTRaCuu a1  where a1.solenh =a2.SoLenh and a1.MaTRaCuu=a2.MaTraCuu)
			, LoaiChungTu
						 from tblChungTu a2 with (nolock)
								where exists (select 1 from @p_TableSoLenh  a3 where a2.SoLenh =a3.SoLenh ) 
										and isnull(MaTRaCuu,'' ) <> '' and isnull(txtSoHoaDon,'') <> ''	
										and LoaiChungTu in ('GTGT_VCNB')				



	update @p_TableMatraCuu_VCNB  set CreateUser = (select top 1 CreateUser from tblMaTRaCuu a1  with (nolock)
							where a1.solenh =[@p_TableMatraCuu_VCNB].SoLenh and a1.MaTRaCuu=[@p_TableMatraCuu_VCNB].MaTraCuu) 
 -----------------------------------------   select * from   tblChungTuLine
			------Lay cac lenh khong co Do1 hoac cac lenh dong bo tren sap ve
    insert into @p_HangHoaE5
		(SOLENH,LINEID,MAHANGHOA,GIACTY,PHIVT,CHIETKHAU	,GIACTY_PER	,PHIVT_PER,CURRENCYKEY	,MAKHO,BEXUAT,MANGUON
		,SHIPPINGPOINT,DONVITINH,NHIETDO,D15,VCF,WCF,L15,KG	,DONGIA)

	select a2.SOLENH,LINEID,MAHANGHOA,GIACTY,PHIVT
			,(select sum(isnull(ChietKhau,0)) as ChietKhau from tblChungTuLine k with (nolock)
				 where solenh =a2.SoLenh and maHangHoa = a2.MaHangHoa) as CHIETKHAU	,Z001_PER as  GIACTY_PER	,Z003_PER as PHIVT_PER,CURRENCYKEY	
			,a3.MaKho as MAKHO,BEXUAT
					 ,(select MaNguon from @p_TableSoLenh where SoLenh =a2.SoLenh)  as  MANGUON
			,@p_SHIPPINGPOINT as SHIPPINGPOINT,DONVITINH,NHIETDO_BQGQ,D15_BQGQ,VCF,WCF,L15,KG	,DONGIA		
		from tblLenhXuat_HangHoaE5 a2 with (nolock), @p_TableSoLenh a3
					where a2.SoLenh =a3.SoLenh 
										and  (isnull(a3.SoLenhDO1,'') =''  or a3.HTTG='N' )
				

						------Lay cac lenh  co Do1 va tao moi tren HTTG thi lay tong tin  them bang  tblDO_Item_Material
    insert into @p_HangHoaE5
		(SOLENH,LINEID,MAHANGHOA,GIACTY,PHIVT,CHIETKHAU	,GIACTY_PER	,PHIVT_PER,CURRENCYKEY	,MAKHO,BEXUAT,MANGUON
		,SHIPPINGPOINT,DONVITINH,NHIETDO,D15,VCF,WCF,L15,KG	,DONGIA)

	select a2.SOLENH,LINEID,a2.MAHANGHOA,a4.GIACTY,a4.PHIVT
			,a4.CHIETKHAU	,a4.GIACTY_PER	,a4.PHIVT_PER,CURRENCYKEY	
			,a3.Makho as MAKHO,BEXUAT
					 ,(select MaNguon from @p_TableSoLenh where SoLenh =a2.SoLenh)  as  MANGUON
			,@p_SHIPPINGPOINT as SHIPPINGPOINT,DONVITINH,NHIETDO_BQGQ,D15_BQGQ,VCF,WCF,L15,KG	,a4.GIACTY as DONGIA		
		from tblLenhXuat_HangHoaE5 a2 with (nolock), @p_TableSoLenh a3, @p_tblDO_Item_Material a4
					where a2.SoLenh =a3.SoLenh 
										and  (isnull(a3.SoLenhDO1,'')  <> ''  and a3.HTTG='Y' )	 
										 and a2.SoLenh =a4.Solenh 	
										 and a2.MahangHoa =a4.MahangHoa
	---------------------------------

	insert into  @p_SourceLine  (	SOLENH	
							,	LINEID	
							,	MANGAN	
							,	MAHANGHOA
							,	SOLUONGTHUCXUAT							
							,	NHIETDO	
							,	D15							
							,	THOIGIANDAU	
							,	THOIGIANCUOI	
							,	METERID	
							,	SL_LLKEBD	
							,	SL_LLKEKT	
							,	GV_BASE	
							,	GST_BASE	
							,	GV_E	
							,	GST_E	
							,ZZMaEntry
							,SODUXUAT
							,SoThucXuat
							,VCF
							,WCF
							,L15
							,KG
				)
	select					 SOLENH	
							,	LINEID	
							, MANGAN
							,	MAHANGHOA
							,SOLUONGTHUCXUAT							
							,	(select top 1 NHIETDO from @p_HangHoaE5  b  where b.SoLenh=h.SoLenh and b.LineID =h.LineId) as NHIETDO	
							,		(select top 1 D15 from @p_HangHoaE5  b  where b.SoLenh=h.SoLenh and b.LineID =h.LineId)    as D15							
							,	THOIGIANDAU	
							,	THOIGIANCUOI	
							, maluuluongke as 	METERID	
							,	SL_LLKEBD	
							,	SL_LLKEKT	
							,	GV_BASE	
							,	GST_BASE	
							,	GV_E	
							,	GST_E	
							,MaEntry
							,SOLUONGDUXUAT
							,SOLUONGTHUCXUAT
							,VCF
							,WCF
							,L15
							,KG
			from fpt_tblLenhXuatChiTietE5_v h ----, @p_TableLine  h1 -- h1 
				where  exists (select 1 from @p_TableSoLenh  a3 where h.SoLenh =a3.SoLenh ) 
--------------------------------------------


	update @p_SourceLine  set MaVanChuyen =(select top 1 MaVanChuyen from @p_TableSoLenh a where a.SoLenh =[@p_SourceLine].SoLenh )
	
	update @p_SourceLine  set   SoLuongThucXuat = [dbo].[FPT_LaySoThucXuat] (MaVanChuyen,SoThucXuat, SoDuXuat,1 ) --where isnull(SoLuongThucXuat,0) <=0


	update  @p_SourceLine  set   VCF= convert(decimal(6,4), dbo.zzFPT_mdlQCI_GetVCF_NS (NhietDo,D15)) 
				, WCF = convert(decimal(6,4),D15- 0.0011)
	update  @p_SourceLine  set  L15 = convert(decimal(18,0),isnull( VCF,0) *isnull(SoLuongThucXuat,0))
	update  @p_SourceLine  set  KG = convert(decimal(18,0),isnull( WCF,0) *isnull(L15,0))	

	----update @p_HangHoaE5 set SoLuongThucXuat =(select sum(SoLuongThucXuat) from @p_SourceLine where SoLenh =[@p_HangHoaE5].SoLenh
	----					and MaHangHoa  =[@p_HangHoaE5].MaHangHoa and LIneID = [@p_HangHoaE5].LineID) 


	--update @p_SourceLine  set MaVanChuyen =(select top 1 MaVanChuyen from @p_TableSoLenh a where a.SoLenh =[@p_SourceLine].SoLenh )
	
	--update @p_SourceLine  set   SoLuongThucXuat = [dbo].[FPT_LaySoThucXuat] (MaVanChuyen,SoThucXuat, SoDuXuat,1 ) --where isnull(SoLuongThucXuat,0) <=0


	update @p_HangHoaE5 set SoLuongThucXuat =(select sum(SoLuongThucXuat) from @p_SourceLine where SoLenh =[@p_HangHoaE5].SoLenh
						and MaHangHoa  =[@p_HangHoaE5].MaHangHoa and LIneID = [@p_HangHoaE5].LineID) 

	if @p_MaxTimeEnd='Y'
		begin
				insert into @p_TableLine (SoLenh, NgayThang, NgayThangStart, NgayThangEnd, Sl_llkebd,Sl_llkekt )
				select SoLenh , Max(ThoiGianCuoi),  min(ThoiGianDau),  Max(ThoiGianCuoi), min( Sl_llkebd), max(Sl_llkekt) FROM @p_SourceLine aa
						where exists (select 1 from @p_TableSoLenh  bb where aa.SoLenh =bb.SoLenh )   group by SoLenh
		end
	else
		begin
				insert into @p_TableLine (SoLenh, NgayThang, NgayThangStart, NgayThangEnd, Sl_llkebd,Sl_llkekt )
				select SoLenh , Min(ThoiGianDau),  min(ThoiGianDau),  Max(ThoiGianCuoi) , min( Sl_llkebd), max(Sl_llkekt)  FROM @p_SourceLine aa
						where exists (select 1 from @p_TableSoLenh  bb where aa.SoLenh =bb.SoLenh )   group by SoLenh
		end
	update @p_TableLine  set  NgayGio =convert(nvarchaR(50),NgayThang ,112)  + replace(  convert(nvarchaR(50),NgayThang ,108)  ,':','')


	---Tinh la L15 va KG
	update  ab set ab.L15 = ab.L15 + aa.ChenhLechL15
	from  (
	select  a.SoLenh, a.MaHangHoa, a.MaNgan, a.L15, b.L15 as L15_b, b.L15-a.L15 as ChenhLechL15 from (
				select SoLenh , MaHangHoa, min(MaNgan) as MaNgan  , sum(L15) as L15 from @p_SourceLine  group by SoLenh, MaHangHoa
				)  a , @p_HangHoaE5 b   where   a.SoLenh=b.SoLenh  and a.MahangHoa =b.MahangHoa and a.L15 <> b.L15
				) aa , @p_SourceLine ab  where aa.SoLenh =ab.SoLenh and aa.MaHangHoa =ab.MaHangHoa and aa.MaNgan =ab.MaNgan
				---KG
	update  ab set ab.KG = ab.KG + aa.ChenhLechKG
	from  (
	select  a.SoLenh, a.MaHangHoa, a.MaNgan, a.KG, b.KG as KG_b, b.KG-a.KG as ChenhLechKG from (
				select SoLenh , MaHangHoa, min(MaNgan) as MaNgan  , sum(KG) as KG from @p_SourceLine  group by SoLenh, MaHangHoa
				)  a , @p_HangHoaE5 b   where   a.SoLenh=b.SoLenh  and a.MahangHoa =b.MahangHoa and a.KG <> b.KG
				) aa , @p_SourceLine ab  where aa.SoLenh =ab.SoLenh and aa.MaHangHoa =ab.MaHangHoa and aa.MaNgan =ab.MaNgan


    select 'Y' as X,
			case when  a.LXPhieu ='DICHUYEN' and (select upper(VTWEG_CHK) from [tblSO_PO_Type]  where Code =  a.POType ) ='X' 
					and a.Inco1 ='FOB' and a.MaPhuongThucBan in ('07','08','09','10') then
				'08'
			else
				case when  a.LXPhieu ='DICHUYEN' and (select upper(VTWEG_CHK) from [tblSO_PO_Type]  where Code =  a.POType ) ='X' and a.Inco1 ='CIF' 
					and a.MaPhuongThucBan in ('07','08','09','10') then
				'09'
				else
					case when  a.LXPhieu ='DICHUYEN' and (select upper(VTWEG_CHK) from [tblSO_PO_Type]  where Code =  a.POType ) ='X' and a.Inco1 ='CIF' 
						and a.MaPhuongThucBan in ('05','06') then
					'04'
					else
						case when  a.LXPhieu ='DICHUYEN' and (select upper(VTWEG_CHK) from [tblSO_PO_Type]  where Code =  a.POType ) ='X' and a.Inco1 ='FOB' 
						and a.MaPhuongThucBan in ('05','06') then
							'03'
						else
							case when  a.LXPhieu ='DICHUYEN' and (select upper(VTWEG_CHK) from [tblSO_PO_Type]  where Code =  a.POType ) ='X' and isnull(a.LoaiPhieu,'V144') = 'V144' 
								and a.MaPhuongThucBan in ('03') then
								'05'
							else
								case when  ((a.LXPhieu ='DICHUYEN' and substring (a.solenh,1,4)  =  '662A' ) ) and (select upper(VTWEG_CHK) from [tblSO_PO_Type]  where Code =  a.POType ) ='X' and isnull(a.LoaiPhieu,'V144') <> 'V144' 
								and a.MaPhuongThucBan in ('03') then
								'06'
								else
									case when  a.manguon in ('N40','N45') then
											'07'
									else
										(select  MaNV from  @p_TableNV  where  code =isnull(a.LXLoai,'')  + isnull(a.LXPhieu,'')) end end
			end end end end end as   DO_Process,
				(select top 1 CompanyCode from tblConfig) as 	MaDonVi
					,SoHopDong
					,PaymentMethod
					,convert(decimal(10,5) ,TyGia) as TyGia
					,  convert(nvarchaR(50),PrcingDate ,112)  as PrcingDate
					,SOType
					,SoLenhSAP
					,a.SoLenh
					,case when isnull(LoaiPhieu,'V144') ='V144' then '' else  LoaiPhieu end as LoaiPhieu
					,MaVanChuyen
					,NhaCungCap
					,MaPhuongTien
					,NguoiVanChuyen
					,NgayXuat
					,Niem
					 ,(SELECT STUFF((SELECT ';' + 'H'+ MaNgan+ ':'+convert(varchar(10),ZZMaEntry)
							FROM @p_SourceLine  where  solenh =a.SoLenh
								  FOR XML PATH('')) ,1,1,'') )  as MaEntry

					,convert(nvarchaR(50), b.NgayHoaDon   ,112)  +  replace(  convert(varchaR(8),b.NgayHoaDon  ,114) ,':','') as  NGAYHOADON_VAT

					--,(Select NgayGio from  @p_TableLine  where SoLenh =a.SoLenh) as NGAYHOADON_VAT  --NgayHoaDon
					--, case when   b.NgayHoaDon is not null then  convert(nvarchaR(50), b.NgayHoaDon  ,112)   else  b.NgayHoaDon end  as NGAYHOADON_VAT 
					, case when b.LoaiChungTu ='GTGT_GIUHO' then '' else b.MauSoHoaDon end as MAUSOHOADON_VAT
					,case when b.LoaiChungTu ='GTGT_GIUHO' then '' else  b.KyHieuHoaDon end as KYHIEUHOADON_VAT
					,case when b.LoaiChungTu ='GTGT_GIUHO' then '' else  b.SoHoaDon end as SOHOADON_VAT
					,case when b.LoaiChungTu ='GTGT_GIUHO' then null else convert(nvarchaR(50),b.NgayKySo ,112) end as NGAYKYSO_VAT  -- Ngaykyso
					,b.MaTraCuu  as MATRACUU_VAT
					,STO
					,PRICEGROUP
					,SO_TKTX
					,SoTKHQNhap  as So_tktn
					,Ngay_tktx
					---,Ngayhieuluc
					,case when left(a.SoLenh,1) ='2' then null else
							 case when isnull(NgayHetHieuLuc,'') <> '' then  convert(nvarchaR(50),NgayHetHieuLuc ,112) 
										else  null  end
							end as NgayHetHieuLuc
					, MaTuyenDuong
					, DischargePoint as DiemTraHang
					, case when  isnull(SelfShipping,'N') ='Y'  then 'Y'else ''end as   TuVanChuyen

					---anhqh  20200819   bo sung theo yeu cau
					,a.HDCHUYEN
					,a.INCO1
					,a.INCO2
					,a.Term as PAYMENTTERM
					,a.MaPhuongThucBan 
					,a.MaKhachHang
					,a.DO1_SOLENH
					,c.DO1_MaKhachHang  as DO1_KUNNR
					,c.DO1_SoHopDong 
					,c.DO1_Khoxuat as DO1_WERKS
					,c.DO1_PaymentMethod  as DO1_PMNTMTH
					,c.DO1_PaymentTerm  as DO1_PMNTTRMS
					,c.DO1_Pricingdate
					   ----------Hoa don VCNB
					,case when b.LoaiChungTu ='GTGT_GIUHO' then 
						convert(nvarchaR(50), b.NgayHoaDon   ,112)  +  replace(  convert(varchaR(8),b.NgayHoaDon  ,114) ,':','')  
					else
						convert(nvarchaR(50), b1.NgayHoaDon   ,112)  +  replace(  convert(varchaR(8),b1.NgayHoaDon  ,114) ,':','') end  as NGAYHOADON_PXK   --NgayHoaDon
					--, case when  b1.NgayHoaDon  is not null then  convert(nvarchaR(50), b1.NgayHoaDon   ,112)   else  b1.NgayHoaDon  end  as NGAYHOADON_PXK
					,case when b.LoaiChungTu ='GTGT_GIUHO' then b.MauSoHoaDon else  b1.MauSoHoaDon end as MAUSOHOADON_PXK
					,case when b.LoaiChungTu ='GTGT_GIUHO' then b.KyHieuHoaDon else   b1.KyHieuHoaDon end as KYHIEUHOADON_PXK
					,case when b.LoaiChungTu ='GTGT_GIUHO' then b.SoHoaDon else b1.SoHoaDon end  as SOHOADON_PXK
					,convert(nvarchaR(50),b1.NgayKySo ,112) as NGAYKYSO_PXK  -- Ngaykyso
					,case when b.LoaiChungTu ='GTGT_GIUHO' then '' else b1.MaTraCuu end as MATRACUU_PXK
					, a.BatchNum as BATCH
					, b.CreateUser as UNAME_VAT
					,b1.CreateUser as UNAME_PXK					
					,convert(nvarchaR(50), b.NgayKySo   ,112)  +  replace(  convert(varchaR(8),b.NgayKySo  ,114) ,':','') as  DATIHTTG_VAT
					,convert(nvarchaR(50), b1.NgayKySo   ,112)  +  replace(  convert(varchaR(8),b1.NgayKySo  ,114) ,':','') as  DATIHTTG_PXK
					--, CreateDate as TAOLX_HTTG
					,convert(nvarchaR(50), a.CreateDate   ,112)  +  replace(  convert(varchaR(8),a.CreateDate  ,114) ,':','') as TAOLX_HTTG
					,case when left(a.SoLenh,1) ='2' then null else
							 case when isnull(NgayHieuLuc,'') <> '' then  convert(nvarchaR(50),NgayHieuLuc ,112) 
										else  convert(nvarchaR(50),a.CreateDate  ,112)  end
							end as DOCDATE
					, a.Client as  DOIGIAONHAN
					--,dbo.THN_BienBanGiaoNhan ((select Top 1 SoBienBan from tblTIchKe with (Nolock)  where SoLenh =a.SoLenh )) as SOBIENBAN 
					,(select Top 1 SoBienBan from tblTIchKe with (Nolock)  where SoLenh =a.SoLenh ) as SOBIENBAN 
					,a.POType as POTYPE
				--,substring ('H000049/2020/PLXKV2-BBGN',1,charindex ('/','H000049/2020/PLXKV2-BBGN',charindex ('/','H000049/2020/PLXKV2-BBGN',0) +1 ) -1) as SOBIENBAN
		 from tblLenhXuate5 a left join @p_TableMatraCuu  b   on  a.Status ='4'  
						and a.SoLenh =isnull(@p_SoLenh,a.SoLenh)
							and a.SoLenh =b.SoLenh 								
				left join @p_tblDO_Header  c on a.SoLenh =c.SoLenh 	
						left join @p_TableMatraCuu_VCNB b1 on a.SoLenh =b1.SoLenh	
						
							where exists ( select  1 from @p_TableSoLenh  a1 where a.SoLenh =a1.SoLenh);


	select 	SOLENH,LINEID,MAHANGHOA	,isnull(GIACTY,0) as GIACTY,isnull(PHIVT,0) as PHIVT,isnull(CHIETKHAU,0) as CHIETKHAU,isnull(GIACTY_PER,0) as GIACTY_PER
		,isnull(PHIVT_PER,0) as PHIVT_PER,CURRENCYKEY,MAKHO
					,BEXUAT,MANGUON,SHIPPINGPOINT,DONVITINH,NHIETDO,D15,VCF	,WCF,SOLUONGTHUCXUAT,L15,KG,DONGIA
			from @p_HangHoaE5
	select SOLENH,LINEID,MANGAN,MAHANGHOA,SOLUONGTHUCXUAT,L15,KG
							,	NHIETDO,D15	,VCF,WCF
							--,THOIGIANDAU
							,convert(nvarchaR(50),THOIGIANDAU ,112)  + replace(  convert(nvarchaR(50),THOIGIANDAU ,108)  ,':','')  as THOIGIANDAU
							---,THOIGIANCUOI
							,convert(nvarchaR(50),THOIGIANCUOI ,112)  + replace(  convert(nvarchaR(50),THOIGIANCUOI ,108)  ,':','')  as THOIGIANCUOI
							--,METERID,345 as SL_LLKEBD	,123 as SL_LLKEKT,GV_BASE,GST_BASE,GV_E,GST_E	
							,METERID,isnull(SL_LLKEBD,0) as SL_LLKEBD	,isnull(SL_LLKEKT,0) as SL_LLKEKT,GV_BASE,GST_BASE,GV_E,GST_E	
			 from @p_SourceLine
						
END

