

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER FUNCTION [dbo].[Get_DonViGiaoHang]
(
	@p_SoLenh nvarchar(100)
)
RETURNS nvarchar(2000)
AS
BEGIN
	declare @p_TenDonVi nvarchar(2000)	
	declare @p_MaDonVi nvarchar(200)
	declare @p_Inco1 nvarchar(100)
	declare @p_MaNguon nvarchar(100)
	declare @p_MaPTB nvarchar(100)
	declare @p_BSART nvarchar(200)
	declare @p_POTYPE nvarchar(200)

	declare @p_Warehouse nvarchar(100)


	set @p_TenDonVi =''
	select top 1 @p_Warehouse =WareHouse from tblConfig
	select top 1  @p_Inco1=Inco1, @p_MaNguon=MaNguon 
		, @p_MaPTB=MaPhuongThucBan, @p_BSART =BSART, @p_POTYPE =POTYPE from tbllenhxuate5 with (nolock) where SoLenh =@p_SoLenh
	


	if ( @p_BSART in ('P250','P223','P251')  or @p_POTYPE  in ('P250','P223','P251'))  --NBN co TD
			begin 		
				
				select  @p_MaDonVi= MaDonvi  from tblKho where Makho = @p_Warehouse
				select top 1 @p_TenDonVi =TenDonVi  from tblDonVi  where  MaDonVi =@p_MaDonVi		
				RETURN @p_TenDonVi

			end
	if ( @p_BSART in ('P222')  or @p_POTYPE  in ('P222'))  --NBN co TD
			begin 
				
				set @p_MaDonVi =left( @p_Warehouse ,3) + '0'
				select top 1 @p_TenDonVi =TenDonVi  from tblDonVi  where  MaDonVi =@p_MaDonVi			
				RETURN @p_TenDonVi

			end
	
			-- CIF(INCO1 = CIF and MaNguon = N30), TX N05 (MaPhuongThucBan = 05,06 and MaNguon = N35):
			-- lấy tên company chứa kho xuất  (tblConfig-warehouse(2) + '00')
	if ( ( @p_Inco1 ='CIF' and @p_MaNguon ='N30' ) or  (@p_MaNguon ='N05'  and @p_MaPTB in ('05','06') )  )  --NBN co TD
		begin 
			
			set @p_MaDonVi = left(@p_Warehouse ,2) + '00'
			select top 1 @p_TenDonVi =TenDonVi  from tblDonVi  where  MaDonVi =@p_MaDonVi		
			RETURN @p_TenDonVi

		end

 --  select top 1 @p_TenDonVi =TenDonVi  from tblDonVi  where  MaDonVi =@p_MaDonVi		
	select  @p_MaDonVi= MaDonvi  from tblKho where Makho = @p_Warehouse
				select top 1 @p_TenDonVi =TenDonVi  from tblDonVi  where  MaDonVi =@p_MaDonVi		
				RETURN @p_TenDonVi

END
