
ALTER PROC [dbo].[InforHoaDonVCNB]
  AS
  SELECT  TenDonVi,DiaChiFull FROM tblDonvi D JOIN 
						tblConfig C ON CONVERT(VARCHAR(4),D.MaDonVi) =CONVERT(VARCHAR(4),C.companycode)
    SELECT N'VP ' + TenDonVi,DiaChiFull  FROM tblDonvi D JOIN 
						tblConfig C ON D.MaDonVi =C.WareHouse