


-- exec  sp_Reports_HoaDonE5   '662AA01228'
ALTER PROCEDURE [dbo].[sp_Reports_HoaDonE5]
@SoLenh	NVARCHAR (10)

AS

	declare @p_NgayHieuLuc nvarchar(30)
	declare @p_YYYY nvarchar(10)
	declare @p_MM nvarchar(10)
	declare @p_DD nvarchar(10)
	declare @p_NgayXuat  nvarchar(20)
	declare @p_SoLenhDO1 nvarchar(100)
	declare @p_NgayHoaDon date
	declare @p_MaxTimeEnd nvarchar(10)
	declare @p_NgayGioXuatKho datetime	
	declare @p_NgayGioHoaDon datetime	

	select @p_NgayHieuLuc =NgayHieuLuc , @p_NgayXuat = convert(nvarchar(20),NgayXuat,112)
			,@p_SoLenhDO1 =isnull(DO1_SoLenh,'') from  tblLenhXuatE5  with (nolock) where SoLenh =@SoLenh 

	select top 1 @p_MaxTimeEnd =KeyValue  from SYS_CONFIG  where upper(keyCode )= upper('MaxTimeEnd')
	if isnull(@p_MaxTimeEnd,'') =''
		begin
			set @p_MaxTimeEnd ='N'
		end
	
	if @p_MaxTimeEnd ='Y'
		begin
			set @p_NgayGioHoaDon =(select Max(ThoiGianCuoi) FROM fpt_tblLenhXuatChiTietE5_v  where  solenh =@SoLenh )
			set @p_NgayGioXuatKho =  @p_NgayGioHoaDon
		end
	else
		begin
			set @p_NgayGioHoaDon =(select Min(ThoiGianDau) FROM fpt_tblLenhXuatChiTietE5_v  where  solenh =@SoLenh )
				set @p_NgayGioXuatKho =  @p_NgayGioHoaDon
		end



	set @p_ngayhieuluc =isnull(@p_NgayHieuLuc,'')
	if isdate(@p_NgayHieuLuc) =0 and len(@p_NgayHieuLuc) =10
		begin
				set @p_DD=left(@p_NgayHieuLuc,2)
				set @p_MM=substring(@p_NgayHieuLuc,4,2)
				set @p_YYYY=right(@p_NgayHieuLuc,4)
				set @p_ngayhieuluc =@p_yyyy+ @p_MM + @p_DD
		end

	declare @tblDO_Header table (MaDonVi nvarchar(100)
						,MaKhachhang nvarchar(100)
						,DesPaymentMethod nvarchar(2000)
						,DesTerm nvarchar(2000)
						, MaKhoxuat nvarchar(200)						
						,SoLenh nvarchar(200)		
						, MaKhoNhap nvarchar(200)	
						, TenDonVi nvarchar(2000)
						,MaSoThue nvarchar(200)			
						,DiaChi nvarchar(2000)						
						, TenKhachHang nvarchar(2000)
						, DiaCHiKH nvarchar(2000)
						, MST_KH nvarchar(100)
						, Tax int
						,MaNhaCungCap nvarchar(100)
						,TenNhaCungCap nvarchar(3000)
						)
	declare @tblDO_Item_Material table (SoLenh nvarchar(200)
					,LineID nvarchar(100)
					,DonGia decimal(18,6)
					,Currency nvarchar(10)
						)
	if isnull(@p_SoLenhDO1,'')  <> ''
		begin
				set @p_SoLenhDO1=@SoLenh
				insert into @tblDO_Header  (DiaChi,MaKhoXuat,  DesPaymentMethod, 
							DesTerm, MaKhoNhap, SoLenh, MaKhachHang , TenKhachHang , DiaCHiKH , Tax, MaNhaCungCap , TenNhaCungCap)
				-----anhqh
				-----20200731 join bang danh muc lay desc
				select  ',' as DiaCHi,MaKhoXuat, case when isnull(b.NoiDung,'')=''then DesPaymentMethod  else b.NoiDung end  as DesPaymentMethod, 
						case when isnull(c.GhiChu,'') ='' then DesTerm else  c.GhiChu end as	DesTerm
							
							, MaKhoNhap, SoLenh , MaKhachHang , TenKhachHang , DiaCHiKH, Vat , MaNhaCungCap
								 , TenNhaCungCap from tblDO_Header  a
								 left join tblPhuongThucThanhToan b on a.PaymentMethod = b.MaPhuongThuc
								 left  join tblThoiHanThanhToan c on a.Term=c.TermKey
								  where SoLenh =@p_SoLenhDo1

				insert into @tblDO_Item_Material  (SoLenh,LineID ,DonGia ,Currency)
				select SoLenh,right( replicate('0',10) + convert(nvarchar(10),LineID) ,6)  ,DonGia ,CurrencyKey  from  tblDO_Item_Material  where SoLenh =@p_SoLenhDO1

				update  @tblDO_Header set MaDonVi =(select top 1 MaDonVi from tblKho h where h.MaKHo = [@tblDO_Header].MaKHoXuat)
				update  @tblDO_Header set TenDonVi =(select top 1 TenDonVi from tblDonVi h where h.MaDonVi = [@tblDO_Header].MaDonVi)
				update  @tblDO_Header set MaSoThue =(select top 1 MaSoThue  from tblDonVi h where h.MaDonVi = [@tblDO_Header].MaDonVi)

				update  @tblDO_Header set DiaChi =(select top 1 House_um + ', ' + Street + ', ' + City  from tblDonVi h where h.MaDonVi = [@tblDO_Header].MaDonVi)

				update  @tblDO_Header set MST_KH =(select top 1 MaSoThue  from tblKhachHang h where h.MaKhachHang = [@tblDO_Header].MaKhachHang)

				update  @tblDO_Header set DiaCHiKH =(select top 1 DiaChiFull  from tblKhachHang h where h.MaKhachHang = [@tblDO_Header].MaKhachHang)  
							--where isnull(DiaCHiKH,'') =''
		end
	----select  @p_NgayHieuLuc  

	

	----select * from tblDonvi    where madonvi like '66%'
	if isnull(@p_SoLenhDO1,'') =''
		begin

			SELECT dv.TenDonViHD as TenDonVi, case when isnull(DiaChiHD,'') <> '' then DiaChiHD else  dv.DiaChi end AS DiaChiDH, 
					 --dv.DiaChiFull AS DiaChiDH, 
				dv.MaSoThue AS MaSoThueDH,
				kh.MaKhachHang, kh.TenKhachHang, kh.DiaChi As 'DiaChi', kh.MaSoThue,
				lx.MaPhuongTien, lx.SoLenh, 
				--lx.MaKho + ' : ' + K.TenKho As 'MaKho', 
				K.TenKho As 'MaKho', 
				lx.NguoiVanChuyen, lx.Niem, lx.MaPhuongThucBan, lx.NgayXuat, lx.MaVanChuyen,
				isnull(lx.Tax,0) as Tax
				, isnull(p.NoiDung,'') as PhuongThucThanhToan, 
				isnull(t.GhiChu,'') as ThoiHanThanhToan
				--, case when isnull(@p_SoLenhDO1,'')  <> '' then (select top 1 DesPaymentMethod from @tblDO_Header k1 where k1.SoLenh =lx.SoLenh)  else  isnull(p.NoiDung,'') end as PhuongThucThanhToan, 
				-- case when isnull(@p_SoLenhDO1,'')  <> '' then (select top 1 DesTerm from @tblDO_Header k1 where k1.SoLenh =lx.SoLenh)  else isnull(t.GhiChu,'') end as ThoiHanThanhToan
				, isnull(v.TenNhaCungCap,'') as DonViCungCapVanTai,

			-----	case when len (isnull(DesDischargePoint,'')) >0  then  DesDischargePoint else  lx.DiemtraHang end as DiemtraHang ,
	
				case when isnull(Dischargepoint,'') = '' then
								(select top 1 DGDiemDen from tblGiaoNhan  where  maTuyenDuong =lx.MaTuyenDuong)
										else
											(select top 1 DGDiemDen from tblGiaoNhan  where  Diemden =lx.Dischargepoint)	
										end 
										as   DiemTraHang,

				 ISNULL(gn.DGDiemDen,ISNULL(kn.TenKho,'')) as KhoNhap,
	
				''  as MaTimKiem 
		
		
				, CASE WHEN LoaiPhieu = 'V144' THEN 'N' ELSE 'Y' END AS ChuyenVanChuyen
				,lx.MaNguon
		
				,CASE WHEN LoaiPhieu = 'V144' THEN '' ELSE LoaiPhieu END  as MaTimKiem1
		 
				 , 'VP ' + dv.TenDonVi as TenDonVi22, dv.DiaChi AS DiaChiDH22
			  , case when isdate(@p_NgayHieuLuc) =1 then convert(date,@p_NgayHieuLuc) else convert(date,@p_NgayXuat) end as NgayHieuLuc
	  
			 /*-	Di chuyển Tập đoàn có TD: POtype = “P250” or  BSART = ‘P250’  Kho nhập =  Diễn giải điểm đến của 
			 Ma tuyến đường (2023764792)  => chưa lên điểm trả hàng, kho nhập lấy sai     GDDienDen
				-	Di chuyển nội bộ TĐ không TD: POtype = “P251”  or  BSART = ‘P251’      Kho nhập =  (tblLenhxuatE5-Makhonhap)
				-	Di chuyển cửa hàng: POtype = “P222” ”  or  BSART = ‘P222’      Kho nhập  Dischargepoint (2023764808) GDDienDen
				-	Các TH khác kho nhập và điểm trả hàng để trống
			 */

			 ---select * from tblKho  where MakHo like '66%'

			 ,  case when isnull(POtype,'')  = 'P250' or  isnull(BSART,'') = 'P250'  then
					(select top 1 DGDiemDen from tblGiaoNhan where MaTuyenDuong =lx.MaTuyenDuong)
				else
					 case when isnull(POtype,'')  = 'P251' or  isnull(BSART,'') = 'P251'  then
							(select top 1 TenKho from tblKho where MaKho =lx.MaKHoNhap)
						else
							case when isnull(POtype,'')  = 'P222' or  isnull(BSART,'') = 'P222'  then
									(select top 1 DGDiemDen from tblGiaoNhan where DiemDen =lx.Dischargepoint)
										else
											'' 
										end
						end
				end as KhoNhapVCNB 
				,@p_NgayGioHoaDon as NgayHoaDon
				
			FROM tblLenhXuatE5 AS lx
				LEFT JOIN tblDonvi AS dv ON dv.MaDonVi=lx.MaDonVi 
				LEFT JOIN tblKhachHang AS kh ON kh.MaKhachHang=lx.MaKhachHang
				LEFT JOIN tblKho K ON lx.MaKho = K.MaKho
				left join tblPhuongThucThanhToan p on p.MaPhuongThuc = lx.PaymentMethod
				left join tblThoiHanThanhToan t on t.TermKey = lx.Term
				left join tblNhaCungCap v on v.MaNhaCungCap = lx.NhaCungCap --lx.DonViCungCapVanTai
				left join tblGiaoNhan gn on gn.MaTuyenDuong = lx.MaTuyenDuong and gn.DiemDen=lx.DischargePoint
				left join tblKho kn on kn.MaKho = lx.MaKhoNhap
			WHERE lx.SoLenh=@SoLenh
	
			SELECT lxhh.LineID, lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh, lxhh.TongDuXuat, lxhh.TongXuat
			FROM tblLenhXuat_HangHoaE5 AS lxhh
				LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
			WHERE lxhh.SoLenh=@SoLenh  order by lxhh.MaHangHoa
	
			SELECT lxct.MaNgan+':'+convert(varchar(10),lxct.MaEntry) as HHH
			FROM tblLenhXuat_HangHoaE5 AS lxhh
				inner JOIN fpt_tblLenhXuatChiTietE5_v lxct ON lxct.tableid = lxhh.tableid
	
			WHERE lxhh.SoLenh=@SoLenh
		end
	else    ----- Lay noi dung DO1  =============================================================================
		begin

			SELECT kh.TenDonVi
				--, case when isnull(DiaChiHD,'') <> '' then DiaChiHD else  dv.DiaChi end AS DiaChiDH, 
					 --dv.DiaChiFull AS DiaChiDH, 
				,kh.DiaCHi as  DiaChiDH
				--,dv.MaSoThue AS MaSoThueDH,
				,kh.MaSoThue as MaSoThueDH


				,kh.MaKhachHang, kh.TenKhachHang, kh.DiaChiKH As 'DiaChi', kh.MST_KH as MaSoThue,
				lx.MaPhuongTien, lx.SoLenh, 
				--lx.MaKho + ' : ' + K.TenKho As 'MaKho', 
				K.TenKho As 'MaKho', 
				lx.NguoiVanChuyen, lx.Niem, lx.MaPhuongThucBan, lx.NgayXuat, lx.MaVanChuyen,
				isnull(kh.Tax,0) as Tax, 
				--- isnull(p.NoiDung,'') as PhuongThucThanhToan, 
				--isnull(t.GhiChu,'') as ThoiHanThanhToan
				 case when isnull(@p_SoLenhDO1,'')  <> '' then (select top 1 DesPaymentMethod from @tblDO_Header k1 where k1.SoLenh =lx.SoLenh)  else  isnull(p.NoiDung,'') end as PhuongThucThanhToan, 
				 case when isnull(@p_SoLenhDO1,'')  <> '' then (select top 1 DesTerm from @tblDO_Header k1 where k1.SoLenh =lx.SoLenh)  else isnull(t.GhiChu,'') end as ThoiHanThanhToan
				, isnull(kh.TenNhaCungCap,'') as DonViCungCapVanTai,

			-----	case when len (isnull(DesDischargePoint,'')) >0  then  DesDischargePoint else  lx.DiemtraHang end as DiemtraHang ,
	
				case when isnull(Dischargepoint,'') = '' then
								(select top 1 DGDiemDen from tblGiaoNhan  where  maTuyenDuong =lx.MaTuyenDuong)
										else
											(select top 1 DGDiemDen from tblGiaoNhan  where  Diemden =lx.Dischargepoint)	
										end 
										as   DiemTraHang,

				 ISNULL(gn.DGDiemDen,ISNULL(kn.TenKho,'')) as KhoNhap,
	
				''  as MaTimKiem 
		
		
				, CASE WHEN LoaiPhieu = 'V144' THEN 'N' ELSE 'Y' END AS ChuyenVanChuyen
				,lx.MaNguon
		
				,  CASE WHEN LoaiPhieu = 'V144' THEN '' ELSE LoaiPhieu END  as MaTimKiem1
		 
				, null as DiaChiDH22 --  , 'VP ' + dv.TenDonVi as TenDonVi22, dv.DiaChi AS DiaChiDH22
			  , case when isdate(@p_NgayHieuLuc) =1 then convert(date,@p_NgayHieuLuc) else convert(date,@p_NgayXuat) end as NgayHieuLuc
	  
			 /*-	Di chuyển Tập đoàn có TD: POtype = “P250” or  BSART = ‘P250’  Kho nhập =  Diễn giải điểm đến của 
			 Ma tuyến đường (2023764792)  => chưa lên điểm trả hàng, kho nhập lấy sai     GDDienDen
				-	Di chuyển nội bộ TĐ không TD: POtype = “P251”  or  BSART = ‘P251’      Kho nhập =  (tblLenhxuatE5-Makhonhap)
				-	Di chuyển cửa hàng: POtype = “P222” ”  or  BSART = ‘P222’      Kho nhập  Dischargepoint (2023764808) GDDienDen
				-	Các TH khác kho nhập và điểm trả hàng để trống
			 */

			 ---select * from tblKho  where MakHo like '66%'

			 ,  case when isnull(POtype,'')  = 'P250' or  isnull(BSART,'') = 'P250'  then
					(select top 1 DGDiemDen from tblGiaoNhan where MaTuyenDuong =lx.MaTuyenDuong)
				else
					 case when isnull(POtype,'')  = 'P251' or  isnull(BSART,'') = 'P251'  then
							(select top 1 TenKho from tblKho where MaKho =lx.MaKHoNhap)
						else
							case when isnull(POtype,'')  = 'P222' or  isnull(BSART,'') = 'P222'  then
									(select top 1 DGDiemDen from tblGiaoNhan where DiemDen =lx.Dischargepoint)
										else
											'' 
										end
						end
				end as KhoNhapVCNB 
				,@p_NgayGioHoaDon as NgayHoaDon
				
			FROM tblLenhXuatE5 AS lx				 
				LEFT JOIN @tblDO_Header AS kh ON kh.SoLenh=lx.SoLenh
				LEFT JOIN tblKho K ON lx.MaKho = K.MaKho
				left join tblPhuongThucThanhToan p on p.MaPhuongThuc = lx.PaymentMethod
				left join tblThoiHanThanhToan t on t.TermKey = lx.Term
				left join tblNhaCungCap v on v.MaNhaCungCap = lx.NhaCungCap --lx.DonViCungCapVanTai
				left join tblGiaoNhan gn on gn.MaTuyenDuong = lx.MaTuyenDuong and gn.DiemDen=lx.DischargePoint
				left join tblKho kn on kn.MaKho = lx.MaKhoNhap
			WHERE lx.SoLenh=@SoLenh
	
			SELECT lxhh.LineID, lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh, lxhh.TongDuXuat, lxhh.TongXuat
				,aa.DonGia ,Currency
			FROM tblLenhXuat_HangHoaE5 AS lxhh
				LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
				left join  @tblDO_Item_Material aa on lxhh.SoLenh =aa.SoLenh and lxhh.LineID= aa.LineID ---(SoLenh,LineID ,DonGia ,Currency)
			WHERE lxhh.SoLenh=@SoLenh  order by lxhh.MaHangHoa
	
			SELECT lxct.MaNgan+':'+convert(varchar(10),lxct.MaEntry) as HHH
			FROM tblLenhXuat_HangHoaE5 AS lxhh
				inner JOIN fpt_tblLenhXuatChiTietE5_v lxct ON lxct.tableid = lxhh.tableid
	
			WHERE lxhh.SoLenh=@SoLenh

		end



	