
 ALTER PROCEDURE [dbo].[sp_Reports_HoaDonVCNBNew]
@SoLenh	NVARCHAR (10)

AS

	declare @p_NgayHieuLuc nvarchar(30)
	declare @p_YYYY nvarchar(10)
	declare @p_MM nvarchar(10)
	declare @p_DD nvarchar(10)
	declare @p_NgayXuat  nvarchar(20)
	declare @p_HTTG nvarchar(10)

	declare @p_TenDonVi nvarchar(2000)
	declare @p_TenDonVi2 nvarchar(2000)
	declare @p_DiaChiDonVi nvarchar(3000)
	declare @p_DiaChiDonVi2 nvarchar(3000)
	declare @p_MaDonVi nvarchar(200)
	declare @p_MST nvarchar(100)
	declare @p_MSTKH nvarchar(100)
	declare @p_Inco1 nvarchar(100)
	declare @p_MaNguon nvarchar(100)
	declare @p_MaKhachHang nvarchar(200)
	declare @p_TenKhachHang nvarchar(2000)
	declare @p_DiaChiKhachHang nvarchar(3000)
	declare @p_MaPTB nvarchar(100)
	declare @p_BSART nvarchar(200)
	declare @p_POTYPE nvarchar(200)
	declare @p_MaxTimeEnd nvarchar(10)
	declare @p_NgayGioHoaDon datetime	
	declare @p_NgayGioXuatKho datetime
	declare @p_ThongTinBoSung nvarchar(2000)

	declare @p_Warehouse nvarchar(100)

		select top 1 @p_MaxTimeEnd =KeyValue  from SYS_CONFIG  where upper(keyCode )= upper('MaxTimeEnd')
	if isnull(@p_MaxTimeEnd,'') =''
		begin
			set @p_MaxTimeEnd ='N'
		end
   	if @p_MaxTimeEnd ='Y'
		begin
			set @p_NgayGioHoaDon =(select Max(ThoiGianCuoi) FROM fpt_tblLenhXuatChiTietE5_v  where  solenh =@SoLenh )
			set @p_NgayGioXuatKho =  @p_NgayGioHoaDon
		end
	else
		begin
			set @p_NgayGioHoaDon =(select Min(ThoiGianDau) FROM fpt_tblLenhXuatChiTietE5_v  where  solenh =@SoLenh )
				set @p_NgayGioXuatKho =  @p_NgayGioHoaDon
		end


	select @p_MaDonVi=MaDonVi, @p_Inco1=Inco1, @p_MaNguon=MaNguon, @p_MaKhachHang=MaKhachHang 
		, @p_MaPTB=MaPhuongThucBan, @p_BSART =BSART, @p_POTYPE =POTYPE , @p_NgayHieuLuc =NgayHieuLuc ,@p_HTTG=HTTG,  @p_NgayXuat = convert(nvarchar(20),NgayXuat,112) from  tblLenhXuatE5  
						with (nolock) where SoLenh =@SoLenh 

	set @p_ngayhieuluc =isnull(@p_NgayHieuLuc,'')

	
	

	if isdate(@p_NgayHieuLuc) =0 and len(@p_NgayHieuLuc) =10
		begin
				set @p_DD=left(@p_NgayHieuLuc,2)
				set @p_MM=substring(@p_NgayHieuLuc,4,2)
				set @p_YYYY=right(@p_NgayHieuLuc,4)
				set @p_ngayhieuluc =@p_yyyy+ @p_MM + @p_DD
		end


		


	if isdate(@p_NgayHieuLuc) =1 and isnull(@p_HTTG,'') <> 'Y'
		begin
				--set @p_DD=  datepart(day, @p_NgayHieuLuc)    ----left(@p_NgayHieuLuc,2)
				--if len(@p_DD) =1
				--	begin
				--		set @p_DD ='0'+ @p_DD
				--	end
				--set @p_MM=datepart(month, @p_NgayHieuLuc)    --substring(@p_NgayHieuLuc,4,2)
				--if len(@p_MM) =1
				--	begin
				--		set @p_MM ='0'+ @p_MM
				--	end
				--set @p_YYYY=datepart(year, @p_NgayHieuLuc)  
				--set @p_DD =left(@p_NgayHieuLuc,2)
				--set @p_MM=  substring(@p_NgayHieuLuc,4,2)
				--set @p_YYYY=right(@p_NgayHieuLuc,4)
				--set @p_ngayhieuluc =@p_yyyy+ @p_MM + @p_DD
				set   @p_NgayHieuLuc =@p_NgayHieuLuc
		end

	---	print  'asdfg:' + convert(nvarchar(100),@p_ngayhieuluc)
		

	

	--select top 1 @p_MaDonVi=MaDonVi, @p_Inco1=Inco1, @p_MaNguon=MaNguon, @p_MaKhachHang=MaKhachHang 
	--	, @p_MaPTB=MaPhuongThucBan, @p_BSART =BSART, @p_POTYPE =POTYPE from tbllenhxuate5 with (nolock) where SoLenh =@SoLenh
	
	
	--CIF NĐ (Inco1 = CIF,Manguon = N30)

	select top 1 @p_Warehouse=WareHouse from tblConfig

	SELECT @p_TenDonVi as TenDonVi, @p_DiaChiDonVi AS DiaChiDH,  --dv.DiaChiFull AS DiaChiDH, 
		@p_MST  AS MaSoThueDH,
		@p_MaKhachHang as MaKhachHang, @p_TenKhachHang as TenKhachHang, @p_DiaChiKhachHang As 'DiaChi', @p_MSTKH as MaSoThue,
		lx.MaPhuongTien, lx.SoLenh, 
		--lx.MaKho + ' : ' + K.TenKho As 'MaKho', 
		K.TenKho As 'MaKho', 
		lx.NguoiVanChuyen, lx.Niem, lx.MaPhuongThucBan, lx.NgayXuat, lx.MaVanChuyen,
		isnull(lx.Tax,0) as Tax, isnull(p.NoiDung,'') as PhuongThucThanhToan, 
		isnull(t.GhiChu,'') as ThoiHanThanhToan, isnull(v.TenNhaCungCap,'') as DonViCungCapVanTai,

	-----	case when len (isnull(DesDischargePoint,'')) >0  then  DesDischargePoint else  lx.DiemtraHang end as DiemtraHang ,
		case when MaNguon ='N35' then
				(select top 1 Tenkho from tblKho where MaKho =@p_Warehouse )
			else
				case when isnull(Dischargepoint,'') = '' then
								(select top 1 DGDiemDen from tblGiaoNhan  where  maTuyenDuong =lx.MaTuyenDuong)
										else
											(select top 1 DGDiemDen from tblGiaoNhan  where  Diemden =lx.Dischargepoint)	
										end 
			end
								as   DiemTraHang,

		 ISNULL(gn.DGDiemDen,ISNULL(kn.TenKho,'')) as KhoNhap,
	
		--''  as MaTimKiem 
			case when ( Inco1 ='CIF' and MaNguon ='N30')  or  ( Inco1 ='CIF' and MaNguon ='N05' )
				or  ( MaPhuongThucBan in ('05','06') and MaNguon ='N05'   ) or (isnull(LXLoai,'') ='TD')   then lx.LoaiPhieu else '' end as MaTimKiem
		
		, CASE WHEN LoaiPhieu = 'V144' THEN 'N' ELSE 'Y' END AS ChuyenVanChuyen
		,lx.MaNguon
		
		--,case when ISNULL(lx.LoaiPhieu,'0') ='V144' then ''
		-- else   replace(lx.LoaiPhieu,'0','') end as MaTimKiem1		 
		 ,	case when ( Inco1 ='CIF' and MaNguon ='N30')  or  ( Inco1 ='CIF' and MaNguon ='N05' )
				or  ( MaPhuongThucBan in ('05','06') and MaNguon ='N05'   )  then lx.LoaiPhieu else '' end as MaTimKiem1

	  , case when isdate(@p_NgayHieuLuc) =1 then convert(date,@p_NgayHieuLuc) else convert(date,@p_NgayXuat) end as NgayHieuLuc
	  
	

	 ,  case when isnull(POtype,'')  = 'P250' or  isnull(BSART,'') = 'P250'  then
			(select top 1 DGDiemDen from tblGiaoNhan where MaTuyenDuong =lx.MaTuyenDuong)
		else
			 case when isnull(POtype,'')  in ('P223', 'P251') or  isnull(BSART,'') in ( 'P251' ,'P223')  then
					(select top 1 TenKho from tblKho where MaKho =lx.MaKHoNhap)
				else
					case when isnull(POtype,'')  = 'P222' or  isnull(BSART,'') = 'P222' or  isnull(BSART,'') = 'P220'  then
							(select top 1 DGDiemDen from tblGiaoNhan where DiemDen =lx.Dischargepoint)
								
								else
									'' 
								end
				end
		end as KhoNhapVCNB 

		,case when ( @p_BSART = 'P250' or @p_POTYPE = 'P250')  --NBN co TD
				then
					N'VP Cty XD KVII-TNHH MTV AAA'
				else
					case when ( @p_BSART = 'P222' or @p_POTYPE = 'P222')   
						then
							@p_TenDonVi2
						else
							 @p_TenDonVi 
						end
				end
				  as TenDonViGH
		,case when ( @p_BSART = 'P222' or @p_POTYPE = 'P222')   
						then
							@p_DiaChiDonVi2
						else
							 @p_DiaChiDonVi 
						end
		 as DiaChiGH
		 , dbo.Get_DonViDieuDong (@SoLenh) as DonViDieuDong
		  , dbo.Get_DonViGiaoHang (@SoLenh) as DonViGiaoHang
		  , dbo.Get_DonViGiaoHangDiaChi (@SoLenh) as DonViGiaoHangDiaChi
		   , dbo.Get_DonViNhanHang (@SoLenh) as DonViNhanHang
		  , dbo.Get_DonViNhanHangDiaChi (@SoLenh) as DonViNhanHangDiaChi
		  , @p_NgayGioHoaDon as NgayHoaDon
	FROM tblLenhXuatE5 AS lx		
		----LEFT JOIN tblKhachHang AS kh ON kh.MaKhachHang=lx.MaKhachHang
		LEFT JOIN tblKho K ON lx.MaKho = K.MaKho
		left join tblPhuongThucThanhToan p on p.MaPhuongThuc = lx.PaymentMethod
		left join tblThoiHanThanhToan t on t.TermKey = lx.Term
		left join tblNhaCungCap v on v.MaNhaCungCap = lx.NhaCungCap --lx.DonViCungCapVanTai
		left join tblGiaoNhan gn on gn.MaTuyenDuong = lx.MaTuyenDuong and gn.DiemDen=lx.DischargePoint
		left join tblKho kn on kn.MaKho = lx.MaKhoNhap
	WHERE lx.SoLenh=@SoLenh
	
	SELECT lxhh.LineID, lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh, lxhh.TongDuXuat, lxhh.TongXuat
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
	WHERE lxhh.SoLenh=@SoLenh  order by lxhh.MaHangHoa
	
	SELECT lxct.MaNgan+':'+convert(varchar(10),lxct.MaEntry) as HHH
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		inner JOIN fpt_tblLenhXuatChiTietE5_v lxct ON lxct.tableid = lxhh.tableid
		
		--lxct.MaLenh = lxhh.MaLenh and 
		--										lxct.LineID = lxhh.LineID and
		--										lxct.NgayXuat = lxhh.NgayXuat
	WHERE lxhh.SoLenh=@SoLenh

