

-- =============================================
-- Author:		anhqh
-- Create date: 20200113
-- Description: Ham tao Ma tra cu dung cho HDDT
--	exec TaoMaTraCuu '2023764332','sdf'
-- =============================================
ALTER PROCEDURE [dbo].[TaoMaTraCuu]
	@p_SoLenh nvarchar(200)
	,@p_User nvarchar(200)
	,@p_LoaiChungTu nvarchar(500)
AS
BEGIN
	declare @p_AlLChars varchar(100) = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'
	declare @p_String nvarchar(200)='ZWRSFJXO'
	declare @p_Value nvarchar(10)
	declare @p_StringValue nvarchar(10) =''
	declare @p_Matracuu nvarchar(20)
	declare @p_Year nvarchar(10)
	begin try
			set @p_Year = right(year(getdate()),2) 
			----	alter table [tblMaTraCuu] add SyncStatus nvarchar(50)
			/*select 
			
				top 1 @p_Matracuu= MaTraCuu  
				 from  [tblMaTraCuu] with (nolock) where SoLenh =@p_SoLenh  and isnull (SyncStatus,'') <> 'Y' and LoaiChungTu=@p_LoaiChungTu
			--RETURN
		----	delete  from  [tblMaTraCuu] where SoLenh =@p_SoLenh
			set @p_Matracuu=isnull(@p_Matracuu,'') 
			if  @p_Matracuu <> ''
				begin
					SET @p_StringValue =@p_Matracuu
					goto line_kt
				end */
Line_Start:			
			WHILE (len(@p_StringValue) <6)
			BEGIN
				set  @p_Value =RIGHT( LEFT(@p_AlLChars,ABS(BINARY_CHECKSUM(NEWID())%35) + 1 ),1) 	
				if charindex(@p_Value,@p_String,1) <=0
					begin
						set @p_StringValue =@p_StringValue + ltrim(rtrim( convert(nvarchar(10),@p_Value)))
					end	
			END			
			set @p_StringValue   = @p_Year + @p_StringValue	+ '*'		
			select  top 1 @p_Matracuu = MaTraCuu from [tblMaTraCuu] with (nolock) 
					 where MaTRaCuu = @p_StringValue
			if len(isnull(@p_Matracuu,'')) >0 
				begin
					goto Line_Start
				end
				
			
			INSERT INTO [dbo].[tblMaTraCuu]
				   ([MaTraCuu]
				   ,[SoLenh]
				   ,[CreateDate]
				   ,[CreateUser], LoaiChungTu)
			VALUES (@p_StringValue
					,@p_SoLenh
					,getdate()
					,@p_User, @p_LoaiChungTu
					)
			update  [tblMaTraCuu] set MaTraCuu = @p_StringValue where SoLenh =@p_SoLenh  and isnull (SyncStatus,'') <> 'Y' and LoaiChungTu=@p_LoaiChungTu
line_KT:
			select 0 as ErrorNum, N'' as ErrorDesc, @p_StringValue as MaTraCuu, @p_SoLenh as SoLenh
	end try
	
	begin catch
		select ERROR_NUMBER() as ErrorNum, ERROR_MESSAGE() as ErrorDesc, 
				'' as MaTraCuu, @p_SoLenh as SoLenh
	end catch			
END

