
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[BienBanDoBe_ALL]
	@p_Value nvarchar(max)
AS
BEGIN
	select   aa.CrDate as Ngay,aa.CrDate as Gio, aa.TankCode as Be, aa.ProductCode as MaHangHoa,
					 aa.TenHangHoa, aa.TankHeight as ChieuCao, aa.TankTemp as NhietDo , aa.PurposeCode as MaMDD, 
					 aa.PurposeName as TenMDD, bb.DocEntry   as SoGD
					 ,  (select top 1 Upper(TenDonVi) from tblDonvi a1 where a1.MaDonVi = (select  companycode  from tblConfig)) as ComName
			,N'Mã số: XDTK-BM-01.04'  as MaSo, N'Lần ban hành: 01' as LanBH , N'Ngày bh: 01/11/2018' as NgayBH 
					 from  dbo.ztblTankLineImp_v aa, ztblTankHeaderImp bb 

			  where aa.TankHeaderCode =bb.TankHeaderCode  --and convert(date,aa.CrDate ) =convert(date,@ToDate)			   
					 and aa.X='Y' and  charindex (',' +  convert(nvarchar(20),bb.DocEntry) + ',' ,',' + @p_Value + ',',1) >0	
					 

	

END
