

-- =============================================
-- Author:		anhqh
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create TRIGGER [dbo].[SYS_TABLEID_Upd]
    ON  [dbo].[SYS_TABLEID]
   AFTER UPDATE
AS 
BEGIN
			INSERT INTO [SYS_TABLEID_Hist]						
				   ([TableID]
					   ,[CrdDate]
					   ,[SoLenh]
					 --  ,[ID]
					   ,[CreateDate]
					   ,[UpdateDate]
					   ,[cStatus]		, Old_ID				   
				  )						   						    
			SELECT TableID
					   ,[CrdDate]
					   ,[SoLenh]
					 --  ,[ID]
				   ,getdate () as [CreateDate]
				   ,getdate() as [UpdateDate]
				   ,'U' as [cStatus], ID
								 
							  FROM inserted  
END
