

create FUNCTION [dbo].[fm_TyTrongE5_New]
(
	@LineID NVARCHAR(6),
	@MaLenh NVARCHAR(4),
	@NgayXuat DATETIME
	, @p_Table_ID nvarchar(10)
)
RETURNS FLOAT 
BEGIN
	DECLARE @TyTrong AS FLOAT
	SELECT 
		@TyTrong=lxct.TyTrong_15
	FROM 
		fpt_tblLenhXuatChiTietE5_v AS lxct
	WHERE 
		lxct.LineID=@LineID AND 
		lxct.MaLenh=@MaLenh AND 
		lxct.NgayXuat=@NgayXuat
		and
		 tableid=@p_Table_ID
		
	IF @TyTrong IS NULL
		SET @TyTrong=0

	RETURN @TyTrong
	
END
