
ALTER PROCEDURE [dbo].[FPT_HoaDon_ChiTietE5]
@SoLenh nvarchar(10)
AS
begin	
	--SELECT top 1 @p_WareHouse= warehouse FROM [tblConfig]
	declare @p_KEYVALUE nvarchar(2)
	select top 1 @p_KEYVALUE=KEYVALUE from SYS_CONFIG where KEYCODE='TONGDUXUAT'
	
	if ltrim(rtrim(@p_KEYVALUE)) ='1'  --Lay du xuat
		begin
					SELECT  lxhh.LineID, ROW_NUMBER()
						OVER(ORDER BY lxhh.LineID) AS 'STT',
						 lxhh.MaHangHoa AS N'MãHàngHóa' ,
						  hh.TenHangHoa N'TênHàngHóa', 
						 -- Convert(Int,'0') AS 'ĐơnGiá',
						--  Convert(Int,'0') AS 'ChiếtKhấu',
						  --0.000000 AS N'ĐơnGiá',	hieptd4 comment 20161102
						  isnull(lxhh.DonGia,0.000000) as N'ĐơnGiá', --hieptd4 add 20161102
						   					  
						  0.000000 AS N'ChiếtKhấu',
						
						  (select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_V where   solenh=lxhh.SoLenh and 	TableID=lxhh.TableID ) AS N'TổngDựXuất', 
						  Convert(Int,lxhh.TongDuXuat) AS N'TổngXuất',
						 -- (select Sum( SoLuongThucXuat) from tblLenhXuatChiTietE5 where 	TableID=lxhh.TableID ) as N'TổngXuất',
						  lxhh.DonViTinh AS N'ĐơnVịTính',
						 dbo.fm_NhietDo_TBE5 (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat) AS N'NhiệtĐộ',
						 dbo.fm_TyTrongE5 (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat) AS N'TỷTrọng',
						  convert(nvarchar(20),isnull(  (select Sum( GST) from tblLenhXuatChiTietE5 with (Nolock) where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID),0)) AS N'L15'
						  ,cast('' as nvarchar(10)) as VCF
						  ,cast('' as nvarchar(10)) as WCF
						  ,cast('' as nvarchar(10)) as KG
						  ,isnull(lxhh.CurrencyKey,'') as CurrencyKey -- hieptd4 add 20161102 
					FROM tblLenhXuat_HangHoaE5  lxhh  with (Nolock) 
					LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
					WHERE lxhh.SoLenh=@SoLenh ORDER BY LineID ASC
        end
     else  ---Lay thuc xuat
		begin
				SELECT  lxhh.LineID, ROW_NUMBER()
						OVER(ORDER BY lxhh.LineID) AS 'STT',
						 lxhh.MaHangHoa AS 'MãHàngHóa' ,
						  hh.TenHangHoa N'TênHàngHóa', 
					--	  Convert(Int,'0') AS 'ĐơnGiá',
						---  Convert(Int,'0') AS 'ChiếtKhấu',
						  --0.000000 AS N'ĐơnGiá',	hieptd4 comment 20161102
						  isnull(lxhh.DonGia,0.000000) as N'ĐơnGiá', --hieptd4 add 20161102
						  						  
						  0.000000 AS N'ChiếtKhấu',
						  (select Sum( SoLuongDuXuat) from tblLenhXuatChiTietE5 where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID) AS N'TổngDựXuất', 
						-- Convert(Int,lxhh.TongXuat) AS N'TổngXuất',
						(select Sum( SoLuongThucXuat) from fpt_tblLenhXuatChiTietE5_v where 	 solenh=lxhh.SoLenh and TableID=lxhh.TableID ) as N'TổngXuất',
						  lxhh.DonViTinh AS N'ĐơnVịTính',
						 dbo.fm_NhietDo_TBE5 (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat) AS N'NhiệtĐộ',
						 dbo.fm_TyTrongE5 (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat) AS N'TỷTrọng',
						  convert(nvarchar(20),isnull(  (select Sum( GST) from tblLenhXuatChiTietE5 with (Nolock) where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID),0)) AS N'L15'
						  ,cast('' as nvarchar(10)) as VCF
						  ,cast('' as nvarchar(10)) as WCF
						  ,cast('' as nvarchar(10)) as KG
						  ,isnull(lxhh.CurrencyKey,'') as CurrencyKey -- hieptd4 add 20161102 
					FROM tblLenhXuat_HangHoaE5  lxhh  with (Nolock) 
					LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
					WHERE lxhh.SoLenh=@SoLenh ORDER BY LineID ASC
		end
     					
end	