

alter PROCEDURE [dbo].[sp_Reports_HoaDonE5]
@SoLenh	NVARCHAR (10)
AS
	SELECT dv.TenDonVi, dv.DiaChi AS DiaChiDH,  --dv.DiaChiFull AS DiaChiDH, 
		dv.MaSoThue AS MaSoThueDH,
		kh.MaKhachHang, kh.TenKhachHang, kh.DiaChi As 'DiaChi', kh.MaSoThue,
		lx.MaPhuongTien, lx.SoLenh, 
		--lx.MaKho + ' : ' + K.TenKho As 'MaKho', 
		K.TenKho As 'MaKho', 
		lx.NguoiVanChuyen, lx.Niem, lx.MaPhuongThucBan, lx.NgayXuat, lx.MaVanChuyen,
		isnull(lx.Tax,0) as Tax, isnull(p.NoiDung,'') as PhuongThucThanhToan, 
		isnull(t.GhiChu,'') as ThoiHanThanhToan, isnull(v.TenNhaCungCap,'') as DonViCungCapVanTai,
		--isnull(gn.DGDiemKhoiHanh,'') as DiemGiaoHang,
		-- ISNULL(kn.TenKho,gn.DGDiemDen) as KhoNhap,
		--gn.DGDiemDen as KhoNhap
		
		--ISNULL(gn.DGDiemDen,ISNULL(kn.TenKho,'')) as DiemGiaoHang,
		case when isnull(DesDischargePoint,'') <>'' then
			DesDischargePoint
		else
		 lx.DiemtraHang
		end as DiemtraHang ,
		
		 ISNULL(gn.DGDiemDen,ISNULL(kn.TenKho,'')) as KhoNhap,
		--ISNULL(lx.LoaiPhieu,'') as MaTimKiem
		''  as MaTimKiem 
		
		
		, CASE WHEN LoaiPhieu = 'V144' THEN 'N' ELSE 'Y' END AS ChuyenVanChuyen
		,lx.MaNguon
		
		,case when ISNULL(lx.LoaiPhieu,'0') ='V144' then ''
		 else   replace(lx.LoaiPhieu,'0','') end as MaTimKiem1
		 
		 , dbo.FPT_GetKhachHang_Org2
					(lx.MaKhachHang
						,lx.MaPhuongThucBan
						,kh.TenKhachhang
					) as KhachHang2, 
					
					kh.DiaChi As DiaChi2
	FROM tblLenhXuatE5 AS lx
		LEFT JOIN tblDonvi AS dv ON dv.MaDonVi=lx.MaDonVi 
		LEFT JOIN tblKhachHang AS kh ON kh.MaKhachHang=lx.MaKhachHang
		LEFT JOIN tblKho K ON lx.MaKho = K.MaKho
		left join tblPhuongThucThanhToan p on p.MaPhuongThuc = lx.PaymentMethod
		left join tblThoiHanThanhToan t on t.TermKey = lx.Term
		left join tblNhaCungCap v on v.MaNhaCungCap = lx.NhaCungCap --lx.DonViCungCapVanTai
		left join tblGiaoNhan gn on gn.MaTuyenDuong = lx.MaTuyenDuong and gn.DiemDen=lx.DischargePoint
		left join tblKho kn on kn.MaKho = lx.MaKhoNhap
	WHERE lx.SoLenh=@SoLenh
	
	
	SELECT lxhh.LineID, lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh, lxhh.TongDuXuat, lxhh.TongXuat
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
	WHERE lxhh.SoLenh=@SoLenh  order by lxhh.MaHangHoa
	
	SELECT lxct.MaNgan+':'+convert(varchar(10),lxct.MaEntry) as HHH
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		inner JOIN fpt_tblLenhXuatChiTietE5_v lxct ON lxct.tableid = lxhh.tableid
		
										and	lxct.MaLenh = lxhh.MaLenh  
											and	lxct.LineID = lxhh.LineID and
											lxct.NgayXuat = lxhh.NgayXuat
	WHERE lxhh.SoLenh=@SoLenh

