<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <!--<system.diagnostics>
        <sources>
            --><!-- This section defines the logging configuration for My.Application.Log --><!--
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    --><!-- Uncomment the below section to write to the Application Event Log --><!--
                    --><!--<add name="EventLog"/>--><!--
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            --><!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log --><!--
            --><!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> --><!--
        </sharedListeners>
    </system.diagnostics>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PublishServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PublishServiceSoap1" />
                <binding name="BusinessServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="BusinessServiceSoap1" />
                <binding name="PetroServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PetroServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://0300555450-dev78hoadon.petrolimex.com.vn/publishservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap"
                contract="publishservice.PublishServiceSoap" name="PublishServiceSoap" />
            <endpoint address="https://0300555450-hoadon.petrolimex.com.vn/BusinessService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BusinessServiceSoap"
                contract="BusinessService.BusinessServiceSoap" name="BusinessServiceSoap" />
            <endpoint address="https://0300555450-dev78hoadon.petrolimex.com.vn/petroservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PetroServiceSoap"
                contract="portalservice.PetroServiceSoap" name="PetroServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
