-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE FPT_LayCuocPhiVanTai
	@p_Sale_Org nvarchar(50), --	Công ty-Client
	@p_Departure nvarchar(50),   --Point	Điểm giao
	@p_Discharge nvarchar(50),   -- point	ĐIểm nhận
	@p_Material nvarchar(50),   --	Mã mặt hàng
	@p_SaleUnit nvarchar(50),  --	Đơn vị tính dự xuất
	@p_LHVT nvarchar(50),     -- Loại hình vận tải
	@p_NgayXuat datetime  --Ngay xuat tren lệnh
AS
BEGIN
	select * from tblDonGia_Ex with (nolock)
		where BUKRS=@p_Sale_Org
		 and KSCHL  ='ZPTR'
		 and KNOTA = @p_Departure
		 and OIGKNOTD = @p_Discharge
		 and  right( MATNR,len(@p_Material)) = @p_Material
		 and  VRKME=@p_SaleUnit
		 and  VSART= @p_LHVT		 
		  and convert(date, DATAB) <=convert(date,@p_NgayXuat)
		  and convert(date, DATBI) >=convert(date,@p_NgayXuat)
		 --and 

END
GO
