-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE FPT_LayGiaCongTy
	@p_SaleOrg nvarchar(50), --	Công ty-Client
	@p_DistributionChanel nvarchar(50), --	Phương thức bán
	@p_Customer nvarchar(50)    ,   --- Khach hang	
	@p_Material nvarchar(50),   --	Mã mặt hàng
	@p_SaleUnit nvarchar(50),  --	Đơn vị tính dự xuất	
	@p_PaymentTerm nvarchar(50),  --	Phương thức thanh toán	
	@p_NgayXuat datetime , --Ngay xuat tren lệnh
	@p_LoaiTien  nvarchar(50),  --Loai tien
	@p_MaTuyenDuong  nvarchar(50),  --Tuyen duong
	@p_LHVT nvarchar(50)     --- Loai hinh van tai
AS
BEGIN
	declare @p_From nvarchar(50)
	declare @p_To nvarchar(50)
	
	select top 1 @p_From =  DiemKHoiHanh ,  @p_To=  DiemDen 
			from tblGiaoNhan where Matuyenduong =@p_MaTuyenDuong
	set @p_From =isnull(@p_From,'')
	set @p_To =isnull(@p_To,'')
--Bang gia theo khach hang
	select * from tbldongia   with (nolock) where KSCHL ='Z001' 
			and vtweg   =@p_DistributionChanel
			and matnr =@p_Material
			and VRKME =@p_SaleUnit
			and  VKORG= @p_SaleOrg		
			and ZTERM =	@p_PaymentTerm
			and KUNNR   =@p_Customer
			and WAERS =@p_LoaiTien
			and convert(date, DATAB) <=convert(date,@p_NgayXuat)
		  and convert(date, DATBI) >=convert(date, @p_NgayXuat)
--Bang gia chung	
	select * from tbldongia  with (nolock)  where KSCHL ='Z001' 
			and vtweg   =@p_DistributionChanel
			and matnr =@p_Material
			and VRKME =@p_SaleUnit
			and  VKORG= @p_SaleOrg		
			and WAERS =@p_LoaiTien
			--and ZTERM =	@p_PaymentTerm
			and len( isnull( KUNNR,''))=0 --=@p_Customer
			and convert(date, DATAB) <=convert(date,@p_NgayXuat)
		  and convert(date, DATBI) >=convert(date, @p_NgayXuat)
	
	
	-----Thue BVMT
	
	select * from tbldongia  with (nolock) where KSCHL ='Z900' 
			and vtweg   =@p_DistributionChanel
			and matnr =@p_Material
			and VRKME =@p_SaleUnit
			and  VKORG= @p_SaleOrg		
			and WAERS =@p_LoaiTien	
			and convert(date, DATAB) <=convert(date,@p_NgayXuat)
		  and convert(date, DATBI) >=convert(date, @p_NgayXuat)	  
		  
	--exec FPT_LayThueBVMT  @p_SaleOrg  , @p_DistributionChanel , @p_Material , @p_SaleUnit , @p_NgayXuat ,@p_LoaiTien
	------PhiVT
	select * from tblDonGia_Ex with (nolock)
		where BUKRS=@p_SaleOrg
		 and KSCHL  ='ZPTR'
		 and KNOTA = @p_From
		 and OIGKNOTD = @p_To
		 and  right( MATNR,len(@p_Material)) = @p_Material
		 and  VRKME=@p_SaleUnit
		 and  VSART= @p_LHVT		
		 and WAERS =@p_LoaiTien	 
		  and convert(date, DATAB) <=convert(date,@p_NgayXuat)
		  and convert(date, DATBI) >=convert(date,@p_NgayXuat)
END
GO
