-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE FPT_LayThueBVMT 
	@p_SaleOrg nvarchar(50) ,--	Công ty-Client
	@p_Distribution nvarchar(50) ,  -- Chanel	Phương thức bans
	@p_Material nvarchar(50) ,  --	Mã mặt hàng
	@p_SaleUnit nvarchar(50) ,  --	Đơn vị tính dự xuất
	---@p_PaymentTerm nvarchar(50) ,  --	Phương thức thanh toán
	@p_NgayXuat datetime  --Ngay xuat tren lệnh
	,@p_LoaiTien  nvarchar(50)  --Loai tien
AS
BEGIN
	select * from tbldongia  where KSCHL ='Z900' 
			and vtweg   =@p_Distribution
			and matnr =@p_Material
			and VRKME =@p_SaleUnit
			and  VKORG= @p_SaleOrg		
			and WAERS =@p_LoaiTien	
			and convert(date, DATAB) <=convert(date,@p_NgayXuat)
		  and convert(date, DATBI) >=convert(date, @p_NgayXuat)
END
GO
