

ALTER PROCEDURE [dbo].[KV2_BM_05_04_01]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,
	
	@p_MaHangHoa nvarchar(18),
	
	@p_MaPhuongTien nvarchar(500),
	@p_MaKhachHang nvarchar(50)
AS
BEGIN

	
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	declare @p_NhietDoTT  decimal(10,2)
	declare @p_TyTrong15  decimal(10,4)
	
	declare @p_TyTrong15_1  decimal(10,4)
	declare @p_TyTrong15_2  decimal(10,4)
	declare @p_TyTrongTT_1 decimal(10,4)
	declare @p_TyTrongTT_2 decimal(10,4)
	declare @p_TyTrongTT  decimal(10,4)
	
	declare @TableVar2 table (
			MeterID nvarchar(50)
			)
	insert into @TableVar2
	select MeterId  from vwMeterAll --where Client =ISNULL(@p_Client,client) 
			
	
	declare @TableVar3 table (
			Client nvarchar(50)
			)
	insert into @TableVar3
	select Client   from FPT_Client_V  --where Client =ISNULL(@p_Client,client) 
	
	
	declare  @pTableTmp table  (
				MaKhachHang nvarchar(50),
				TenKhachHang nvarchar(500), 
				MaHangHoa nvarchar(50), 
			   TenHangHoa nvarchar(500),
			   SoLenh nvarchar(50), 
			    SluongThucXuat decimal(18,0), 
			
			   MaPhuongTien nvarchar(50),
			   NguoiVanChuyen nvarchar(500),
			   DiemTraHang  nvarchar(500),			
			    NhietDo  decimal(10,2),
			   TyTrong  decimal(10,4),
			   TyTrongTT  decimal(10,4),
			    WCF  decimal(10,4),
			    KG decimal(10,2),
			   VCF decimal(10,4),
				SluongQC  decimal(10,2)
				,Ty_TrongTB  decimal(10,4)
				, NhietDo_BQGQ  decimal(10,2)
				, D15_BQGQ  decimal(10,4)
			)					
								
	
	
	declare @TableVar1 table (
		MaKhachHang  nvarchar(100), 
		TenKhachHang  nvarchar(500), 
		NguoiVanChuyen nvarchar(500), 
		MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			SoLuongDuXuat_Ndo decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			TyTrongTT decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime,
			DVT nvarchar(10),
			gst numeric
			, Ty_TrongTB numeric(10,4)
				
			)		
	insert into @TableVar1
		(	MaKhachHang  ,
			TenKhachHang,
			NguoiVanChuyen,
			MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat 
				,SoLuongDuXuat_Ndo
				,BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				 NhietDo,
				TyTrong ,
				TyTrongTT,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst ,
				Ty_TrongTB)
	SELECT 
		a.MaKhachHang,
		a.TenKhachHang,
		 a.NguoiVanChuyen,
		 a.MaHangHoa, 
				a.TenHangHoa, 
				a.SoLenh, 
				--a.SoLuongDuXuat as SoLuongThucXuat, 
				--a.SoLuongThucXuat as SoLuongDuXuat_Ndo,
				dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0) as SoLuongThucXuat, 
				 dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0) as SoLuongDuXuat_Ndo,
				 
				 
				a.BeXuat, 
				a.MaPhuongTien,
				a.MaLuuLuongKe as SoCongTo, 
				a.Sl_llkebd,
				a.Sl_llkekt,
				a.MaEntry,
				--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
				NhietDo as NhietDo,
				case when a.[Status] = '3' then --dbo.fm_TyTrongE5 (a.LineID, a.MaLenh, a.NgayXuat) 
				0 else TyTrong_15 end as  TyTrong,
				0 as TyTrongTT,
				0.0000 as VCF, 
				0 as SluongQC, 
				case when a.[Status] = '3' then isnull(a.NgayTichKe,a.NgayXuat)
				else a.ThoiGianDau end as GioXuatKho,
				a.[Status], client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst
				,Ty_TrongTB
		from FPT_LenhXuat_TongHop_v a, @TableVar2 bb
		where convert(date,ThoiGianDau)>=@p_Fdate and 
			CONVERT(date,ThoiGianDau)<=@p_TDate 
					and a.Status in ('31','4','5')
					and a.MaVanChuyen = 'ZT' 	
					and a.MaLuuLuongKe =bb.MeterID 				
				and  a.MaHangHoa = ISNULL(@p_MaHangHoa,a.mahanghoa) -- case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
				-- and a.MaPhuongTien =isnull(@p_MaPhuongTien,a.maphuongtien)  
				  
				and a.MaKhachHang =isnull(@p_MaKhachHang,a.MaKhachHang)  
		        
		        and CHARINDEX (',' + a.MaPhuongTien +',', ',' + ISNULL(@p_MaPhuongTien,a.MaPhuongTien) + ',' ,1)>0
		        
				--- and solenh in ('2021396391')
		
		
		update @TableVar1 set DVT ='L15' where MaHangHoa not like '07%'
		update @TableVar1 set DVT ='KG' where MaHangHoa  like '07%'
	
		
		insert into @pTableTmp   (
				MaKhachHang ,
				TenKhachHang ,
				MaHangHoa , 
			   TenHangHoa ,
			   SoLenh ,
			    SluongThucXuat ,
			
			   MaPhuongTien ,
			   NguoiVanChuyen ,
			   DiemTraHang ,		
			    NhietDo  ,
			   TyTrong ,
			   TyTrongTT ,
			    WCF ,
			    KG ,
			   VCF ,
				SluongQC 
				,Ty_TrongTB
			)					
			
		
		select MaKhachHang,
				TenKhachHang, 
				MaHangHoa, 
			   TenHangHoa,
			   SoLenh, 
			    SluongThucXuat, 
			
			   MaPhuongTien,
			   NguoiVanChuyen,
			   (select DiemTraHang from tbllenhxuatE5 where SoLenh=abc.SoLenh) as DiemTraHang ,
			
			    NhietDo,
			   TyTrong,
			   TyTrongTT,
			    WCF,
			   round( WCF* SluongThucXuat,0) as KG,
			  convert(decimal(14,4), case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then round(gst/SluongThucXuat,4) else 
				VCF end)  as VCF,
			  case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then gst else 
			    dbo.zzFPT_mdlQCI_CalculateQCI_NS (
								SluongThucXuat, 
								'L',
								(NhietDo * SluongThucXuat) / (SluongThucXuat),
								TyTrong,MaHangHoa,VCF
								) end as SluongQC
								,Ty_TrongTB
				
				from  (
		select MaKhachHang,
				TenKhachHang,
				 MaHangHoa, 
			   TenHangHoa,
			   SoLenh, 
			   SoLuongDuXuat as SluongThucXuat, 
			   BeXuat, 
			   MaPhuongTien,
			   NguoiVanChuyen,
			   SoCongTo, 			  
			   NhietDo,
			  -- avg(TyTrong) as TyTrong,
			   TyTrong,
			   0.0 as TyTrongTT,
			  TyTrong - 0.0011 as WCF,
			 -- 0.0000 as VCF, --BM_05_04.VCF, 
			case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then '0' else  dbo.zzFPT_mdlQCI_GetVCF_NS (NhietDo , TyTrong) end as VCF,
			  0 as SluongQC,   	   
			convert(char(5), GioXuatKho, 108)	as GioXuatKho,			
			 GioXuatKho	as NgayXuatKho,		
			Status ,
			DVT		,
			gst	   		
			,Ty_TrongTB			   	
		from  @TableVar1 		
		
		) abc
		
	
	UPDATE AA
				SET NhietDo_BQGQ =[dbo].[zFPT_mdlQCI_ConvertTemp]( Table002.NhietDoBQGQ	)
				,NhietDo =[dbo].[zFPT_mdlQCI_ConvertTemp]( Table002.NhietDoBQGQ	)
				, D15_BQGQ= Table002.D15BQGQ			
				
				FROM @pTableTmp as AA
				INNER JOIN 
						(select SoLenh, MaHangHoa, dbo.FPT_ROUNDNUMBER (	sum( NhietDo *SluongThucXuat) / sum(SluongThucXuat) ,2) as NhietDoBQGQ
								,dbo.FPT_ROUNDNUMBER ( sum( TyTrong *SluongThucXuat) /sum(SluongThucXuat),4) as D15BQGQ
								from @pTableTmp Group by SoLenh, MaHangHoa)  as Table002
		
				ON (AA.SoLenh = Table002.SoLenh and AA.MaHangHoa = Table002.MaHangHoa )
	
	
	
	--select * from @pTableTmp
	--return
	
	
	DECLARE p_Cursor CURSOR FOR   
			select NhietDo_BQGQ, D15_BQGQ from @pTableTmp 
				group by NhietDo_BQGQ, D15_BQGQ
					order by NhietDo_BQGQ, D15_BQGQ
	OPEN p_Cursor  

	FETCH NEXT FROM p_Cursor   INTO  @p_NhietDoTT  ,@p_TyTrong15
	

	WHILE @@FETCH_STATUS = 0  	
		begin
			--update tbllenhxuatchitiete5 set gst=@L15 where Row_ID=@Row_ID
			set @p_TyTrong15_1 =0 
			set @p_TyTrong15_2=0
			set @p_TyTrongTT_1=0
			set @p_TyTrongTT_2=0	
			
			set @p_NhietDoTT=[dbo].[zFPT_mdlQCI_ConvertTemp](@p_NhietDoTT )	
			
			select @p_TyTrongTT_1 =TyTrongTT, @p_TyTrong15_1= TyTrong15 from tblTyTrong15E5 a where NhietDoTT = @p_NhietDoTT
					and TyTrong15 in  (select Max (TyTrong15)  from tblTyTrong15E5 where NhietDoTT = @p_NhietDoTT
												and TyTrong15 <= @p_TyTrong15) 
			select @p_TyTrongTT_2 =TyTrongTT, @p_TyTrong15_2= TyTrong15 from tblTyTrong15E5 a where NhietDoTT = @p_NhietDoTT
					and TyTrong15 in  (select Min (TyTrong15)  from tblTyTrong15E5 where NhietDoTT = @p_NhietDoTT			
												and TyTrong15 >= @p_TyTrong15) 
			
			--print convert (nvarchar(20),@p_TyTrongTT_1 ) 
			--print convert (nvarchar(20),@p_TyTrongTT_2 ) 
			--print convert (nvarchar(20),@p_TyTrong15_1 ) 
			--print convert (nvarchar(20),@p_TyTrong15_2 ) 
			--print convert (nvarchar(20),@p_NhietDoTT ) 
			--print convert (nvarchar(20),@p_TyTrong15 ) 
			--goto Line_TT
			
			if  isnull( @p_TyTrongTT_2,0)>0 and     isnull(@p_TyTrongTT_1,0) <=0
				begin 
				     update @pTableTmp set TyTrongTT=@p_TyTrongTT_2
						where   NhietDo=@p_NhietDoTT  and  TyTrong=@p_TyTrong15
				     goto Line_TT
				end
			if  isnull( @p_TyTrongTT_1,0)>0 and     isnull(@p_TyTrongTT_2,0) <=0
				begin 
				     update @pTableTmp set TyTrongTT=@p_TyTrongTT_1
						where   NhietDo=@p_NhietDoTT  and  TyTrong=@p_TyTrong15
				     goto Line_TT
				end
					
												
			if  isnull( @p_TyTrongTT_2,0)  =  isnull(@p_TyTrongTT_1,0)  and isnull(@p_TyTrongTT_2,0) >0
				begin 
				     update @pTableTmp set TyTrongTT=@p_TyTrongTT_2
						where   NhietDo=@p_NhietDoTT  and  TyTrong=@p_TyTrong15
				     goto Line_TT
				end
			
		    if 	isnull(@p_TyTrong15_2,0) - isnull(@p_TyTrong15_1,0) > 0
				begin
				    set @p_TyTrongTT =isnull(@p_TyTrongTT_1,0)   + 
							(  ((isnull(@p_TyTrong15,0)-isnull(@p_TyTrong15_1,0)) / (isnull(@p_TyTrong15_2,0)-isnull(@p_TyTrong15_1,0)) ) 
								* (isnull(@p_TyTrongTT_2,0)-isnull(@p_TyTrongTT_1,0)) 
							)
				   
				   
				    update @pTableTmp set TyTrongTT=@p_TyTrongTT
						where   NhietDo=@p_NhietDoTT  and  TyTrong=@p_TyTrong15
				    goto Line_TT
				end
			else
				begin
				   print convert (nvarchar(20),@p_NhietDoTT )  +  '         ' + convert (nvarchar(20),@p_TyTrong15 )
				end
			Line_TT:
	
			FETCH NEXT FROM p_Cursor   INTO  @p_NhietDoTT  ,@p_TyTrong15
		end
	--END   
	CLOSE p_Cursor
	DEALLOCATE p_Cursor
	
	
	--select SoLenh, MaHangHoa, dbo.FPT_ROUNDNUMBER (	sum( NhietDo *SluongThucXuat) / sum(SluongThucXuat) ,2) as NhietDoBQGQ
	--							,dbo.FPT_ROUNDNUMBER ( sum( TyTrong *SluongThucXuat) /sum(SluongThucXuat),4) as D15BQGQ
	--	from @pTableTmp Group by SoLenh, MaHangHoa

   select * from @pTableTmp
END