

ALTER PROCEDURE [dbo].[KV2_BM_05_04_01]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,
	
	@p_MaHangHoa nvarchar(18),
	
	@p_MaPhuongTien nvarchar(50),
	@p_MaKhachHang nvarchar(50)
AS
BEGIN

	
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	

	
	declare @TableVar2 table (
			MeterID nvarchar(50)
			)
	insert into @TableVar2
	select MeterId  from vwMeterAll --where Client =ISNULL(@p_Client,client) 
			
	
	declare @TableVar3 table (
			Client nvarchar(50)
			)
	insert into @TableVar3
	select Client   from FPT_Client_V  --where Client =ISNULL(@p_Client,client) 
	
	
	declare @TableVar1 table (
		MaKhachHang  nvarchar(100), 
		TenKhachHang  nvarchar(500), 
		NguoiVanChuyen nvarchar(500), 
		MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			SoLuongDuXuat_Ndo decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			TyTrongTT decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime,
			DVT nvarchar(10),
			gst numeric
			--CustomerID nchar(5) NOT NULL			
			)		
	insert into @TableVar1
		(	MaKhachHang  ,
			TenKhachHang,
			NguoiVanChuyen,
			MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat 
				,SoLuongDuXuat_Ndo
				,BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				 NhietDo,
				TyTrong ,
				TyTrongTT,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst )
	SELECT 
		a.MaKhachHang,
		a.TenKhachHang,
		 a.NguoiVanChuyen,
		 a.MaHangHoa, 
				a.TenHangHoa, 
				a.SoLenh, 
				a.SoLuongDuXuat as SoLuongThucXuat, 
				a.SoLuongThucXuat as SoLuongDuXuat_Ndo,
				a.BeXuat, 
				a.MaPhuongTien,
				a.MaLuuLuongKe as SoCongTo, 
				a.Sl_llkebd,
				a.Sl_llkekt,
				a.MaEntry,
				--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
				NhietDo as NhietDo,
				case when a.[Status] = '3' then --dbo.fm_TyTrongE5 (a.LineID, a.MaLenh, a.NgayXuat) 
				0 else TyTrong_15 end as  TyTrong,
				0 as TyTrongTT,
				0.0000 as VCF, 
				0 as SluongQC, 
				case when a.[Status] = '3' then isnull(a.NgayTichKe,a.NgayXuat)
				else a.ThoiGianDau end as GioXuatKho,
				a.[Status], client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst
		from FPT_LenhXuat_TongHop_v a, @TableVar2 bb
		where convert(date,ThoiGianDau)>=@p_Fdate and 
			CONVERT(date,ThoiGianDau)<=@p_TDate 
					and a.Status in ('31','4','5')
					and a.MaVanChuyen = 'ZT' 	
					and a.MaLuuLuongKe =bb.MeterID 				
				and  a.MaHangHoa = ISNULL(@p_MaHangHoa,a.mahanghoa) -- case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
				 and a.MaPhuongTien =isnull(@p_MaPhuongTien,a.maphuongtien)  
				  
				and a.MaKhachHang =isnull(@p_MaKhachHang,a.MaKhachHang)  
					
		--update  @TableVar1 set  	ThoiGianDau=isnull(NgayTichKe,NgayXuat), 
		--			TyTrong=(select Dens_nd from FPT_tblTankActive_V where Name_nd = BeXuat and Date1 = convert(date,ISNULL( NgayTichKe,NgayXuat )))					
					
		--where [Status] = '3'
		
		
		
		update @TableVar1 set DVT ='L15' where MaHangHoa not like '07%'
		update @TableVar1 set DVT ='KG' where MaHangHoa  like '07%'
	
		
		select MaKhachHang,
				TenKhachHang, 
				MaHangHoa, 
			   TenHangHoa,
			   SoLenh, 
			    SluongThucXuat, 
			 --  BeXuat, 
			   MaPhuongTien,
			   NguoiVanChuyen,
			   (select DiemTraHang from tbllenhxuatE5 where SoLenh=abc.SoLenh) as DiemTraHang ,
			--   SoCongTo,
				
			    NhietDo,
			   TyTrong,
			   TyTrongTT,
			    WCF,
			   round( WCF* SluongThucXuat,0) as KG,
			  convert(decimal(14,4), case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then round(gst/SluongThucXuat,4) else 
				VCF end)  as VCF,
			  case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then gst else 
			    dbo.zzFPT_mdlQCI_CalculateQCI_NS (
								SluongThucXuat, 
								'L',
								(NhietDo * SluongThucXuat) / (SluongThucXuat),
								TyTrong,MaHangHoa,VCF
								) end as SluongQC
				--GioXuatKho,
				--NgayXuatKho,
				--[Status],
				--DVT,
				--gst
				from  (
		select MaKhachHang,
				TenKhachHang,
				 MaHangHoa, 
			   TenHangHoa,
			   SoLenh, 
			   SoLuongDuXuat as SluongThucXuat, 
			   BeXuat, 
			   MaPhuongTien,
			   NguoiVanChuyen,
			   SoCongTo, 			  
			   NhietDo,
			  -- avg(TyTrong) as TyTrong,
			   TyTrong,
			   0.0 as TyTrongTT,
			  TyTrong - 0.0011 as WCF,
			 -- 0.0000 as VCF, --BM_05_04.VCF, 
			case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then '0' else  dbo.zzFPT_mdlQCI_GetVCF_NS (NhietDo , TyTrong) end as VCF,
			  0 as SluongQC,   	   
			convert(char(5), GioXuatKho, 108)	as GioXuatKho,			
			 GioXuatKho	as NgayXuatKho,		
			Status ,
			DVT		,
			gst	   					   	
		from  @TableVar1 ----where Status <>'3'			
		--group by MaHangHoa, TenHangHoa, SoLenh,  BeXuat, MaPhuongTien, SoCongTo, [Status],DVT 
			
		) abc
END