

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create TRIGGER [dbo].[tblTD_Wagon_Upd]
   ON  [dbo].[TD_Wagon]
   AFTER UPDATE
AS 
BEGIN
	INSERT INTO [TD_Wagon_Hist]
							  
									   ([ID_LenhXuat]
									   ,[SoLenh]
									   ,[LineID]
									   ,[Ma_lenh]
									   ,[Ngay_ctu]
									   ,[Ma_ngan]
									   ,[Ma_hhoa]
									   ,[So_ptien]
									   ,[Sl_preset]
									   ,[Sl_ltt]
									   ,[Nhiet_do]
									   ,[Thoigiandau]
									   ,[Thoigiancuoi]
									   ,[Ma_hong]
									   ,[Trang_thai]
									   ,[sl_llkebd]
									   ,[sl_llkekt]
									   ,[CreateDate]
									   ,[UpdateDate]
									   ,[cStatus]
									   )
     
													   						    
			SELECT [ID_LenhXuat]
									   ,[SoLenh]
									   ,[LineID]
									   ,[Ma_lenh]
									   ,[Ngay_ctu]
									   ,[Ma_ngan]
									   ,[Ma_hhoa]
									   ,[So_ptien]
									   ,[Sl_preset]
									   ,[Sl_ltt]
									   ,[Nhiet_do]
									   ,[Thoigiandau]
									   ,[Thoigiancuoi]
									   ,[Ma_hong]
									   ,[Trang_thai]
									   ,[sl_llkebd]
									   ,[sl_llkekt]
									   ,getdate ()  as [CreateDate]
									   ,getdate ()  as [UpdateDate]
									   ,'U' [cStatus]									 
						  
							  FROM inserted  
END
