------Chay tren may chu du phong
select count(*) from  PH_Xitec  where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   PH_FO where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   PH_wagon where ngay_ctu='2018-05-16 00:00:00.000'

select count(*) from  SERVER_HTTG.[HTTG_UAT].[dbo].PH_Xitec  where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   SERVER_HTTG.[HTTG_UAT].[dbo].PH_FO where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   SERVER_HTTG.[HTTG_UAT].[dbo].PH_wagon where ngay_ctu='2018-05-16 00:00:00.000'



select count(*) from  TD_Xitec  where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   TD_FO where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   TD_wagon where ngay_ctu='2018-05-16 00:00:00.000'

select count(*) from  SERVER_HTTG.[HTTG_UAT].[dbo].TD_Xitec  where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   SERVER_HTTG.[HTTG_UAT].[dbo].TD_FO where ngay_ctu='2018-05-16 00:00:00.000'
select count(*) from   SERVER_HTTG.[HTTG_UAT].[dbo].TD_wagon where ngay_ctu='2018-05-16 00:00:00.000'




select count (*) from tbllenhxuate5 where ngayxuat ='2018-05-9 00:00:00.000'
select count (*) from  tbllenhxuat_HangHoae5 where ngayxuat ='2018-05-9 00:00:00.000'
select count (*) from  tbllenhxuatChiTiete5 where ngayxuat ='2018-05-9 00:00:00.000'

select count (*) from SERVER_HTTG.[HTTG_UAT].[dbo].tbllenhxuate5 where ngayxuat ='2018-05-9 00:00:00.000'
select count (*) from  SERVER_HTTG.[HTTG_UAT].[dbo].tbllenhxuat_HangHoae5 where ngayxuat ='2018-05-9 00:00:00.000'
select count (*) from  SERVER_HTTG.[HTTG_UAT].[dbo].tbllenhxuatChiTiete5 where ngayxuat ='2018-05-9 00:00:00.000'
