

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter TRIGGER [dbo].[tblLenhXuat_HangHoaE5_UPD]
   ON  [dbo].[tblLenhXuat_HangHoaE5]
   AFTER UPDATE
AS 
BEGIN
	INSERT INTO [tblLenhXuat_HangHoaE5_Hist]
							   ([LineID]
						   ,[MaLenh]
						   ,[NgayXuat]
						   ,[SoLenh]
						   ,[TongXuat]
						   ,[TongDuXuat]
						   ,[MaHangHoa]
						   ,[DonViTinh]
						   ,[BeXuat]
						   ,[TableID]
						   ,[MeterId]
						   ,[Createby]
						   ,[UpdatedBy]
						   ,[CreateDate]
						   ,[UpdateDate]
						   ,[QCI_KG]
						   ,[QCI_NhietDo]
						   ,[QCI_TyTrong]
						   ,[DonGia]
						   ,[CurrencyKey]
						   ,[VCF]
						   ,[WCF]
						   ,[NhietDo_BQGQ]
						   ,[D15_BQGQ]
						   ,[KG]
						   ,[L15]
						   ,[GiaCty]
						   ,[PhiVT]
						   ,[TheBVMT]
						   ,[cStatus] ,SynDate 
						    , SynStatus
											   )
    
			SELECT 
						[LineID]
							   ,[MaLenh]
							   ,[NgayXuat]
							   ,[SoLenh]
							   ,[TongXuat]
							   ,[TongDuXuat]
							   ,[MaHangHoa]
							   ,[DonViTinh]
							   ,[BeXuat]
							   ,[TableID]
							   ,[MeterId]
							   ,[Createby]
							   ,[UpdatedBy]
							   ,[CreateDate]
							   ,getdate () as [UpdateDate]
							   ,[QCI_KG]
							   ,[QCI_NhietDo]
							   ,[QCI_TyTrong]
							   ,[DonGia]
							   ,[CurrencyKey]
							   ,[VCF]
							   ,[WCF]
							   ,[NhietDo_BQGQ]
							   ,[D15_BQGQ]
							   ,[KG]
							   ,[L15]
							   ,[GiaCty]
							   ,[PhiVT]
							   ,[TheBVMT]
							   ,'U' as [cStatus]	 ,SynDate 
						    , SynStatus	   
							  FROM inserted   
END
