
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter TRIGGER [dbo].[tblLenhXuatChiTietE5_DEL]
   ON [dbo].[tblLenhXuatChiTietE5]
   AFTER DELETE
AS 
BEGIN
	INSERT INTO [tblLenhXuatChiTietE5_Hist]
					   ([MaNgan]
           ,[MaLenh]
           ,[NgayXuat]
           ,[LineID]
           ,[SoLuongDuXuat]
           ,[SoLuongThucXuat]
           ,[ThoiGianDau]
           ,[ThoiGianCuoi]
           ,[Sl_llkebd]
           ,[Sl_llkekt]
           ,[HeSo_k]
           ,[NhietDo]
           ,[TyTrong_15]
           ,[MaDanXuat]
           ,[MaLoi]
           ,[TrangThai]
           ,[MaLuuLuongKe]
           ,[MaEntry]
           ,[MaLo]
           ,[GhiChu]
           ,[Status]
           ,[ERate]
           ,[GV]
           ,[GST]
           ,[GVTOTAL_START]
           ,[GVTOTAL_END]
           ,[GSTTOTAL_START]
           ,[GSTTOTAL_END]
           ,[KF]
           ,[KF_E]
           ,[TY_TRONG]
           ,[AVG_MF]
           ,[AVG_MF_E]
           ,[AVG_CTL]
           ,[AVG_CTL_E]
           ,[AVG_CTL_BASE]
           ,[RTD_OFFSET]
           ,[GV_E]
           ,[GST_E]
           ,[GVTOTAL_E_START]
           ,[GVTOTAL_E_END]
           ,[GSTTOTAL_E_START]
           ,[GSTTOTAL_E_END]
           ,[GV_BASE]
           ,[GST_BASE]
           ,[GVTOTAL_BASE_START]
           ,[GVTOTAL_BASE_END]
           ,[GSTTOTAL_BASE_START]
           ,[GSTTOTAL_BASE_END]
           ,[TYLE_TTE]
           ,[V_PRESET]
           ,[TYLE_PRESET]
           ,[TYTRONG_BASE]
           ,[TYTRONG_E]
           ,[NGAY_DKY]
           ,[NGAY_BD]
           ,[NGAY_KT]
           ,[SO_CTU]
           ,[MA_LENH]
           ,[CARD_DATA]
           ,[MA_NGAN]
           ,[MA_HHOA]
           ,[MA_HONG]
           ,[MA_KHO]
           ,[NHIET_DOTB]
           ,[TRANG_THAI]
           ,[SO_PTIEN]
           ,[LAI_XE]
           ,[TY_TRONGTB]
           ,[TY_TRONGTB_BASE]
           ,[TY_TRONGTB_E]
           ,[MASS]
           ,[MASS_BASE]
           ,[MASS_E]
           ,[MASSTOTAL_START]
           ,[MASSTOTAL_END]
           ,[MASSTOTAL_BASE_START]
           ,[MASSTOTAL_BASE_END]
           ,[MASSTOTAL_E_START]
           ,[MASSTOTAL_E_END]
           ,[Createby]
           ,[UpdatedBy]
           ,[CreateDate]
           ,[UpdateDate]
           ,[DungTichNgan]
           ,[TableID]
           ,[MaTuDongHoa]
           ,[Row_id]
           ,[PhuongTien]
           ,[Record_Status]
           ,[SO_TT]
           ,[FlagTankLine]
           ,[GST_TDH]
           ,[cStatus] ,SynDate 
						    , SynStatus)
		 SELECT
					[MaNgan]
           ,[MaLenh]
           ,[NgayXuat]
           ,[LineID]
           ,[SoLuongDuXuat]
           ,[SoLuongThucXuat]
           ,[ThoiGianDau]
           ,[ThoiGianCuoi]
           ,[Sl_llkebd]
           ,[Sl_llkekt]
           ,[HeSo_k]
           ,[NhietDo]
           ,[TyTrong_15]
           ,[MaDanXuat]
           ,[MaLoi]
           ,[TrangThai]
           ,[MaLuuLuongKe]
           ,[MaEntry]
           ,[MaLo]
           ,[GhiChu]
           ,[Status]
           ,[ERate]
           ,[GV]
           ,[GST]
           ,[GVTOTAL_START]
           ,[GVTOTAL_END]
           ,[GSTTOTAL_START]
           ,[GSTTOTAL_END]
           ,[KF]
           ,[KF_E]
           ,[TY_TRONG]
           ,[AVG_MF]
           ,[AVG_MF_E]
           ,[AVG_CTL]
           ,[AVG_CTL_E]
           ,[AVG_CTL_BASE]
           ,[RTD_OFFSET]
           ,[GV_E]
           ,[GST_E]
           ,[GVTOTAL_E_START]
           ,[GVTOTAL_E_END]
           ,[GSTTOTAL_E_START]
           ,[GSTTOTAL_E_END]
           ,[GV_BASE]
           ,[GST_BASE]
           ,[GVTOTAL_BASE_START]
           ,[GVTOTAL_BASE_END]
           ,[GSTTOTAL_BASE_START]
           ,[GSTTOTAL_BASE_END]
           ,[TYLE_TTE]
           ,[V_PRESET]
           ,[TYLE_PRESET]
           ,[TYTRONG_BASE]
           ,[TYTRONG_E]
           ,[NGAY_DKY]
           ,[NGAY_BD]
           ,[NGAY_KT]
           ,[SO_CTU]
           ,[MA_LENH]
           ,[CARD_DATA]
           ,[MA_NGAN]
           ,[MA_HHOA]
           ,[MA_HONG]
           ,[MA_KHO]
           ,[NHIET_DOTB]
           ,[TRANG_THAI]
           ,[SO_PTIEN]
           ,[LAI_XE]
           ,[TY_TRONGTB]
           ,[TY_TRONGTB_BASE]
           ,[TY_TRONGTB_E]
           ,[MASS]
           ,[MASS_BASE]
           ,[MASS_E]
           ,[MASSTOTAL_START]
           ,[MASSTOTAL_END]
           ,[MASSTOTAL_BASE_START]
           ,[MASSTOTAL_BASE_END]
           ,[MASSTOTAL_E_START]
           ,[MASSTOTAL_E_END]
           ,[Createby]
           ,[UpdatedBy]
           ,[CreateDate]
           ,getdate () as [UpdateDate]
           ,[DungTichNgan]
           ,[TableID]
           ,[MaTuDongHoa]
           ,[Row_id]
           ,[PhuongTien]
           ,[Record_Status]
           ,[SO_TT]
           ,[FlagTankLine]
           ,[GST_TDH]
           ,'D' as [cStatus] ,SynDate 
						    , SynStatus
		FROM deleted 

END
