
-- =============================================
-- Author:		anhqh
-- Create date: 20150120
-- Description:	Trigger Insert
-- =============================================
alter TRIGGER [dbo].[tblLenhXuatE5_INS]
   ON  [dbo].[tblLenhXuatE5]
   AFTER INSERT
AS 
BEGIN
		INSERT INTO [tblLenhXuatE5_Hist]
					   ([MaLenh]
						   ,[NgayXuat]
						   ,[SoLenh]
						   ,[MaDonVi]
						   ,[MaNguon]
						   ,[MaKho]
						   ,[MaVanChuyen]
						   ,[MaPhuongTien]
						   ,[NguoiVanChuyen]
						   ,[MaPhuongThucBan]
						   ,[MaPhuongThucXuat]
						   ,[MaKhachHang]
						   ,[LoaiPhieu]
						   ,[Niem]
						   ,[LuongGiamDinh]
						   ,[NhietDoTaiTau]
						   ,[GhiChu]
						   ,[NgayHieuLuc]
						   ,[Status]
						   ,[Number]
						   ,[Createby]
						   ,[UpdatedBy]
						   ,[CreateDate]
						   ,[UpdateDate]
						   ,[SoLenhSAP]
						   ,[Client]
						   ,[HTTG]
						   ,[Approved]
						   ,[User_Approve]
						   ,[Date_Approve]
						   ,[EditApprove]
						   ,[NhaCungCap]
						   ,[AppDesc]
						   ,[AppN30]
						   ,[AppN30Date]
						   ,[AppN30User]
						   ,[QCI_KG]
						   ,[QCI_NhietDo]
						   ,[Slog]
						   ,[NgayHetHieuLuc]
						   ,[NgayTichKe]
						   ,[STO]
						   ,[NguoiDaiDien]
						   ,[DonViCungCapVanTai]
						   ,[UserTichKe]
						   ,[DiemTraHang]
						   ,[Tax]
						   ,[PaymentMethod]
						   ,[Term]
						   ,[MaKhoNhap]
						   ,[SoHopDong]
						   ,[NgayHopDong]
						   ,[TyGia]
						   ,[SoTKHQNhap]
						   ,[SoTKHQXuat]
						   ,[SelfShipping]
						   ,[PriceGroup]
						   ,[Inco1]
						   ,[Inco2]
						   ,[SoPXK]
						   ,[NgayPXK]
						   ,[MaTuyenDuong]
						   ,[XuatHangGui]
						   ,[So_TKTN]
						   ,[So_TKTX]
						   ,[Ngay_TKTX]
						   ,[DischargePoint]
						   ,[DesDischargePoint]
						   ,[BSART]
						   ,[BWART]
						   ,[VTWEG]
						   ,[TenKhoNhap]
						   ,[Xitec_option]
						   ,[cStatus]
						   ,SynDate 
						    , SynStatus)
				SELECT 
					   [MaLenh]
						   ,[NgayXuat]
						   ,[SoLenh]
						   ,[MaDonVi]
						   ,[MaNguon]
						   ,[MaKho]
						   ,[MaVanChuyen]
						   ,[MaPhuongTien]
						   ,[NguoiVanChuyen]
						   ,[MaPhuongThucBan]
						   ,[MaPhuongThucXuat]
						   ,[MaKhachHang]
						   ,[LoaiPhieu]
						   ,[Niem]
						   ,[LuongGiamDinh]
						   ,[NhietDoTaiTau]
						   ,[GhiChu]
						   ,[NgayHieuLuc]
						   ,[Status]
						   ,[Number]
						   ,[Createby]
						   ,[UpdatedBy]
						   ,[CreateDate]
						   ,getdate () as [UpdateDate]
						   ,[SoLenhSAP]
						   ,[Client]
						   ,[HTTG]
						   ,[Approved]
						   ,[User_Approve]
						   ,[Date_Approve]
						   ,[EditApprove]
						   ,[NhaCungCap]
						   ,[AppDesc]
						   ,[AppN30]
						   ,[AppN30Date]
						   ,[AppN30User]
						   ,[QCI_KG]
						   ,[QCI_NhietDo]
						   ,[Slog]
						   ,[NgayHetHieuLuc]
						   ,[NgayTichKe]
						   ,[STO]
						   ,[NguoiDaiDien]
						   ,[DonViCungCapVanTai]
						   ,[UserTichKe]
						   ,[DiemTraHang]
						   ,[Tax]
						   ,[PaymentMethod]
						   ,[Term]
						   ,[MaKhoNhap]
						   ,[SoHopDong]
						   ,[NgayHopDong]
						   ,[TyGia]
						   ,[SoTKHQNhap]
						   ,[SoTKHQXuat]
						   ,[SelfShipping]
						   ,[PriceGroup]
						   ,[Inco1]
						   ,[Inco2]
						   ,[SoPXK]
						   ,[NgayPXK]
						   ,[MaTuyenDuong]
						   ,[XuatHangGui]
						   ,[So_TKTN]
						   ,[So_TKTX]
						   ,[Ngay_TKTX]
						   ,[DischargePoint]
						   ,[DesDischargePoint]
						   ,[BSART]
						   ,[BWART]
						   ,[VTWEG]
						   ,[TenKhoNhap]
						   ,[Xitec_option]
						   ,'I' as [cStatus] ,SynDate 
						    , SynStatus FROM Inserted
		
END
