USE [HTTG_UAT]
GO
/****** Object:  Trigger [dbo].[tblTankActive_UPD]    Script Date: 05/23/2018 13:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		anhqh
-- Create date: 20150120
-- Description:	Trigger Insert
-- =============================================
ALTER TRIGGER [dbo].[tblTankActive_UPD]
   ON  [dbo].[tblTankActive]
   FOR UPDATE
AS 
BEGIN
		INSERT INTO [tblTankActive_Hist]
					   ([Date_nd]
						   ,[Name_nd]
						   ,[Dens_nd]
						   ,[Product_nd]
						   ,[Createby]
						   ,[CreateDate]
						   ,[cStatus]
						   ,[UpdateDate]						   
						   ,[UpdatedBy],
						   HistDate)
				SELECT 
					   [Date_nd]
					   ,[Name_nd]
					   ,[Dens_nd]
					   ,[Product_nd]
					   ,[Createby]
					   --,--[CreateDate] 
					   ,getdate()
					   ,'U'
					 -- UpdateDate,
					  -- [UpdatedBy]
					    ,(select  UpdateDate from inserted where Date_nd =deleted.Date_nd and Name_nd=deleted.Name_nd and Product_nd=deleted.Product_nd)
						, (select  UpdatedBy from inserted where Date_nd =deleted.Date_nd and Name_nd=deleted.Name_nd and Product_nd=deleted.Product_nd) 
					,GETDATE()
				FROM deleted  
		
END
