
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter PROCEDURE [dbo].[FPT_KiemTratrangThai]
	@p_SoLenh nvarchar (1550),
	@p_TrangThai nvarchar(10)
	,@p_Int int =0 
AS
BEGIN
	
   begin try  
			 if isnull(@p_Int,0) =0 
				begin
					select N'' as sNote, 0 as Err where 1=0
				end
			else
				begin
			 ---- select N'Trạng thái lệnh không hợp lệ' as sNote, 1 as Err from tblLenhXuatE5 with (nolock)
				----where ---SoLenh=@p_SoLenh
				----	charindex(SoLenh,@p_SoLenh,1) >0
				----	and ISNULL(case when Status ='' then '1' else Status  end,'1') >isnull(@p_TrangThai,'1')
			 ---- union all
					  select N'Không được đặt ngăn ' + MaNgan + N' nhiều chủ hàng' as sNote, 1 as Err from (
								select distinct  b.MaKhachHang , a.MaNgan from FPT_tblLenhXuatChiTietE5_V a, tblLenhXuatE5 b with(nolock)
									where charindex(b.SoLenh,@p_SoLenh,1)  >0 
										and a.SoLenh =b.SoLenh ) abc
								group by MaNgan having Count(MaKhachHang) >1
				end
		--end 
   end try
   
   begin catch
       select N'Lỗi khi kiểm tra lệnh xuất' as sNote, 1 as Err
   end catch
    
	
END

