
-- =============================================
-- Author:		anhqh
-- Create date: 20191024
-- Description:	Ham thuc hien luu thong tin cho Tao moi, Huy BBGN
-- =============================================
ALTER PROCEDURE [dbo].[BienBanGiaoNhan_Hist]
	@p_SoBienBan nvarchar(100)
	,@p_SoLenh nvarchar(2000)
	,@p_UserName nvarchar(100)
	,@p_sDesc nvarchar(2000)
	,@p_Status nvarchar(10)
	,@p_Client nvarchar(100)
AS
BEGIN
	declare @p_SoTichKe  nvarchar(100)
	 declare @p_NgayXuat as nvarchar(100)
	 declare @p_NgayTichKe as datetime
	 
	 
	 declare @p_Row_ID int 
	 
	declare @tblSoLenh table (SoLenh nvarchar(100)
					, RowID int	
				)
	if isnull(@p_SoBienBan,'') =''
			begin
				select 1 as ErrNum, N'Số Biên bản không hợp lệ' as sDesc	
				return
			end
	
	select  top 1 @p_SoTichKe =SoTichKe ,@p_NgayXuat =NgayXuat ,@p_NgayTichKe =NgayTichKe
				 from tblTichKe with (nolock)where   charindex(',' + SoLenh + ',',',' + @p_SoLenh + ',',1) >0
							 --- where SoBienBan=@p_SoBienBan
	begin try
		begin tran 
			
			
		-----thong tin BBGN
			if @p_Status='I'   ---Tao moi so BBGN
				begin	
					--===================================			
					insert into @tblSoLenh  (SoLenh, RowID)
					select SoLenh, Row_ID
							 from fpt_tbllenhxuatChitietE5_V  
								where   charindex(',' + SoLenh + ',',',' + @p_SoLenh + ',',1) >0
					--===================================			
					INSERT INTO [dbo].[tblBienBanGiaoNhan_Hist]
							   (SoLenh,[SoTichKe] ,[NgayXuat] ,[NgayTichKe]
							   ,[SoBienBan] ,[CreateDate] ,[CreateUser] 
							    ,sStatus, Client)
					----OUTPUT Inserted.Row_ID INTO 
					select @p_SoLenh , @p_SoTichKe ,@p_NgayXuat ,@p_NgayTichKe				
							   ,@p_SoBienBan, getdate() as CreateDate , @p_UserName as  CreateUser 
							   , @p_Status as sStatus , @p_Client
							   
					 set @p_Row_ID =  (SELECT @@IDENTITY)
				end
			else  ----Huy  BBGN
				begin
				        --===================================
					set @p_SoLenh = (SELECT distinct SoLenh + ',' 				
									FROM tblTichKe with(nolock)
									 where  SoTichKe=@p_SoTichKe  and NgayTichKe = @p_NgayTichKe
									FOR XML PATH (''))
					insert into @tblSoLenh  (SoLenh, RowID)
					select SoLenh, Row_ID
							 from fpt_tbllenhxuatChitietE5_V  
								where   charindex(',' + SoLenh + ',',',' + @p_SoLenh + ',',1) >0
						--===================================				
					INSERT INTO [dbo].[tblBienBanGiaoNhan_Hist]
							   (SoLenh, [SoTichKe] ,[NgayXuat] ,[NgayTichKe]
							   ,[SoBienBan] ,CancelDate ,CancelUser 
							    ,sStatus, sDesc, Client)
					select @p_SoLenh, @p_SoTichKe ,@p_NgayXuat ,@p_NgayTichKe				
							   ,@p_SoBienBan,  getdate() as CancelDate , @p_UserName as  CancelUser 
							   , @p_Status as sStatus, @p_sDesc  as sDesc , @p_Client
					set @p_Row_ID =  (SELECT @@IDENTITY)
					update tblTichKe set SoBienBan =null where SoBienBan =@p_SoBienBan
				end
		------Thong tin Lenh xuat
		INSERT INTO [dbo].[tbllenhxuate5_BienBan]
           ([MaLenh],[NgayXuat] ,[SoLenh],[MaDonVi],[MaNguon]  ,[MaKho] ,[MaVanChuyen],[MaPhuongTien]
           ,[NguoiVanChuyen],[MaPhuongThucBan],[MaPhuongThucXuat],[MaKhachHang],[LoaiPhieu]
           ,[Niem],[LuongGiamDinh],[NhietDoTaiTau] ,[GhiChu],[NgayHieuLuc],[Status]
           ,[Number],[Createby],[UpdatedBy] ,[CreateDate],[UpdateDate],[SoLenhSAP]
           ,[Client],[HTTG],[Approved],[User_Approve] ,[Date_Approve],[EditApprove]
           ,[NhaCungCap],[AppDesc],[AppN30],[AppN30Date],[AppN30User],[QCI_KG]
           ,[QCI_NhietDo] ,[Slog],[NgayHetHieuLuc] ,[NgayTichKe],[STO],[NguoiDaiDien]
           ,[DonViCungCapVanTai],[UserTichKe] ,[DiemTraHang],[Tax] ,[PaymentMethod]
           ,[Term],[MaKhoNhap],[SoHopDong],[NgayHopDong],[TyGia] ,[SoTKHQNhap]
           ,[SoTKHQXuat],[SelfShipping] ,[PriceGroup],[Inco1],[Inco2],[SoPXK]
           ,[NgayPXK],[MaTuyenDuong],[XuatHangGui],[So_TKTN],[So_TKTX],[Ngay_TKTX]
           ,[PTXuat_ID],[DischargePoint],[DesDischargePoint],[BSART],[BWART]
           ,[VTWEG],[TenKhoNhap],[Xitec_Option] ,[SoLenhGoc],[Dem] ,[PTIEN]
           ,[SCHUYEN],[NgayVaoKho],[SMO_ID],[CardNum],[CardData],[MaTraCuu],[TongSoNiem]
           ,[SoBienBanMau],[SoBienBan], BienBan_ID)
		select [MaLenh],[NgayXuat] ,[SoLenh],[MaDonVi],[MaNguon]  ,[MaKho] ,[MaVanChuyen],[MaPhuongTien]
           ,[NguoiVanChuyen],[MaPhuongThucBan],[MaPhuongThucXuat],[MaKhachHang],[LoaiPhieu]
           ,[Niem],[LuongGiamDinh],[NhietDoTaiTau] ,[GhiChu],[NgayHieuLuc],[Status]
           ,[Number],[Createby],[UpdatedBy] ,[CreateDate],[UpdateDate],[SoLenhSAP]
           ,[Client],[HTTG],[Approved],[User_Approve] ,[Date_Approve],[EditApprove]
           ,[NhaCungCap],[AppDesc],[AppN30],[AppN30Date],[AppN30User],[QCI_KG]
           ,[QCI_NhietDo] ,[Slog],[NgayHetHieuLuc] ,[NgayTichKe],[STO],[NguoiDaiDien]
           ,[DonViCungCapVanTai],[UserTichKe] ,[DiemTraHang],[Tax] ,[PaymentMethod]
           ,[Term],[MaKhoNhap],[SoHopDong],[NgayHopDong],[TyGia] ,[SoTKHQNhap]
           ,[SoTKHQXuat],[SelfShipping] ,[PriceGroup],[Inco1],[Inco2],[SoPXK]
           ,[NgayPXK],[MaTuyenDuong],[XuatHangGui],[So_TKTN],[So_TKTX],[Ngay_TKTX]
           ,[PTXuat_ID],[DischargePoint],[DesDischargePoint],[BSART],[BWART]
           ,[VTWEG],[TenKhoNhap],[Xitec_Option] ,[SoLenhGoc],[Dem] ,[PTIEN]
           ,[SCHUYEN],[NgayVaoKho],[SMO_ID],[CardNum],[CardData],[MaTraCuu],[TongSoNiem]
           ,[SoBienBanMau],@p_SoBienBan as SoBienBan, @p_Row_ID as BienBanID
        from  tblLenhXuatE5  a  with (nolock) where 
				 exists (select 1 from @tblSoLenh b where a.SoLenh =b.SoLenh)
        
        
        INSERT INTO [dbo].[tbllenhxuatChiTiete5_BienBan]
           ([MaNgan],[MaLenh] ,[NgayXuat],[LineID],[SoLuongDuXuat] ,[SoLuongThucXuat]
           ,[ThoiGianDau] ,[ThoiGianCuoi],[Sl_llkebd],[Sl_llkekt],[NhietDo],[TyTrong_15]
           ,[MaLuuLuongKe],[MaEntry]  ,[GhiChu] ,[GV],[GST],[TYLE_TTE],[MA_HONG],[NHIET_DOTB] 
           ,[TY_TRONGTB] ,[DungTichNgan],[TableID],[MaTuDongHoa],[PhuongTien],[SO_TT]
           ,[FlagTankLine],[GST_TDH],[CardNum],[CardData],[SoBienBan], BienBan_ID)
		SELECT [MaNgan],[MaLenh] ,[NgayXuat],[LineID],[SoLuongDuXuat] ,[SoLuongThucXuat]
           ,[ThoiGianDau] ,[ThoiGianCuoi],[Sl_llkebd],[Sl_llkekt],[NhietDo],[TyTrong_15]
           ,[MaLuuLuongKe],[MaEntry]  ,[GhiChu] ,[GV],[GST],[TYLE_TTE],[MA_HONG],[NHIET_DOTB] 
           ,[TY_TRONGTB] ,[DungTichNgan],[TableID],[MaTuDongHoa],[PhuongTien],[SO_TT]
           ,[FlagTankLine],[GST_TDH],[CardNum],[CardData],@p_SoBienBan as SoBienBan
           , @p_Row_ID as BienBanID
			FROM tblLEnhXuatChiTietE5 c  where
					exists (select 1 from @tblSoLenh d where c.Row_ID =d.RowID)
        
        --select 
					
		
	
		commit tran 
		select 0 as ErrNum, N'Đã thực hiện xong' as sDesc
	end try
		
	begin catch
		rollback 
		select ERROR_NUMBER ()  as ErrNum, ERROR_MESSAGE() as sDesc
	end catch	
END
