
-- =============================================
-- Author:		anhqh
-- Create date: 27/07/2015
-- Description:	Ham lay cac tham so Ty le phoi tron, ty trong nen va ty trong Ethanol
-- =============================================
alter  PROCEDURE [dbo].[FPT_TyLe_TyTrong]
	@p_TableID nvarchar(20),
	@p_MaLenh nvarchar(10),
	@p_NgayThang date,
	@p_LineID nvarchar(20)
AS
BEGIN
	if ISNULL(@p_TableID,'')<>''
		begin
			--select ArmNo,
			--	isnull(case when ERate='' then 4.5 else erate end,0) as ERate
			--	,isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankID),0)  as XangNen
			--	, isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankE) ,0) as Ethanol
			--	 from tblMeterE5 aa with (nolock) where exists (
			--	select 1 from tblLenhXuat_HangHoaE5 b with (nolock) where TableID=@p_TableID and b.MeterID=aa.MeterID
			--			and exists  (select 1 from tblHangHoaE5 b1 where b1.MaHangHoa=b.MaHangHoa)
			--		)--and aa.TankE5=b.BeXuat)
			select top 1 ArmNo,
				isnull(case when ERate='' then 4.5 else erate end,0) as ERate
				,isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankID),0)  as XangNen
				, isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankE) ,0) as Ethanol
				 from tblMeterE5 aa with (nolock) where exists (
				select 1 from tblLenhXuat_HangHoaE5 b with (nolock) where TableID= @p_TableID
					and aa.MeterID = case when isnull( b.MeterID,'') <> '' then  b.MeterID else  aa.MeterID end 
						and exists  (select 1 from tblHangHoaE5 b1 where b1.MaHangHoa=b.MaHangHoa)   and b.MaHangHoa = aa.ProductCode 
					)--and aa.TankE5=b.BeXuat)

		end
	else
		begin
			--select ArmNo,
			--	isnull(case when ERate='' then 0 else erate end,0) as ERate
			--	,isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankID),0)  as XangNen
			--	,isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankE),0) as Ethanol
			--	 from tblMeterE5 aa with (nolock) where exists (
			--	select 1 from tblLenhXuat_HangHoaE5 b with (nolock) where 
			--		MaLenh=@p_MaLenh
			--		and NgayXuat = @p_NgayThang
			--		and LineID =@p_LineID
			--		and b.MeterID=aa.MeterID and exists  (select 1 from tblHangHoaE5 b1 where b1.MaHangHoa=b.MaHangHoa)
			--		)--and aa.TankE5=b.BeXuat)
			select top 1 ArmNo,
				isnull(case when ERate='' then 4.5 else erate end,0) as ERate
				,isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankID),0)  as XangNen
				, isnull((	select top 1 Dens_nd from fpt_tblTankActive_v where date1=convert(date,GETDATE()) and Name_nd=aa.TankE) ,0) as Ethanol
				 from tblMeterE5 aa with (nolock) where exists (
				select 1 from tblLenhXuat_HangHoaE5 b with (nolock) where 
					MaLenh=@p_MaLenh
					and NgayXuat = @p_NgayThang
					and LineID =@p_LineID
					and aa.MeterID = case when isnull( b.MeterID,'') <> '' then  b.MeterID else  aa.MeterID end 
						and exists  (select 1 from tblHangHoaE5 b1 where b1.MaHangHoa=b.MaHangHoa)   and b.MaHangHoa = aa.ProductCode 
					)--and aa.TankE5=b.BeXuat)
		end
END
