

ALTER PROCEDURE [dbo].[FPT_GetTankActiveUpdateToE5_E]
	-- Add the parameters for the stored procedure here
	@p_TankE5 nvarchar(30),
	@p_Hong int
AS
BEGIN
		--declare @p_Date nvarchar(10)
		--set @p_Date =  CONVERT(nvarchar(10), getdate(), 103)
		declare @p_DateNow as datetime
		set @p_DateNow=getdate()
		--declare @p_MaHangHoa nvarchar(50)
		--
		SELECT   ISNULL( [ERate],0) as  [ERate] ,ArmNo,
					--isnull( (select [Dens_nd] from  tblTankActive where  [Name_nd] =a.TankID and  Product_nd=a.TankProduct and [Date_nd]= @p_Date),0)  as TyTrongNen,
				 --isnull(	(select [Dens_nd] from  tblTankActive where  [Name_nd] =a.TankE and  Product_nd=a.TankEProduct and [Date_nd]= @p_Date) ,0)   as TyTrongE,
				isnull( (select [Dens_nd] from  FPT_tblTankActive_V  where  [Name_nd] =a.TankID and  Product_nd=a.TankProduct and convert(date,date1)= convert(date,@p_DateNow)),0)  as TyTrongNen,
				isnull(	(select HS_GianNo from  FPT_tblTankActiveE_V where  [Name_nd] =a.TankE and  Product_nd=a.TankEProduct and convert(date,date1)= convert(date,@p_DateNow)) ,0)   as HS_GianNoE,
				isnull(	(select [Dens_nd] from  FPT_tblTankActive_V where  [Name_nd] =a.TankE and  Product_nd=a.TankEProduct and convert(date,date1)= convert(date,@p_DateNow)) ,0)   as TyTrongE,				
				
				ProductCode as Ma_Hhoa, a.TankID, a.TankE
					 FROM [vwMeterAll]  a  Where ( [TankE5]=@p_TankE5 or TankId=@p_TankE5 or  TankE=@p_TankE5)
						and exists (select 1 from tblHangHoaE5 where MaHangHoa=a.ProductCode)
						and ISNULL(ArmNo,0) = case when  ISNULL(@p_Hong,0)>0 then @p_Hong else ISNULL(ArmNo,0) end
END

