
-- =============================================
-- Author:		anhqh
-- Create date: 29/07/2015
-- Description:	Ham lay danh sach cac tham so
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GetDataTableList]
	
AS
BEGIN
	 select * from tblMap_cp;
     select * from SYS_Map_cp_Line where (bo is not null or Thuy is not null or Sat is not null); 
     select * from SYS_CONFIG; 
     SELECT *  FROM [tblMap_MaHangHoa] where MaHangHoa_Sap in (select MaHanghoa from tblHangHoaE5);
     select * from tblConfig;
END

