
-- =============================================
-- Author:		anhqh
-- Create date: 31/07/2015
-- Description:	Ham lay du lieu de in tich ke
-- =============================================
ALTER PROCEDURE [dbo].[FPT_LenhXuat_TichKe]
	@p_SoLenh nvarchar(500),
	@p_MaVach int
AS
BEGIN
--     declare @TableLenh table([MaLenh] [nvarchar](4)  NULL,
--						[NgayXuat] [datetime] ,
--						[SoLenh] [nvarchar](20) ,
--						[MaTichKe] [nvarchar](6) ,
--						[MaDonVi] [nvarchar](40),
--						[MaNguon] [nvarchar](10),
--						[MaKho] [nvarchar](40) NULL,
--						[MaVanChuyen] [nvarchar](20) NULL,
--						[MaPhuongTien] [nvarchar](20) NULL,
--						[NguoiVanChuyen] [nvarchar](200) NULL,
--						[MaPhuongThucBan] [nvarchar](50) NULL,
--						[MaKhachHang] [nvarchar](50) NULL,
--						[mangan] [nvarchar](5)  NULL,
--						[MaHangHoa] [nvarchar](50) NULL,
--						[DonViTinh] [nvarchar](10) NULL,
--						[SoLuongDuXuat] [int] NULL,
--						[SoLuongThucXuat] [int] NULL,
--						[ThoiGianDau] [datetime] NULL,
--						[ThoiGianCuoi] [datetime] NULL,
--						[Sl_llkebd] [decimal](18, 2) NULL,
--						[Sl_llkekt] [decimal](18, 2) NULL,
--						[HeSo_k] [nvarchar](10) NULL,
--						[NhietDo] [decimal](6, 2) NULL,
--						[TyTrong_15] [decimal](8, 4) NULL,
--						[Status] [varchar](2) NULL,
--						[MaBeXuat] [nvarchar](20) NULL,
--						[TenHangHoa] [nvarchar](200) NULL,
--						[Thuy] [varchar](2)  NULL,
--						[Sat] [varchar](2)  NULL,
--						[Bo] [varchar](2)  NULL,
--						[MaCongTo] [char](40) NULL,
--						[PR_KEY] [nvarchar](20)  NULL,
--						[LineID] [nvarchar](10)  NULL,
--						[TableID] [nvarchar](10)  NULL,
--						[LoaiPhieu] [nvarchar](200) NULL,
--						[MaTuDongHoa] [varchar](20) NULL) 
--declare @p_SoLenh11 varchar(20)										
--DECLARE LenhXuat CURSOR FOR   
--		select SoLenh from tbllenhxuate5 b where 
--				CHARINDEX ( SoLenh, @p_SoLenh ,1) >0 and SoLenh<>'0'
				
--OPEN LenhXuat  

--FETCH NEXT FROM LenhXuat INTO  @p_SoLenh11

--WHILE @@FETCH_STATUS = 0  
--    BEGIN
--		insert into @TableLenh
		SELECT 
				  [MaLenh]			     
				 ,isnull(NgayTichKe,GETDATE()) as NgayXuat
				  ,a.SoLenh
				  ,MaTichKe
				  ,[MaDonVi]
				  ,[MaNguon]
				  ,[MaKho]
				  ,[MaVanChuyen]
				  ,[MaPhuongTien]
				  ,[NguoiVanChuyen]
				  ,[MaPhuongThucBan]  + '-' + [TenPhuongThucBan] as [MaPhuongThucBan]      
				  ,[MaKhachHang]+ '-' + [TenKhachHang] as [MaKhachHang]
				  , mangan
				   ,[MaHangHoa]
					,[DonViTinh]
					 ,convert(int,[SoLuongDuXuat])  as SoLuongDuXuat
				  ,convert(int,[SoLuongDuXuat])  as [SoLuongThucXuat] 
					,[ThoiGianDau]
				  ,[ThoiGianCuoi]
				   ,[Sl_llkebd]
				  ,[Sl_llkekt]
				   ,convert(nvarchar(10),[HeSo_k] ) as HeSo_k
				  ,[NhietDo]
				  ,[TyTrong_15]
				  ,Status
				  ,[BeXuat] as MaBeXuat
				  ,TenHangHoa 
				  ,case when MaVanChuyen='ZB' OR MaVanChuyen='ZM' then 'X' else '' end as  Thuy
				  ,case when MaVanChuyen='ZR'  then 'X' else '' end as  Sat
				  , case when MaVanChuyen='ZR' OR MaVanChuyen='ZT' then 'X' else '' end as  Bo
			    
				 , MeterId as MaCongTo
				   ,TableID as PR_KEY
				  ,LineID
				  ,TableID
				  ,LoaiPhieu
				,MaTuDongHoa   -----into AAAA_TMP
			  FROM  FPT_LenhXuat_TongHop_v a   --where a.Solenh=@p_SoLenh11
				 where CHARINDEX ( SoLenh, @p_SoLenh ,1) >0 and SoLenh<>'0'
--			FETCH NEXT FROM LenhXuat INTO  @p_SoLenh11	
--    END
    
--CLOSE LenhXuat;  
--DEALLOCATE LenhXuat; 

--select * from @TableLenh order by MaNgan  	
END
