
ALTER PROC [dbo].[KhachHangUpdateAddress]
	@MaKhachHang	nvarchar(10),
	@DiaChiFull	nvarchar(500)
AS

   return
	UPDATE tblKhachHang SET DiaChiFull=@DiaChiFull WHERE MaKhachHang=@MaKhachHang	
