
ALTER   PROCEDURE [dbo].[sp_reports_LenhXuatKhoE5]
@SoLenh nvarchar(10)
AS
	SELECT 	lx.SoLenh, 
		lx.NgayXuat, 
		lx.NgayHieuLuc,
		lx.MaKho+' - '+k.TenKho AS KhoXuat,
		lx.MaNguon,
		lx.MaPhuongThucXuat+' - '+ptx.TenPhuongThucXuat AS PhuongThucXuat,
		lx.MaKhachHang +' - '+kh.TenKhachHang AS DVNhanHang,
		
		lx.MaPhuongTien,
		lx.NguoiVanChuyen
		,dbo.FPT_GetKhachHang_Org2
					(lx.MaKhachHang
						,lx.MaPhuongThucBan
						,kh.TenKhachhang
					) as KhachHang2
	FROM tblLenhXuatE5 AS lx
		LEFT JOIN tblKho AS k ON k.MaKho=lx.MaKho
		LEFT JOIN tblPhuongThucXuat AS ptx ON ptx.MaPhuongThucXuat=lx.MaPhuongThucXuat
		LEFT JOIN tblDonvi AS dv ON dv.MaDonVi=lx.MaDonVi 
		LEFT JOIN tblKhachHang AS kh ON kh.MaKhachHang=lx.MaKhachHang
	WHERE lx.SoLenh=@SoLenh
	
	SELECT lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh,
		 lxhh.TongDuXuat AS SoLuongDuXuat,
		 dbo.fm_DonVi_QCI(lxhh.SoLenh, lxhh.LineID, lxhh.DonViTinh) AS SoLuongThucXuat
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
	WHERE lxhh.SoLenh=@SoLenh
