
-- =============================================
-- Author:		Anhqh
-- update date:18/03/2025
-- Description:	Ham thuc hien check cac truong lien quan den cap nhat lich su
-- =============================================
ALTER PROCEDURE [dbo].[FPT_CheckFieldHist]
	@p_TableName as nvarchar(50)
AS
BEGIN
	select UPPER(a.Name) as ColumnName , a.user_type_id from  sys.all_columns a, sys.all_objects  b where a.object_id=b.object_id 
	and b.name=@p_TableName   and UPPER ( a.name ) in (upper('CreateDate'),upper('CreateTime'),upper('UpdateDate'),upper('UpdateTime'),upper('CREATEBY'),upper('UPDATEDBY'))
END
