USE [KV2_20250426]
GO
/****** Object:  StoredProcedure [dbo].[FPT_GetMeter_E5]    Script Date: 05/17/2026 6:28:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create or alter PROCEDURE [dbo].[FPT_GetMeter_E5_KV2]
	@MaHong int, @Client varchar(10)
AS
BEGIN
    if SUBSTRING ( @Client,1,1) ='A'
		begin
			select * from tblMeterE5 where ArmNo =@MaHong and MeterId  like 'C1%'
		end 
	 if SUBSTRING ( @Client,1,1) ='B'
		begin
			select * from tblMeterE5 where ArmNo =@MaHong and MeterId  like 'C2%'
		end 
	 if SUBSTRING ( @Client,1,1) ='C'
		begin
			select * from tblMeterE5 where ArmNo =@MaHong and MeterId  like 'C3%'
		end 
END
