

ALTER     procedure [dbo].[KV2_BM_05_04_01_SUB] 
	(@p_FromTime datetime =null
	,@p_ToTime datetime=null
	,@p_Client varchar(20) =null
	)
as
	declare @p_DVT int =1000
	declare @p_Round int = 0

	--declare @p_table table(SoLenh varchar(30))
	declare @p_FTime datetime
	declare @p_TTime datetime
begin


	set @p_FTime =  isnull(@p_FromTime,getdate())
	if @p_FromTime is null
		begin
			set @p_FTime = DATEADD(year,-20, @p_FTime)
		end
	
	set @p_TTime =  isnull(@p_ToTime,getdate()+1)	

	--drop table #TableSoLenh 
	if OBJECT_ID ('tempdb..#TableSoLenh') is not null
		begin
			drop table #TableSoLenh 			
		end 
	if OBJECT_ID ('tempdb..#TableSanLuong') is not null
		begin
			drop table #TableSanLuong 			
		end 
	if OBJECT_ID ('tempdb..#TableSoLenh_ChiTiet') is not null
		begin
			drop table #TableSoLenh_ChiTiet		
		end 
	create table #TableSoLenh (SoLenh varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL)	
	create table #TableSanLuong (Client varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								Loai nvarchar(200) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								MaPhuongTien varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								Sotichke varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								CH float,
								CN float,
								NBN float,
								N30 float,
								HG float,
								JET float,
								NgayXuat date,
								SanLuong float,
								N45 float)
	create table #TableSoLenh_ChiTiet(Client varchar(100)  COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			Loai varchar(10)  COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			MaPhuongTien nvarchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			sotichke nvarchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			NgayXuat date, 
			LuotXe int, 
			SoLuongThucXuat float
			, MaKhachHang nvarchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			MaNguon nvarchar(50) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
			MaHangHoa nvarchar(50) COLLATE SQL_Latin1_General_CP850_CI_AS NULL)

	--=========DS Lenh============
	insert into #TableSoLenh (SoLenh)
	select distinct solenh from
		tbllenhxuate5 h where Status in ('31','4','5') and isnull(h.Client,'E') = case when isnull(@p_Client,'E') ='E' then isnull(h.Client,'E')  else isnull(@p_Client,'E') end  and
			exists (select 1 from   FPT_tblLenhXuatChiTietE5_V h1 where  ThoiGianDau is not null and ThoiGianCuoi is not null
			and ThoiGianDau between @p_FTime and @p_TTime and h1.SoLenh = h.SoLenh)	
			and MaVanChuyen = 'ZT'
	--=========DS Lenh chi tiet============
	insert into #TableSoLenh_ChiTiet  (MaHangHoa, Client,MaPhuongTien,sotichke ,NgayXuat,SoLuongThucXuat,MaKhachHang,MaNguon)
	select b.MaHangHoa, a.Client,  a.MaPhuongTien, sotichke,a.NgayXuat,  b.SoLuongThucXuat, a.MaKhachHang,  a.MaNguon
		from fpt_tblLenhxuate5_v a , FPT_tblLenhXuatChiTietE5_V b where a.SoLenh = b.SoLenh
			and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)			
			and a.Status in ('31','4','5')
			and b.MaHangHoa  in ( '0201052' ,'0201032','0201005','0601002','0601005','0101002' , '0501001' ,'0701001','0701005' ,'0201007' )
			and ThoiGianDau between  @p_FTime and @p_TTime
			

	--=========LX============
	insert into #TableSanLuong (Client, Loai , MaPhuongTien , Sotichke ,NgayXuat,CH,CN,NBN,N30,HG,JET,SanLuong, N45  )
	select Client,'LX' as LOAI , MaPhuongTien, sotichke,NgayXuat,
				case when Loai = 'CH' then LuotXe else 0 end as CH, 
				case when Loai = 'CN' then LuotXe else 0 end as CN, 
				case when Loai = 'NBN' then LuotXe else 0 end as NBN,
				case when Loai = 'N30' then LuotXe else 0 end as N30,
				case when Loai = 'HG' then LuotXe else 0 end as HG,
				case when Loai = 'JET' then LuotXe else 0 end as JET, SanLuong as SanLuong,
				case when Loai = 'N45' then LuotXe else 0 end as N45
					  from (
		select a.Client, 'CH' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, isnull(sum(a.SoLuongThucXuat),0) as SanLuong	
			from #TableSoLenh_ChiTiet a
			where  --exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
			 a.MaKhachHang  like  '%106610' and a.MaNguon ='N05'
			
			group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'CN' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a
				where  --exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
					 ( a.MaKhachHang  like  '%106680' or a.MaKhachHang  like  '%106660') and a.MaNguon ='N05'
				 
				group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'NBN' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a
			 where  --exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
				 ( a.MaKhachHang  not like  '%106680' and  a.MaKhachHang  not like  '%106660' and  a.MaKhachHang  not like  '%106610') 
					and a.MaNguon ='N05'
					
					group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'N30' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat,1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a
					where  --exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
					 a.MaNguon ='N30'
					
					group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'HG' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a
				where  --exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
					 a.MaNguon in ('N40') and a.MaHangHoa  <> '0101002'
					
				group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'JET' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a 
				where --a.Status in ('31','4','5')
					--exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)	
					 a.MaNguon in ('N40') and a.MaHangHoa  = '0101002'
					
				group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'N45' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat,1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a
					where  --exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
					 a.MaNguon ='N45' and a.MaHangHoa  <> '0101002'
					 
					group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		) abc 
	 --=========SL============	
	insert into #TableSanLuong (Client, Loai , MaPhuongTien , Sotichke ,NgayXuat,CH,CN,NBN,N30,HG,JET,SanLuong, N45 )
	select Client,'SL' as LOAI , MaPhuongTien, sotichke,NgayXuat,
				case when Loai = 'CH' then SanLuong else 0 end as CH, 
				case when Loai = 'CN' then SanLuong else 0 end as CN, 
				case when Loai = 'NBN' then SanLuong else 0 end as NBN,
				case when Loai = 'N30' then SanLuong else 0 end as N30,
				case when Loai = 'HG' then SanLuong else 0 end as HG,
				case when Loai = 'JET' then SanLuong else 0 end as JET
			, SanLuong as SanLuong,
			case when Loai = 'N45' then SanLuong else 0 end as N45
					  from (
		select a.Client, 'CH' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, isnull(sum(a.SoLuongThucXuat),0) as SanLuong	
			from #TableSoLenh_ChiTiet a
			 --and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
			 where a.MaKhachHang  like  '%106610' and a.MaNguon ='N05'
			
			group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'CN' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a 
			 ---and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
				where  ( a.MaKhachHang  like  '%106680' or a.MaKhachHang  like  '%106660') and a.MaNguon ='N05'
				
				group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'NBN' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from  #TableSoLenh_ChiTiet a  
				--and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
				where  ( a.MaKhachHang  not like  '%106680' and  a.MaKhachHang  not like  '%106660' and  a.MaKhachHang  not like  '%106610') 
					and a.MaNguon ='N05'
					
					group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'N30' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat,1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a 
					--and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
					where  a.MaNguon ='N30' 
					
					group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'HG' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a  
					--and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
					where  a.MaNguon in ('N40') and a.MaHangHoa  <> '0101002'
					
				group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'JET' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat, 1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from  #TableSoLenh_ChiTiet a 
				where --a.Status in ('31','4','5')
					--and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)	
					  a.MaNguon in ('N40') and a.MaHangHoa  = '0101002'
					
				group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat
		union all
		select a.Client,'N45' as Loai, a.MaPhuongTien, sotichke,a.NgayXuat,1 as LuotXe, sum(a.SoLuongThucXuat) as SanLuong	
			from #TableSoLenh_ChiTiet a 
					--and exists (select 1 from #TableSoLenh  h2 where h2.SoLenh = a.SoLenh)
					where  a.MaNguon ='N45' and a.MaHangHoa  <> '0101002'
					
					group by a.Client, a.MaPhuongTien, sotichke,a.NgayXuat		
				) abc
--=====================
	select Client, Loai, TenLoai,
		sum(TONGCONG)as TONGCONG,sum(CH) as CH , sum(CN) as CN, sum(NBN) as NBN , sum(N30) as N30, sum(HG) as HG, sum (JET) as JET , sum (N45) as N45 
		from (
				select hh.Client, hh.LOAI, case when hh.Loai = 'LX' then N'Lượt xe' else  N'Sản lượng'  end as TenLoai,
						isnull(CH,0) + isnull(CN,0) + isnull(NBN,0) + isnull(N30,0)+ isnull(HG,0) + isnull(JET,0) + isnull(N45,0) as TONGCONG,
						hh.CH,hh.CN,hh.NBN,hh.N30,hh.HG,hh.JET, hh.N45
					from #TableSanLuong hh,
						(select  Client, hh1.LOAI, MaPhuongTien , Sotichke ,NgayXuat, max(SanLuong) as SanLuong from #TableSanLuong hh1 
						group by Client,hh1.LOAI, MaPhuongTien , Sotichke ,NgayXuat ) hh2
					where hh.Loai = 'LX' and hh.Client = hh2.Client  and hh.Loai =hh2.Loai  and hh.Sotichke =hh2.Sotichke  and hh.NgayXuat =hh2.NgayXuat 
							and hh.SanLuong  =hh2.SanLuong 
							and hh.MaPhuongTien = hh2.MaPhuongTien 
					) abb group by Client, Loai, TenLoai
	union all 
	select Client, LOAI, case when Loai = 'LX' then N'Lượt xe' else  N'Sản lượng'  end as TenLoai,
					round( isnull(sum(CH),0)/@p_DVT,@p_Round) +
				round(isnull(sum(CN),0)/@p_DVT,@p_Round) + round(isnull(sum(NBN),0)/@p_DVT,@p_Round) +
				round(isnull(sum(N30),0)/@p_DVT,@p_Round) + round(isnull(sum(HG),0)/@p_DVT,@p_Round) +
				round(isnull(sum (JET),0)/@p_DVT,@p_Round) + round(isnull(sum (N45),0)/@p_DVT,@p_Round) 
						as TONGCONG ,
				round( isnull(sum(CH),0)/@p_DVT,@p_Round)  as CH , 
				round(isnull(sum(CN),0)/@p_DVT,@p_Round)  as CN, round(isnull(sum(NBN),0)/@p_DVT,@p_Round)  as NBN , 
				round(isnull(sum(N30),0)/@p_DVT,@p_Round) as N30, round(isnull(sum(HG),0)/@p_DVT,@p_Round)  as HG, 
				round(isnull(sum (JET),0)/@p_DVT,@p_Round)  as JET ,
				round(isnull(sum (N45),0)/@p_DVT,@p_Round)  as N45 

		from #TableSanLuong hh
		where hh.Loai = 'SL'
	group by Client, LOAI



	drop table #TableSoLenh 
	drop table #TableSanLuong 
	drop table #TableSoLenh_ChiTiet
end