

ALTER     procedure [dbo].[KV2_BM_05_04_01_HH]
	(@p_FromTime datetime =null
	,@p_ToTime datetime=null
	,@p_Client varchar(20) =null
	)
as
	declare @p_DVT int = 1000
	declare @p_Round int =0
	
	declare @p_FTime datetime
	declare @p_TTime datetime
begin
	set @p_FTime =  isnull(@p_FromTime,getdate())
	if @p_FromTime is null
		begin
			set @p_FTime = DATEADD(year,-20, @p_FTime)
		end
	
	set @p_TTime =  isnull(@p_ToTime,getdate()+1)	

	if OBJECT_ID ('tempdb..#TableSoLenh_HH') is not null
		begin
			drop table #TableSoLenh_HH
		end 
	if OBJECT_ID ('tempdb..#TableSanLuong') is not null
		begin
			drop table #TableSanLuong 			
		end 
	if OBJECT_ID ('tempdb..#TableSoLenh_ChiTiet') is not null
		begin
			drop table #TableSoLenh_ChiTiet		
		end 
	create table #TableSoLenh_HH (SoLenh varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL, NhomBeXuat nvarchar(10))
	create table #TableSanLuong (Client varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								Loai nvarchar(200) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								MaPhuongTien varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								Sotichke varchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
								M95_V float,
								M95_3 float,
								E10 float,
								DO_2 float,
								DO_V float,
								JET float,
								KO float,
								FO_35 float,
								FO_05 float,
								E10_V float,
								NgayXuat date,
								SanLuong float,
								TONGCONG float,
								NhomBeXuat varchar(10) COLLATE SQL_Latin1_General_CP850_CI_AS NULL)
	create table #TableSoLenh_ChiTiet(Client varchar(100)  COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			Loai varchar(10)  COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			MaPhuongTien nvarchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			sotichke nvarchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			NgayXuat date, 
			LuotXe int, 
			SoLuongThucXuat float
			, MaKhachHang nvarchar(100) COLLATE SQL_Latin1_General_CP850_CI_AS NULL, 
			MaNguon nvarchar(50) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
			MaHangHoa nvarchar(50) COLLATE SQL_Latin1_General_CP850_CI_AS NULL,
			NhomBeXuat nvarchar(50) COLLATE SQL_Latin1_General_CP850_CI_AS NULL)
	--=========Danh sach============	
	insert into #TableSoLenh_HH (SoLenh, NhomBeXuat)
	select distinct solenh, NhomBeXuat from
		tbllenhxuate5 h where Status in ('31','4','5') and isnull(h.Client,'E') = case when isnull(@p_Client,'E') ='E' then isnull(h.Client,'E')  else isnull(@p_Client,'E') end  and
			exists (select 1 from   FPT_tblLenhXuatChiTietE5_V h1 where  ThoiGianDau is not null and ThoiGianCuoi is not null
			and ThoiGianDau between @p_FTime and @p_TTime and h1.SoLenh = h.SoLenh)	
			and MaVanChuyen = 'ZT'
	--=========DS Lenh chi tiet============
	insert into #TableSoLenh_ChiTiet  (NhomBeXuat, MaHangHoa, Client,MaPhuongTien,sotichke ,NgayXuat,SoLuongThucXuat,MaKhachHang,MaNguon)
	select a.NhomBeXuat, b.MaHangHoa, a.Client,  a.MaPhuongTien, sotichke,a.NgayXuat,  b.SoLuongThucXuat, a.MaKhachHang,  a.MaNguon
		from fpt_tblLenhxuate5_v a , FPT_tblLenhXuatChiTietE5_V b where a.SoLenh = b.SoLenh
			and exists (select 1 from #TableSoLenh_HH  h2 where h2.SoLenh = a.SoLenh)			
			and a.Status in ('31','4','5')
			and b.MaHangHoa  in ( '0201052' ,'0201032','0201005','0601002','0601005','0101002' , '0501001' ,'0701001','0701005', '0201007' )
			and ThoiGianDau between  @p_FTime and @p_TTime

	 --=========SL============	
	insert into #TableSanLuong (Client, NhomBeXuat  , TONGCONG ,M95_V,M95_3, E10,DO_2,DO_V,JET,KO,FO_35 , FO_05, E10_V)
	select Client , NhomBeXuat,
				round( isnull(sum(M95_V),@p_Round)/@p_DVT,0) +
				round(isnull(sum(M95_3),0)/@p_DVT,@p_Round) + 
				round(isnull(sum(E10),0)/@p_DVT,@p_Round) +
				round(isnull(sum(DO_2),0)/@p_DVT,@p_Round) + 
				round(isnull(sum(DO_V),0)/@p_DVT,@p_Round) +
				round(isnull(sum (JET),0)/@p_DVT,@p_Round)+
				round(isnull(sum(KO),0)/@p_DVT,@p_Round) + 
				round(isnull(sum(FO_35),0)/@p_DVT,@p_Round) +
				round(isnull(sum (FO_05),0)/@p_DVT,@p_Round)+
				round(isnull(sum (E10_V),0)/@p_DVT,@p_Round)

						as TONGCONG ,
				round( isnull(sum(M95_V),@p_Round)/@p_DVT,0)  as M95_V , 
				round(isnull(sum(M95_3),0)/@p_DVT,@p_Round)  as M95_3, 
				round(isnull(sum(E10),0)/@p_DVT,@p_Round)  as E10 , 
				round(isnull(sum(DO_2),0)/@p_DVT,@p_Round) as DO_2, 
				round(isnull(sum(DO_V),0)/@p_DVT,@p_Round)  as DO_V, 
				round(isnull(sum (JET),0)/@p_DVT,@p_Round)  as JET,
				round(isnull(sum(KO),0)/@p_DVT,@p_Round) as KO, 
				round(isnull(sum(FO_35),0)/@p_DVT,@p_Round)  as FO_35, 
				round(isnull(sum (FO_05),0)/@p_DVT,@p_Round)  as FO_05 ,
				round(isnull(sum (E10_V),0)/@p_DVT,@p_Round)  as E10_V 
		from (
		select Client, NhomBeXuat,
					case when MaHangHoa = '0201052' then SanLuong else 0 end as M95_V, 
					case when MaHangHoa = '0201032' then SanLuong else 0 end as M95_3, 
					case when MaHangHoa = '0201005' then SanLuong else 0 end as E10,
					case when MaHangHoa = '0601002' then SanLuong else 0 end as DO_2,
					case when MaHangHoa = '0601005' then SanLuong else 0 end as DO_V, 
					case when MaHangHoa = '0101002' then SanLuong else 0 end as JET,
					case when MaHangHoa = '0501001' then SanLuong else 0 end as KO,
					case when MaHangHoa = '0701001' then SanLuong else 0 end as FO_35,
					case when MaHangHoa = '0701005' then SanLuong else 0 end as FO_05,
					case when MaHangHoa = '0201007' then SanLuong else 0 end as E10_V
						  from (
			select a.NhomBeXuat,a.Client,a.MaHangHoa, isnull(sum(a.SoLuongThucXuat),0) as SanLuong	
				from #TableSoLenh_ChiTiet a				
				where a.MaKhachHang  like  '%106610' and a.MaNguon ='N05'
				
				group by a.NhomBeXuat,a.Client,a.MaHangHoa
			union all
			select a.NhomBeXuat,a.Client,a.MaHangHoa, sum(a.SoLuongThucXuat) as SanLuong	
				from  #TableSoLenh_ChiTiet a						
					where ( a.MaKhachHang  like  '%106680' or a.MaKhachHang  like  '%106660') and a.MaNguon ='N05'
					
					group by a.NhomBeXuat,a.Client,a.MaHangHoa
			union all
			select a.NhomBeXuat,a.Client,a.MaHangHoa,sum(a.SoLuongThucXuat) as SanLuong	
				from #TableSoLenh_ChiTiet a		
					
					where  ( a.MaKhachHang  not like  '%106680' and  a.MaKhachHang  not like  '%106660' and  a.MaKhachHang  not like  '%106610') 
						and a.MaNguon ='N05'						
						--and isnull(a.Client,'E') =  ISNULL(@p_Client,'E')
						group by a.NhomBeXuat, a.Client,a.MaHangHoa
			union all
			select a.NhomBeXuat,a.Client,a.MaHangHoa, sum(a.SoLuongThucXuat) as SanLuong	
				from #TableSoLenh_ChiTiet a		
						
						where a.MaNguon ='N30'
						
						group by a.NhomBeXuat,a.Client,a.MaHangHoa
			union all
			select a.NhomBeXuat,a.Client,a.MaHangHoa, sum(a.SoLuongThucXuat) as SanLuong	
				from #TableSoLenh_ChiTiet a		
						
						where a.MaNguon ='N45' and a.MaHangHoa  <> '0101002'
						
						group by a.NhomBeXuat,a.Client,a.MaHangHoa
			union all
			select a.NhomBeXuat,a.Client,a.MaHangHoa,sum(a.SoLuongThucXuat) as SanLuong	
				from #TableSoLenh_ChiTiet a		
						
						where  a.MaNguon in ('N40') and a.MaHangHoa  <> '0101002'
						
					group by a.NhomBeXuat,a.Client,a.MaHangHoa
			union all
			select a.NhomBeXuat, a.Client,a.MaHangHoa, sum(a.SoLuongThucXuat) as SanLuong	
				from #TableSoLenh_ChiTiet a		 
					where a.MaNguon in ('N40') and a.MaHangHoa  = '0101002'
						
					group by a.NhomBeXuat,a.Client,a.MaHangHoa
						) abc
		) abc1 group by NhomBeXuat, Client
--=====================	

	select Client, NhomBeXuat  , TONGCONG ,M95_V,M95_3, E10,DO_2,DO_V,JET,KO,FO_35 , FO_05, E10_V from  #TableSanLuong

	drop table #TableSanLuong
	drop table #TableSoLenh_HH
	drop table #TableSoLenh_ChiTiet
end