
ALTER   PROCEDURE [dbo].[FPT_reports_LenhXuatKhoE5]
@SoLenh nvarchar(10)
AS
	SELECT 	lx.SoLenh, 
		lx.NgayXuat, 
		lx.NgayHieuLuc,
		lx.MaKho +' - '+k.TenKho  AS KhoXuat,		
		
		lx.MaNguon+' - '+ng.TenNguon as MaNguon,
		
		case when  lx.MaPhuongThucBan='03' 
		then
		  	--	lx.MaPhuongThucXuat+' - '+ TenPhuongThucXuat 
			case when (lx.Ma_Map ='610' or lx.Ma_Map ='611' or lx.Ma_Map ='620' or lx.Ma_Map ='621') 
					and lx.MaPhuongThucBan='03' 
					and isnull(BSART,'')  in ('P222','P250', 'P223','P251' )
			then
				case when LoaiPhieu = 'V144' or  LoaiPhieu = ''  then
					lx.MaPhuongThucXuat+' - '+ TenPhuongThucXuat
				else
					lx.Ma_Map+' - '+ TenPhuongThucXuat 
				end 
				
			else
				lx.MaPhuongThucXuat+' - '+ TenPhuongThucXuat 
			end
		else
			case when  lx.MaPhuongThucBan='90'  then
					lx.Ma_Map+' - '+ TenPhuongThucXuat 
			else
					lx.MaPhuongThucXuat+' - '+ TenPhuongThucXuat 
			end
		end  AS PhuongThucXuat,
		
		--BWART +' - '+ptx.TenPhuongThucXuat AS PhuongThucXuat,
		--lx.MaKhachHang +' - '+ ISNULL( kh.TenKhachHang,'')  AS DVNhanHang11,	
		
		case when  lx.MaPhuongThucBan='03'  then		
			case when  LoaiPhieu = 'V144'  then	
				substring( lx.MaKhachHang,5, len(lx.MaKhachHang)-4) +' - '+ ISNULL( kh.TenKhachHang,'') 
			else
				case when MaTuyenDuong ='6630CH' then
					dbo.FPT_GetKhachHang_Org
							(lx.MaKhachHang
								,lx.MaPhuongThucBan
								,kh.TenKhachhang
							)
				else
					dbo.FPT_GetKhachHang_Org2
							(lx.MaKhachHang
								,lx.MaPhuongThucBan
								,kh.TenKhachhang
							)
				end
			end
		else
		
				substring( lx.MaKhachHang,5, len(lx.MaKhachHang)-4) +' - '+ ISNULL( kh.TenKhachHang,'') 
		end  AS DVNhanHang,
		
		
		
		
		lx.MaVanChuyen+' - '+vc.TenVanChuyen as PhuongThucVanTai,	
		lx.MaPhuongTien,
		lx.NguoiVanChuyen, lx.NgayHetHieuLuc,
		lx.STO, lx.NguoiDaiDien, 
		
		case when isnull(NhaCungCap,'')='' then
			''
		else
			lx.NhaCungCap +' - '+ isnull(v.TenNhaCungCap,'') 
		end		as DonViCungCapVanTai, 
		
		 isnull(v.TenNhaCungCap,'') as DonViCungCapVanTai11, 
		 
		 
		lx.LoaiPhieu as SoChuyenVanTai
		,lx.SoTKHQNhap
		
		--,case when isnull(lx.DiemTraHang,'')<> '' then 
		--    lx.DiemTraHang
		--else lx.TenKhoNhap end AS KhoNhap	
		
		
		
		--,case when isnull(lx.DischargePoint,'')<> '' then 
		--	case when isnull(lx.DesDischargePoint,'')<> '' then  
		--		DesDischargePoint
		--	else
		--			lx.DiemTraHang  end
		--else lx.MaKhoNhap +'-' + lx.TenKhoNhap end AS KhoNhap
		
		
		, case when lx.MaPhuongThucBan ='03' then
			case when LoaiPhieu = 'V144'  then
			   ''
			else
			   case when dbo.FPT_GetLoadingSite(lx.MaVanChuyen)  ='BO' then
					DGDiemDen
			   else
					lx.MaKhoNhap +'-' + lx.TenKho
			   end 
				
			end
		else
		   '' 
		end as KhoNhap
		
		
		,dbo.FPT_GetKhachHang_Org2
					(lx.MaKhachHang
						,lx.MaPhuongThucBan
						,kh.TenKhachhang
					) as KhachHang2,
					lx.MaTuyenDuong
					,ISNULL( kh.TenKhachHang,'')  AS DVNhanHang2
					
		, lx.MaPhuongThucBan
		,dbo.FPT_GetKhachHang_Org
					(lx.MaKhachHang
						,lx.MaPhuongThucBan
						,kh.TenKhachhang
					) as DVNhanHang3
		,	case when isnull(lx.DesDischargePoint,'')<> '' then  
				DesDischargePoint
			else
					lx.DiemTraHang  end as DesDischargePoint	
					
		--,lx.MaKhoNhap +'-' + lx.TenKhoNhap  AS KhoNhap2		
		
		,case when isnull(lx.TenKhoNhap,'')<> '' then  
				lx.MaKhoNhap +'-' + lx.TenKhoNhap 
			else
				lx.MaKhoNhap +'-' + 	lx.DiemTraHang  end as KhoNhap2	
		, lx.DGDiemDen	
		, 
		---case when 
		(select Description from sys_user where User_ID=lx.CreateBy)  CreateBy 
	FROM fpt_tblLenhXuatE5_new_v AS lx
		LEFT JOIN tblKho AS k ON k.MaKho=lx.MaKho
		left join tblNguon as ng on ng.MaNguon=lx.MaNguon
		
		LEFT JOIN tblDonvi AS dv ON dv.MaDonVi=lx.MaDonVi 
		LEFT JOIN tblKhachHang AS kh ON kh.MaKhachHang=lx.MaKhachHang
		left join tblVanChuyen as vc on vc.MaVanChuyen=lx.MaVanChuyen
		left join tblNhaCungCap as v on v.MaNhaCungCap = lx.NhaCungCap
	WHERE lx.SoLenh=@SoLenh
	
	SELECT ROW_NUMBER() over (order by (select 1)) as STT,lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh,
		 lxhh.TongDuXuat AS SoLuongDuXuat,
		
		lxhh.tongXuat as SoLuongThucXuat,
		
			lxhh.tongXuat as TongThucXuat
		 ,lxhh.tongXuat		 
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
	WHERE lxhh.SoLenh=@SoLenh
	
	select a.TenDonVi  from tblDonvi a, tblConfig b where a.MaDonVi =b.companycode 

