
-- =============================================
-- Author:		anhqh
-- Create date: 07-09-2015
-- Description:	Ham lay du lieu cho chuc nang xac nhan hoan thien
-- =============================================
ALTER PROCEDURE [dbo].[FPT_XacNhanHoanThien]
	@p_SoLenh nvarchar(100)
AS
BEGIN
	select * from FPT_tblLenhXuatE5_V where SoLenh=@p_SoLenh; 
	select LineID, BeXuat, TableID, MaHangHoa, TenHangHoa,DonViTinh, 
		(select Sum(SoLuongDuXuat)  from FPT_tbllenhxuatchitietE5_v where H_TableID=a.TableID and SoLenh=a.SoLenh ) as  SoLuongDuXuat , 
		(select Sum(SoLuongThucXuat)  from FPT_tbllenhxuatchitietE5_v where H_TableID=a.TableID and SoLenh=a.SoLenh ) as  SoLuongThucXuat ,(select Sum(isnull(GST,0)) from FPT_tbllenhxuatchitietE5_v where H_TableID=a.TableID) as  TongLit15  from FPT_tblLenhXuat_HangHoaE5_V a where solenh=@p_SoLenh;
	select * from FPT_LenhXuat_TongHop_v where solenh=@p_SoLenh;select * from SYS_CONFIG;
END
