

ALTER   PROCEDURE [dbo].[FPT_reports_LenhXuatKhoE5]
@SoLenh nvarchar(10)
AS
	SELECT 	lx.SoLenh, 
		lx.NgayXuat, 
		lx.NgayHieuLuc,
		
		--case when isnull(A.DiemTraHang,'')='' then 
		--    DischargePoint +' - '+  DesDischargePoint
		--else
		
		lx.MaKho +' - '+k.TenKho  AS KhoXuat,		
		
		lx.MaNguon+' - '+ng.TenNguon as MaNguon,
		
		case when  ( lx.MaNguon ='N05' and lx.MaPhuongThucBan='03' 
				and LoaiPhieu <>'V144' and isnull(BSART,'')  in ('P222','P250')  )
					or lx.MaNguon ='N45' or lx.MaNguon ='N40' 
		then
		   lx.Ma_Map+' - '+ TenPhuongThucXuat
		else		
			lx.MaPhuongThucXuat+' - '+ TenPhuongThucXuat end  AS PhuongThucXuat,
		
		--BWART +' - '+ptx.TenPhuongThucXuat AS PhuongThucXuat,
		--lx.MaKhachHang +' - '+ ISNULL( kh.TenKhachHang,'')  AS DVNhanHang11,	
		substring( lx.MaKhachHang,5, len(lx.MaKhachHang)-4) +' - '+ ISNULL( kh.TenKhachHang,'')  AS DVNhanHang,
		lx.MaVanChuyen+' - '+vc.TenVanChuyen as PhuongThucVanTai,	
		lx.MaPhuongTien,
		lx.NguoiVanChuyen, lx.NgayHetHieuLuc,
		lx.STO, lx.NguoiDaiDien, 
		lx.NhaCungCap +' - '+ isnull(v.TenNhaCungCap,'') as DonViCungCapVanTai, 
		 isnull(v.TenNhaCungCap,'') as DonViCungCapVanTai11, 
		lx.LoaiPhieu as SoChuyenVanTai
		,lx.SoTKHQNhap
		
		--,case when isnull(lx.DiemTraHang,'')<> '' then 
		--    lx.DiemTraHang
		--else lx.TenKhoNhap end AS KhoNhap	
		,case when isnull(lx.DischargePoint,'')<> '' then 
			case when isnull(lx.DesDischargePoint,'')<> '' then  
				DesDischargePoint
			else
					lx.DiemTraHang  end
		else lx.MaKhoNhap +'-' + lx.TenKhoNhap end AS KhoNhap
		,dbo.FPT_GetKhachHang_Org2
					(lx.MaKhachHang
						,lx.MaPhuongThucBan
						,kh.TenKhachhang
					) as KhachHang2,
					lx.MaTuyenDuong
					,ISNULL( kh.TenKhachHang,'')  AS DVNhanHang2
	FROM fpt_tblLenhXuatE5_new_v AS lx
		LEFT JOIN tblKho AS k ON k.MaKho=lx.MaKho
		left join tblNguon as ng on ng.MaNguon=lx.MaNguon
		
		LEFT JOIN tblDonvi AS dv ON dv.MaDonVi=lx.MaDonVi 
		LEFT JOIN tblKhachHang AS kh ON kh.MaKhachHang=lx.MaKhachHang
		left join tblVanChuyen as vc on vc.MaVanChuyen=lx.MaVanChuyen
		left join tblNhaCungCap as v on v.MaNhaCungCap = lx.NhaCungCap
	WHERE lx.SoLenh=@SoLenh
	
	SELECT ROW_NUMBER() over (order by (select 1)) as STT,lxhh.MaHangHoa, hh.TenHangHoa, lxhh.DonViTinh,
		 lxhh.TongDuXuat AS SoLuongDuXuat,
		
		lxhh.tongXuat as SoLuongThucXuat,
		
			lxhh.tongXuat as TongThucXuat
		 ,lxhh.tongXuat		 
	FROM tblLenhXuat_HangHoaE5 AS lxhh
		LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
	WHERE lxhh.SoLenh=@SoLenh
	
	select a.TenDonVi  from tblDonvi a, tblConfig b where a.MaDonVi =b.companycode 

