


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_UPDATE_GVE]
	@p_SoLenh nvarchar(50)
AS
BEGIN

	declare @Tableid varchar(50)
	declare @lineid varchar(50)
	declare @malenh varchar(50)
	declare @ngayxuat datetime 
	declare @Ty_Trong15 decimal  (8,4)
	declare @p_MaVanChuyen  varchar(50)
	
	
	
	
	update  tblLenhXuatChiTietE5 set GV_e =0, GST_e =0
		where
			exists (select 1 from fpt_tblLenhXuatChiTietE5_v a 
							where a.row_id =tblLenhXuatChiTietE5.row_id
								and solenh=@p_SoLenh
								and  MahangHoa    ='0201001' -----not in (select MaHangHoa from tblHangHoaE5) 
								and isnull(GV_e,0) <=1
								 )
	
	--return
	
	--select mavanchuyen from tbllenhxuate5
	
	set @p_MaVanChuyen = (select mavanchuyen from tbllenhxuate5  where solenh=@p_SoLenh)
	
	
	DECLARE p_LenhXuat CURSOR FOR   
					select Tableid, lineid,malenh,ngayxuat ,convert(decimal(8,4), 
						round( sum(isnull(TyTrong_15,0) * isnull(  dbo.FPT_LaySoThucXuat(@p_MaVanChuyen,SoLuongThucXuat, SoLuongDuXuat,0) ,0) ) 
							/ sum(isnull(  dbo.FPT_LaySoThucXuat(@p_MaVanChuyen,SoLuongThucXuat, SoLuongDuXuat,0) ,0)),4)) as   TyTrong_15  
					from tbllenhxuatchitiete5 c  with (nolock) 
					where exists (select 1 from (
									select Tableid, lineid,malenh,ngayxuat from tbllenhxuat_hanghoae5  a  with (nolock)  where solenh =@p_SoLenh
									and  exists (select 1 from tblHangHoae5 b  with (nolock)  where  a.mahanghoa=b.mahanghoa)
									----and dbo.FPT_CheckTankE5 (a.BeXuat)=1
									and isnull(GST,0) >0 and isnull(TYLE_TTE,0) >0
									) abc 
						where  c.Tableid=abc.Tableid and abc.lineid=c.lineid and  abc.malenh=c.malenh and c.ngayxuat =abc.ngayxuat and c.tableid =abc.tableid  )	
				 --   and isnull(TyTrong_15,0) >0
					group by Tableid, lineid,malenh,ngayxuat
					--having count(*) >0

	OPEN p_LenhXuat  

	FETCH NEXT FROM p_LenhXuat   INTO @Tableid, @lineid,@malenh,@ngayxuat ,@Ty_Trong15

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
	    update tbllenhxuatchitiete5 set TyTrong_15 =@Ty_Trong15
			where @Tableid=Tableid and  @lineid=lineid  and  malenh = @malenh  and  ngayxuat =@ngayxuat 
		FETCH NEXT FROM p_LenhXuat  INTO @Tableid, @lineid,@malenh,@ngayxuat ,@Ty_Trong15
	END   
	CLOSE p_LenhXuat;  
	DEALLOCATE p_LenhXuat;  
			
			
	
END
