
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[FPT_GetAutoLenh_Ngay]
	
AS
BEGIN
	--select SoLenh, NgayXuat,dbo.FPT_GetLoadingSite( MavanChuyen) as MavanChuyen, MaPhuongTien
	--	,Client	 From tbllenhxuate5 with (nolock)
	--	where convert(date, NgayXuat)  =Convert(date,getdate()) 		
	--		and ( Status  in ('3')  )
	--		order by NgayTichKe
	
	select * from  (
	 select SoLenh, NgayXuat,dbo.FPT_GetLoadingSite( MavanChuyen) as MavanChuyen, MaPhuongTien
		,Client, NgayTichKe, Status	 From tbllenhxuate5 with (nolock)
		where convert(date, NgayXuat)  =Convert(date,getdate()) 		
			and ( Status  in ('3')  )
		--	order by NgayTichKe
	union 		
	select SoLenh, NgayXuat,dbo.FPT_GetLoadingSite( MavanChuyen) as MavanChuyen, MaPhuongTien
		,Client, NgayTichKe, Status	 From tbllenhxuate5 A  with (nolock)
		where convert(date, NgayXuat)  =Convert(date,getdate()) 		
			and ( Status  in ('31')  )
			AND exists (select 1 from FPT_tblLenhXuatChiTietE5_V b where ISNULL( b.SoLuongThucXuat,0) <=0 and a.SoLenh=b.SoLenh )
		--	order by NgayTichKe
		)anhqh order by Status, NgayTichKe
		
END
