
/****** Object:  StoredProcedure [dbo].[DonViUpdateAddress]    Script Date: 08/12/2017 11:43:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[DonViUpdateAddress]
	@DiaChiFull NVARCHAR(500)
  AS
	
	return
	
	UPDATE tblDonvi SET DiaChiFull=  @DiaChiFull  WHERE 
		CONVERT(VARCHAR(4),MaDonVi) = CONVERT(VARCHAR(4),(SELECT companycode FROM tblConfig))

