

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_CheckLenhInTichKe] 
	@p_StrLenh nvarchar(500)
AS
BEGIN
	select  1 as Err,N'Số lệnh (' + a.SoLenh +N') Mã bể ' + a.BeXuat + N'  chưa được khai báo theo ngày'  as  sDesc from tblLenhXuat_hanghoaE5 a with(nolock)		
			where   CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0 
			 and not  exists (select 1 from  FPT_tblTankActive_v b where Date1=CONVERT(date,getdate ()) 
								and Name_nd=a.BeXuat  )
	
	union all 
	select 	1 as Err,N'Số lệnh (' + a.SoLenh +N')  đã hết hạn'  as  sDesc from tblLenhXuatE5  a	with(nolock)		
			where   CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0 
					and CONVERT(date,getdate())	> CONVERT(date,ISNULL(NgayHetHieuLuc,getdate()))					
		
	--union all
	--select 	1 as Err,N'Số lệnh (' + a.SoLenh +N')  Ngày tháng không hợp lệ'  as  sDesc from tblLenhXuatE5  a	with(nolock)		
	--		where   			
	--		CHARINDEX (',' + solenh +',', ',' + @p_StrLenh + ',' ,1)>0 
	--		--SoLenh in ('2016530421','2016530421','2016530422','2016492173')
	--				and CONVERT(date,getdate())	> CONVERT(date,ISNULL(NgayXuat ,getdate()))	
	--				and isnull((select KEYVALUE from SYS_CONFIG where KEYCODE ='CURRENTDATE' ),'N') ='Y'
END
