
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[BienBanDoBe]
	@p_SoLenh int
AS
BEGIN
	select aa.CrDate as Ngay,aa.CrDate as Gio, aa.TankCode as Be, aa.ProductCode as MaHangHoa,
			 aa.TenHangHoa, aa.TankHeight as ChieuCao, aa.TankTemp as NhietDo , aa.PurposeCode as MaMDD, 
			 aa.PurposeName as TenMDD 
			
			 from  dbo.ztblTankLineImp_v aa, ztblTankHeaderImp bb 
	  where aa.TankHeaderCode =bb.TankHeaderCode and bb.DocEntry=@p_SoLenh and aa.X='Y' ;

	   select *,  (select top 1 Upper(TenDonVi) from tblDonvi a1 where a1.MaDonVi = (select  companycode  from tblConfig)) as ComName
			,N'Mã số: XDTK-BM-01.04'  as MaSo, N'Lần ban hành: 01' as LanBH , N'Ngày bh: 01/11/2018' as NgayBH 
			 
			 from dbo.ztblTankHeaderImp a2 where DocEntry =@p_SoLenh;

END
