
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter PROCEDURE [dbo].[FPT_UpdateTankATG_QCI]
	@p_TankHeadercode nvarchar(100)
	
AS
BEGIN
		
	update ztblTankLineImp set dens = isnull((select top 1   dens  from dbo.ztblTankLineImp b where 
					b.tankcode =ztblTankLineImp.tankcode and isnull(b.Dens,0) >0
		and b.CrDate<=ztblTankLineImp.CrDate order by b.CrDate desc),0) 
  from dbo.ztblTankLineImp  where TankHeaderCode =@p_TankHeadercode  and  isnull(Dens,0) =0 

    update  ztblTankLineImp set TankMap=( select top 1 case when isnull(Map_Sap1,'') <>'' then Map_Sap1 else Null end from tblTank b  where Name_nd= ztblTankLineImp.TankCode)  
		where TankHeaderCode =@p_TankHeadercode --and substring(TankCode,2,1) ='0' 
    
	update ztblTankLineImp  set Ltt =( select top 1  VOLCON from ztbltankbarem with (nolock) 
											where SEQNR= case when isnull( ztblTankLineImp.TankMap,'') <> ''  then  ztblTankLineImp.TankMap else ztblTankLineImp.TankCode end
														 and Lincon=isnull(TankHeight,0))
		where  TankHeadercode    = @p_TankHeadercode
		
	update ztblTankLineImp   set VCF = dbo.zzFPT_mdlQCI_GetVCF_NS (TankTemp, Dens) 
		  where  TankHeadercode    = @p_TankHeadercode
						and isnull(Dens,0) <> 0.0
	update ztblTankLineImp   set VolumnL15 =round( VCF * Ltt,0)
		  where  TankHeadercode    = @p_TankHeadercode
						and isnull(Dens,0) <> 0.0
	update ztblTankLineImp   set WCF=( Dens -0.0011 ),  VolumnKG = round( ( Dens -0.0011 ) * VolumnL15,0) 
		  where  TankHeadercode    = @p_TankHeadercode
						and isnull(Dens,0) <> 0.0
END
