
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>

---   exec [FPT_UpdateTankATG_QCI] 'CD000B5C-0B45-4565-95E0-2B5F36186A8F'
-- =============================================
ALTER PROCEDURE [dbo].[FPT_UpdateTankATG_QCI]
	@p_TankHeadercode nvarchar(100)
	
AS
BEGIN
	declare @p_sType nvarchar(100)
	declare @p_Table001 table (
					TankHeaderCode nvarchar(100)
					, TankCode nvarchar(100)
					, CrDate datetime
				)
		declare @p_Table002 table (
					TankHeaderCode nvarchar(100)
					, TankCode nvarchar(100)
					, CrDate datetime
					,TankHeight decimal(18,4)
					,[TankTemp] decimal(18,4)
				)
	select top 1 @p_sType =sType from ztblTankHeaderImp   where  TankHeaderCode =@p_TankHeadercode 

	update  ztblTankLineImp   set MaHH = (select top 1 product_nd from tblTank a99 where Name_nd=ztblTankLineImp.TankCode) 
			where  TankHeaderCode =@p_TankHeadercode  
	

	if @p_sType ='A'
		begin
					------anhqh  20200822
					------cap nhat gai tri ngay thang cung 1 be thi lay ngay thang rut to nhat cho be ATG
				insert into  @p_Table001 (TankHeaderCode, TankCode, CrDate)
				select TankHeaderCode, TankCode, max(CrDate) as CrDate  from   ztblTankLineImp a1
								where exists (select 1 from  (
							select   TankHeaderCode, TankCode   from (
							select  a.TankHeaderCode, a.CrDate, a.TankCode from ztblTankLineImp a
								where 	 exists (select 1 from ztblTankHeaderImp b where a.TankHeaderCode =b.TankHeaderCode
												and b.[sType]='A')  and tankheadercode =@p_TankHeadercode
								group by   a.TankHeaderCode, a.CrDate, a.TankCode 
								) abc group by TankHeaderCode,  TankCode having count (*) >1)  a2  
										where a1.TankHeaderCode=a2.TankHeaderCode  and a1.TankCode =a2.TankCode)
							group by TankHeaderCode, TankCode
				------
				insert into  @p_Table002   (TankHeaderCode, TankCode, CrDate, TankHeight, TankTemp)
						select TankHeaderCode, TankCode, CrDate, TankHeight, TankTemp 
								from   ztblTankLineImp bb 
									where exists (select 1  from   		@p_Table001  aa
														where aa.TankCode =bb.TankCode 
														and aa.TankHeaderCode =bb.TankHeaderCode 
															and aa.CrDate=bb.CrDate)
				update    ab set ab.crDate=ac.Crdate, ab.TankHeight  =ac.TankHeight, ab.TankTemp=ac.TankTemp
						from     ztblTankLineImp ab , @p_Table002  ac
								
						where   ab.TankHeaderCode =@p_TankHeadercode 	and  ab.tankHeaderCode =ac.TankHeaderCode
										and ab.TankCode =ac.TankCode
											and  ab.CrDate <ac.CrDate													
				-----============================================================================================			

				
  				update ztblTankLineImp set dens = isnull((select top 1   b.dens  from dbo.ztblTankLineImp b with (nolock), dbo.ztblTankHeaderImp b1 with (nolock) where 
								b.tankcode =ztblTankLineImp.tankcode and isnull(b.Dens,0) >0 and isnull( b.X,'N') ='Y'
								and b.TankHeaderCode =b1.TankHeaderCode  and ISNULL(b1.Status,'') ='S'
					and b.CrDate<=(select top 1 fromdate from ztblTankHeaderImp c with (nolock)  where  TankHeaderCode =@p_TankHeadercode  )
				
					order by b.CrDate desc),0) 
			  from dbo.ztblTankLineImp  where TankHeaderCode =@p_TankHeadercode  and  isnull(Dens,0) =0 
		end
	else
		begin
				update ztblTankLineImp set dens = isnull((select top 1   b.dens  from dbo.ztblTankLineImp b with (nolock), dbo.ztblTankHeaderImp b1 with (nolock) where 
								b.tankcode =ztblTankLineImp.tankcode and isnull(b.Dens,0) >0 and isnull( b.X,'N') ='Y'
								and b.TankHeaderCode =b1.TankHeaderCode  and ISNULL(b1.Status,'') ='S'
					and b.CrDate<=ztblTankLineImp.CrDate 
				
					order by b.CrDate desc),0) 
			   from dbo.ztblTankLineImp  where TankHeaderCode =@p_TankHeadercode  and  isnull(Dens,0) =0 
		end

	/*Bo sung đoạn lấy Dens theo Bể khai báo đầu ngày trường hợp  rut ATG chưa lấy được dens

		*/
	update ztblTankLineImp set dens = isnull(((select top 1 Dens_nd from FPT_tblTankActive_V hh where hh.Name_nd =ztblTankLineImp.TankCode   and hh.Date1 <=ztblTankLineImp.CrDate order by hh.Date1 desc)),0) 			
			where TankHeaderCode =@p_TankHeadercode  and  isnull(Dens,0) =0 
--=================================================================================================================================


    update  ztblTankLineImp set TankMap=( select top 1 case when isnull(Map_Sap1,'') <>'' then Map_Sap1 else Null end from tblTank b  where Name_nd= ztblTankLineImp.TankCode)  
		where TankHeaderCode =@p_TankHeadercode --and substring(TankCode,2,1) ='0' 
    
	update ztblTankLineImp  set Ltt =( select top 1  VOLCON from ztbltankbarem with (nolock) 
											where SEQNR= case when isnull( ztblTankLineImp.TankMap,'') <> ''  then  ztblTankLineImp.TankMap else ztblTankLineImp.TankCode end
														 and Lincon=isnull(TankHeight,0))
			
		where  TankHeadercode    = @p_TankHeadercode

---------20200714 bo sung dieu kien  tinh cho E100=====================
		--update ztblTankLineImp   set VCF = dbo.zzFPT_mdlQCI_GetVCF_NS (TankTemp, Dens) 
		--  where  TankHeadercode    = @p_TankHeadercode
		--				and isnull(Dens,0) <> 0.0
	
				-----VCF cho cac mat hang  E100

	update ztblTankLineImp   set VCF = dbo.[zzFPT_mdlQCI_GetVCF_NS_E] (TankTemp, MaHH) 
		  where  TankHeadercode    = @p_TankHeadercode
						and isnull(Dens,0) <> 0.0  and MaHH  in  ('0301002', '0301001')
			-----VCF cho cac mat hang khong phai E100
	update ztblTankLineImp   set VCF = dbo.zzFPT_mdlQCI_GetVCF_NS (TankTemp, Dens) 
		  where  TankHeadercode    = @p_TankHeadercode
						and isnull(Dens,0) <> 0.0  and MaHH not in  ('0301002', '0301001')
	---================================================================================
	update ztblTankLineImp   set VolumnL15 =round( VCF * Ltt,0)
		  where  TankHeadercode    = @p_TankHeadercode
						and isnull(Dens,0) <> 0.0
	update ztblTankLineImp   set WCF=( Dens -0.0011 ),  VolumnKG = round( ( Dens -0.0011 ) * VolumnL15,0) 
		  where  TankHeadercode    = @p_TankHeadercode
						and isnull(Dens,0) <> 0.0
END
