
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	Dung cho Ethanol
-- =============================================
create function [dbo].[zzFPT_mdlQCI_GetVCF_NS_E]
(
	 @i_temp1 nvarchar(50),
	 @p_MahangHoa nvarchar(50)
    --- @i_dens nvarchar(50)
)
RETURNS nvarchar(50)
AS
BEGIN
		declare @p_vcf1 numeric(18,4)
		declare @p_vcf numeric(18,4)
		declare @p_vcf2 numeric(18,4)
		declare @p_HeSo1 numeric(18,6)
		declare @p_HeSo2 numeric(18,6)		
		
		declare @i_temp nvarchar(50)
        declare @l_temp nvarchar(50)       
       -- declare @l_vcf nvarchar(50)
		
		declare @p_Count int
		declare @p_Len int
		
		declare @p_Rate numeric(18,6)
		declare @p_Rate_0301002 numeric(18,6)
		declare @p_Rate_0301001 numeric(18,6)
		
		
		if @p_MaHangHoa <> '0301002' and @p_MahangHoa <>'0301001'
				begin
					return 0
				end
		
		set  @p_Rate_0301002 = 0.001085   ----Etanol nguyên chất (0301002)
		set  @p_Rate_0301001 = 0.001085	-----Etanol biến tính (0301001)
		
		if len(@i_temp1)>5	
			set @i_temp=LEFT(@i_temp1,5)
		else
			set @i_temp=@i_temp1
		
       
       If len(@i_temp)  > 5 
            set @l_temp = left(@i_temp,5)
        Else
			begin
				set @l_temp = @i_temp
				If LEN( @l_temp) = 2 
					set @l_temp = @l_temp + CONVERT(nvarchar(5), '.00')
				Else
					
					if len(@i_temp) < 5 					
						begin
								set @p_Count =1
								set @p_Len=LEN(@i_temp)
								while  @p_Count<= 5 - len(@i_temp)
									begin
										set @l_temp = @l_temp + CONVERT(nvarchar(1), '0')
										set @p_Count=@p_Count+1
									end
						end
					--end 
				--end
			end  
		--end       
		--select @l_temp
		
		set @l_temp = dbo.zFPT_mdlQCI_ConvertTemp(@l_temp)
		 
		 
		 
		if @p_MaHangHoa <> '0301002' and @p_MahangHoa <>'0301001'
				begin
					return 0
				end
		
		set  @p_Rate_0301002 = 0.001085   ----Etanol nguyên chất (0301002)
		set  @p_Rate_0301001 = 0.001085	-----Etanol biến tính (0301001)
		
		if @p_MaHangHoa = '0301002' 
			begin
					select Top 1 @p_HeSo2= HeSo, @p_VCF2=  VCF from ztbl53c  where heso >=@p_Rate_0301002  and nhietdo =@l_temp order by HeSo asc

					select  Top 1  @p_HeSo1= HeSo, @p_VCF1=  VCF  from ztbl53c  where heso <=@p_Rate_0301002 and nhietdo =@l_temp order by HeSo asc
			
					set @p_vcf =(@p_VCF2 * (@p_Rate_0301002-@p_HeSo1) + @p_VCF1* (@p_HeSo2-@p_Rate_0301002)) / (@p_HeSo2 -@p_HeSo1)
			
			end 
		
		else
			begin
					select Top 1 @p_HeSo2= HeSo, @p_VCF2=  VCF from ztbl53c  where heso >=@p_Rate_0301001  and nhietdo =@l_temp order by HeSo asc

					select  Top 1  @p_HeSo1= HeSo, @p_VCF1=  VCF  from ztbl53c  where heso <=@p_Rate_0301001 and nhietdo =@l_temp order by HeSo asc
					
					set @p_vcf =(@p_VCF2 * (@p_Rate_0301001-@p_HeSo1) + @p_VCF1* (@p_HeSo2-@p_Rate_0301001)) / (@p_HeSo2 -@p_HeSo1)
					
			end 
			
		
		
		--If @l_dens_1 = @l_dens_2 		
		--		begin  
		--			select @l_vcf_1= VCF  from tblVCF where [Temp] = @l_temp  and [Dens] = @l_dens_1
							
		--        end   
  --      Else
  --          set @l_vcf_1 = dbo.zFPT_mdlQCI_GetVCFSub_NS(@l_temp, @i_dens, @l_dens_1, @l_dens_2)
        
        
	return  isnull(@p_vcf,0)
END




