

--select * from sys_config


-- =============================================
-- Author:		anhqh
-- Create date: 20191209
-- Description:	Ham lay du lieu cac lenh xuat in tich ke sau 23h30
---   exec  [ThongTinLenhCuoiNgay_Test] 'sysadmin',null
-- =============================================
alter PROCEDURE [dbo].[ThongTinLenhCuoiNgay]
	@p_User nvarchar (200)
	,@p_Client nvarchar(20)
AS
BEGIN

	declare @p_TableClient nvarchar(200)
	
	
	select top 1 @p_TableClient  = Terminal from SYS_USer  where upper (User_Name) =upper(@p_User)
	
	declare @p_Time nvarchar(200)
	declare @p_DateTime datetime
	select top 1 @p_Time =KeyValue from SYS_CONFIG  where KeyCode ='TIME_END'
	
	set @p_Time =isnull(@p_Time,'23:30')
	
	
	begin try
		set @p_DateTime = convert(datetime, convert(nvarchar(10),getdate(),112) + ' ' + @p_Time  )
	end try		
	begin catch
		set @p_DateTime = convert(datetime, convert(nvarchar(10),getdate(),112) + ' 23:30'  )
	end catch
	
	--declare @p_TableTmp table (
	--						X nvarchar (10)
	--						, Client nvarchar(20)
	--						,NgayTichKe  datetime
	--						,SoTichKe nvarchar(200)
	--						, MaPhuongTien nvarchar(200)
	--						,GioTichKe nvarchar(200)
	--						, GioVaoKho nvarchar(200)
	--						,SoLenh nvarchar(200)
	--						, NgayHieuLuc nvarchar(200)
	--						, NgayHetHieuLuc nvarchar(200), 
	--						MaNgan nvarchar(200)
	--						,DungTich int 
	--						, MaHangHoa nvarchar(200)
	--						,  SoLuongDuXuat int 
	--						,GhiChu nvarchar(200)
	--						, LoaiXuat nvarchar(200)
	--						---, dbo.FPT_GetLoadingSite(LoaiXuat) as LoaiXuat 
	--						,SMO_ID int
	--	)
	--INSERT INTO  @p_TableTmp  ( X 
	--						, Client
	--						,NgayTichKe  
	--						,SoTichKe 
	--						, MaPhuongTien 
	--						,GioTichKe 
	--						, GioVaoKho
	--						,SoLenh 
	--						, NgayHieuLuc 
	--						, NgayHetHieuLuc  
	--						,MaNgan 
	--						,DungTich  
	--						, MaHangHoa 
	--						,  SoLuongDuXuat  
	--						,GhiChu 
	--						--, LoaiXuat nvarchar(200)
	--						---, dbo.FPT_GetLoadingSite(LoaiXuat) as LoaiXuat 
	--						,SMO_ID )
	
	declare @p_SoLenhTable table (
				SoLenh nvarchar(200)
				, MaVanChuyen nvarchar(500)
				,LoaiXuat nvarchar(100)
				)
	INSERT INTO @p_SoLenhTable (SoLenh, MaVanChuyen)
	select  SoLenh, MaVanChuyen from tblLenhXuate5 h1 with (nolock)	
						where   h1.Status  in ('3')			
							
							and getdate() >= @p_DateTime 
							---and h1.NgayTichKe >= @p_DateTime 
							and charindex(h1.Client,@p_TableClient,1) >0 
							and h1.Client =case when isnull(@p_Client,'' ) <> '' then @p_Client
											else h1.Client end 			
	update @p_SoLenhTable  set LoaiXuat =  dbo.FPT_GetLoadingSite(MaVanChuyen)
	
	select 'N' as X , Client, 
		--convert(nvarchar(10), NgayTichKe, 103) as  NgayTichKe
		 NgayTichKe as  NgayTichKe
	,SoTichKe, MaPhuongTien
		,convert(nvarchar(5),NgayTichKe , 108) as GioTichKe
		, convert(nvarchar(5),GioVaoKho , 108) as GioVaoKho
		,abc.SoLenh
		,case when isnull(NgayHieuLuc,'') <>'' then right( NgayHieuLuc,2) + '/' + substring(NgayHieuLuc,5,2) + '/' + left(NgayHieuLuc,4) 
			else null end NgayHieuLuc
		, NgayHetHieuLuc, 
		 MaNgan,SoLuongDuXuat as DungTich , MaHangHoa,  
			 SoLuongDuXuat , convert(nvarchar(2000),GhiChu) as GhiChu
		 --, cde.LoaiXuat
			---, dbo.FPT_GetLoadingSite(LoaiXuat) as LoaiXuat 
			,(select top 1 LoaiXuat from @p_SoLenhTable  k1 where k1.SoLenh =abc.SoLenh) as LoaiXuat
			 ,SMO_ID
	from  (
			select 
					h1.Client, h1.NgayTichKe, 
					 (SELECT        TOP (1) SoTichKe
											   FROM            dbo.tblTichke AS B
											   WHERE        (SoLenh = h1.SoLenh)) AS SoTichKe,
					h1.MaPhuongTien,
					h1.NgayVaoKho  as GioVaoKho
					, h1.SoLenh, 
								case when ISdate(NgayHieuLuc )  =1  then
								convert(nvarchar(10),NgayHieuLuc,111)  
								 else NULL end   as NgayHieuLuc 
					, convert(nvarchar(10), h1.NgayHetHieuLuc, 103) as NgayHetHieuLuc
					, h1.MaNguon, h1.MaPhuongThucban
					, h.MaNgan, h.SoLuongDuXuat as DungTichNgan,h.MaHangHoa,h1.GhiChu,
					 h.SoLuongDuXuat
					 ,MaVanChuyen as LoaiXuat
					 --,  dbo.FPT_GetLoadingSite(h1.MaVanChuyen) as LoaiXuat 
					 , h1.SMO_ID from fpt_tblLenhxuatChitiete5_v h, tblLenhXuate5 h1 with (nolock)	
						where h.SoLenh=h1.SoLenh  and  h1.Status  in ('3')				
							
							and getdate() >= @p_DateTime 
							---and h1.NgayTichKe >= @p_DateTime 
							and charindex(h1.Client,@p_TableClient,1) >0 
							and h1.Client =case when isnull(@p_Client,'' ) <> '' then @p_Client
											else h1.Client end 
	) abc -----, @p_SoLenhTable cde  where abc.SoLenh =cde.SoLenh
	
	
	---select * from @p_TableTmp   order by Client,NgayTichKe, MaPhuongTien, SoLenh
				
				--select * from @p_SoLenhTable		
	
END


