
-- =============================================
-- Author:		anhqh
-- Create date: 20150120
-- Description:	Trigger Insert
-- =============================================
ALTER TRIGGER [dbo].[tblTankActive_INS]
   ON  [dbo].[tblTankActive]
   AFTER INSERT
AS 
BEGIN
		INSERT INTO [tblTankActive_Hist]
					   ([Date_nd]
           ,[Name_nd]
           ,[Dens_nd]
           ,[Product_nd]
           ,[Createby]
           ,[CreateDate]
           ,[UpdateDate]
           ,[cStatus]
           ,[UpdatedBy])
				SELECT 
					   [Date_nd]
           ,[Name_nd]
           ,[Dens_nd]
           ,[Product_nd]
           ,[Createby]
           ,getdate() [CreateDate]
           ,Getdate() [UpdateDate]
           ,'I'
           ,[UpdatedBy]
					   		
					   FROM Inserted
		
END
