
ALTER TRIGGER [dbo].[tblTankActive_UPD]
   ON  [dbo].[tblTankActive]
   FOR UPDATE
AS 
BEGIN
		INSERT INTO [tblTankActive_Hist]
					   ([Date_nd]
						   ,[Name_nd]
						   ,[Dens_nd]
						   ,[Product_nd]
						   ,[Createby]
						   ,[CreateDate]
						   ,[cStatus]
						   ,[UpdateDate]						   
						   ,[UpdatedBy])
				SELECT 
					   [Date_nd]
					   ,[Name_nd]
					   ,[Dens_nd]
					   ,[Product_nd]
					   ,[Createby]
					   ,[CreateDate]
					   ,'U'
					 -- UpdateDate,
					  -- [UpdatedBy]
					   -- ,(select  UpdateDate from inserted where Date_nd =deleted.Date_nd and Name_nd=deleted.Name_nd and Product_nd=deleted.Product_nd)
					   ,getdate ()
						--, (select  UpdatedBy from inserted where Date_nd =deleted.Date_nd and Name_nd=deleted.Name_nd and Product_nd=deleted.Product_nd) 
						,UpdatedBy
				FROM inserted  
		
END
