
ALTER PROC [dbo].[InforHoaDonVCNB]
  AS
  SELECT  ltrim( replace (TenDonVi,'VP','')  )  as TenDonVi ,DiaChiFull FROM tblDonvi D JOIN 
						tblConfig C ON CONVERT(VARCHAR(4),D.MaDonVi) =CONVERT(VARCHAR(4),C.companycode)
    --SELECT  TenDonVi,DiaChiFull  FROM tblDonvi D JOIN 
				--		tblConfig C ON D.MaDonVi =C.WareHouse