
ALTER proc [dbo].[FPT_GetPrice]
@p_MaPTB varchar(2),
@p_MaHH varchar(18),
@p_DVT varchar(3),
@p_MaKH varchar(10),
@p_Term varchar(4),
@p_PriceGroup varchar(2),
@p_Inco1 varchar(3),
@p_Inco2 nvarchar(28),
@p_NgayXuat date
as
begin

if @p_MaPTB = '03'
	
		begin
			select top(1) 
			DonGia,
			WAERS
			from FPT_tblDonGia_V
			where KSCHL = 'Z001' --cond type
			and VTWEG = @p_MaPTB --distribution chanel
			and MATNR = @p_MaHH --materia
			and VRKME = @p_DVT --sale unit
			and DATAB <= @p_NgayXuat
		end
	
else
	if @p_MaPTB in ('07','08','09','10')
			
				begin
					select SUM(DonGia) as DonGia, WAERS from (
						select top(1) DonGia
								as DonGia,
								WAERS
						from FPT_tblDonGia_V
						where KSCHL = 'Z001' --cond type
								and VTWEG = @p_MaPTB --distribution chanel
								and MATNR = @p_MaHH --materia
								and VRKME = @p_DVT --sale unit
								and DATAB <= @p_NgayXuat	order by DATAB desc				
						union all
						select top(1) dongia, WAERS  from FPT_tblDonGia_V 
							where KSCHL = 'Z900' and VTWEG = @p_MaPTB and MATNR = @p_MaHH and VRKME = @p_DVT and DATAB <= @p_NgayXuat
							order by DATAB desc		
						) abc
						Group by WAERS
				end
			
	else
		if @p_MaPTB in ('05','06')
		begin
				if	@p_PriceGroup = '06'
					
								begin
									select SUM(DonGia) as DonGia, WAERS from (
									
											select top(1)
												DonGia 
												as DonGia,
												WAERS
											from FPT_tblDonGia_V
											where KSCHL = 'ZE01' --cond type
												and VTWEG = @p_MaPTB --distribution chanel
												and MATNR = @p_MaHH --materia
												and KONDA = @p_PriceGroup --price group
												and Inco1 = @p_Inco1
												and Inco2 = @p_Inco2
												and VRKME = @p_DVT --sale unit
												and DATAB <= @p_NgayXuat order by DATAB desc									
											union all									
											 select top(1) dongia, WAERS from FPT_tblDonGia_V 
											 where KSCHL = 'Z900' and VTWEG = @p_MaPTB and MATNR = @p_MaHH and VRKME = @p_DVT and KONDA = @p_PriceGroup and DATAB <= @p_NgayXuat
											 order by DATAB desc
										 ) abc
										Group by WAERS
								end
					
				else
					
							begin
								select top(1)
								DonGia,
								WAERS
								from FPT_tblDonGia_V
								where KSCHL = 'ZE01' --cond type
								and VTWEG = @p_MaPTB --distribution chanel
								and MATNR = @p_MaHH --materia
								and KONDA = @p_PriceGroup --price group
								and Inco1 = @p_Inco1
								and Inco2 = @p_Inco2
								and VRKME = @p_DVT --sale unit
								and DATAB <= @p_NgayXuat
							end
						
		end

end


