
--========================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_CheckBatch]
	@p_SoLenh nvarchar(50),
	@p_Batch nvarchar(50),
	@p_Slog  nvarchar(50),
	@p_MaKhacHang  nvarchar(150),
	@p_MaKhacHangBatch  nvarchar(150)
AS
BEGIN

		select 1 as Err, N'Batch và Slog không hợp lệ' as Desc_Err from  
				(select @p_Batch as Nguon, @p_Slog as Slog ) a where 
				Nguon  in (select BatchCode from tblBatchSlog ) 
					and Slog not in (select SlogValue from tblBatchSlog  b where a.Nguon =b.BatchCode  ) 
		--union all
		
		--select 1 as Err, N'Batch và Mã khách hàng không hợp lệ' as Desc_Err   
		--			where @p_Batch in ('N40','N45') and  @p_MaKhacHang<> @p_MaKhacHangBatch
END

