
-- =============================================
-- Author:		anhqh
-- Create date: 20190529
-- Description:	Sua theo yeu cau Anh Hieu
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GetTaiTrongKG]
	@p_BeXuat nvarchar(500),
	@p_NhietDo decimal,
	@p_UserName nvarchar(50)
AS
BEGIN	
   IF not EXISTS(SELECT * FROM tblNhietDo with (nolock) WHERE convert(date,CrDate)=convert(date,GETDATE()) and NhietDo=@p_NhietDo)
		begin
				 MERGE tblNhietDo AS target
					USING (SELECT @p_NhietDo, convert(date,getdate())) AS source (NhietDo, CrDate)
					ON (target.CrDate = source.CrDate)
				WHEN MATCHED THEN 
					UPDATE SET NhietDo = source.NhietDo, UpdatedBy=@p_UserName, UpdateDate=Getdate()
				WHEN NOT MATCHED THEN
					INSERT (NhietDo, CrDate, Createby,CreateDate )
					VALUES (source.NhietDo, source.CrDate, @p_UserName,Getdate());	
		end
		------Cac be ngoaij tru be logic E5				  		
	select Name_nd, Dens_nd as TyTrong , ISNULL((select top 1 NhietDo from tblNhietDo with (Nolock) where  
			   CONVERT(date,crDate)=(select MAX(crDate) from tblNhietDo with (Nolock) )),30) as NhietDo			   
			     from FPT_tblTankActive_V a where Date1 =CONVERT(date,getdate()  )	
			     	and  CHARINDEX(',' + Name_nd +',',@p_BeXuat,1)>0 
			    and not exists (select 1 from tblMeterE5 where  TankE5 =a.Name_nd )
											---CHARINDEX(',' + TankE5  +',',',DG19,',1)>0	)
			 --------Neu be logic E5 thi lay theo ty trong xang nen
	
	Union all
	 select distinct TankE5, 
		( select  Dens_nd 	from FPT_tblTankActive_V a where Date1 =CONVERT(date,getdate()  -1) 
				and a.Name_nd =b.TankID )  as 	TyTrong,  
			   	    ISNULL((select top 1 NhietDo from tblNhietDo with (Nolock) where  
			   CONVERT(date,crDate)=(select MAX(crDate) from tblNhietDo with (Nolock) )),30) as NhietDo		
		from tblMeterE5 b  where  CHARINDEX(',' + TankE5  +',',@p_BeXuat,1)>0	
			    	    	     
		
END

