

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[FPT_GetTableID_KV1_New]	
	@p_MaVanChuyen nvarchar(20),
	@p_Date datetime
AS
BEGIN
	declare @p_Year  nvarchar(10)
	declare @Value nvarchar(20)
	declare @p_Tmp nvarchar(30)
	declare @p_TableID nvarchar(20)
	declare @p_Number int
	declare @ID int
	declare @p_SQL nvarchar(1000)
	declare @DATE nvarchar(10)
	declare @MONTH nvarchar(10)
   
	declare @p_DateCreate datetime
	declare @p_DateCreate_Old datetime
	declare @p_Count int
	
	
	set @p_DateCreate=ISNULL(@p_Date,getdate())
	
    set @p_Tmp='0000000'
	set @p_Year =CONVERT(nvarchar(10), year(@p_DateCreate))
	
	SET @MONTH = DATEPART(MM, @p_DateCreate)
	IF LEN(@MONTH) = 1
	BEGIN
		SET @MONTH = '0' + @MONTH
	END

	SET @DATE  = DATEPART(DD, @p_DateCreate)
	IF LEN(@DATE) = 1
	BEGIN
		SET @DATE = '0' + @DATE
	END
	
	
	
	set @p_DateCreate_Old=GETDATE()
	
	select @p_Count =count(*) from Sys_tableid_old with (nolock) where  convert(date,ngayxuat)  >convert(date, @p_DateCreate_Old)
								--and maxtable >=100
		
	if isnull(@p_Count,0) >0  --Neu da phat sinh lenh cua ngay hom sau
		   IF EXISTS(SELECT * FROM SYS_TABLEID WHERE CONVERT(date,CrdDate)= convert(date, @p_Date))
				--Neu trong bang SYS_TABLEID la ngay tuong lai
				BEGIN
					set @p_SQL=' insert into [SYS_TABLEID] (CrdDate) values (''' + convert(varchar(20),CONVERT(date,@p_DateCreate)) + '''); SELECT @ID = SCOPE_IDENTITY()'
								 execute sp_executesql @p_sql,N'@Id Numeric OUTPUT',  @ID output
					set @Value=@MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4)  --+ @ID    --CAST( @ID as varchar(7)))
					update SYS_TABLEID set  TableID=@Value where ID = @ID
					
					insert into Sys_tableid_old  ([MaxTable],[NgayXuat])
														values  (@ID,@p_DateCreate ) 
													
				END
			ELSE
				
				begin
					IF EXISTS(SELECT * FROM Sys_tableid_old WHERE CONVERT(date,[NgayXuat])=CONVERT(date,@p_DateCreate) )
							begin
									select @ID = MAX([MaxTable]) from Sys_tableid_old with (nolock)
										where CONVERT(date,[NgayXuat])=CONVERT(date,@p_DateCreate) 	-- and maxtable >=100 
									
									if isnull(@ID,0) <100
										begin
											set @ID=100
										end
									else
										begin
											set @ID=ISNULL(@ID,0)+1
										end
									insert into Sys_tableid_old  ([MaxTable],[NgayXuat])
										values  (@ID,@p_DateCreate ) 
										--select @id
									set @Value=@MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4)  --+ @ID    --CAST( @ID as varchar(7)))	
							end
					else			
							begin			
									select @ID = MAX(right(tableid,4)) from tblLenhXuat_HangHoaE5 a with (nolock)
										where CONVERT(date,ngayxuat)=CONVERT(date,@p_DateCreate) 
											and exists (select 1 from tblLenhXuatE5 with (nolock)  where solenh =a.solenh
															and MaVanchuyen <>'ZR' ) 
											--and LEFT(right(tableid,4),2) <>'99'
									
									if isnull(@ID,0) <100
										begin
											set @ID=100
										end 
									else
										begin
											set @ID=ISNULL(@ID,0)+1
										end
									set @Value=@MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4)  --+ @ID    --CAST( @ID as varchar(7)))							
									
									insert into Sys_tableid_old  ([MaxTable],[NgayXuat])
										values  (@ID,@p_DateCreate ) 
								
							end		
					--	return
				end		
	else									
		 begin				
				IF EXISTS(SELECT * FROM SYS_TABLEID WHERE CONVERT(date,CrdDate)=CONVERT(date,@p_DateCreate))
						BEGIN
							set @p_SQL=' insert into [SYS_TABLEID] (CrdDate) values (''' + convert(varchar(20),CONVERT(date,@p_DateCreate)) + '''); SELECT @ID = SCOPE_IDENTITY()'
										 execute sp_executesql @p_sql,N'@Id Numeric OUTPUT',  @ID output
							set @Value=@MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4)  --+ @ID    --CAST( @ID as varchar(7)))
							update SYS_TABLEID set  TableID=@Value where ID = @ID
							
							insert into Sys_tableid_old  ([MaxTable],[NgayXuat])
																values  (@ID,@p_DateCreate ) 
															
						END
				ELSE
					if convert(date, @p_DateCreate_Old) > 	CONVERT(date,@p_DateCreate)-----Neu ngay lenh xuat la qua khu
							begin
									IF EXISTS(SELECT * FROM Sys_tableid_old WHERE CONVERT(date,[NgayXuat])=CONVERT(date,@p_DateCreate) )
											begin
													select @ID = MAX([MaxTable]) from Sys_tableid_old with (nolock)
														where CONVERT(date,[NgayXuat])=CONVERT(date,@p_DateCreate) 	-- and maxtable >=100 
													
													if isnull(@ID,0) <100
														begin
															set @ID=100
														end
													else
														begin
															set @ID=ISNULL(@ID,0)+1
														end
													insert into Sys_tableid_old  ([MaxTable],[NgayXuat])
														values  (@ID,@p_DateCreate ) 
														--select @id
													set @Value=@MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4)  --+ @ID    --CAST( @ID as varchar(7)))	
											end
									else			
											begin			
													select @ID = MAX(right(tableid,4)) from tblLenhXuat_HangHoaE5 a with (nolock)
														where CONVERT(date,ngayxuat)=CONVERT(date,@p_DateCreate) 
															and exists (select 1 from tblLenhXuatE5 with (nolock)  where solenh =a.solenh
																			and MaVanchuyen <>'ZR' ) 
															--and LEFT(right(tableid,4),2) <>'99'
													
													if isnull(@ID,0) <100
														begin
															set @ID=100
														end 
													else
														begin
															set @ID=ISNULL(@ID,0)+1
														end
													set @Value=@MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4)  --+ @ID    --CAST( @ID as varchar(7)))							
													
													insert into Sys_tableid_old  ([MaxTable],[NgayXuat])
														values  (@ID,@p_DateCreate ) 
												
											end		
							
							end
					else
							BEGIN
									TRUNCATE TABLE SYS_TABLEID;
									---INSERT INTO tblIdentityKey(CreateDate) VALUES(GETDATE());

									set @p_SQL=' insert into [SYS_TABLEID] (CrdDate) values (''' + convert(varchar(20),CONVERT(date,@p_DateCreate)) + '''); SELECT @ID = SCOPE_IDENTITY()'
											 execute sp_executesql @p_sql,N'@Id Numeric OUTPUT',  @ID output

									set @Value=@MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4)  --+ @ID    --CAST( @ID as varchar(7)))
									update SYS_TABLEID set  TableID=@Value where ID = @ID
									insert into Sys_tableid_old  ([MaxTable],[NgayXuat])
													values  (@ID,@p_DateCreate ) 
							END
						
							
										
		end		
	--	end								
			   
	select @Value as TableID
		
END
