---exec FPT_CheckBatch '2021293220','N40','0004','0000200057','0000200057A'
--USE [ZZKV1_20171127]
--GO
--/****** Object:  StoredProcedure [dbo].[FPT_CheckBatch]    Script Date: 05/25/2018 16:37:05 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--========================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_CheckBatch]
	@p_SoLenh nvarchar(50),
	@p_Batch nvarchar(50),
	@p_Slog  nvarchar(50),
	@p_MaKhacHang  nvarchar(150),
	@p_MaKhacHangBatch  nvarchar(150)
AS
BEGIN
		declare @p_MaKhacHang22  nvarchar(150)
		declare @p_MaKhacHangBatch22  nvarchar(150)
		
		--if @p_MaKhacHang 
		
		if @p_MaKhacHang= @p_MaKhacHangBatch
			begin
					set @p_MaKhacHangBatch22=@p_MaKhacHangBatch
					set @p_MaKhacHang22=@p_MaKhacHang
			end
		else
			begin
				
				set @p_MaKhacHang22=right(@p_MaKhacHang,9)
				if charindex(@p_MaKhacHang22,@p_MaKhacHangBatch) >0  and @p_MaKhacHang  <>@p_MaKhacHangBatch 
					begin
							set @p_MaKhacHangBatch22=left(@p_MaKhacHangBatch22,9)
					end
				else
					begin
							set @p_MaKhacHangBatch22=@p_MaKhacHangBatch
					end
			end
		select 1 as Err, N'Batch và Slog không hợp lệ' as Desc_Err from  
				(select @p_Batch as Nguon, @p_Slog as Slog ) a where 
				Nguon  in (select BatchCode from tblBatchSlog ) 
					and Slog not in (select SlogValue from tblBatchSlog  b where a.Nguon =b.BatchCode  ) 
		union all
		select 1 as Err, N'Batch và Mã khách hàng không hợp lệ' as Desc_Err   
					where @p_Batch in ('N40','N45') and  @p_MaKhacHang22<> @p_MaKhacHangBatch22
					
		--select 1 as Err, N'Batch và Mã khách hàng không hợp lệ' as Desc_Err   
		--			where @p_Batch in ('N40','N45') and  @p_MaKhacHang<> @p_MaKhacHangBatch
END

