

-- =============================================
-- Author:		anhqh
-- Create date: 31/07/2015
-- Description:	Ham lay du lieu de in tich ke
-- =============================================
ALTER PROCEDURE [dbo].[FPT_LenhXuat_TichKe]
	@p_SoLenh nvarchar(500),
	@p_MaVach int
AS
BEGIN
	 SELECT  [MaLenh]
     -- ,[NgayXuat]
     ,isnull(NgayTichKe,GETDATE()) as NgayXuat     
      ,[SoLenh]
      ,MaTichKe
      ,[MaDonVi]
      ,[MaNguon]
      ,[MaKho]
      ,[MaVanChuyen]
      ,[MaPhuongTien]
      ,[NguoiVanChuyen]
      ,[MaPhuongThucBan]  + ' - ' + [TenPhuongThucBan] as [MaPhuongThucBan]            
      --,case when MaNguon = 'N05' then [MaKhachHang]+ ' - ' + isnull([TenKhachHang],'') + ' - ' + ISNULL(diemtrahang,'')
      --else [MaKhachHang]+ ' - ' + isnull([TenKhachHang],'') end as [MaKhachHang]
      ,case when isnull(TenVietTat,'')<>'' then
		     [MaKhachHang]+ ' - ' +TenVietTat +  ' - ' + ISNULL(diemtrahang,'')
		else	[MaKhachHang]+ ' - ' + isnull([TenKhachHang],'') + ' - ' + ISNULL(diemtrahang,'') end as [MaKhachHang]
      , mangan
       ,[MaHangHoa]
        ,[DonViTinh]
         ,convert(int,[SoLuongDuXuat])  as SoLuongDuXuat
      ,convert(int,[SoLuongDuXuat])  as [SoLuongThucXuat] 
        ,[ThoiGianDau]
      ,[ThoiGianCuoi]
       ,[Sl_llkebd]
      ,[Sl_llkekt]
       ,convert(nvarchar(10),[HeSo_k] ) as HeSo_k
      ,[NhietDo]
      ,[TyTrong_15]
      ,Status
      ,[BeXuat] as MaBeXuat
      ,TenHangHoa 
      ,case when MaVanChuyen='ZB' OR MaVanChuyen='ZM' then 'X' else '' end as  Thuy
      ,case when MaVanChuyen='ZR'  then 'X' else '' end as  Sat
      , case when MaVanChuyen='ZR' OR MaVanChuyen='ZT' then 'X' else '' end as  Bo
      --, [MaLuuLuongKe] as MaCongTo
     , MeterId as MaCongTo
       ,TableID as PR_KEY
      ,LineID
      ,TableID
      --,LoaiPhieu
     , case when isnull(LoaiPhieu,'V144') ='V144' then '' else LoaiPhieu end as LoaiPhieu
    ,MaTuDongHoa 
    ,GhiChu
  FROM  FPT_LenhXuat_TongHop_v a where CHARINDEX ( SoLenh, @p_SoLenh ,1) >0 and SoLenh<>'0'
  order by mangan
  --SoLenh=@p_SoLenh
END
