
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[FPT_GetTableID_KV1_NewNew]	
	@p_MaVanChuyen nvarchar(20),
	@p_Date datetime,
	@p_MaHangHoa varchar(50)
AS
BEGIN
	declare @p_Year  nvarchar(10)
	declare @Value nvarchar(20)
	declare @p_Tmp nvarchar(30)
	declare @p_TableID nvarchar(20)
	declare @p_Number int
	declare @ID int
	declare @p_SQL nvarchar(1000)
	declare @DATE nvarchar(10)
	declare @MONTH nvarchar(10)
   
	declare @p_DateCreate datetime
	declare @p_DateCreate_Old datetime
	
	
	
	set @p_DateCreate=ISNULL(@p_Date,getdate())
	
    set @p_Tmp='0000000'
	set @p_Year =CONVERT(nvarchar(10), year(@p_DateCreate))
	
	SET @MONTH = DATEPART(MM, @p_DateCreate)
	IF LEN(@MONTH) = 1
	BEGIN
		SET @MONTH = '0' + @MONTH
	END

	SET @DATE  = DATEPART(DD, @p_DateCreate)
	IF LEN(@DATE) = 1
	BEGIN
		SET @DATE = '0' + @DATE
	END
	
	--if @p_MaVanChuyen='ZR'
	--	begin
	  select @ID = MAX(ID) from SYS_TABLEID_ZR_Hist with (nolock)
			where CONVERT(date,CrdDate)=CONVERT(date,@p_DateCreate) 
				--anhqh
				--20180123  tam bo di, Wagon se lay TDH tu 1 den 100
				----and MaHangHoa=@p_MaHangHoa
		set @ID=ISNULL(@ID,0)+1
		--if @ID>20
		--	begin
		--		set @ID=20
		--	end
			
	 --  set @Value=@MONTH + @DATE + '99' +   right(@p_Tmp + CAST( @ID as varchar(2))   , 2)  --+ @ID    --CAST( @ID as varchar(7)))
	   
	   set @Value = @MONTH + @DATE +   right(@p_Tmp + CAST( @ID as varchar(4))   , 4) 
	   update SYS_TABLEID_ZR set  TableID=@Value where ID = @ID		
	   
	   insert into [SYS_TABLEID_ZR_Hist]  (TableID,CrdDate, MaHangHoa, ID)
			values  (@Value,@p_DateCreate,'',@ID ) 	
				   
	   select @Value as TableID
	--  end


	select @Value as TableID
	
END
