
--USE [HTTG_UAT]
--GO
--/****** Object:  StoredProcedure [dbo].[FPT_LayTyTrongBe]    Script Date: 08/10/2017 20:40:45 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_LayTyTrongBe] 
	@p_SoLenh varchar(30)
AS	
BEGIN	
	--select Name_nd from tblmeter where ArmNo=@p_ArmNo and 
	--	upper(LoadingSite)=@p_LoadingSite and ProductCode =@p_ProductCode
	declare @p_Value numeric(8,4)
	
	declare @p_ValueTmp varchar(30)
	declare @p_ArmNo int
	
	declare @p_ArmNo_Hist int
	
	
	declare @p_LoadingSite varchar(30)	
	declare @p_ProductCode 	varchar(30)	
	declare @p_TableID varchar(20)
	declare @p_NgayXuat datetime
	declare @p_Row_ID  int
	declare @Name_nd varchar(50)
	declare @BeXuat varchar(50)
	declare @p_Dens decimal(18,4)
	
DECLARE p_cursor CURSOR  
    FOR select MaLuuLuongKe,Tableid, h1.ThoiGianCuoi as NgayXuat,Row_ID,
			(select MavanChuyen from tblLenhXuatE5 h where h.SoLenh=h1.SoLenh )  as MavanChuyen , 
			MaHangHoa , BeXuat
		 from FPT_tblLenhXuatChiTietE5_V h1 where SoLenh=@p_SoLenh 
		 --anhqh  20170810
				--and not exists  (select 1 from tblHangHoaE5 h2 where h2.MaHangHoa=h1.MaHangHoa)
		 and (not exists  (select 1 from tblHangHoaE5 h2 where h2.MaHangHoa=h1.MaHangHoa)
				or exists (select 1 from tblmeter where Armno=h1.maluuluongke 
					and  ( isnull(h1.GST,0) <=0  or TyLe_TTe <=0  ) )
				)
	OPEN p_cursor  
	
    FETCH  FROM p_cursor   INTO @p_ArmNo, @p_TableID  ,
			@p_NgayXuat,@p_Row_ID, @p_LoadingSite, @p_ProductCode,@BeXuat
	
WHILE @@FETCH_STATUS = 0  
BEGIN  
        set @p_LoadingSite =dbo.FPT_GetLoadingSite (@p_LoadingSite)
       set @p_Value=0
       set @Name_nd =''
    set @p_Dens=0
		
      SELECT top 1 
			  @p_ArmNo_Hist=[ArmNo]			  
			  ,@Name_nd=[Name_ND]			  
			  ,@p_Dens=[Dens]
			  
		  FROM tblTankActive_Arm_Hist	with (nolock)	  
				  where ArmNo=@p_ArmNo and 
								upper(LoadingSite)=@p_LoadingSite and ProductCode =@p_ProductCode
										and  CrdDate < = isnull(@p_NgayXuat,getdate())
										order by CrdDate desc 
								
		  -- SELECT top 1 *
			  
		  --FROM tblTankActive_Arm_Hist	with (nolock)	  
				--  where ArmNo=@p_ArmNo and 
				--				upper(LoadingSite)=@p_LoadingSite and ProductCode =@p_ProductCode
				--						and  CrdDate < = isnull(@p_NgayXuat,getdate())
				--						order by CrdDate desc 
								
		--	return					    
		if ISNULL(@Name_nd,'')=''
			begin
				set @Name_nd=@BeXuat
				
			--	print  '@Name_nd:=' + @Name_nd
			end 
		
		 if ISNULL(@p_Dens,0)<=0
			begin
				set @p_Value= (select top 1  Dens_nd  from  FPT_tblTankActive_V where 
					Name_nd =@Name_nd 
					--(select Name_nd from tblmeter where ArmNo=@p_ArmNo and 
					--	upper(LoadingSite)=@p_LoadingSite and ProductCode =@p_ProductCode)
							and CONVERT(date, Date1 ) =  CONVERT(date, isnull((select MAX(Date1) from FPT_tblTankActive_V )  ,getdate())))	     --  CONVERT(date,getdate()))		
								--and CONVERT(date, Date1 ) = CONVERT(date,getdate()))		
			--	print 'Row_ID:' + convert(varchar(50),@p_Row_ID) +'   Value:' + convert(varchar(50),@p_Value)						
			end	
		else 
			begin
				set @p_Value=@p_Dens
			end
	--	select  @p_Value as  Dens_nd 
		--tblLenhXuatChiTietE5
		if ISNULL(@p_Value,0)>0
			begin
			--	print'23444'
				--print 'Row_ID:' + convert(varchar(50),@p_Row_ID) +'   Value:' + convert(varchar(50),@p_Value)
				
				update tblLenhXuatChiTietE5 set TyTrong_15=@p_Value
					where --TableID =@p_TableID
						--and NgayXuat=@p_NgayXuat
						Row_ID=@p_Row_ID
				update tblLenhXuat_HangHoaE5 set BeXuat =@Name_nd
					where convert(date,NgayXuat) =convert(date,@p_NgayXuat)  and TableID =@p_TableID
			end 
		
  FETCH NEXT FROM p_cursor   
    INTO @p_ArmNo, @p_TableID  ,@p_NgayXuat,@p_Row_ID, @p_LoadingSite, @p_ProductCode,@BeXuat
END   
CLOSE p_cursor;  
DEALLOCATE p_cursor;  

	
	
END

