
/****** Object:  StoredProcedure [dbo].[InforHoaDonVCNB]    Script Date: 12/05/2017 14:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[InforHoaDonVCNB]
  AS
  SELECT d.TenDonVi,d.DiaChiFull, e.TenKho 
  FROM tblDonvi D 
  JOIN tblConfig C ON CONVERT(VARCHAR(4),D.MaDonVi) = CONVERT(VARCHAR(4),C.companycode)
  join tblKho E ON CONVERT(VARCHAR(4),E.MaDonVi) = CONVERT(VARCHAR(4),C.companycode)
			    and CONVERT(varchar(4),E.MaKho) = CONVERT(varchar(4),C.warehouse)
