-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		anhqh
-- Create date: 20190608
-- Description:	Ham dung cho bao cáo Mẫu kiể soát tải trọng
-- =============================================
alter PROCEDURE MauKiemSoatTaiTrong
	@p_FromDate_In date
	,@p_ToDate_In date
	,@p_MaPhuongTien nvarchar(100)
AS
BEGIN
	declare @p_FromDate date
	declare @p_ToDate date
	set @p_FromDate =isnull(@p_FromDate_In, '20190101')
	set @p_ToDate =isnull(@p_ToDate_In, getdate() +5)
	
	
	
	select NgayXuat,
			STUFF(
									(   SELECT '; ' + SoLenh 
										FROM tbllenhxuate5 hh  with (Nolock)
										WHERE hh.MaPhuongTien =a.MaPhuongTien
											and hh.ngayxuat =a.NgayXuat
											and hh.Number=a.Number
										FOR xml path('')
									)
									, 1
									, 1
									, '') as SoLenh,
			   ---  TenKhachHang, 
			   STUFF(
									(   SELECT distinct '; ' + TenKhachHang 
										FROM tbllenhxuate5 hh with (Nolock)
										WHERE hh.MaPhuongTien =a.MaPhuongTien
											and hh.ngayxuat =a.NgayXuat
											and hh.Number=a.Number
										FOR xml path('')
									)
									, 1
									, 1
									, '') as TenKhachHang,  
				STUFF ( (select distinct '; ' +  bbb.MaLenh   from tbllenhxuate5 aaa  with (Nolock)
							, tbllenhxuat_hanghoae5 bbb  with (Nolock)
									where aaa.SoLenh=bbb.SoLenh
										and aaa.MaPhuongTien =a.MaPhuongTien
											and aaa.ngayxuat =a.NgayXuat
											and aaa.Number=a.Number
										FOR xml path('') )
									, 1
									, 1
									, ''
									) as MaLenh,			
				 MaPhuongTien, 
				 Number, 
				 sum(QCI_KG) as QCI_KG, 
				 sum(KG) as  KG,  
				 sum(KG) - sum(QCI_KG)  as  ChenhLech
				 ,round( (isnull( sum(KG),0)/sum(QCI_KG) ) *100,2)  as TyLeChenhLech
			FROM  (
					select   a.NgayXuat, 
					null as MaLenh, a.TenKhachHang
					,a.MaPhuongTien,a.Number, b.QCI_KG as QCI_KG, b.KG  as KG 
				
					   from fpt_tbllenhxuate5_v a, tbllenhxuat_hanghoae5 b  with (Nolock)
						where a.solenh =b.solenh   and a.Status in ('4','5')
							and a.NgayXuat >=@p_FromDate
							and a.NgayXuat <=@p_ToDate
							and a.MaPhuongTien = isnull(@p_MaPhuongTien,a.MaPhuongTien)
							   and isnull( b.QCI_KG,0) >0 
		) a
		group by NgayXuat, TenKhachHang, MaPhuongTien, Number
			order by NgayXuat,  MaPhuongTien, Number, TenKhachHang
	
END
GO
