/****** Script for SelectTopNRows command from SSMS  ******/

create view tblTankBatchs_v as 
SELECT [ID]
      ,[TankCode]
      ,[BatchNum]
      ,[Add_Content]
      ,[CreateDate]
      ,[CrUser]
      ,[UpdDate]
      ,[UpdUser]
      ,[Desc]
      , b.Product_nd
      ,'N' as CHECKUPD
  FROM [dbo].[ztblTankBatchs] A, tblTank B
	where TankCode =b.Name_nd