<?xml version="1.0" standalone="yes"?>
<Config>
  <PRINTER>Microsoft XPS Document Writer</PRINTER>
  <PRINTERVAT>EPSON LQ-310 ESC/P2</PRINTERVAT>
  <CLIENT>A</CLIENT>
  <WCF>FALSE</WCF>
  <DB_NAME>ZZKV2_20180108</DB_NAME>
  <DB_USER>sa</DB_USER>
  <DB_PASS>VDBAjyaNI+U1YYnaTyd+VA==</DB_PASS>
  <DB_IPADDRESS>10.0.1.20</DB_IPADDRESS>
  <DBTYPE>SQL</DBTYPE>
  <FOXIN>E:\AAPLX\KV3\Kv3_TGBX</FOXIN>
  <FOXOUT>E:\AAPLX\KV3\Kv3_TGBX</FOXOUT>
  <FOXTEMP>E:\AAPLX\KV3\Kv3_TGBX\ddmmyyyy.dbf</FOXTEMP>
  <ACCTEMP>E:\AAPLX\B12\Cang dau\Tichke.mdb</ACCTEMP>
  <ACCUSER />
  <ACCPASS>V0U4uSQLCyNcv4h/4m2b3Q==</ACCPASS>
  <USER_LOGIN>sysadmin</USER_LOGIN>
  <DB_PORT />
  <E5>TRUE</E5>
  <FOXIN_WAGON>Z:\KV3\tdh_wagon</FOXIN_WAGON>
  <FOXOUT_WAGON>Z:\KV3\tdh_wagon</FOXOUT_WAGON>
  <FOXTEMP_WAGON>Z:\KV3\tamtdh\ddmmyyyy.dbf</FOXTEMP_WAGON>
</Config>