

ALTER PROCEDURE [dbo].[FPT_GetDataToScadar]
	@p_SoLenh nvarchar(500)
AS
BEGIN
	select aa.*, bb.MaHangHoa as MaHangHoaTG, 
                (select top 1 MaHangHoa_Scada  from tblMap_MaHangHoa where MaHangHoa_Sap =bb.MaHangHoa) as MaHangHoa  
                ,cc.MaPhuongTien as PhuongTienH 
                ,0 as Flag1,
                bb.TableID as H_TableID ,
                bb.BeXuat , bb.MeterId ,   '' as Scadar_STT,
                cc.MaKhachHang, cc.TenKhachHang, cc.SoTichKe
                , convert(int,aa.MaNgan) as MaNgan_S
                ,(select  case when ISNULL( DiaChiFull,'') ='' then DiaChi else DiaChiFull end from tblKhachHang where MaKhachHang= cc.MaKhachHang) as DiaChiKhach
            
				 , dbo.FPT_CheckTankE5(bb.BeXuat) as FlagTankLineE5
            from tblLenhXuatChiTietE5 aa with (Nolock), tblLenhXuat_HangHoaE5 bb with (Nolock) , fpt_tblLenhXuatE5_v cc with (Nolock) 
             where aa.TableID=bb.TableID and bb.NgayXuat=aa.NgayXuat
				and bb.SoLenh=cc.SoLenh 
             --and  bb.LineID=aa.LineID and bb.NgayXuat=aa.NgayXuat and aa.MaLenh=bb.MaLenh 
				and CHARINDEX (',' + bb.SoLenh +',',',' +@p_SoLenh+',',1)>0
				--bb.SoLenh=@p_SoLenh
END