
CREATE TABLE [dbo].[zTankListATG_M_HIST](
	[ID] [int]  NULL,
	[TankCode] [nvarchar](50) NULL,
	[CrDate] [datetime] NULL,
	[CrUser] [nvarchar](50) NULL,
	[UpdDate] [datetime] NULL,
	[UpdUser] [nvarchar](500) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL
	,sStatus nvarchar(10)
	,dDate datetime
	)
