/****** Script for SelectTopNRows command from SSMS  ******/

create view zTankListATG_M_V as

SELECT [ID]
      ,[TankCode]
      ,(select product_nd from tblTank where Name_nd = a.TankCode)  as product_nd
      ,[CrDate]
      ,[CrUser]
      ,[Upđate]
      ,[UpdUser]
      ,[FromDate]
      ,[ToDate]
      ,'N' as CHECKUPD
  FROM [zTankListATG_M] A
  
  
  
  