
ALTER PROCEDURE [dbo].[FPT_HoaDon_ChiTietE5]
@SoLenh nvarchar(10)
AS
begin	
	--SELECT top 1 @p_WareHouse= warehouse FROM [tblConfig]
	declare @p_KEYVALUE nvarchar(2)
	select top 1 @p_KEYVALUE=KEYVALUE from SYS_CONFIG where KEYCODE='TONGDUXUAT'
	
	declare @p_MaVanChuyen  nvarchar(10)
	
	select top 1 @p_MaVanChuyen=MaVanChuyen from tbllenhxuate5  where SoLenh=@SoLenh
	
	set @p_MaVanChuyen=dbo.FPT_GetLoadingSite(@p_MaVanChuyen)
	
	declare @p_KEYVALUETHUY nvarchar(2)
	select top 1 @p_KEYVALUETHUY=KEYVALUE from SYS_CONFIG where KEYCODE='TONGDUXUATTHUY'
	
	--return
	if @p_MaVanChuyen <>'THUY'
		begin 
	
				if ltrim(rtrim(@p_KEYVALUE)) ='1'  --Lay du xuat
					begin
								SELECT  lxhh.LineID, ROW_NUMBER()
									OVER(ORDER BY lxhh.LineID) AS 'STT',
									 lxhh.MaHangHoa AS N'MãHàngHóa' ,
									  hh.TenHangHoa N'TênHàngHóa', 
									
									  isnull(lxhh.DonGia,0.000000) as N'ĐơnGiá', --hieptd4 add 20161102
									   					  
									  0.000000 AS N'ChiếtKhấu',
									
									  (select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_v where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID ) AS N'TổngDựXuất', 
									
									  (select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_v where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID ) as N'TổngXuất'
									,  lxhh.DonViTinh AS N'ĐơnVịTính',
									  dbo.fm_NhietDo_TBE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'NhiệtĐộ',
									 dbo.fm_TyTrongE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'TỷTrọng',
									 
									  isnull(  (select Sum( isnull(GST,0)) from fpt_tblLenhXuatChiTietE5_v with (Nolock) where Tableid 	
												= lxhh.Tableid and MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID ),0) AS N'L15'
									  
									  --,cast('' as nvarchar(10)) as VCF
									  --,cast('' as nvarchar(10)) as WCF
									  --,cast('' as nvarchar(10)) as KG
									  ,VCF
									  , WCF
									  , KG
									  ,NhietDo_BQGQ
									  ,D15_BQGQ
									  ,isnull(lxhh.CurrencyKey,'') as CurrencyKey -- hieptd4 add 20161102 
								FROM tblLenhXuat_HangHoaE5  lxhh  with (Nolock) 
								LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
								WHERE lxhh.SoLenh=@SoLenh ORDER BY lxhh.MaHangHoa ASC
					end
				 else  ---Lay thuc xuat
					begin
							SELECT  lxhh.LineID, ROW_NUMBER()
									OVER(ORDER BY lxhh.LineID) AS 'STT',
									 lxhh.MaHangHoa AS 'MãHàngHóa' ,
									  hh.TenHangHoa N'TênHàngHóa', 
								
									  isnull(lxhh.DonGia,0.000000) as N'ĐơnGiá', --hieptd4 add 20161102
									  						  
									  0.000000 AS N'ChiếtKhấu',
									  (select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_v where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID) AS N'TổngDựXuất', 
									(select Sum( SoLuongThucXuat) from fpt_tblLenhXuatChiTietE5_v where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID ) as N'TổngXuất',
									  lxhh.DonViTinh AS N'ĐơnVịTính',
									 dbo.fm_NhietDo_TBE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'NhiệtĐộ',
									 dbo.fm_TyTrongE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'TỷTrọng',
									
									 isnull(  (select Sum(isnull( GST,0)) from fpt_tblLenhXuatChiTietE5_v with (Nolock)
										 where  Tableid 	= lxhh.Tableid and MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID),0) AS N'L15'
									 -- 0 AS N'L15'
									   --,cast('' as nvarchar(10)) as VCF
									  --,cast('' as nvarchar(10)) as WCF
									  --,cast('' as nvarchar(10)) as KG
									  , VCF
									  , WCF
									  , KG
									  ,NhietDo_BQGQ
									  ,D15_BQGQ
									  ,isnull(lxhh.CurrencyKey,'') as CurrencyKey -- hieptd4 add 20161102 
								FROM tblLenhXuat_HangHoaE5  lxhh  with (Nolock) 
								LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
								WHERE lxhh.SoLenh=@SoLenh ORDER BY lxhh.MaHangHoa ASC
					end
         end
     else
		begin 
	
				if ltrim(rtrim(@p_KEYVALUETHUY)) ='1'  --Lay du xuat
					begin
								SELECT  lxhh.LineID, ROW_NUMBER()
									OVER(ORDER BY lxhh.LineID) AS 'STT',
									 lxhh.MaHangHoa AS N'MãHàngHóa' ,
									  hh.TenHangHoa N'TênHàngHóa', 
									
									  isnull(lxhh.DonGia,0.000000) as N'ĐơnGiá', --hieptd4 add 20161102
									   					  
									  0.000000 AS N'ChiếtKhấu',
									
									  (select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_v where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID ) AS N'TổngDựXuất', 
									
									 (select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_v where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID ) as N'TổngXuất'
									 , lxhh.DonViTinh AS N'ĐơnVịTính',
									 dbo.fm_NhietDo_TBE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'NhiệtĐộ',
									 dbo.fm_TyTrongE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'TỷTrọng',
									  isnull(  (select Sum( GST) from fpt_tblLenhXuatChiTietE5_v with (Nolock) where MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and Tableid 	= lxhh.Tableid and 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID),0) AS N'L15'
									  --,cast('' as nvarchar(10)) as VCF
									  --,cast('' as nvarchar(10)) as WCF
									  --,cast('' as nvarchar(10)) as KG
									   , VCF
									  , WCF
									  , KG
									  ,NhietDo_BQGQ
									  ,D15_BQGQ
									  ,isnull(lxhh.CurrencyKey,'') as CurrencyKey -- hieptd4 add 20161102 
								FROM tblLenhXuat_HangHoaE5  lxhh  with (Nolock) 
								LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
								WHERE lxhh.SoLenh=@SoLenh ORDER BY lxhh.MaHangHoa ASC
					end
				 else  ---Lay thuc xuat
					begin
							SELECT  lxhh.LineID, ROW_NUMBER()
									OVER(ORDER BY lxhh.LineID) AS 'STT',
									 lxhh.MaHangHoa AS 'MãHàngHóa' ,
									  hh.TenHangHoa N'TênHàngHóa', 
								  isnull(lxhh.DonGia,0.000000) as N'ĐơnGiá', --hieptd4 add 20161102
									  						  
									  0.000000 AS N'ChiếtKhấu',
									  (select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_v  where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID) AS N'TổngDựXuất', 
										(select Sum( SoLuongThucXuat) from fpt_tblLenhXuatChiTietE5_v where 	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID ) as N'TổngXuất',
									  lxhh.DonViTinh AS N'ĐơnVịTính',
									 dbo.fm_NhietDo_TBE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'NhiệtĐộ',
									 dbo.fm_TyTrongE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) AS N'TỷTrọng',
									  isnull(  (select Sum( GST) from fpt_tblLenhXuatChiTietE5_v with (Nolock) where  Tableid 	= lxhh.Tableid and	MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID),0) AS N'L15'
									  , --,cast('' as nvarchar(10)) as VCF
									  --,cast('' as nvarchar(10)) as WCF
									  --,cast('' as nvarchar(10)) as KG									  
									   VCF
									  , WCF
									  , KG
									  ,NhietDo_BQGQ
									  ,D15_BQGQ
									  ,isnull(lxhh.CurrencyKey,'') as CurrencyKey -- hieptd4 add 20161102 
								FROM tblLenhXuat_HangHoaE5  lxhh  with (Nolock) 
								LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
								WHERE lxhh.SoLenh=@SoLenh ORDER BY lxhh.MaHangHoa ASC
					end
         end					
end	
