--exec  KV2_BM_14_03_Test '20180619','20180619','C',Null,Null,null,null,'6/19/2018 12:00:00 AM','23:59'

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter PROCEDURE [dbo].[KV2_BM_14_03]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,
	@p_Client nvarchar(10),
	@p_MaHangHoa nvarchar(18),
	@p_SoCongTo nvarchar(30),
	@p_BeXuat nvarchar(20),
	@p_MaPhuongTien nvarchar(10),
	@p_TimeF datetime,
	@p_TimeT datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @p_From_Hour int
	declare @p_From_MINUTE int
	
	declare @p_To_Hour int
	declare @p_To_MINUTE int
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	
	set @p_From_Hour= datepart(hour,@p_TimeF)
	set @p_From_MINUTE = datepart(MINUTE ,@p_TimeF)
	set @p_to_Hour= datepart(hour,@p_TimeT)
	set @p_To_MINUTE = datepart(MINUTE ,@p_TimeT)
	
	declare @p_TableID nvarchar(50)
	declare @p_SoLenh nvarchar(50)
	declare @p_Count int
	declare @p_NgayXuat date
	declare @p_LineID nvarchar(50)
	declare @p_MaLenh nvarchar(50)
	
	
	declare @p_FromTime int 
	set @p_FromTime =  convert(nvarchar(4),	@p_From_Hour ) +  case when LEN(convert(nvarchar(4),@p_From_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_From_MINUTE)
								else convert(nvarchar(4),@p_From_MINUTE) end
	declare @p_ToTime int
	set @p_ToTime= convert(nvarchar(4),	@p_To_Hour ) + case when LEN(convert(nvarchar(4),@p_To_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_To_MINUTE)
								else convert(nvarchar(4),@p_To_MINUTE) end
	
	--select @p_FromTime, @p_ToTime
	

	
	declare @TableVar2 table (
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NhietDo decimal (10,2),
			TongNDSL decimal(18,0), 
			TongSL decimal (18,0),
			iCount int
			)
	
	declare @TableVar1 table (
			MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			LuongGiamDinh nvarchar(50) ,
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime
			,Tableid nvarchar(50)
			, MaNgan nvarchar(10),
			Row_ID int
			--CustomerID nchar(5) NOT NULL			
			)		
	insert into @TableVar1(Row_ID,
				MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat ,
				BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				LuongGiamDinh,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				NhietDo,
				TyTrong ,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau 
				,Tableid)
	
	
	SELECT	
	a.Row_ID,
	a.MaHangHoa, 
	a.TenHangHoa, 
	a.SoLenh, 
	a.SoLuongThucXuat as SoLuongThucXuat, --a.SoLuongDuXuat as SoLuongThucXuat, --a.SoLuongThucXuat,
	a.BeXuat, 
	a.MaPhuongTien,
	a.MeterId  as SoCongTo, 
	LuongGiamDinh,
	a.Sl_llkebd,
	a.Sl_llkekt,
	a.MaEntry,
	
	NhietDo as NhietDo,
	
	TyTrong_15 as  TyTrong,
	0.0000 as VCF, 
	0 as SluongQC, 
	
	a.ThoiGianDau as GioXuatKho,
	a.[Status], client,
	MaVanChuyen,
	MaLuuLuongKe,
	SoLuongDuXuat,
	LineID,
	MaLenh,
	NgayXuat,
	NgayTichKe,
	TyTrong_15,
	ThoiGianDau
	,Tableid			 
				-- into anhqhtest
				 
	from FPT_LenhXuat_TongHop_v a
	where convert(date,ThoiGianDau)>=@p_Fdate 
	and CONVERT(date,ThoiGianDau)<=@p_TDate 
	and a.Status in ('31','4','5')
	and ( a.MaVanChuyen = 'ZB' or  a.MaVanChuyen = 'ZM' )
	and  CONVERT(int, REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) >=  @p_FromTime
	and convert(int,  REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) <= @p_ToTime		

			
union all
	SELECT	a.Row_ID,
	a.MaHangHoa, 
	a.TenHangHoa, 
	a.SoLenh, 
	a.SoLuongDuXuat as SoLuongThucXuat, --a.SoLuongThucXuat,
	a.BeXuat, 
	a.MaPhuongTien,
	a.MeterId  as SoCongTo, 
	LuongGiamDinh,
	a.Sl_llkebd,
	a.Sl_llkekt,
	a.MaEntry,
	--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
	NhietDo as NhietDo,
	--case when a.[Status] = '3' then --dbo.fm_TyTrongE5 (a.LineID, a.MaLenh, a.NgayXuat) 
	--0 else TyTrong_15 end as  TyTrong,
	0 as  TyTrong,
	0.0000 as VCF, 
	0 as SluongQC, 
	--case when a.[Status] = '3' then isnull(a.NgayTichKe,a.NgayXuat)
	--else a.ThoiGianDau end as GioXuatKho,
	isnull(a.NgayTichKe,a.NgayXuat) as GioXuatKho,
	a.[Status], 
	client,
	MaVanChuyen,
	MaLuuLuongKe,
	SoLuongDuXuat,
	LineID,
	MaLenh,
	NgayXuat,
	NgayTichKe,
	TyTrong_15,
	ThoiGianDau
	,Tableid
	from FPT_LenhXuat_TongHop_v a
	where CONVERT(date, isnull(a.NgayTichKe,a.NgayXuat))>=@p_Fdate 
	and convert(date,isnull(a.NgayTichKe,a.NgayXuat)) <=@p_TDate 
	and a.Status ='3'
	and ( a.MaVanChuyen = 'ZB' or  a.MaVanChuyen = 'ZM' )					
	
	and  CONVERT(int, REPLACE( CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108),':','')) >=  @p_FromTime
					and convert(int,  REPLACE( CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108),':','')) <= @p_ToTime	
	

				
	update @TableVar1 set ThoiGianDau = isnull(NgayTichKe,NgayXuat), 
				          TyTrong=(select top 1 Dens_nd from FPT_tblTankActive_V where Name_nd = BeXuat and Date1 = convert(date,ISNULL( NgayTichKe,NgayXuat )))										
	where [Status] = '3'
		
	----anhqh 20180621  them doan tinh lai SLPhuongTien cho tung dong==============================
	
	declare @TableTong11 table (
			MaHangHoa nvarchar(20),
			MaLenh nvarchar(20),		
			
			TongLTT decimal(18,0), 
			TongLPT decimal (18,0),
			ChenhLech decimal (18,0),
			TyLe  decimal (18,6),
			ChenhLechTL decimal (18,0),
			iCount int,
			MaNgan nvarchar(10)
			,Row_ID int
			)
			
			
	declare @TableTong table (
			MaHangHoa nvarchar(20),
			MaLenh nvarchar(20),		
			
			TongLTT decimal(18,0), 
			TongLPT decimal (18,0),
			ChenhLech decimal (18,0),
			TyLe  decimal (18,6),
			ChenhLechTL decimal (18,0),
			iCount int
			
			)
	insert into @TableTong11 ( Row_ID, MaHangHoa,MaLenh,TongLPT , TongLTT ) --,ChenhLech,TyLe,ChenhLechTL ,iCount )
	select  Row_ID,
			MaHangHoa, 			
			SoLenh,
			SluongTaiPtien ,
			SluongThucXuat
			--sum(SluongThucXuat ) as SluongThucXuat  			
			--, count(*) as iCount
	from (	SELECT	Row_ID,
			a.MaHangHoa, 
	        a.TenHangHoa, 
	        a.SoLenh, 	        
	        case when a.[Status] = '3' then a.SoLuongDuXuat
	        else a.SoLuongThucXuat
	        end as SluongThucXuat_QCI,	  
	        a.SoLuongThucXuat  as   SluongThucXuat,
	        a.BeXuat, a.MaPhuongTien,
			SoCongTo, --a.MaLuuLuongKe as SoCongTo, 
			a.Sl_llkebd as CSCtoDau, 
			a.Sl_llkekt as CSCtoCuoi,
			a.Sl_llkekt - a.Sl_llkebd as SluongXuatCto, 		
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then convert(decimal(7),a.LuongGiamDinh)
			else null 
			end as SluongTaiPtien,			
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then (a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh)
			else (a.Sl_llkekt - a.Sl_llkebd) -- -null
			end as ClechSluong,			
			case when a.[Status] = '3'  then 0 else case when ISNUMERIC(a.LuongGiamDinh) = 1 and a.Sl_llkekt - a.Sl_llkebd <>0 then ((a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh))/(a.Sl_llkekt - a.Sl_llkebd) * 100
			else 1 * 100
			end end  as ClechTyLe,						
			--a.MaEntry as CCHH, -- Chiều cao hầm hàng
			a.NhietDo, 
			
			
			case when a.[Status] = '3' then
			(select top 1 Dens_nd from FPT_tblTankActive_V where Name_nd = a.BeXuat and Date1 =convert(date,ISNULL( a.NgayTichKe,a.NgayXuat )))
			else a.TyTrong_15 end as TyTrong, 
			
		--0 as TyTrong, 
			
			0.0000 as VCF, 			
			0 as SluongQC, 
			case when a.[Status] = '3' then CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108)
			else convert(char(5), a.ThoiGianDau, 108) end as GioXuatKho,
			GioXuatKho	as NgayXuatKho,
			a.[Status]
			from @TableVar1 a 		 
			where a.Client = case when len(@p_Client)=0 OR @p_Client IS NULL then a.Client else @p_Client end 		  
			and a.MaHangHoa = case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
			ISNULL(a.MaLuuLuongKe,'') = case when len(@p_SoCongTo)=0 OR @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and
			a.BeXuat = case when LEN(@p_BeXuat)=0 OR @p_BeXuat IS NULL then a.BeXuat else @p_BeXuat end  and
			a.MaPhuongTien = case when LEN(@p_MaPhuongTien)=0 OR @p_MaPhuongTien IS NULL then a.MaPhuongTien else @p_MaPhuongTien end 
		  --CONVERT(char(5),a.ThoiGianDau, 108) >= case when a.[Status] in ('3') then CONVERT(char(5),a.ThoiGianDau, 108) else CONVERT(char(5),@p_TimeF, 108) end and
		  --CONVERT(char(5),a.ThoiGianDau, 108) <= case when a.[Status] in ('3') then CONVERT(char(5),a.ThoiGianDau, 108) else CONVERT(char(5),@p_TimeT, 108) end	
		  
		  and a.[Status]  in ( '4','5') 
	) abc	 
				
	
	insert into @TableTong (MaHangHoa,MaLenh,TongLPT , TongLTT, iCount ) --,ChenhLech,TyLe,ChenhLechTL ,iCount )
		select  MaHangHoa,MaLenh,TongLPT ,sum( TongLTT) as TongLTT, count(*) as iCount
				 from @TableTong11 group by  MaLenh, MaHangHoa, TongLPT
			
	UPDATE @TableTong set ChenhLech= TongLPT - TongLTT--, TyLe = (TongLPT/( TongLPT - TongLTT)) --,ChenhLech,TyLe,ChenhLechTL ,iCount )
			where 				iCount >1		
	update 	@TableTong11 set  iCount  = (select iCount  from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa )
	update 	@TableTong11 set  ChenhLech  = (select ChenhLech  from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa)		
						where 	 iCount >1												
															
	update 	@TableTong11 set  TyLe  = TongLTT / (select TongLPT from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa)
			where 	 iCount >1
	update 	@TableTong11 set  ChenhLechTL  = round(TyLe * 	ChenhLech,0)
						where 	 iCount >1			
																			
	UPDATE @TableTong set ChenhLechTL= ChenhLech  -  (select sum(ChenhLechTL)  from @TableTong11  
																where MaLenh=[@TableTong].MaLenh 
																	and MaHangHoa =[@TableTong].MaHangHoa) 
			where 				iCount >1	
	
    
	update 	@TableTong11 set  ChenhLechTL  = ChenhLechTL+ isnull((select ChenhLechTL from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa),0)
						where 	 iCount >1	
								and Row_ID= (select Min(Row_ID) from @TableTong11 aa where aa.MaLenh= [@TableTong11].MaLenh 
																and aa.MaHangHoa =[@TableTong11].MaHangHoa) 
	--================================================================================	
				
	
		
	select
			MaHangHoa, 
			TenHangHoa, 
			SoLenh, 	        
			SluongThucXuat_QCI,	  
			SluongThucXuat  ,
			BeXuat, 
			MaPhuongTien,
			SoCongTo, --a.MaLuuLuongKe as SoCongTo, 
			CSCtoDau, 
			CSCtoCuoi,
			SluongXuatCto, 		
			--SluongTaiPtien,		
			case when isnull((select  ChenhLechTL from @TableTong11  hhh where hhh.Row_ID=abc.Row_ID),0) >0 then 
					SluongThucXuat + isnull((select  ChenhLechTL from @TableTong11  hhh where hhh.Row_ID=abc.Row_ID),0)	
					else    SluongTaiPtien  end			 as SluongTaiPtien,
			ClechSluong,			
			ClechTyLe,						
			--a.MaEntry as CCHH, -- Chiều cao hầm hàng
			NhietDo, 
			TyTrong, 
			--0.0000 as VCF, 	
			dbo.zzFPT_mdlQCI_GetVCF_NS (NhietDo, TyTrong) as VCF,		
    CONVERT(decimal(18,0),	isnull(dbo.zzFPT_mdlQCI_CalculateQCI_NS (
						SluongThucXuat_QCI, 
						'L',
						NhietDo,
						TyTrong,MaHangHoa,''
						) ,0)) as SluongQC, 
	GioXuatKho,
	NgayXuatKho,
	[Status],
	case when MaHangHoa not like '07%' then 'L15' else 'KG' end as DVT
	, (case when isnull(SluongTaiPtien,0) >0 then isnull(SluongThucXuat,0) / SluongTaiPtien else 0 end ) as TL_SluongTaiPtien
	,round( (case when isnull(SluongTaiPtien,0) >0 then isnull(SluongThucXuat,0) / SluongTaiPtien else 0 end ) * isnull(SluongTaiPtien,0),0)  as TT_SluongTaiPtien
	--update @TableVar1 set DVT ='L15' where MaHangHoa not like '07%'
		--update @TableVar1 set DVT ='KG' where MaHangHoa  like '07%'
	from (	SELECT	 a.Row_ID,
			a.MaHangHoa, 
	        a.TenHangHoa, 
	        a.SoLenh, 	        
	        case when a.[Status] = '3' then a.SoLuongDuXuat
	        else a.SoLuongThucXuat
	        end as SluongThucXuat_QCI,	  
	        a.SoLuongThucXuat  as   SluongThucXuat,
	        a.BeXuat, a.MaPhuongTien,
			SoCongTo, --a.MaLuuLuongKe as SoCongTo, 
			a.Sl_llkebd as CSCtoDau, 
			a.Sl_llkekt as CSCtoCuoi,
			a.Sl_llkekt - a.Sl_llkebd as SluongXuatCto, 		
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then convert(decimal(7),a.LuongGiamDinh)
			else null 
			end as SluongTaiPtien,			
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then (a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh)
			else (a.Sl_llkekt - a.Sl_llkebd) -- -null
			end as ClechSluong,			
			case when a.[Status] = '3'  then 0 else case when ISNUMERIC(a.LuongGiamDinh) = 1 and a.Sl_llkekt - a.Sl_llkebd <>0 then ((a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh))/(a.Sl_llkekt - a.Sl_llkebd) * 100
			else 1 * 100
			end end  as ClechTyLe,						
			--a.MaEntry as CCHH, -- Chiều cao hầm hàng
			a.NhietDo, 
			
			
			case when a.[Status] = '3' then
			(select top 1 Dens_nd from FPT_tblTankActive_V where Name_nd = a.BeXuat and Date1 =convert(date,ISNULL( a.NgayTichKe,a.NgayXuat )))
			else a.TyTrong_15 end as TyTrong, 
			
		--0 as TyTrong, 
			
			0.0000 as VCF, 			
			0 as SluongQC, 
			case when a.[Status] = '3' then CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108)
			else convert(char(5), a.ThoiGianDau, 108) end as GioXuatKho,
			GioXuatKho	as NgayXuatKho,
			a.[Status]
			from @TableVar1 a			
			where a.Client = case when len(@p_Client)=0 OR @p_Client IS NULL then a.Client else @p_Client end 		  
			and a.MaHangHoa = case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
			ISNULL(a.MaLuuLuongKe,'') = case when len(@p_SoCongTo)=0 OR @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and
			a.BeXuat = case when LEN(@p_BeXuat)=0 OR @p_BeXuat IS NULL then a.BeXuat else @p_BeXuat end  and
			a.MaPhuongTien = case when LEN(@p_MaPhuongTien)=0 OR @p_MaPhuongTien IS NULL then a.MaPhuongTien else @p_MaPhuongTien end 
		  --CONVERT(char(5),a.ThoiGianDau, 108) >= case when a.[Status] in ('3') then CONVERT(char(5),a.ThoiGianDau, 108) else CONVERT(char(5),@p_TimeF, 108) end and
		  --CONVERT(char(5),a.ThoiGianDau, 108) <= case when a.[Status] in ('3') then CONVERT(char(5),a.ThoiGianDau, 108) else CONVERT(char(5),@p_TimeT, 108) end	
	) abc	
	order by MaHangHoa, [Status], SoCongTo, CSCtoDau, GioXuatKho
END

