
--exec  KV2_BM_06_02_Test '20171001','20171015',Null,'1/9/2018 12:00:00 AM','23:59'
ALTER PROCEDURE [dbo].[KV2_BM_06_02]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,	
	@p_MaHangHoa nvarchar(18),		
	@p_TimeF datetime,
	@p_TimeT datetime
AS
BEGIN

	
    declare @p_From_Hour int
	declare @p_From_MINUTE int
	
	declare @p_To_Hour int
	declare @p_To_MINUTE int
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	
	set @p_From_Hour= datepart(hour,@p_TimeF)
	set @p_From_MINUTE = datepart(MINUTE ,@p_TimeF)
	set @p_to_Hour= datepart(hour,@p_TimeT)
	set @p_To_MINUTE = datepart(MINUTE ,@p_TimeT)
	
	
	declare @p_TableID nvarchar(50)
	declare @p_SoLenh nvarchar(50)
	declare @p_Count int
	declare @p_NgayXuat date
	declare @p_LineID nvarchar(50)
	declare @p_MaLenh nvarchar(50)
	
	
	
	declare @p_FromTime int 
	set @p_FromTime =  convert(nvarchar(4),	@p_From_Hour ) +  case when LEN(convert(nvarchar(4),@p_From_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_From_MINUTE)
								else convert(nvarchar(4),@p_From_MINUTE) end
	declare @p_ToTime int
	set @p_ToTime= convert(nvarchar(4),	@p_To_Hour ) + case when LEN(convert(nvarchar(4),@p_To_MINUTE)) =1 then '0' +  convert(nvarchar(4),@p_To_MINUTE)
								else convert(nvarchar(4),@p_To_MINUTE) end
	
	
	
	declare @TableVar2 table (
			MeterID nvarchar(50)
			)
	insert into @TableVar2
	select distinct  MeterId  from vwMeterAll --where Client =ISNULL(@p_Client,client) 
			
	--select * from @TableVar2 
	--return
	
	declare @TableVar3 table (
			Client nvarchar(50)
			)
	insert into @TableVar3
	select Client   from FPT_Client_V  --where Client =ISNULL(@p_Client,client) 
	
	
	declare @TableVar1 table (
		MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			SoLuongDuXuat_Ndo decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime,
			DVT nvarchar(10),
			gst numeric(18,2)
			--CustomerID nchar(5) NOT NULL	
			,tableid nvarchar(20)
			)		
	
	
	insert into @TableVar1
		(MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat 
				,SoLuongDuXuat_Ndo
				,BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				 NhietDo,
				TyTrong ,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst , tableid)
	SELECT	a.MaHangHoa, 
				a.TenHangHoa, 
				a.SoLenh, 
				 dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0) as SoLuongThucXuat, 
				 dbo.FPT_LaySoThucXuat(MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0) as SoLuongDuXuat_Ndo,
				a.BeXuat, 
				a.MaPhuongTien,
				a.MaLuuLuongKe as SoCongTo, 
				a.Sl_llkebd,
				a.Sl_llkekt,
				a.MaEntry,
				--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
				NhietDo as NhietDo,
				case when a.[Status] = '3' then --dbo.fm_TyTrongE5 (a.LineID, a.MaLenh, a.NgayXuat) 
				0 else TyTrong_15 end as  TyTrong,
				0.0000 as VCF, 
				0 as SluongQC, 
				case when a.[Status] = '3' then isnull(a.NgayTichKe,a.NgayXuat)
				else a.ThoiGianDau end as GioXuatKho,
				a.[Status], client,
				dbo.FPT_GetLoadingSite(MaVanChuyen) as MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst, tableid
		from FPT_LenhXuat_TongHop_v a, @TableVar2 bb
		where convert(date,ThoiGianDau)>=@p_Fdate and 
			CONVERT(date,ThoiGianDau)<=@p_TDate 
					and a.Status in ('31','4','5')					
					and a.MaLuuLuongKe =bb.MeterID 				
					and  a.MaHangHoa = ISNULL(@p_MaHangHoa,a.mahanghoa) -- case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
				and  CONVERT(int, REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) >=  @p_FromTime
				and convert(int,  REPLACE( CONVERT(char(5),a.ThoiGianDau, 108),':','')) <= @p_ToTime	
	
	
  declare @p_TblSoLenh table (SoLenh nvarchar(50))
  insert into @p_TblSoLenh (SoLenh)
  select distinct SoLenh from @TableVar1
 -- return
--	select * from tbllenhxuate5
	
	declare @p_tbllenhxuat_hanghoaE5 table (
					NgayXuat date
					,SoLenh nvarchar(50)
					,TableID nvarchar(50), 
					NhietDo_BQGQ decimal (10,5)
					,D15_BQGQ decimal (10,5) 
					, vcf decimal (10,5)
					,Wcf decimal (10,5)
					, Kg decimal (18,2)
					, L15 decimal (18,2)
					 ,MaHangHoa nvarchar(50)
					 ,LineID nvarchar(50),
					MaLenh nvarchar(50)
					,MultiD15 int
					
					--NgayXuat date
					-- ,Tableid nvarchar(50)
		) 
	insert into @p_tbllenhxuat_hanghoaE5 (
					NgayXuat 
					,SoLenh 
					,TableID , 
					NhietDo_BQGQ 
					,D15_BQGQ 
					, vcf
					,Wcf 
					, Kg 
					, L15 
					 ,MaHangHoa 
					 ,LineID ,
					MaLenh 
					,MultiD15
					--NgayXuat 
					 --,Tableid 
							)
	select  NgayXuat 
					,SoLenh 
					,TableID , 
					NhietDo_BQGQ 
					,D15_BQGQ 
					, vcf
					,Wcf 
					, Kg 
					, L15 
					 ,MaHangHoa 
					, LineID ,
					MaLenh 
					,1
					--,dbo.fm_TyTrongE5_BQGQ (solenh, Tableid) as  MultiD15
					--NgayXuat 
					-- ,Tableid 
					 from tbllenhxuat_hanghoaE5 aa with (nolock ) 
		where exists (select 1 from @p_TblSoLenh where SoLenh=aa.SoLenh)
	
	--update   @p_tbllenhxuat_hanghoaE5  set MultiD15 =dbo.fm_TyTrongE5_BQGQ (solenh, Tableid) 
			--where MaHangHoa in (select MaHangHoa from tblHangHoae5)
	DECLARE p_CursorTmpD15 CURSOR FOR  
				select SoLenh, tableid, NgayXuat, LineID, MaLenh, count(TyTrong_15) as nCount from  (

				SELECT 
									 SoLenh, tableid,NgayXuat, LineID, MaLenh,TyTrong_15
								FROM 
									@TableVar1 AS lxct 
								where  exists (select 1 from @p_tbllenhxuat_hanghoaE5 b
													where b.SoLenh=lxct.SoLenh 
														and b.Tableid=lxct.Tableid
														and b.NgayXuat=lxct.NgayXuat
														and b.LineID=lxct.LineID
														and b.MaLenh=lxct.MaLenh)
								group by SoLenh, tableid , TyTrong_15,NgayXuat, LineID, MaLenh
								---having count (TyTrong_15)>1
								) abc  group by SoLenh, tableid , NgayXuat, LineID, MaLenh
								having count (TyTrong_15)>1
	OPEN p_CursorTmpD15  

	FETCH NEXT FROM p_CursorTmpD15   INTO @p_SoLenh, @p_TableID
						,@p_NgayXuat, @p_LineID, @p_MaLenh,@p_Count

	WHILE @@FETCH_STATUS = 0  	
		begin
		    update   @p_tbllenhxuat_hanghoaE5  set MultiD15 =@p_Count
					where SoLenh=@p_SoLenh and TableID=@p_TableID
						and NgayXuat=@p_NgayXuat and LineID=@p_LineID and MaLenh=@p_MaLenh
			FETCH NEXT FROM p_CursorTmpD15   INTO @p_SoLenh, @p_TableID, @p_NgayXuat, @p_LineID, @p_MaLenh, @p_Count
		end
	
	CLOSE p_CursorTmpD15
	DEALLOCATE p_CursorTmpD15
		
	
	declare @p_tbllenhxuate5 table (
					SoLenh nvarchar(50)
					,MaVanChuyen nvarchar(50)
					,Client nvarchar(10)
					
				)
	insert into @p_tbllenhxuate5 (
				SoLenh
				,MaVanChuyen
				,Client
				)
	select SoLenh
				,MaVanChuyen
				,Client  from tbllenhxuate5 aa1 with (nolock ) 
					where exists (select 1 from @p_TblSoLenh where SoLenh=aa1.SoLenh)
	--select gg1.* from @p_tbllenhxuat_hanghoaE5 gg ,  @TableVar1 gg1 where gg.SoLenh=gg1.SoLenh
	--			and gg1.LineID =gg.LineID
	--								and gg1.MaLenh=gg.MaLenh 	
	
	--return
	
				
									
	--							--
	--	return
							
							
									
	
	declare @TableVarTmp123 table (
						MaHangHoa nvarchar(50), 
						TenHangHoa nvarchar(500), 					
						--SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
						SoLuongDuXuat decimal(18,2),						
						SluongQC decimal (18,2), 
						VCF decimal (10,4), 
						client nvarchar(5),
						MaVanChuyen nvarchar(20)									
						,gst numeric(18,2)		
						,MultiD15 int
						,SoLenh nvarchar(50)
						,NhietDoBQ decimal (18,2)
						,TyTrongBQ decimal (18,4)
						,TyTrong_15 decimal (18,4)
						, svcf   nvarchar(50)
						,sNhietDoBQ nvarchar(50)
						,sTyTrongBQ nvarchar(50)						
						--,solenh nvarchar(20)					
						)	
						
insert into @TableVarTmp123 (SoLenh,MaHangHoa, SluongQC, VCF, Client,MaVanChuyen, SoLuongDuXuat
			 ,  NhietDoBQ, TyTrongBQ, MultiD15, TyTrong_15)						
						
select SoLenh, MaHangHoa --, (select TenHangHoa from tblHangHoa hh with (nolock) where hh.MaHangHoa=anhqh123.MahangHoa) as TenHangHoa
	,  L15 as SluongQC, 
			VCF
	, Client,  MaVanChuyen
	, SoLuongThucXuat as SoLuongDuXuat
	, dbo.FPT_ROUNDNUMBER(case when  isnull(NhietDo_BQGQ,0) >0 then NhietDo_BQGQ else  NhietDoBQ /SoLuongThucXuat  end ,2)  as NhietDoBQ 
	,dbo.FPT_ROUNDNUMBER(case when isnull(D15_BQGQ,0) >0 then D15_BQGQ else TyTrongBQ/ SoLuongThucXuat end ,4) as TyTrongBQ
	--,SoLenh,
	, MultiD15
	,TyTrong_15
from (select h1.NgayXuat, h1.SoLenh,  h2.Client,h2.MaVanChuyen, h1.TableID,	
								isnull(h1.NhietDo_BQGQ,0) as NhietDo_BQGQ ,isnull( h1.D15_BQGQ,0) as D15_BQGQ, isnull(h1.vcf,0) as vcf, h1.Wcf, h1.Kg	, h1.L15,h1.MaHangHoa,	
								sum(dbo.FPT_LaySoThucXuat(h2.MaVanChuyen , h.SoLuongThucXuat ,h.SoLuongDuXuat,0)) as SoLuongThucXuat	
								,sum(NhietDo*dbo.FPT_LaySoThucXuat(h2.MaVanChuyen , h.SoLuongThucXuat ,h.SoLuongDuXuat,0)) as NhietDoBQ	
								--, case when dbo.fm_TyTrongE5_BQGQ (h1.solenh, h1.Tableid)<=1 then min(TyTrong_15) else		
								--	
								,sum(TyTrong_15*dbo.FPT_LaySoThucXuat(h2.MaVanChuyen , h.SoLuongThucXuat ,h.SoLuongDuXuat,0))   as TyTrongBQ
								, h1.MultiD15
								,min(TyTrong_15) as TyTrong_15
								from @TableVar1 h
										,@p_tbllenhxuat_hanghoaE5 h1 , @p_tbllenhxuate5 h2
										--, @TableVar2 bb
										where h.solenh=h1.solenh and h.tableid=h1.tableid
												 and h.ngayxuat=h1.ngayxuat
												--and h1.ngayxuat <='20180109'
												--and h1.ngayxuat >='20180101'
												and h.LineID =h1.LineID
												and h.MaLenh=H1.MaLenh 									
												and h1.solenh=h2.solenh
										group by h1.NgayXuat,h1.SoLenh, h2.Client,h2.MaVanChuyen,h1.TableID, 
												h1.NhietDo_BQGQ, h1.D15_BQGQ, h1.vcf, h1.Wcf, h1.Kg, h1.L15,h1.MaHangHoa, MultiD15
				
	) anhqh123			
	
	
	
	--return
	--select * from @TableVarTmp123
	
	--return
	 update @TableVarTmp123 set 	TyTrong_15 = TyTrongBQ  where MultiD15 >1
	 --update @TableVarTmp123 set sNhietDoBQ =NhietDoBQ
		--				,sTyTrongBQ =TyTrongBQ
	 					
	  update @TableVarTmp123 set 			
								  VCF = dbo.zzFPT_mdlQCI_GetVCF_NS (NhietDoBQ,TyTrongBQ)
								--  where solenh='2020511345'
							  where vcf =0
	  update @TableVarTmp123 set 	SoLuongDuXuat = SluongQC  where isnull(SluongQC,0) >0
	   update @TableVarTmp123 set 	SoLuongDuXuat = dbo.FPT_ROUNDNUMBER( dbo.FPT_ROUNDNUMBER(VCF * SoLuongDuXuat,0) ,0) where isnull(SluongQC,0) <=0
	   
	update @TableVarTmp123 set mavanchuyen =dbo.FPT_GetLoadingSite(MaVanChuyen)
    
    select MaHangHoa, 
			 (select TenHangHoa from tblHangHoa where MaHangHoa =anhqh.mahanghoa)   TenHangHoa,
				SluongThucXuat
				,SluongThucXuat_A
				,SluongThucXuat_B
				,SluongThucXuat_C
				,SluongThucXuat_THUY
				, SluongThucXuat_BO
				,round(case when SluongThucXuat =0 or SluongThucXuat_A =0 then 
						0.00 
					 else 
						( SluongThucXuat_A / SluongThucXuat  )*100
						end ,2 )   as ThucXuat_A_TL
				,round(case when SluongThucXuat =0 or SluongThucXuat_B =0 then 
						0.00 
					 else 
						(SluongThucXuat_B / SluongThucXuat )*100
						end ,2 ) as ThucXuat_B_TL	
				,round(case when SluongThucXuat =0 or SluongThucXuat_C =0 then 
						0.00 
					 else 
						(SluongThucXuat_C / SluongThucXuat )*100
						end ,2 ) as ThucXuat_C_TL		
				,round(case when SluongThucXuat =0  or SluongThucXuat_THUY=0  then 
						0.00 
					 else 
						(SluongThucXuat_THUY / SluongThucXuat )*100
						end ,2 ) as ThucXuat_THUY_TL
				,SluongThucXuat_BO
				,round(case when SluongThucXuat =0 or SluongThucXuat_BO=0  then 
						0.00 
					 else 
						(SluongThucXuat_BO / SluongThucXuat )*100
						end ,2 ) as ThucXuat_BO_TL
	    from  (
					select MaHangHoa, 
						   TenHangHoa,
						 --  Client_A,
						   sum(isnull(SluongThucXuat_THUY,0))  + sum(isnull(SluongThucXuat_BO,0))  as SluongThucXuat,
							sum(SluongThucXuat_A) as SluongThucXuat_A, 
							sum(SluongThucXuat_b) as SluongThucXuat_B,
							sum(SluongThucXuat_C) as  SluongThucXuat_C
						   , sum(isnull(SluongThucXuat_THUY,0)) as SluongThucXuat_THUY
						   , sum(isnull(SluongThucXuat_BO,0)) as SluongThucXuat_BO
						   
							from  (
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,						 
											   round( sum(SoLuongDuXuat),0)  as SluongThucXuat_A
											   , 0 as SluongThucXuat_B, 								  
												0 as SluongThucXuat_C,
												case when MaVanChuyen ='THUY' then
												   0
												else
												  round( sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
												
												
										from  @TableVarTmp123--where Status <>'3'	
											where client ='A'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
										Union all
										
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,
												0 as SluongThucXuat_A, 						 
											  round( sum(SoLuongDuXuat),0) as SluongThucXuat_B								   								  
												,0 as SluongThucXuat_C
												,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												  round( sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
										from  @TableVarTmp123--where Status <>'3'	
											where client ='B'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
										Union all
										
										select MaHangHoa, 
											   TenHangHoa,--'A' as Client_A,
												0 as SluongThucXuat_A
												,0 as SluongThucXuat_B,						 
											   round(sum(SoLuongDuXuat),0)  as SluongThucXuat_C								   								  
												,case when MaVanChuyen ='THUY' then
												   0
												else
												   round(sum(SoLuongDuXuat),0)
												end   as SluongThucXuat_BO
												,case when MaVanChuyen ='THUY' then
												   round(sum(SoLuongDuXuat),0)
												else
												   0
												end   as SluongThucXuat_THUY
										from  @TableVarTmp123--where Status <>'3'	
											where client ='C'		
										group by MaHangHoa, TenHangHoa , MaVanChuyen
										
											
										) abc Group by MaHangHoa, 
														TenHangHoa) anhqh
					  order by MaHangHoa
END