USE [ZZKV1_SYNC]
GO
/****** Object:  StoredProcedure [dbo].[FPT_Synchronized_TankActive]    Script Date: 06/04/2018 10:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_Synchronized_TankActive]
AS
BEGIN
	declare @p_SoLenh nvarchar(50)
	declare @p_ID as int
	declare @p_cStatus varchar(1)
	declare @p_IDNumber int
	--============Lenh xuat===========================
	DECLARE SoLenh_cursor CURSOR FOR   
		select IDNumber, ID, cStatus from LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive_Hist] 
			with (nolock) where isnull( SynStatus,'') = ''  
				and convert(date,HistDate)>='20180601'
				order by HistDate, ID asc	
	OPEN SoLenh_cursor  
	FETCH NEXT FROM SoLenh_cursor INTO @p_IDNumber, @p_ID , @p_cStatus
	WHILE @@FETCH_STATUS = 0  
		BEGIN  
			BEGIN TRY 				
			   if isnull(@p_cStatus,'')='D'
					begin
					
						delete from  tblTankActive
								where Map_ID=@p_ID
								
						update LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive_Hist]
								 set SynDate=getdate(), SynStatus='Y' where IDNumber=@p_IDNumber
						
					end
				else --if isnull(@p_cStatus,'')='U'
					begin
						IF EXISTS(SELECT 1 FROM tblTankActive where Map_ID=@p_ID)
							begin
							
								--print ('Update')
								UPDATE sr  
										set sr.Name_nd =source.Name_nd										
										,sr.Dens_nd =source.Dens_nd
										,sr.Product_nd =source.Product_nd
										,sr.LoadingSite =source.LoadingSite			
										,sr.HistDate =source.HistDate
										,sr.FromDate =source.FromDate																				
										   ,SynDate =getdate()
											, SynStatus ='Y'											
										FROM tblTankActive  AS sr  
										inner JOIN LOCALSERVER.[ZZKV1_20171127].[dbo].tblTankActive  AS source   
											 ON sr.Map_ID = source.ID  
											 and  source.ID= @p_ID   
											 
								 update LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive_Hist]
								 set SynDate=getdate(), SynStatus='Y' where IDNumber=@p_IDNumber
							end
						else
							begin
							--print ('Insert')
							INSERT INTO [tblTankActive]
									   ([Date_nd]
									   ,[Name_nd]
									   ,[Dens_nd]
									   ,[Product_nd]
									   ,[Createby]
									   ,[UpdatedBy]
									   ,[CreateDate]
									   ,[UpdateDate]
									   ,[LoadingSite]
									   ,[HistDate]
									   ,[FromDate]
									   ,[SynDate]
									   ,[SynStatus]
									   ,[Map_ID])
  
							   select [Date_nd]
									   ,[Name_nd]
									   ,[Dens_nd]
									   ,[Product_nd]
									   ,[Createby]
									   ,[UpdatedBy]
									   ,[CreateDate]
									   ,[UpdateDate]
									   ,[LoadingSite]
									   ,[HistDate]
									   ,[FromDate]										  											  
												   , getdate(), 'Y'
												    ,[ID]
								from LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive] with (nolock) where ID=@p_ID
								 
								 update LOCALSERVER.[ZZKV1_20171127].[dbo].[tblTankActive_Hist]
								 set SynDate=getdate(), SynStatus='Y' where IDNumber=@p_IDNumber
							end
							
						
					end
				
			END TRY  
			BEGIN CATCH 
			--Loi thi chen vao bang theo doi
				INSERT INTO [tblSyncHistErr]
							   ([TableName]
							   ,[ErrorNumber]
							   ,[ErrorMessage]
							   ,[CreatDate]
							   ,[ObjText])
						 VALUES
							   ('tblTankActive'
							   ,ERROR_NUMBER()
							   ,ERROR_MESSAGE()
							   ,Getdate() 
							   , @p_SoLenh)
					
			END CATCH;  
			--SELECT @message = '         ' + @product  
			--PRINT @message  
			FETCH NEXT FROM SoLenh_cursor INTO  @p_IDNumber, @p_ID , @p_cStatus
		END  

	CLOSE SoLenh_cursor  
	DEALLOCATE SoLenh_cursor  	
	
	--exec FPT_Synchronized_LenhXuatHangHoa
	--exec FPT_Synchronized_LenhXuatChiTiet
	--============End Lenh xuat=======================
END
