

create TRIGGER [dbo].[zTankListATG_M_INS]
   ON  [dbo].[zTankListATG_M]
   AFTER INSERT
AS 
BEGIN
	INSERT INTO [zTankListATG_M_HIST]
           ([ID]
           ,[TankCode]
           ,[CrDate]
           ,[CrUser]
           ,[UpdDate]
           ,[UpdUser]
           ,[FromDate]
           ,[ToDate]
           ,UpdateDate 
           , UpdatedBy 
           ,  Createby 
           ,Product
           ,[sStatus]
           ,[dDate])
     select   [ID]
           ,[TankCode]
           ,[CrDate]
           ,[CrUser]
           ,[UpdDate]
           ,[UpdUser]
           ,[FromDate]
           ,[ToDate]
           ,UpdateDate 
           , UpdatedBy 
           ,  Createby 
           ,Product
				   ,'I' as [sStatus]
				  -- ,[sUser]
				   ,getdate() as [dDate]		
			  FROM Inserted
		
END


