

-- =============================================
-- Author:		Anhqh
-- Create date: 01/07/2015
-- Description:	Ham lay thong tin du lieu de day vao Scadar
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GetDataToScadar]
	@p_SoLenh nvarchar(500)
AS
BEGIN
	select aa.*, bb.MaHangHoa as MaHangHoaTG, 
                (select top 1 MaHangHoa_Scada  from tblMap_MaHangHoa where MaHangHoa_Sap =bb.MaHangHoa) as MaHangHoa  
                ,(select top 1 MaPhuongTien   from tblLenhXuatE5 with (nolock) where SoLenh  =bb.SoLenh ) as PhuongTienH 
                ,0 as Flag1,
                bb.TableID as H_TableID ,
                bb.BeXuat , bb.MeterId 
                ,isnull( dbo.FPT_CheckTankE5(bb.BeXuat) ,0) as FlagTankLineE5
            from tblLenhXuatChiTietE5 aa with (Nolock), tblLenhXuat_HangHoaE5 bb with (Nolock) 
             where aa.TableID=bb.TableID and bb.NgayXuat=aa.NgayXuat
             --bb.LineID=aa.LineID and bb.NgayXuat=aa.NgayXuat and aa.MaLenh=bb.MaLenh 
				and CHARINDEX (',' + bb.SoLenh +',',',' +@p_SoLenh+',',1)>0
				--bb.SoLenh=@p_SoLenh
END
