
--FES--3/10--ANNV5--Them truong hop E5
Create FUNCTION [dbo].[fm_TinhTyTrongTB]
(
	@LineID NVARCHAR(6),
	@MaLenh NVARCHAR(4),
	@NgayXuat DATETIME
	,@p_Table_ID nvarchar(10)
	,@p_MaVanChuyen nvarchar(10)
)
RETURNS FLOAT 
BEGIN
	DECLARE @TongNDSL AS decimal (18,2)
	DECLARE @TongSL AS decimal (18,2)
	DECLARE @TongTB AS decimal (18,4)
	
	SELECT 
		@TongNDSL=SUM(dbo.FPT_LaySoThucXuat ( @p_MaVanChuyen, SoLuongDuXuat, SoLuongThucXuat, 0)  * lxct.TyTrong_15), 
		@TongSL=SUM(dbo.FPT_LaySoThucXuat ( @p_MaVanChuyen, SoLuongDuXuat, SoLuongThucXuat, 0) )
	FROM 
		fpt_tblLenhXuatChiTietE5_v AS lxct
	WHERE 
	
		lxct.LineID=@LineID AND 
		--lxct.MaLenh=@MaLenh AND 
		lxct.NgayXuat=@NgayXuat
		and 
		 tableid=@p_Table_ID
		
	IF @TongNDSL=NULL
		SET @TongNDSL=0
	IF @TongSL=NULL
		SET @TongSL=1
		
	SET @TongTB= dbo.FPT_ROUNDNUMBER( @TongNDSL,0)  	
	
	SET @TongTB= dbo.FPT_ROUNDNUMBER( @TongNDSL/@TongSL,4)  
		
	
	
	RETURN @TongTB
	
END
