

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_LenhXuat_Export]
	@p_SoLenh nvarchar(50),
	@p_FromNgayXuat datetime,
	@p_ToNgayXuat datetime
	
AS
BEGIN
		
	select 
	a.SoHopDong as [Số hợp đồng],
	
	case when  a.MaPhuongThucBan ='03' then
		 a.STO 
	else '' end  as [STO], --null as [Đơn di chuyển hàng],
	case when  a.MaPhuongThucBan <>'03' then
		--case when isnumeric( a.STO) =1 then a.STO else '' end
		a.STO
	else '' end  as [SO],
	'' as [Loại đơn hàng],
	a.MaDonVi as [Sale org],
	a.MaPhuongThucBan as [Distribution Channel],
	'00' as [Division],
	a.MaKhachHang  as [Mã khách hàng], 
	a.LineID as [Line Item], 
	a.MaHangHoa as [Mã vât tư],
	a.DonGia as [Đơn giá trước thuế],
	a.CurrencyKey as [ĐV tiền tệ],
	a.SoLuongDuXuat as [Số dự xuất], 
	a.DonViTinh as [ĐVT], 
	a.MaKho as [Kho xuất],
	a.Slog as Sloc,
	a.BeXuat as [Mã bể],
	a.MaNguon as [Nguồn hàng],
	case when ISNULL(a.MaNguon,'-99')='N40' then a.MaNguon + CONVERT(varchar(50), CONVERT(int, a.MaKhachHang))  else 
		case when ISNULL(a.MaNguon,'-99')='N45' then a.MaNguon + CONVERT(varchar(50), CONVERT(int, a.MaKhachHang)) + 'T'  else a.MaNguon end 
	end  
	
	  as [Mã batch], --null as [Mã batch],
	a.SoLenhSAP as [Số lệnh SAP],
	a.SoLenh as [Số lệnh HTTG], --[Mã Lệnh],
	--case when ISNULL(MaNguon,'-99')='N40' then 'ZHG' else '' end  AS [Delivery Type],
	(select shippingpoint from tblconfig) as [Shipping Point],
	
	dbo.FPT_LaySoThucXuat(a.MaVanChuyen,
						 SoLuongThucXuat, SoLuongDuXuat, 0
						)    as [Số thực xuất],
	--a.SoLuongThucXuat as [Số thực xuất],
	'L' as [DVT], 
	a.NhietDo as [Nhiệt độ], 
	15 as [Nhiệt độ chuẩn], 
	a.TyTrong_15 as [Tỷ trọng],
	a.LoaiPhieu as [Mã chuyến vẫn tải], 
	a.SelfShipping as [Tự vận tải],
	a.MaNgan as [Mã ngăn],
	a.MaVanChuyen as [Loại hình vận tải], 
	a.NhaCungCap  as [Mã NCC vận tải] ,
	a.MaPhuongTien as [Số xe], 
	a.NguoiVanChuyen as [Lái xe], 
	a.MaTuyenDuong as [Mã tuyến đường],	
	DiemKhoiHanh as [Điểm giao] , 
	DiemDen   as [Điểm nhận],	
	a.NgayXuat as [NgayXuat], 
	a.thoigiandau as [GioBD],
	a.ThoiGianCuoi as [GioKT],
	a.MaLuuLuongKe as [Số công tơ], 
	a.Sl_llkebd as [Chỉ số đầu ctơ] ,
	a.Sl_llkekt as [Chỉ số cuối ctơ],
	a.Niem as [Số niêm],
	--a.So_TKTN as [Số TKTN],
	(select top 1 txtToKhaiHQ  from tblChungTu where SoLenh=a.SoLenh and  (LoaiChungTu='HDTX_EN' or LoaiChungTu='HDTX_VN')) as [Số TKTN],
	--a.So_TKTX [Số TKTX],
	(select top 1 txtSoTK  from tblChungTu where SoLenh=a.SoLenh and  (LoaiChungTu='HDTX_EN' or LoaiChungTu='HDTX_VN')) as [Số TKTX],
	--a.Ngay_TKTX [Ngày TKTX],	
	(select top 1 Ngay_TKTX  from tblChungTu where SoLenh=a.SoLenh and  (LoaiChungTu='HDTX_EN' or LoaiChungTu='HDTX_VN')) as [Ngày TKTX],
	'' as  [Mức cách tấm], 
	a.MaEntry as [Chiều cao tấm mức],
	a.LuongGiamDinh as [Lượng giám định],
	'' as [ĐV Tính],
	a.NhietDoTaiTau as [Nhiệt độ tại phương tiện],
	a.GV_BASE as [Ltt xăng nền], 
	a.GST_BASE as  [L15 xăng nền], 
	a.GV_E as [Ltt Ethanol], 
    a.GST_E as [L15 Ethanol],
    a.AVG_CTL as [VCF E5],
    a.GST as [Số thực xuất E5 (L15)],
    '' as [Số PO chu kỳ giá],
    '' as [Ngày giờ nhận],
   -- '' as [Giờ nhận],
   '' as [DO chuyển thẳng],
	(select top 1 dtBillingDate from tblChungtu where SoLenh=a.SoLenh)  as [Billing Date],
	ct.dtNgayHoaDon  as [NgayHD],
	--ct.dtNgayHoaDon as [Ngày hóa đơn],
	ct.txtDaiSoHoaDon as [Dải số hóa đơn],
	ct.txtSoHoaDon as [Số Hóa Đơn]
    from FPT_LenhXuat_TongHop_v a
    left join tblChungTu ct on ct.SoLenh = a.SoLenh and ct.LoaiChungTu = 'GTGT'     
    
    inner join 
		( select SoLenh, a1.MaTuyenDuong,  DischargePoint, DiemKhoiHanh, DiemDen 
				from tblLenhXuatE5 a1 WITH (Nolock)
				LEFT OUTER JOIN
                      dbo.tblGiaoNhan AS g WITH (Nolock) 
                      ON g.MaTuyenDuong = A1.MaTuyenDuong 
                      and g.DiemDen=a1.DischargePoint)
		
		aaa 
		
		
		
		on a.SoLenh=aaa.SoLenh
                      
	where CONVERT(date, a.NgayXuat) >= CONVERT (date,@p_FromNgayXuat)
	and  CONVERT(date, a.NgayXuat)<= CONVERT (date,ISNULL(@p_ToNgayXuat, @p_FromNgayXuat))
	and  a.SoLenh=ISNULL (@p_SoLenh,a.SoLenh)
	and a.Status='4' --and isnull( a.HTTG,'N')='Y'
	
END

