
-- =============================================
-- Author:		anhqh
-- Create date: 07-09-2015
-- Description:	Ham lay du lieu cho chuc nang xac nhan hoan thien
-- =============================================
create PROCEDURE [dbo].[FPT_XacNhanHoanThien]
	@p_SoLenh nvarchar(100)
AS
BEGIN
	select * from FPT_tblLenhXuatE5_V where SoLenh=@p_SoLenh; 
	select (ROW_NUMBER() OVER(ORDER BY LineID ASC) ) as STT , LineID, BeXuat, TableID, a.MaHangHoa, a1.TenHangHoa,a1.DonViTinh as DVT, 
		(select Sum(SoLuongDuXuat)  from FPT_tbllenhxuatchitietE5_v where H_TableID=a.TableID and SoLenh=a.SoLenh ) as  SoDuXuat , 
		(select Sum(SoLuongThucXuat)  from FPT_tbllenhxuatchitietE5_v where H_TableID=a.TableID and SoLenh=a.SoLenh ) as  SoThucTe 
		,isnull(L15,0)  as  TongLit15 
		,isnull(VCF,0) as VCF
		,isnull(WCF,0) as WCF
		,isnull(KG,0) as KG
		,isnull( NhietDo_BQGQ,0)  as  NhietDo
		,isnull(D15_BQGQ,0)  as TyTrong
		,dbo.fm_TyTrongE5_BQGQ_New (a.SoLenh 
																				, a.TableID 
																				,a.LineID 
																				,a.MaLenh
																				,a.NgayXuat )  as MultiD15
		 from tblLenhXuat_HangHoaE5 a  with ( nolock), tblHangHoa a1 where solenh=@p_SoLenh and a.maHangHoa=a1.MaHangHoa;
	select * from FPT_LenhXuat_TongHop_v where solenh=@p_SoLenh;select * from SYS_CONFIG;
END
