

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter PROCEDURE [dbo].[FPT_LenhXuat_Export]
	@p_SoLenh nvarchar(50),
	@p_FromNgayXuat datetime,
	@p_ToNgayXuat datetime
	
AS
BEGIN
		
	declare @p_warehouse nvarchar(50)
	
	
	select @p_warehouse = warehouse from tblconfig



	select 
	
 	isnull(a.SoHopDong,'')  +
	
	isnull(case when  a.MaPhuongThucBan ='03' then
		 a.STO 
	else '' end ,'') as [Số hợp đồng/STO], 
	
	case when  a.MaPhuongThucBan <>'03' then
		--case when isnumeric( a.STO) =1 then a.STO else '' end
		a.STO
	else '' end  as [SO],
	 case when MaPhuongThucXuat ='X75' and a.MaNguon='N05' then 'ZND' else '' end  as [Loại đơn hàng],
	isnull(a.SoLenhSAP,'')  as [Số lệnh SAP],
  -- case when substring(a.SoLenh,1,4) =@p_warehouse then	a.SoLenh else '' end  as [Số lệnh HTTG], --[Mã Lệnh],
	a.SoLenh as [Số lệnh HTTG],
	a.LineID as [Line Item], 
	a.MaHangHoa as [Mã vât tư],
	a.SoLuongDuXuat as [Số dự xuất], 
	a.DonViTinh as [ĐVT], 
	dbo.FPT_LaySoThucXuat(a.MaVanChuyen,
						 SoLuongThucXuat, SoLuongDuXuat, 0
						)    as [Số thực xuất],
	a.DonViTinh as [ĐVT],	
	a.NhietDo as [Nhiệt độ thực xuất], 
	a.TyTrong_15 as [Tỷ trọng thực xuất],
	dbo.FPT_LaySoThucXuat(a.MaVanChuyen,
						 SoLuongThucXuat, SoLuongDuXuat, 0
						)    as [Số thực nhận],
	a.DonViTinh as [ĐVT],
	a.NhietDo as [Nhiệt độ thực nhận], 
	a.TyTrong_15 as [Tỷ trọng thực nhận],
	 ( select top 1 XKKVCNB from tblChungTu where SoLenh =a.SoLenh  ) as [Số PXKKVCNB],
	 
	 isnull(ct.dtNgayHoaDon ,(select min(thoigiandau) from  fpt_tblLenhXuatChiTietE5_V 
				where SoLenh=a.SoLenh)	)  as  [NgayHD],
 --  case when  ct.dtNgayHoaDon is null then 
		
	--		(select min(thoigiandau) from  fpt_tblLenhXuatChiTietE5_V 
	--			where SoLenh=a.SoLenh)			
	--	---getdate()4
	--else
	--	ct.dtNgayHoaDon 
	--end 	 as  [NgayHD] ,  --[Ngày-Giờ hóa đơn],
   
   
   	
	ct.txtDaiSoHoaDon as [Dải số hóa đơn],
	ct.txtSoHoaDon as [Số Hóa Đơn],
	a.SelfShipping as [Tự vận tải],
	(select top 1 txtToKhaiHQ  from tblChungTu where SoLenh=a.SoLenh and  (LoaiChungTu='HDTX_EN' or LoaiChungTu='HDTX_VN')) as [Số TKTN],
	--a.So_TKTX [Số TKTX],
	(select top 1 txtSoTK  from tblChungTu where SoLenh=a.SoLenh and  (LoaiChungTu='HDTX_EN' or LoaiChungTu='HDTX_VN')) as [Số TKTX],
	--a.Ngay_TKTX [Ngày TKTX],	
	(select top 1 Ngay_TKTX  from tblChungTu where SoLenh=a.SoLenh and  (LoaiChungTu='HDTX_EN' or LoaiChungTu='HDTX_VN')) as [Ngày TKTX],
	'' as [Số PO chu kỳ giá],
	a.MaDonVi as [Sale org],
	a.MaPhuongThucBan as [Distribution Channel],
	'00' as [Division],
	a.MaKhachHang  as [Mã khách hàng], 
	a.MaNguon as [Nguồn hàng],
	case when ISNULL(a.MaNguon,'-99')='N40' then a.MaNguon + CONVERT(varchar(50), CONVERT(int, a.MaKhachHang))  else 
		case when ISNULL(a.MaNguon,'-99')='N45' then a.MaNguon + CONVERT(varchar(50), CONVERT(int, a.MaKhachHang)) + 'T'  else a.MaNguon end 
	end  
	
	  as [Mã batch], 
	
	(select GiaCty from tblLenhxuat_HangHoae5 with ( nolock) 
				where solenh =a.solenh and ngayxuat =a.ngayxuat and tableid=a.tableid ) as [Đơn giá công ty],
	(select PhiVT from tblLenhxuat_HangHoae5 with ( nolock) 
				where solenh =a.solenh and ngayxuat =a.ngayxuat and tableid=a.tableid ) as [Cước phí vận tải],			
	(select TheBVMT from tblLenhxuat_HangHoae5 with ( nolock)  
				where solenh =a.solenh and ngayxuat =a.ngayxuat and tableid=a.tableid ) as [Thuế BVMT],
	(select top 1 txtThueGTGT from tblChungTu with ( nolock)  where SoLenh =a.SoLenh) as VAT, 
	a.CurrencyKey as [ĐV tiền tệ],
	a.MaKho as [Kho xuất],
	a.Slog as Sloc,
	a.BeXuat as [Mã bể],
	(select shippingpoint from tblconfig) as [Shipping Point],
	a.LoaiPhieu as [Mã chuyến vẫn tải], 
	a.MaNgan as [Mã ngăn],
	a.MaVanChuyen as [Loại hình vận tải], 
	a.NhaCungCap  as [Mã NCC vận tải] ,
	a.MaPhuongTien as [Số xe], 
	a.NguoiVanChuyen as [Lái xe], 
	a.MaTuyenDuong as [Mã tuyến đường],
	a.NgayXuat as [NgayXuat], --[Ngày xuất], 
	a.thoigiandau as [GioBD],  --[Ngày-Giờ bắt đầu],
	a.ThoiGianCuoi as [GioKT],    --[Ngày-Giờ kết thúc],
	a.MaLuuLuongKe as [Số công tơ], 
	a.Sl_llkebd as [Chỉ số đầu ctơ] ,
	a.Sl_llkekt as [Chỉ số cuối ctơ],
	a.Niem as [Số niêm],	
	a.MaEntry as [Chiều cao tấm mức],
	a.LuongGiamDinh as [Lượng giám định],
	a.NhietDoTaiTau as [Nhiệt độ tại phương tiện],
	a.GV_BASE as [Ltt xăng nền], 
	a.GST_BASE as  [L15 xăng nền], 
	a.GV_E as [Ltt Ethanol], 
    a.GST_E as [L15 Ethanol],
    a.AVG_CTL as [VCF E5],
    a.GST as [Số thực xuất E5 (L15)],
	---'' as [Ngày giờ nhận],
	
	 case when isnull(LoaiPhieu,'V144')='V144' then  NULL else  a.thoigiandau end as  [NgayNhan], -- [Ngày giờ nhận],
	
	--(select top 1 dtBillingDate from tblChungtu where SoLenh=a.SoLenh)  as [Billing Date]
	isnull(ct.dtBillingDate ,(select min(thoigiandau) from  fpt_tblLenhXuatChiTietE5_V 
				where SoLenh=a.SoLenh)	)  as   [Billing Date]
    from FPT_LenhXuat_TongHop_v a
    left join tblChungTu ct on ct.SoLenh = a.SoLenh and ct.LoaiChungTu = 'GTGT'     
    
    inner join 
		( select SoLenh, a1.MaTuyenDuong,  DischargePoint, DiemKhoiHanh, DiemDen 
				from tblLenhXuatE5 a1 WITH (Nolock)
				LEFT OUTER JOIN
                      dbo.tblGiaoNhan AS g WITH (Nolock) 
                      ON g.MaTuyenDuong = A1.MaTuyenDuong 
                      and g.DiemDen=a1.DischargePoint)
		
		aaa 
		
		
		
		on a.SoLenh=aaa.SoLenh
	
	-- inner join 
	--	( select SoLenh, Min( thoigiandau) as NgayGioHoaDon from  fpt_tblLenhXuatChiTietE5_V
	--		group by SoLenh
	--	) 
		
	--	bbb 
	--on a.SoLenh=bbb.SoLenh
		
                      
	where CONVERT(date, a.NgayXuat) >= CONVERT (date,@p_FromNgayXuat)
	and  CONVERT(date, a.NgayXuat)<= CONVERT (date,ISNULL(@p_ToNgayXuat, @p_FromNgayXuat))
	and  a.SoLenh=ISNULL (@p_SoLenh,a.SoLenh)
	and a.Status='4' --and isnull( a.HTTG,'N')='Y'
	
	order by a.SoLenh, a.MaHangHoa, a.thoigiandau
	
END

