

-- =============================================
-- Author:		anhqh
-- Create date: 10/08/2015
-- Description:	Ham lay thong tin 3 bang chinh cua HTTG
-- =============================================
create PROCEDURE [dbo].[FPT_GetDataToSAP]
	@p_SoLenh nvarchar(30)
AS
BEGIN
    declare @p_MaVanChuyen nvarchar(50)
		select @p_MaVanChuyen=MaVanChuyen from tblLenhXuatE5 with (nolock) where SoLenh=@p_SoLenh
	
	select * from tblLenhXuatE5 with (nolock) where SoLenh=@p_SoLenh;
	
	select *
		, dbo.[fm_TyTrongE5_BQGQ_New]
				(SoLenh 
					, TableID 
					,LineID ,
					MaLenh ,
					NgayXuat 
				)  as D15Multi
			, (select min(TyTrong_15) from tblLenhXuatChiTietE5 
					where  tableid=aa.tableid and NgayXuat=aa.NgayXuat 
					and aa.MaLenh=MaLenh and aa.Lineid=LineID) as D15Min					
		 from tblLenhXuat_HangHoaE5  aa with (nolock) where SoLenh=@p_SoLenh;
	
	SELECT [MaNgan]
      ,B.[MaLenh]
      ,B.[NgayXuat]
      ,B.[LineID]
      ,B.[SoLuongDuXuat]
      ,dbo.FPT_LaySoThucXuat ( @p_MaVanChuyen,  b.SoLuongThucXuat, b.SoLuongDuXuat,0) as SoLuongThucXuat
      ,B.[ThoiGianDau]
      ,B.[ThoiGianCuoi]
      ,[Sl_llkebd]
      ,[Sl_llkekt]
      ,[HeSo_k]
      ,[NhietDo]
     ---- ,[TyTrong_15]
    , case when  dbo.[fm_TyTrongE5_BQGQ_New]
				(SoLenh 
					, b.TableID 
					,b.LineID ,
					b.MaLenh ,
					b.NgayXuat 
				) <=1 then 
			[TyTrong_15] 
		else
		    case when isnull(D15_BQGQ,0) >0 then
				D15_BQGQ
			else
				[dbo].[TyTrong_TBE5_New]
							(
								a.LineID ,
								a.MaLenh ,
								a.NgayXuat 
								,a.TableID 
								,@p_SoLenh 
							)
			end
		end as [TyTrong_15]
      ,[MaDanXuat]
      ,[MaLoi]
      ,[TrangThai]
      ,[MaLuuLuongKe]
      ,[MaEntry]
      ,[MaLo]
      ,[GhiChu]
      ,[Status]
      ,[ERate]
      ,[GV]
      ,[GST]
      ,[GVTOTAL_START]
      ,[GVTOTAL_END]
      ,[GSTTOTAL_START]
      ,[GSTTOTAL_END]
      ,[KF]
      ,[KF_E]
      ,[TY_TRONG]
      ,[AVG_MF]
      ,[AVG_MF_E]
      ,[AVG_CTL]
      ,[AVG_CTL_E]
      ,[AVG_CTL_BASE]
      ,[RTD_OFFSET]
      ,[GV_E]
      ,[GST_E]
      ,[GVTOTAL_E_START]
      ,[GVTOTAL_E_END]
      ,[GSTTOTAL_E_START]
      ,[GSTTOTAL_E_END]
      ,[GV_BASE]
      ,[GST_BASE]
      ,[GVTOTAL_BASE_START]
      ,[GVTOTAL_BASE_END]
      ,[GSTTOTAL_BASE_START]
      ,[GSTTOTAL_BASE_END]
      ,[TYLE_TTE]
      ,[V_PRESET]
      ,[TYLE_PRESET]
      ,[TYTRONG_BASE]
      ,[TYTRONG_E]
      ,[NGAY_DKY]
      ,[NGAY_BD]
      ,[NGAY_KT]
      ,[SO_CTU]
      ,[MA_LENH]
      ,[CARD_DATA]
      ,[MA_NGAN]
      ,[MA_HHOA]
      ,[MA_HONG]
      ,[MA_KHO]
      ,[NHIET_DOTB]
      ,[TRANG_THAI]
      ,[SO_PTIEN]
      ,[LAI_XE]
      ,[TY_TRONGTB]
      ,[TY_TRONGTB_BASE]
      ,[TY_TRONGTB_E]
      ,[MASS]
      ,[MASS_BASE]
      ,[MASS_E]
      ,[MASSTOTAL_START]
      ,[MASSTOTAL_END]
      ,[MASSTOTAL_BASE_START]
      ,[MASSTOTAL_BASE_END]
      ,[MASSTOTAL_E_START]
      ,[MASSTOTAL_E_END]
      ,B.[Createby]
      ,B.[UpdatedBy]
      ,B.[CreateDate]
      ,B.[UpdateDate]
      ,[DungTichNgan]
      ,B.[TableID]
      ,[MaTuDongHoa]
      ,[Row_id]
      ,[PhuongTien]
      ,[Record_Status]
      ,[SO_TT]
      ,[FlagTankLine]
      ,[GST_TDH]
  FROM [tblLenhXuatChiTietE5] b with (nolock)
		,tblLenhXuat_HangHoaE5 a with (nolock) 
		where SoLenh=@p_SoLenh
					and a.tableid=b.tableid and b.NgayXuat=a.NgayXuat 
					and a.MaLenh=b.MaLenh and a.Lineid=b.LineID	;

END

