
ALTER proc [dbo].[FPT_GetPrice]
@p_MaPTB varchar(2),
@p_MaHH varchar(18),
@p_DVT varchar(3),
@p_MaKH varchar(10),
@p_Term varchar(4),
@p_PriceGroup varchar(2),
@p_Inco1 varchar(3),
@p_Inco2 nvarchar(28),
@p_NgayXuat date
as
begin
		declare @p_Value int		
		
		declare @p_MaKH_Tmp varchar(200)
		
		declare @p_Table table(DonGia numeric(18,6), 
								WAERS varchar(50),
								DATAB date) 
		
if @p_MaPTB = '03'
	
		begin
		    select  @p_Value = count(*)  from FPT_tblDonGia_V 
					where 	
						 KSCHL = 'Z001' --cond type
							and VTWEG = @p_MaPTB --distribution chanel
							and MATNR = @p_MaHH --materia
							and VRKME = @p_DVT --sale unit
							and DATAB <= @p_NgayXuat
							and  	isnull( KUNNR,'')  =@p_MaKH
			if isnull	(@p_Value,0) <=0
					set @p_MaKH_Tmp=''
			else
					set @p_MaKH_Tmp = @p_MaKH
					
			select top(1) 
						DonGia,
						WAERS
						from FPT_tblDonGia_V
						where KSCHL = 'Z001' --cond type
						and VTWEG = @p_MaPTB --distribution chanel
						and MATNR = @p_MaHH --materia
						and VRKME = @p_DVT --sale unit
						and DATAB <= @p_NgayXuat
						
						and  	isnull( KUNNR,'')  =@p_MaKH_Tmp
						
		end
	
else
	if @p_MaPTB in ('07','08','09','10')
			
				begin
					--===================================================================
					select  @p_Value = count(*)  from FPT_tblDonGia_V 
								where 	
									 ( KSCHL = 'Z001'  ) --cond type
										and VTWEG = @p_MaPTB --distribution chanel
										and MATNR = @p_MaHH --materia
										and VRKME = @p_DVT --sale unit
										and DATAB <= @p_NgayXuat
										and  	isnull( KUNNR,'')  =@p_MaKH
						if isnull	(@p_Value,0) <=0
								set @p_MaKH_Tmp=''
						else
								set @p_MaKH_Tmp = @p_MaKH
					
					insert into @p_Table (DonGia, WAERS, DATAB)
					
					select top 1  DonGia
								as DonGia,
								WAERS, DATAB
						from FPT_tblDonGia_V
						where KSCHL = 'Z001' --cond type
								and VTWEG = @p_MaPTB --distribution chanel
								and MATNR = @p_MaHH --materia
								and VRKME = @p_DVT --sale unit
								and DATAB <= @p_NgayXuat
								and  	isnull( KUNNR,'')  =@p_MaKH_Tmp
									order by DATAB desc			
					--===================================================================				
					select  @p_Value = count(*)  from FPT_tblDonGia_V 
								where 	
									 KSCHL = 'Z900' and VTWEG = @p_MaPTB and MATNR = @p_MaHH 
									and VRKME = @p_DVT and DATAB <= @p_NgayXuat
									and  	isnull( KUNNR,'')  =@p_MaKH
									--	order by DATAB desc		
										
										
					if isnull	(@p_Value,0) <=0
							set @p_MaKH_Tmp=''
					else
							set @p_MaKH_Tmp = @p_MaKH	
										
					insert into @p_Table (DonGia, WAERS, DATAB)			
					select top 1 dongia, WAERS, DATAB  from FPT_tblDonGia_V 
							where KSCHL = 'Z900' and VTWEG = @p_MaPTB and MATNR = @p_MaHH 
									and VRKME = @p_DVT and DATAB <= @p_NgayXuat
									and  	isnull( KUNNR,'')  =@p_MaKH_Tmp
							order by DATAB desc		
					--===================================================================							
					
					select SUM(DonGia) as DonGia, WAERS from  @p_Table
						group by WAERS
									
					
					
				end
			
	else
		if @p_MaPTB in ('05','06')
		begin
				if	@p_PriceGroup = '06'
					
								begin
									
								--===================================================================
									select  @p_Value = count(*)  from FPT_tblDonGia_V 
												where 	
													 KSCHL = 'ZE01' --cond type
														and VTWEG = @p_MaPTB --distribution chanel
														and MATNR = @p_MaHH --materia
														and KONDA = @p_PriceGroup --price group
														and Inco1 = @p_Inco1
														and Inco2 = @p_Inco2
														and VRKME = @p_DVT --sale unit
														and DATAB <= @p_NgayXuat 
														and  	isnull( KUNNR,'')  =@p_MaKH
										if isnull	(@p_Value,0) <=0
												set @p_MaKH_Tmp=''
										else
												set @p_MaKH_Tmp = @p_MaKH
									
									insert into @p_Table (DonGia, WAERS, DATAB)
									
									select top(1)
												DonGia 
												as DonGia,
												WAERS, DATAB
											from FPT_tblDonGia_V
											where KSCHL = 'ZE01' --cond type
												and VTWEG = @p_MaPTB --distribution chanel
												and MATNR = @p_MaHH --materia
												and KONDA = @p_PriceGroup --price group
												and Inco1 = @p_Inco1
												and Inco2 = @p_Inco2
												and VRKME = @p_DVT --sale unit
												and DATAB <= @p_NgayXuat 
												and  	isnull( KUNNR,'')  =@p_MaKH_Tmp
											order by DATAB desc			
									--===================================================================			
									select  @p_Value = count(*)  from FPT_tblDonGia_V 
													where 	
														  KSCHL = 'Z900' and VTWEG = @p_MaPTB 
															and MATNR = @p_MaHH and VRKME = @p_DVT 
															and KONDA = @p_PriceGroup and DATAB <= @p_NgayXuat
															and  	isnull( KUNNR,'')  =@p_MaKH
										if isnull	(@p_Value,0) <=0
												set @p_MaKH_Tmp=''
										else
												set @p_MaKH_Tmp = @p_MaKH
												
									
										insert into @p_Table (DonGia, WAERS, DATAB)
										
										select top(1)
													DonGia 
													as DonGia,
													WAERS, DATAB
												from FPT_tblDonGia_V
												where  KSCHL = 'Z900' and VTWEG = @p_MaPTB 
															and MATNR = @p_MaHH and VRKME = @p_DVT 
															and KONDA = @p_PriceGroup and DATAB <= @p_NgayXuat
													and  	isnull( KUNNR,'')  =@p_MaKH_Tmp
												order by DATAB desc	
									select SUM(DonGia) as DonGia, WAERS from  @p_Table
										group by WAERS		
										--===================================================================			
									
								end
					
				else
					
							begin
								
								select  @p_Value = count(*)  from FPT_tblDonGia_V 
											where 	
												 KSCHL = 'Z900' and VTWEG = @p_MaPTB and MATNR = @p_MaHH 
												and VRKME = @p_DVT and DATAB <= @p_NgayXuat
												and  	isnull( KUNNR,'')  =@p_MaKH
												--	order by DATAB desc		
													
													
								if isnull	(@p_Value,0) <=0
										set @p_MaKH_Tmp=''
								else
										set @p_MaKH_Tmp = @p_MaKH	
								
								
								select top(1)
										DonGia,
										WAERS
										from FPT_tblDonGia_V
										where KSCHL = 'ZE01' --cond type
										and VTWEG = @p_MaPTB --distribution chanel
										and MATNR = @p_MaHH --materia
										and KONDA = @p_PriceGroup --price group
										and Inco1 = @p_Inco1
										and Inco2 = @p_Inco2
										and VRKME = @p_DVT --sale unit
										and DATAB <= @p_NgayXuat
										and  	isnull( KUNNR,'')  =@p_MaKH_Tmp
							end
						
		end

end


