
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GetTaiTrongKG]
	@p_BeXuat nvarchar(500),
	@p_NhietDo decimal,
	@p_UserName nvarchar(50)
AS
BEGIN	
   IF not EXISTS(SELECT * FROM tblNhietDo with (nolock) WHERE convert(date,CrDate)=convert(date,GETDATE()) and NhietDo=@p_NhietDo)
		begin
				 MERGE tblNhietDo AS target
					USING (SELECT @p_NhietDo, convert(date,getdate())) AS source (NhietDo, CrDate)
					ON (target.CrDate = source.CrDate)
				WHEN MATCHED THEN 
					UPDATE SET NhietDo = source.NhietDo, UpdatedBy=@p_UserName, UpdateDate=Getdate()
				WHEN NOT MATCHED THEN
					INSERT (NhietDo, CrDate, Createby,CreateDate )
					VALUES (source.NhietDo, source.CrDate, @p_UserName,Getdate());	
		end
		
	select Name_nd, Dens_nd as TyTrong , ISNULL((select top 1 NhietDo from tblNhietDo with (Nolock) where  
			   CONVERT(date,crDate)=(select MAX(crDate) from tblNhietDo with (Nolock) )),30) as NhietDo			   
			     from FPT_tblTankActive_V where Date1 =CONVERT(date,getdate())		and  CHARINDEX(',' + Name_nd +',',@p_BeXuat,1)>0 		
			     --and not exists (select 1 from tblHangHoaE5 where tblHangHoaE5.MaHangHoa =FPT_tblTankActive_V.Product_nd )
	union all
	
	select b.TankE5 as  Name_nd, a.Dens_nd as TyTrong , ISNULL((select top 1 NhietDo from tblNhietDo with (Nolock) where  
			   CONVERT(date,crDate)=(select MAX(crDate) from tblNhietDo with (Nolock) )),30) as NhietDo
			     from FPT_tblTankActive_V a, tblMeterE5 B
			      where Date1 =CONVERT(date,getdate())				     
			     --and  CHARINDEX(',' + Name_nd +',',',B004,AE52,',1)>0		
			     and a.Name_nd=b.TankID
			     and CHARINDEX(',' + b.TankE5  +',',@p_BeXuat,1)>0	
			     and  exists (select 1 from tblHangHoaE5 where tblHangHoaE5.MaHangHoa =b.ProductCode )
			     
			     and exists (select 1 from tblMeterE5 where  CHARINDEX(',' + TankE5  +',',@p_BeXuat,1)>0	
					and tblMeterE5.TankID =a.Name_nd 
					and  exists (select 1 from tblHangHoaE5 where tblHangHoaE5.MaHangHoa =tblMeterE5.ProductCode )
					 )
							  			     
		
END

