

-- =============================================
-- Author:		anhqh
-- Create date: 10/08/2015
-- Description:	Ham lay thong tin 3 bang chinh cua HTTG
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GetDataToSAP]
	@p_SoLenh nvarchar(30)
AS
BEGIN
    declare @p_MaVanChuyen nvarchar(50)
		select @p_MaVanChuyen=MaVanChuyen from tblLenhXuatE5 with (nolock) where SoLenh=@p_SoLenh
	
	select * from tblLenhXuatE5 with (nolock) where SoLenh=@p_SoLenh;
	
	select *
		, dbo.[fm_TyTrongE5_BQGQ_New]
				(SoLenh 
					, TableID 
					,LineID ,
					MaLenh ,
					NgayXuat 
				)  as D15Multi
			, (select min(TyTrong_15) from tblLenhXuatChiTietE5 
					where  tableid=aa.tableid and NgayXuat=aa.NgayXuat 
					and aa.MaLenh=MaLenh and aa.Lineid=LineID) as D15Min					
		 from tblLenhXuat_HangHoaE5  aa with (nolock) where SoLenh=@p_SoLenh;
	
	select B.*, dbo.FPT_LaySoThucXuat ( @p_MaVanChuyen , SoLuongThucXuat, SoLuongDuXuat, 0) as SoLuongThucXuat2
		 from tblLenhXuatChiTietE5 b with (nolock) ,tblLenhXuat_HangHoaE5 a with (nolock) 
		where SoLenh=@p_SoLenh
					and a.tableid=b.tableid and b.NgayXuat=a.NgayXuat 
					and a.MaLenh=b.MaLenh and a.Lineid=b.LineID	;

END

