
ALTER PROCEDURE [dbo].[FPT_HoaDon_ChiTietE5]
@SoLenh nvarchar(10)
AS
begin	
	--SELECT top 1 @p_WareHouse= warehouse FROM [tblConfig]
	declare @p_KEYVALUE nvarchar(2)
	select top 1 @p_KEYVALUE=KEYVALUE from SYS_CONFIG where KEYCODE='TONGDUXUAT'
	
	declare @p_MaVanChuyen  nvarchar(10)
	
	declare @p_MaVanChuyen22  nvarchar(10)
	
	
	declare @p_Xitec_option  nvarchar(2)
	declare @p_Value int
	
	
	set @p_Value=0
	
	select top 1 @p_MaVanChuyen=MaVanChuyen,  @p_Xitec_option =  Xitec_option  from tbllenhxuate5  where SoLenh=@SoLenh
	
	
	if isnull(@p_Xitec_option,'N') ='Y'
		begin
		  set @p_Value =1
		end 
	
	set @p_MaVanChuyen22=@p_MaVanChuyen
	
	set @p_MaVanChuyen=dbo.FPT_GetLoadingSite(@p_MaVanChuyen)
	
	declare @p_KEYVALUETHUY nvarchar(2)
	select top 1 @p_KEYVALUETHUY=KEYVALUE from SYS_CONFIG where KEYCODE='TONGDUXUATTHUY'
	
	--return
	select LineID, STT, MaHangHoa as N'MãHàngHóa', TenHangHoa as N'TênHàngHóa'
			, DonGia as N'ĐơnGiá' , ChietKhau as N'ChiếtKhấu', SoLuongDuXuat as N'TổngDựXuất'
			,SoLuongThucXuat as N'TổngXuất', DonViTinh as  N'ĐơnVịTính', 
			NhietDo as N'NhiệtĐộ', TyTrong as N'TỷTrọng'
			, round(case when isnull(L15,0) >0 then L15 else    round(VCF*SoLuongThucXuat ,0) end ,0) as  L15
			, VCF 
			,TyTrong -0.0011  as WCF,
			 round((TyTrong -0.0011) *  (case when isnull(L15,0) >0 then L15 else    round(VCF*SoLuongThucXuat ,0) end ),0)  as KG,
			-- NhietDo_BQGQ,D15_BQGQ, 
			 CurrencyKey
	from  (
					select LineID, STT, MaHangHoa, TenHangHoa, DonGia, ChietKhau, SoLuongDuXuat
							,SoLuongThucXuat, DonViTinh, NhietDo, TyTrong
							,L15, round ( case when isnull(VCF,0) >0 then VCF else dbo.zzFPT_mdlQCI_GetVCF_NS (NhietDo,TyTrong) end ,4) VCF 
							, WCF, KG,NhietDo_BQGQ,D15_BQGQ, CurrencyKey
					from (		
					
									SELECT  lxhh.LineID, ROW_NUMBER()
										OVER(ORDER BY lxhh.LineID) AS 'STT',
										 lxhh.MaHangHoa --AS N'MãHàngHóa' ,
										 , hh.TenHangHoa -- N'TênHàngHóa', 		
										  ,isnull(lxhh.DonGia,0.000000) as DonGia-- N'ĐơnGiá', --hieptd4 add 20161102		   					  
										,  0.000000 AS ChietKhau -- N'ChiếtKhấu',		
										  ,(select Sum( SoLuongDuXuat) from fpt_tblLenhXuatChiTietE5_v where 	
													MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID )as SoLuongDuXuat -- AS N'TổngDựXuất', 
										
										 , (select Sum( dbo.FPT_LaySoThucXuat(@p_MaVanChuyen22 , SoLuongThucXuat ,SoLuongDuXuat,@p_Value)) from fpt_tblLenhXuatChiTietE5_v where 	
												MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID and TableID=lxhh.TableID ) as SoLuongThucXuat --as N'TổngXuất'
										,  lxhh.DonViTinh --AS N'ĐơnVịTính',	
									
										,case when isnull(NhietDo_BQGQ,0) >0 then NhietDo_BQGQ
											else   dbo.fm_NhietDo_TBE5_New22 (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid, SoLenh) end NhietDo --AS N'NhiệtĐộ',
										 
										,case when dbo.fm_TyTrongE5_BQGQ_New (SoLenh 
																					, TableID 
																					,LineID 
																					,MaLenh
																					,NgayXuat) >1 then
											case when isnull(D15_BQGQ,0) >0 then
												D15_BQGQ
											else
												[dbo].[TyTrong_TBE5_New](
																				LineID ,
																				MaLenh ,
																				NgayXuat 
																				,TableID 
																				--@p_Table_ID NVARCHAR(10)
																				,SoLenh 
																			)
											end
										else
											case when isnull(D15_BQGQ,0) >0 then
												D15_BQGQ
											else
												dbo.fm_TyTrongE5_New (lxhh.LineID, lxhh.MaLenh, lxhh.NgayXuat,lxhh.Tableid) 
											end
										end AS TyTrong -- N'TỷTrọng',
										 
										 ,case when isnull(L15,0)> 0 then L15 else  isnull(  (select Sum( isnull(GST,0)) from fpt_tblLenhXuatChiTietE5_v with (Nolock) where Tableid 	
													= lxhh.Tableid and MaLenh 	= lxhh.MaLenh  and 	NgayXuat = lxhh.NgayXuat and	LineID	= lxhh.LineID ),0) end AS L15 -- N'L15'
										
										  ,VCF
										  , WCF
										  , KG
										  ,NhietDo_BQGQ
										  ,D15_BQGQ
										  ,L15 as L15_Sum
										  ,isnull(lxhh.CurrencyKey,'') as CurrencyKey -- hieptd4 add 20161102 
									FROM tblLenhXuat_HangHoaE5  lxhh  with (Nolock) 
									LEFT JOIN tblHangHoa hh ON hh.MaHangHoa=lxhh.MaHangHoa
									WHERE lxhh.SoLenh=@SoLenh --ORDER BY lxhh.MaHangHoa ASC
					 ) anhqh 
	) anhqh123 				ORDER BY MaHangHoa ASC 
end
