
ALTER PROCEDURE [dbo].[FPT_GetTankActiveUpdateToE5New]
	-- Add the parameters for the stored procedure here
	@p_TankE5 nvarchar(30),
	@p_MeterID nvarchar(50),
	@p_Tank92 nvarchar(50),
	@p_Product92 nvarchar(50),
	@p_TankETH nvarchar(50),
	@p_ProductETH nvarchar(50)
AS
BEGIN
		declare @p_Date nvarchar(10)
		set @p_Date =  CONVERT(nvarchar(10), getdate(), 103)
		declare @p_Data1 date
		
		declare @p_DateNow as datetime
		set @p_DateNow=getdate()
		
		
		set @p_Data1=GETDATE()
		
		--declare @p_MaHangHoa nvarchar(50)
		
		SELECT   ISNULL( [ERate],0) as  [ERate] ,ArmNo,
					isnull( (select [Dens_nd] from  FPT_tblTankActive_V where  [Name_nd] =@p_Tank92 and  Product_nd=@p_Product92 and [Date1]= @p_Data1),0)  as TyTrongNen,
				 isnull(	(select [Dens_nd] from  FPT_tblTankActive_V where  [Name_nd] =@p_TankETH and  Product_nd=@p_ProductETH and [Date1]= @p_Data1) ,0)   as TyTrongE,
				 ProductCode as Ma_Hhoa, a.TankID, a.TankE
					 FROM [FPT_MeterAll]  a  Where 
					 --( [TankE5]=@p_TankE5 or TankId=@p_TankE5 or  TankE=@p_TankE5)
						--and exists (select 1 from tblHangHoaE5 where MaHangHoa=a.ProductCode)
						--and 
						a.MeterId =@p_MeterID
						
END

