

ALTER PROC [dbo].[InforHoaDonHangGiuHo]
  AS
  SELECT N'VP ' + TenDonVi,DiaChiFull FROM tblDonvi D JOIN 
						tblConfig C ON CONVERT(VARCHAR(4),D.MaDonVi) =CONVERT(VARCHAR(4),C.companycode)
  
  SELECT D.* FROM tblDonvi D JOIN 
						tblConfig C ON D.MaDonVi =C.WareHouse
