
--FES--3/10--ANNV5--Them truong hop E5
create FUNCTION [dbo].[TyTrong_TBE5_New]
(
	@LineID NVARCHAR(6),
	@MaLenh NVARCHAR(4),
	@NgayXuat DATETIME
	,@p_Table_ID nvarchar(10)
	--@p_Table_ID NVARCHAR(10)
	,@p_SoLenh nvarchar(50)
)
RETURNS FLOAT 
BEGIN
	DECLARE @TongNDSL AS decimal (18,2)
	DECLARE @TongSL AS decimal (18,2)
	DECLARE @TongTB AS decimal (18,4)
	declare @p_MaVanChuyen nvarchar(50)
	
	select @p_MaVanChuyen =MaVanChuyen from tbllenhxuate5 with (nolock) where soLenh=@p_SoLenh
	
	
	SELECT 
		@TongNDSL=SUM(dbo.FPT_LaySoThucXuat(@p_MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0)  * lxct.TyTrong_15), 
		@TongSL=SUM(dbo.FPT_LaySoThucXuat(@p_MaVanChuyen , SoLuongThucXuat ,SoLuongDuXuat,0) )
	FROM 
		fpt_tblLenhXuatChiTietE5_v AS lxct
	WHERE 
	
		lxct.LineID=@LineID AND 
		lxct.MaLenh=@MaLenh AND 
		lxct.NgayXuat=@NgayXuat
		and 
		 tableid=@p_Table_ID
		
	IF @TongNDSL=NULL
		SET @TongNDSL=0
	IF @TongSL=NULL
		SET @TongSL=1
		
    set @TongNDSL = round(@TongNDSL,0) 
	SET @TongTB= dbo.FPT_ROUNDNUMBER( @TongNDSL/@TongSL,4)  
		
	
	
	RETURN @TongTB
	
END
