--drop table SYS_CONFIG_RPT_GROUP;
--drop table SYS_CONFIG_RPT_GROUP1;
--drop view FPT_SYS_CONFIG_RPT_GROUP1_v;
create table SYS_CONFIG_RPT_GROUP (Code nvarchar(50) not null, Name nvarchar(500)
				,Status nvarchar(10), CreateDate datetime, UpdateDate datetime
				,Createby nvarchar(100), UpdatedBy nvarchar(100));
				
create table SYS_CONFIG_RPT_GROUP1 ([Row_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL, Code nvarchar(50) not null, ReportCode nvarchar(100)
				,fromdate datetime, ToDate datetime, CreateDate datetime, UpdateDate datetime
				,Createby nvarchar(100), UpdatedBy nvarchar(100), sDesc nvarchar(2000));
create view FPT_SYS_CONFIG_RPT_GROUP1_v as 
select a.Row_id, a.Code, a.ReportCode, b.ReportName, a.fromdate, a.ToDate, a.sDesc, 'N' as CHECKUPD
from SYS_CONFIG_RPT_GROUP1 a, dbo.SYS_CONFIG_RPT b where a.ReportCode = b.ReportCode;
				

create view FPT_SYS_CONFIG_RPT_GROUP_V as 
select a.Code, a.Name, a.Status from , 'N' as X  SYS_CONFIG_RPT_GROUP a;


--select * from  dbo.SYS_CONFIG_RPT a where reportCode in (
--	select v1.reportCode from  dbo.SYS_CONFIG_RPT_GROUP v, dbo.SYS_CONFIG_RPT_GROUP1 v1 where v.code =v1.code
--		and convert(date,getdate()) >= convert(date,isnull(v1.fromdate,getdate()-5))
--		and convert(date,getdate()) <= convert(date,isnull(v1.Todate,getdate()+5))
--		and   charindex(v.Code,(select ReportGroup from sys_user where upper(user_name) =upper('anhqh')),1) >0 )
	
--	select charindex('001','002,009,001',1)
	
--	select ReportGroup from sys_user where upper(user_name) =upper('anhqh')