
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>  
-- =============================================
ALTER  PROCEDURE [dbo].[DuLieuLenhXuat_Services]	
AS
BEGIN

	declare @p_DayBefore  int
	declare @p_TimeRun  nvarchar(300) -- int
	declare @p_Hour int
	declare @p_Minute int

	delete from [dbo].[FPT_SoLenh_Auto_HIST]  where convert(date, createdate) <= convert(date,getdate() -2)

	set @p_Hour = DatePart(Hour, getdate()) 

	set  @p_Minute = DatePart(minute, getdate()) 

	--select @p_Hour, @p_Minute
	--return
	begin try
			select top 1 @p_DayBefore= KeyValue from SYS_CONFIG  where upper(KeyCode ) ='TIMEDAYAUTO'
			set @p_DayBefore= isnull(@p_DayBefore,0)
	end try
	begin catch
		set @p_DayBefore =0
	end catch

	begin try
			select top 1 @p_TimeRun= KeyValue from SYS_CONFIG  where upper(KeyCode ) ='TIMEAUTO'
			set @p_TimeRun= isnull(@p_TimeRun,'22')
	end try
	begin catch
		set @p_TimeRun = '22' --22
		
	end catch

	if @p_Hour >=23 and @p_Minute >=30
		begin
			select top 1 convert(date,getdate() - (@p_DayBefore ) ) as fDate, convert(date,getdate()+  (@p_DayBefore )  ) as dDate , 
                    datepart(hour,getdate())as tHour, datepart(minute,getdate()) as tTime  
                    where   1=0  ----DatePart(Hour, getdate()) >= @p_TimeRun   and 1=0
		end
	else
		begin
			select top 1 convert(date,getdate() - (@p_DayBefore ) ) as fDate, convert(date,getdate()+  (@p_DayBefore )  ) as dDate , 
                    datepart(hour,getdate())as tHour, datepart(minute,getdate()) as tTime  
                    where   ---DatePart(Hour, getdate()) >= @p_TimeRun
						charindex (',' + convert(nvarchar(3), DatePart(Hour, getdate()) ) +',',',' +  @p_TimeRun + ',',1) > 0  
						
							
		end
	
END
