
-- =============================================
-- Author:		anhqh
-- Create date: 20200729
-- Description:	Ham thuc hien kiem tra  thoi chay services   
--  GetTimeSyns    'TimeTyGia','TyGia'
-- =============================================
ALTER PROCEDURE [dbo].[GetTimeSyns]
	@p_ConfigValue nvarchar(100)
	,@p_Para nvarchar(100)
AS
BEGIN
	declare @p_Value nvarchar(100)
	declare @p_FromDate  datetime
	declare @p_ToDate  datetime
	declare @p_Date  datetime
	declare @p_Hour int
	declare @p_Minute int
	declare	@p_DateEnd date
	
	declare @p_SysHour int
	declare @p_SysMinute int
	declare	@p_SysDateEnd date
	declare @p_SynALL as nvarchar(10) ='A'
	declare @p_SynDateFrom as nvarchar(100)
	
	
	delete  from FPTAPIERR  where Rundate <=getdate () -3

	--select  max( SynDate )from  
	--					tblLogSyn_Hist  with(nolock) where upper(Para) =  upper(@p_Para)
	--					return

	select  @p_SynDateFrom =convert(nvarchar(100), max( ToDate ),102)  from  
						tblLogSyn_Hist  with(nolock) where upper(Para) =  upper(@p_Para)
	if isnull(@p_SynDateFrom,'') =''
		begin			
				set @p_SynDateFrom= convert(nvarchar(100), getdate()- 365*3,102)
				
		end		
	else
		begin
			set @p_SynALL ='H'
		end		

		
	select  @p_Value=KeyValue  from sys_config where upper(keycode) =upper(@p_ConfigValue)
	
	if isnull(@p_Value,'') =''
		begin
		----	print 'aaaa'
			goto Line_KT
			--return
			----set @p_Value ='22'
		end
	
	select @p_FromDate=max( isnull(dDate, getdate()-5))   from  
						tblLogSyn_Hist  with(nolock) where upper(Para) =  upper(@p_Para)

	
	select @p_ToDate= max(isnull(ToDate, getdate()-10) )  from  
					tblLogSyn_Hist  with(nolock) where upper(Para) =  upper(@p_Para)
	
	
	if @p_FromDate >=	@p_ToDate
		begin
			set @p_Date =@p_FromDate
		end			
	else
		begin
			set @p_Date =@p_ToDate
		end


	---select @p_Date
		--	 select isnull(datepart(hour,@p_Date),0)  , isnull(datepart(minute,@p_Date),0)  
		--	  ,  convert(date, @p_Date) 
	 --select isnull(datepart(hour,getdate()),0) 
		--							,isnull(datepart(minute,getdate()),0)  
		--								  , convert(date, getdate()) 	
		--								  return
		
	 select @p_Hour=isnull(datepart(hour,@p_Date),0)  ,@p_Minute= isnull(datepart(minute,@p_Date),0)  
			  , @p_DateEnd= convert(date, @p_Date) 
	 select @p_SysHour=isnull(datepart(hour,getdate()),0) 
									 ,@p_SysMinute= isnull(datepart(minute,getdate()),0)  
										  , @p_SysDateEnd= convert(date, getdate()) 		


	 if charindex (','+ convert(nvarchar(10),@p_Hour)+',' ,',' + @p_Value + ',',1)>0  
					and  @p_DateEnd= @p_SysDateEnd  and @p_Hour >=@p_SysHour
		-------kiem tra gio thuc hien va ngay thuc hien
		begin
			--print 'bbbbb'
			goto Line_KT
			--return
		end
		-----Neu gio hej thong nam trong tham so thi cho phep chay
	if charindex (','+ convert(nvarchar(10),@p_SysHour)+',' ,',' + @p_Value + ',',1)>0  
		begin
			select 0 as nNumber, N'OK' as sDesc			
			select @p_SynDateFrom	 as SynDateFrom, @p_SynALL as SynALL
			return
		end
		
Line_KT:
	select 1 as nNumber, N'' as sDesc
	select @p_SynDateFrom	 as SynDateFrom, @p_SynALL as SynALL
		return
				  
					  		
END
