

--USE [HTTG_PROD]
--GO
--/****** Object:  StoredProcedure [dbo].[FPT_TonKhoThucTe]    Script Date: 03/18/2019 22:26:42 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter  PROCEDURE [dbo].[FPT_TonKhoThucTe]
	
	@p_ToDateTime datetime
	,@p_Client nvarchar(50)
	,@p_TankCode nvarchar(50)	
AS
BEGIN

	--declare @p_ToDateTime datetime
	-- declare @p_Client nvarchar(50)
	--declare @p_TankCode nvarchar(50)	 
	--set @p_ToDateTime ='20190402'
	--set @p_Client ='B'

		declare @p_BeXuat table (MaBe nvarchar(50))
		--declare @p_MucDich table (Code nvarchar(50))
		declare @p_KHoXuat table (MaKho nvarchar(50))
		
		declare @p_TableTonKho table(
						Client nvarchar(50)
						,ClientDesc nvarchar(2000)
						,MAHH nvarchar(50)
						,TenHH nvarchar(2000)
						,MaBe nvarchar(50)
						,DungTichBe decimal(19,2)
						,ChieuCaoMin  decimal(19,2)
						,ChieuCaoDau  decimal(19,2)
						,DungTichChua  decimal(19,2)		
						,DungTichTrong  decimal(19,2)
						,DungTichXuatDuoc  decimal(19,2))
		--Bang luu thong tin lan do be cuoi cung
		declare @p_TankLineImp_Temp table 
						(TankCode nvarchar(50)
							, ID int
							, CrDate datetime
							,CreateDate datetime
												)
		
		declare @p_Date1 datetime
		declare @p_Date2 datetime
		set @p_Date1=getdate()
		set @p_Date2=getdate()
		--if not @p_FromDateTime is null
		--	begin
		--		set @p_Date1=@p_FromDateTime
		--	end
		if not @p_ToDateTime is null
			begin
				set @p_Date2=@p_ToDateTime
			end
	insert into @p_BeXuat (MaBe) select Name_ND from tblTank where len( isnull(Product_nd,'')) >0  and Name_ND = isnull(@p_TankCode,Name_nd)
	--select * from @p_BeXuat
	--	return
	
	if isnull(@p_Client,'') <>'' 
		begin
			if isnull(@p_Client,'') ='C'
				begin
					---print 'sdfdsfs'
					delete @p_BeXuat where MaBe  like '%A%'   or MaBe  like '%B%'  ---left(MaBe,1) ='A' or left(MaBe,1) ='B'
				end
			else
				begin
					delete @p_BeXuat where  MaBe not like '%' + @p_Client + '%' -- left(MaBe,1) =@p_Client
				end
		end
		
		
		
		delete @p_BeXuat where MaBe  like 'O%'  
		
		---Lay casc ban ghi cuoi cung theo be
		
		---select * from  @p_BeXuat
		
		insert into @p_TankLineImp_Temp  
						(TankCode ,  ID
							,CreateDate) 
							
		--select  b1.TankCode, (select top 1 id from ztblTankLineImp b3 where b3.tankcode =b2.tankcode and b3.crdate =b2.CreateDate)   
		--						 as id  , b1.CrDate  from ztblTankLineImp b1 ,
		--				(
		--				select  b.TankCode, max( isnull( b.CrDate, b.crdate) )  as  CreateDate  from dbo.ztblTankLineImp b  with (nolock)						
		--									  where  
											 						
		--												X='Y' and isnull(Ltt,0) >0 and convert(date, isnull( b.CrDate, b.CreateDate)) =@p_Date2		
		--											 and exists (select 1 from @p_BeXuat dd where dd.MaBe=b.TankCode)	
		--												---and  b.TankCode ='B029'				
		--									  group by b.TankCode
		--									)  b2 where b1.TankCode =b2.tankcode and b1.CrDate=b2.CreateDate  order by  b1.TankCode	
											
	    select distinct  b1.TankCode,(select top 1 id from ztblTankLineImp b3 , ztblTankHeaderImp b4		
								where b3.tankcode =b2.tankcode and b3.crdate =b2.CreateDate and 
									 X='Y' and isnull(Ltt,0) >0 and b3.TankHeaderCode=b4.TankHeaderCode
											 			and isnull(b4.status,'') ='S'		
								)   as id 
						, b1.CrDate  from ztblTankLineImp b1  ,
						(
						select  b.TankCode, max( isnull( b.CrDate, b.crdate) )  as  CreateDate  from dbo.ztblTankLineImp b  with (nolock)
												, ztblTankHeaderImp b4			
											  where  
											 		 b.TankHeaderCode=b4.TankHeaderCode
											 			and isnull(b4.status,'') ='S'		
													 and	X='Y' and isnull(Ltt,0) >0 and convert(date, isnull( b.CrDate, b.CreateDate)) =@p_Date2			
													 and exists (select 1 from @p_BeXuat dd where dd.MaBe=b.TankCode)	
																	
											  group by b.TankCode
											)  b2 where b1.TankCode =b2.tankcode and b1.CrDate=b2.CreateDate  order by  b1.TankCode
					
		if isnull(@p_Client,'') <>'' 
			BEGIN 
					insert into @p_TableTonKho (
							Client 
						,ClientDesc 
						,MAHH 
						,TenHH 
						,MaBe 
						,DungTichBe 
						,ChieuCaoMin  
						,ChieuCaoDau  
						,DungTichChua  		
						,DungTichTrong  
						,DungTichXuatDuoc  
											)
					
					select  case when left(client,1)='D' then 'C' else client end as Client
							, N'   Đội giao nhận: Kho ' + case when left(client,1)='D' then 'C' else client end as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinLtt,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock)
						  
						 -- , ztblTankInfor c	     with (nolock)	
						  ,(select  a.TankCode , a.SafeVolume, MinHeight,c.Name_nd,  c.Map_Sap1,(select top 1 VOLCON 
												from ztbltankbarem b with (nolock) 
												where b.SEQNR=a.TankCode and Lincon  =isnull(MinHeight,0)  ) 
												as MinLtt 
								 from ztblTankInfor a  with (nolock), tblTank c  with (nolock)
									where a.TankCode = (case when isnull( c.Map_Sap1,'') ='' then c.Name_nd
														else  c.Map_Sap1  end  )) c
						
							where a.TankHeaderCode =b.TankHeaderCode  and ( a.TankCode =c.tankcode  or  a.TankCode   = isnull(c.Name_nd,c.TankCode)) 
									and isnull(a.X,'N')='Y'
									--and b.sType='A'
									and isnull( b.Status,'N') ='S'
									and isnull(a.TankHeight,0) >0
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123
				UNION ALL
				select  'Z'  as Client
							, N'   Bể trống' as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinLtt,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock)
						---  , ztblTankInfor c	  with (nolock)	
						  	  ,(select  a.TankCode , a.SafeVolume, MinHeight,c.Name_nd, c.Map_Sap1,(select top 1 VOLCON 
												from ztbltankbarem b with (nolock) 
												where b.SEQNR=a.TankCode and Lincon  =isnull(MinHeight,0)  ) 
												as MinLtt 
								 from ztblTankInfor a  with (nolock), tblTank c  with (nolock)
									where a.TankCode = (case when isnull( c.Map_Sap1,'') ='' then c.Name_nd
														else  c.Map_Sap1  end  )) c
							where a.TankHeaderCode =b.TankHeaderCode  and ( a.TankCode =c.tankcode  or  a.TankCode   = isnull(c.Name_nd,c.TankCode)) 
									---and b.sType='Ms'
									and isnull( b.Status,'N') ='S'
									and isnull(a.TankHeight,0) <=0
									and isnull(a.X,'N')='Y'
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123 
			end
		else
			begin
				
				insert into @p_TableTonKho (
							Client 
						,ClientDesc 
						,MAHH 
						,TenHH 
						,MaBe 
						,DungTichBe 
						,ChieuCaoMin  
						,ChieuCaoDau  
						,DungTichChua  		
						,DungTichTrong  
						,DungTichXuatDuoc  
											)
				
				
				select  'A'  as Client
							, N'   Đội giao nhận: Tổng kho Vật lý XD Nhà Bè' as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinLtt,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock)
							--, ztblTankInfor c	  with (nolock)	
								  ,(select  a.TankCode , a.SafeVolume, MinHeight,c.Name_nd, c.Map_Sap1,(select top 1 VOLCON 
												from ztbltankbarem b with (nolock) 
												where b.SEQNR=a.TankCode and Lincon  =isnull(MinHeight,0)  ) 
												as MinLtt 
								 from ztblTankInfor a  with (nolock), tblTank c  with (nolock)
									where a.TankCode = (case when isnull( c.Map_Sap1,'') ='' then c.Name_nd
														else  c.Map_Sap1  end  )) c
							where a.TankHeaderCode =b.TankHeaderCode  and ( a.TankCode =c.tankcode  or  a.TankCode   = isnull(c.Name_nd,c.TankCode)) 
								--	and b.sType='A'
								and isnull( b.Status,'N') ='S'
								and isnull(a.X,'N')='Y'
									and isnull(a.TankHeight,0) >0
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123
				Union all 				
				select  'Z'  as Client
							, N'   Bể trống' as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinLtt,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock)
									--, ztblTankInfor c	  with (nolock)	
										  ,(select  a.TankCode , a.SafeVolume, MinHeight,c.Name_nd, c.Map_Sap1,(select top 1 VOLCON 
												from ztbltankbarem b with (nolock) 
												where b.SEQNR=a.TankCode and Lincon  =isnull(MinHeight,0)  ) 
												as MinLtt 
								 from ztblTankInfor a  with (nolock), tblTank c  with (nolock)
									where a.TankCode = (case when isnull( c.Map_Sap1,'') ='' then c.Name_nd
														else  c.Map_Sap1  end  )) c
							where a.TankHeaderCode =b.TankHeaderCode  and ( a.TankCode =c.tankcode  or  a.TankCode   = isnull(c.Name_nd,c.TankCode)) 
										--and b.sType='M'
										and isnull( b.Status,'N') ='S'
										and isnull(a.X,'N')='Y'
										and isnull(a.TankHeight,0) <=0
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123
			end
	
	
	
			-----Insert cac be khong co trong ngay
	if isnull(@p_Client,'') <>'' 
		begin
				insert into @p_TableTonKho (
										Client 
									,ClientDesc 
									,MAHH 
									,TenHH 
									,MaBe 
									,DungTichBe 
									,ChieuCaoMin  
									,ChieuCaoDau  
									,DungTichChua  		
									,DungTichTrong  
									,DungTichXuatDuoc  
														)
				select case when left(TankCode,1)='D' then 'C' else left(TankCode,1) end as Client 
						,N'   Đội giao nhận: Kho ' + case when left(TankCode,1)='D' then 'C' else left(TankCode,1) end  as ClientDesc
						, b.Product_nd ,(select top 1 TenHangHoa from tblHangHoa  where MaHangHoa =b.Product_nd) as TenHH
							,  case when isnull(b.Map_Sap1,'') <>'' then b.Name_nd else TankCode end TankCode
							,safeVolume/1000 as DungTichBe
							
							,MinHeight as ChieuCaoMin
							--,(select top 1 VOLCON 
							--					from ztbltankbarem b with (nolock) 
							--					where b.SEQNR=a.TankCode and Lincon  =isnull(MinHeight,0)  ) 
							--					as ChieuCaoMin 
												
							, 0 as ChieuCaoDau, 0 as DungTichChua, 0 as DungTichTrong, 0 as DungTichXuatDuoc 				
							 from  ztblTankInfor  a, tblTank b 
							 where  
							  (  exists (select 1 from @p_BeXuat dd where ( dd.MaBe=a.TankCode   ))
										or  exists (select 1 from @p_BeXuat dd where (  dd.MaBe=b.Name_nd  )) )
								and 
								
								( a.TankCode=b.Name_nd  or  a.TankCode=b.Map_Sap1)
								
								
								  and not exists (select 1 from @p_TableTonKho e where ( e.MaBe=a.TankCode   or  a.TankCode=b.Map_Sap1 )   )
								  
								  
								  --20190328  loc theo cac be duoc active cho ATG
								  and b.Name_nd in (select TankCode from (				
															select  TankCode from zTankListATG
															union 
															select TankCode from zTankListATG_M  where getdate() >= isnull(FromDate,getdate()-5)
																					and  getdate() <= isnull(ToDate,getdate()+5)) abc)
		end
	else
		begin
				insert into @p_TableTonKho (
										Client 
									,ClientDesc 
									,MAHH 
									,TenHH 
									,MaBe 
									,DungTichBe 
									,ChieuCaoMin  
									,ChieuCaoDau  
									,DungTichChua  		
									,DungTichTrong  
									,DungTichXuatDuoc  
														)
				select case when left(TankCode,1)='D' then 'C' else left(TankCode,1) end as Client 
						,N'   Đội giao nhận: Tổng kho Vật lý XD Nhà Bè' as ClientDesc
						, b.Product_nd ,(select top 1 TenHangHoa from tblHangHoa  where MaHangHoa =b.Product_nd) as TenHH
							,  case when isnull(b.Map_Sap1,'') <>'' then b.Name_nd else TankCode end TankCode,safeVolume/1000 as DungTichBe
							
							,MinHeight as ChieuCaoMin
							--,(select top 1 VOLCON 
							--					from ztbltankbarem b with (nolock) 
							--					where b.SEQNR=a.TankCode and Lincon  =isnull(MinHeight,0)  ) 
							--					as ChieuCaoMin 
												
							, 0 as ChieuCaoDau, 0 as DungTichChua, 0 as DungTichTrong, 0 as DungTichXuatDuoc 				
							 from  ztblTankInfor  a, tblTank b 
							 where  
							  (  exists (select 1 from @p_BeXuat dd where ( dd.MaBe=a.TankCode   ))
										or  exists (select 1 from @p_BeXuat dd where (  dd.MaBe=b.Name_nd  )) )
								and 
								
								( a.TankCode=b.Name_nd  or  a.TankCode=b.Map_Sap1)
								  and not exists (select 1 from @p_TableTonKho e where ( e.MaBe=a.TankCode   or  a.TankCode=b.Map_Sap1 )   )
								  --20190328  loc theo cac be duoc active cho ATG
								  and b.Name_nd in (select TankCode from (				
															select  TankCode from zTankListATG
															union 
															select TankCode from zTankListATG_M  where getdate() >= isnull(FromDate,getdate()-5)
																					and  getdate() <= isnull(ToDate,getdate()+5)) abc)
		end
	---select * from ztblTankInfor
	--select * from @p_BeXuat
	--return
	select Client 
									,ClientDesc 
									,MAHH 
									,TenHH 
									,MaBe 
									,DungTichBe 
									,ChieuCaoMin  
									,ChieuCaoDau  
									,DungTichChua  		
									,DungTichTrong  
									,case when isnull(DungTichXuatDuoc,0) <0 then 0 else DungTichXuatDuoc end DungTichXuatDuoc    from @p_TableTonKho  order by MaBe
	
	
	
END
