USE [HTTG_PROD]
GO
/****** Object:  StoredProcedure [dbo].[FPT_GetDensATG]    Script Date: 01/02/2019 22:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GetDensATG]
	@p_Tank nvarchar(50)
	,@p_DateTime datetime
AS
BEGIN
	
	select  isnull((select top 1   dens  from dbo.ztblTankLineImp b where 
					b.tankcode =@p_Tank and isnull(b.Dens,0) >0
		and b.CrDate<=@p_DateTime  order by CrDate desc, isnull( b.SynDate, b.CreateDate) desc),0) as Dens
END
