

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_TonKhoThucTe]
	--@p_FromDate datetime
	@p_ToDateTime datetime
	,@p_Client nvarchar(50)
	,@p_TankCode nvarchar(50)	
AS
BEGIN
		declare @p_BeXuat table (MaBe nvarchar(50))
		--declare @p_MucDich table (Code nvarchar(50))
		declare @p_KHoXuat table (MaKho nvarchar(50))
		
		--Bang luu thong tin lan do be cuoi cung
		declare @p_TankLineImp_Temp table 
						(TankCode nvarchar(50)
							, ID int
							, CrDate datetime
							,CreateDate datetime
												)
		
		declare @p_Date1 datetime
		declare @p_Date2 datetime
		set @p_Date1=getdate()
		set @p_Date2=getdate()
		--if not @p_FromDateTime is null
		--	begin
		--		set @p_Date1=@p_FromDateTime
		--	end
		if not @p_ToDateTime is null
			begin
				set @p_Date2=@p_ToDateTime
			end
	insert into @p_BeXuat (MaBe) select Name_ND from tblTank where len( isnull(Product_nd,'')) >0 and Name_ND = isnull(@p_TankCode,Name_nd)
	
	
	if isnull(@p_Client,'') <>'' 
		begin
			if isnull(@p_Client,'') ='C'
				begin
					---print 'sdfdsfs'
					delete @p_BeXuat where MaBe  like '%A%'   or MaBe  like '%B%'  ---left(MaBe,1) ='A' or left(MaBe,1) ='B'
				end
			else
				begin
					delete @p_BeXuat where  MaBe not like '%' + @p_Client + '%' -- left(MaBe,1) =@p_Client
				end
		end
		
		
		delete @p_BeXuat where MaBe  like 'O%'  
		
		---Lay casc ban ghi cuoi cung theo be
		
		insert into @p_TankLineImp_Temp  
						(TankCode ,  ID
							,CreateDate) 
		select  b.TankCode,Max(ID) as ID, max( isnull( b.SynDate, b.crdate) )  as  CreateDate  from dbo.ztblTankLineImp b  with (nolock)
						--,(select  b.TankCode,max( CrDate)  as CrDate from dbo.ztblTankLineImp b with (nolock)  where 
						--		X='Y' and isnull(Ltt,0) >0 and b.CrDate<=@p_Date2  group by b.TankCode ) bb
					  where  
					 						
							X='Y' and isnull(Ltt,0) >0 and convert(date, isnull( b.SynDate, b.CreateDate)) =@p_Date2		
							 and exists (select 1 from @p_BeXuat dd where dd.MaBe=b.TankCode)					
					  group by b.TankCode
					order by b.TankCode	



		if isnull(@p_Client,'') <>'' 
			BEGIN 
					select  case when left(client,1)='D' then 'C' else client end as Client
							, N'   Đội giao nhận: Kho ' + case when left(client,1)='D' then 'C' else client end as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinHeight,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock), ztblTankInfor c	  with (nolock)	
							where a.TankHeaderCode =b.TankHeaderCode  and a.TankCode =c.tankcode 
									and isnull(a.X,'N')='Y'
									--and b.sType='A'
									and isnull(a.TankHeight,0) >0
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123
				UNION ALL
				select  'Z'  as Client
							, N'   Bể trống' as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinHeight,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock), ztblTankInfor c	  with (nolock)	
							where a.TankHeaderCode =b.TankHeaderCode  and a.TankCode =c.tankcode 
									---and b.sType='Ms'
									and isnull(a.TankHeight,0) <=0
									and isnull(a.X,'N')='Y'
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123 
			end
		else
			begin
				select  'A'  as Client
							, N'   Đội giao nhận: Tổng kho Vật lý XD Nhà Bè' as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinHeight,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock), ztblTankInfor c	  with (nolock)	
							where a.TankHeaderCode =b.TankHeaderCode  and a.TankCode =c.tankcode 
								--	and b.sType='A'
								and isnull(a.X,'N')='Y'
									and isnull(a.TankHeight,0) >0
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123
				Union all 				
				select  'Z'  as Client
							, N'   Bể trống' as ClientDesc
							, MAHH,TenHangHoa  as  TenHH, MSB as MaBe, SafeVolumeM3 as DungTichBe, MinHeight as ChieuCaoMin
							, TankHeight as ChieuCaoDau, Ltt as DungTichChua, DungTichTrongM3 as DungTichTrong				
							, DungTichXuat as  DungTichXuatDuoc
					--	,SafeVolumeM3, SafeVolume,TankHeight,Ltt, DungTichTrong, DungTichTrongM3, DungTichXuat
					from (
						SELECT   case when left(a.tankcode,1) ='O' then substring(a.tankcode,2,1) else case when isnull(a.client,'') ='' 
											then left(a.TankCode,1) else a.client end end as client, 
								 a.TankCode as MSB, a.ProductCode  as MAHH, a.TenHangHoa,
							round (isnull(c.SafeVolume,0) /1000,0) as SafeVolumeM3,
							c.SafeVolume,a.TankHeight,a.Ltt,MinHeight,
							isnull(c.SafeVolume,0)  - isnull( a.Ltt,0) as DungTichTrong, 
							round((isnull(c.SafeVolume,0)  - isnull( a.Ltt,0))/1000,0) as DungTichTrongM3, 
							case when isnull( a.Ltt,0 ) <=0 then 0 else isnull( a.Ltt,0) - isnull(c.MinHeight,0) end  as DungTichXuat
						  FROM [ztblTankLineImp_v] a with (nolock), ztblTankHeaderImp_v b  with (nolock), ztblTankInfor c	  with (nolock)	
							where a.TankHeaderCode =b.TankHeaderCode  and a.TankCode =c.tankcode 
										--and b.sType='M'
										and isnull(a.X,'N')='Y'
										and isnull(a.TankHeight,0) <=0
								and exists (select 1 from  @p_TankLineImp_Temp gg where gg.ID=a.ID)
								and exists (select 1 from @p_BeXuat dd where dd.MaBe=a.TankCode)) anhqh123
			end
END
