-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
alter PROCEDURE FPT_DanhSachATG_SAP
	@p_DocEntry int
	,@p_Client nvarchar(50)
	, @p_PurposeCode nvarchar(50)
	,@p_FromDate datetime
	, @p_ToDate datetime
	,@p_UserName nvarchar(50)
AS
BEGIN

	
	if @p_Client ='ALL'
		begin
				select a.DocEntry as [Số giao dịch], a.crDate as [Ngày tháng]  , case when  sType='A' then N'Tự động' else N'Nhập tay' end as [Loại], 
						a.SyncUser as [User đồng bộ], a.SyncDate as [Ngày đồng bộ SAP]  , 
					 b.CrDate  as [TGĐB],b.TankCode as [Bồn xuất], b.ProductCode as [Mã hàng],  TankHeight as [Chiều cao dầu], 
					TankTemp as [Nhiệt độ],	b.PurposeCode as [Mã MDD], b.Purposename as [Tên MDD],
					b.Dens as [Tỷ trọng], b.VCF, b.WCF, b.Ltt,
					 B.VolumnL15 as L15,b.VolumnKG as KG , case when isnull( a.Status,'')  ='S' then N'Đồng bộ lên SAP' else N'Chưa đồng bộ' end as [Trạng thái]
					 from dbo.ztblTankHeaderImp  a with(nolock ),
					  dbo.ztblTankLineImp_v b with(nolock)
				where a.TankHeaderCode =b.TankHeaderCode
						and  a.DocEntry =  isnull(@p_DocEntry,a.DocEntry)
						and   b.PurposeCode =  isnull(@p_PurposeCode, b.PurposeCode)
						and convert(date,a.crDate)  >=  isnull(@p_FromDate,convert(date,a.crDate) ) 
						and convert(date,a.crDate)  <=  isnull(@p_ToDate,convert(date,a.crDate) ) 
						--and a.Status ='S'
						--and Charindex('A22',( select Terminal from sys_user where upper(user_name) =upper('sysadmin')),1) 
		end
	else
		if @p_Client ='C'			
			begin
					select  a.DocEntry as [Số giao dịch], a.crDate as [Ngày tháng]  , case when  sType='A' then N'Tự động' else N'Nhập tay' end as [Loại], 
						a.SyncUser as [User đồng bộ], a.SyncDate as [Ngày đồng bộ SAP]  , 
					b.CrDate as [TGĐB],b.TankCode as [Bồn xuất], b.ProductCode as [Mã hàng],  TankHeight as [Chiều cao dầu], 
					TankTemp as [Nhiệt độ],	b.PurposeCode as [Mã MDD], b.Purposename as [Tên MDD],
					b.Dens as [Tỷ trọng], b.VCF, b.WCF, b.Ltt,
					 B.VolumnL15 as L15,b.VolumnKG as KG  , case when isnull( a.Status,'')  ='S' then N'Đồng bộ lên SAP' else N'Chưa đồng bộ' end as [Trạng thái] 
							from dbo.ztblTankHeaderImp  a with(nolock ), dbo.ztblTankLineImp_v b with(nolock)
					where a.TankHeaderCode =b.TankHeaderCode
							--and a.Status ='S'
							and  a.DocEntry =  isnull(@p_DocEntry,a.DocEntry)
							and  b.PurposeCode =  isnull(@p_PurposeCode, b.PurposeCode)
							and convert(date,a.crDate)  >=  isnull(@p_FromDate,convert(date,a.crDate) ) 
							and convert(date,a.crDate)  <=  isnull(@p_ToDate,convert(date,a.crDate) ) 
							and ( charindex (@p_Client,b.TankCode ,1) >0 or charindex ('D',b.TankCode ,1) >0)
			end			
		else
			begin
					select  a.DocEntry as [Số giao dịch], a.crDate as [Ngày tháng]  , case when  sType='A' then N'Tự động' else N'Nhập tay' end as [Loại], 
						a.SyncUser as [User đồng bộ], a.SyncDate as [Ngày đồng bộ SAP]  , 
					b.CrDate as [TGĐB],b.TankCode as [Bồn xuất], b.ProductCode as [Mã hàng],  TankHeight as [Chiều cao dầu], 
					TankTemp as [Nhiệt độ],	b.PurposeCode as [Mã MDD], b.Purposename as [Tên MDD],
					b.Dens as [Tỷ trọng], b.VCF, b.WCF, b.Ltt,
					 B.VolumnL15 as L15,b.VolumnKG as KG , case when isnull( a.Status,'')  ='S' then N'Đồng bộ lên SAP' else N'Chưa đồng bộ' end as [Trạng thái] from dbo.ztblTankHeaderImp  a with(nolock ), dbo.ztblTankLineImp_v b with(nolock)
					where a.TankHeaderCode =b.TankHeaderCode
							and  a.DocEntry =  isnull(@p_DocEntry,a.DocEntry)
							and  b.PurposeCode = isnull(@p_PurposeCode, b.PurposeCode)
							and convert(date,a.crDate)  >=  isnull(@p_FromDate,convert(date,a.crDate) ) 
							and convert(date,a.crDate)  <=  isnull(@p_ToDate,convert(date,a.crDate) ) 
							and charindex (@p_Client,b.TankCode ,1) >0
						--	and a.Status ='S'
			end				
END
GO
