

-- =============================================
-- Author:		anhqh
-- Create date: 20150120
-- Description:	Trigger Insert
-- =============================================
create TRIGGER [dbo].[zTankListATG_AM_UPD]
   ON  [dbo].[zTankListATG_AM]
   FOR UPDATE
AS 
BEGIN
		INSERT INTO [zTankListATG_AM_HIST]
           ([ID]
           ,[TankCode]
           ,[CrDate]
           ,[CrUser]
           ,[UpdDate]
           ,[UpdUser]
           ,[FromDate]
           ,[ToDate]
           ,UpdateDate 
           , UpdatedBy 
           ,  Createby 
           ,Product
           ,[sStatus]
           ,[dDate]
           )
     select   [ID]
           ,[TankCode]
           ,[CrDate]
           ,[CrUser]
           ,[UpdDate]
           ,[UpdUser]
           ,[FromDate]
           ,[ToDate]
            ,UpdateDate 
           , UpdatedBy 
           ,  Createby 
           ,Product
				   ,'U' as [sStatus]
				  -- ,[sUser]
				   ,getdate() as [dDate]			
		FROM inserted  
		
END


