
--FES--3/10--ANNV5--Them truong hop E5
create FUNCTION [dbo].[fm_NhietDo_TBE5_New]
(
	@LineID NVARCHAR(6),
	@MaLenh NVARCHAR(4),
	@NgayXuat DATETIME
	,@p_Table_ID nvarchar(10)
	--@p_Table_ID NVARCHAR(10)
)
RETURNS FLOAT 
BEGIN
	DECLARE @TongNDSL AS decimal (18,2)
	DECLARE @TongSL AS decimal (18,2)
	DECLARE @TongTB AS decimal (18,2)
	
	SELECT 
		@TongNDSL=SUM(lxct.SoLuongDuXuat * lxct.NhietDo), 
		@TongSL=SUM(lxct.SoLuongDuXuat)
	FROM 
		fpt_tblLenhXuatChiTietE5_v AS lxct
	WHERE 
	
		lxct.LineID=@LineID AND 
		--lxct.MaLenh=@MaLenh AND 
		lxct.NgayXuat=@NgayXuat
		and 
		 tableid=@p_Table_ID
		
	IF @TongNDSL=NULL
		SET @TongNDSL=0
	IF @TongSL=NULL
		SET @TongSL=1
		
		
	SET @TongTB= dbo.FPT_ROUNDNUMBER( @TongNDSL/@TongSL,2)  
		
	
	
	RETURN @TongTB
	
END
