
ALTER PROCEDURE [dbo].[FPT_UpdateDO] @p_SoLenh varchar(10) AS  BEGIN  

update A  set Tax = b.VAT,  
PaymentMethod = b.PaymentMethod,  Term = b.Term,  MaKhoNhap = b.MaKhoNhap, TenKhoNhap = b.TenKhoNhap , SoHopDong = b.SoHopDong, 
 NgayHopDong = b.NgayHopDong,  TyGia = b.TyGia,  SoTKHQNhap = b.SoTKHQNhap,  SoTKHQXuat = b.SoTKHQXuat, 
  SoPXK  = b.SoPXK,  NgayPXK = b.NgayPXK,  MaTuyenDuong = b.MaTuyenDuong  
  ,DischargePoint =b.DischargePoint, DesDischargePoint=b.DesDischargePoint
  , a.BSART=b.BSART
  
  from tblLenhXuatE5 A, 
   ( select top(1) SoLenh, VAT, PaymentMethod, Term, MaKhoNhap, TenKhoNhap,  SoHopDong, NgayHopDong, TyGia, SoTKHQNhap,
    SoTKHQXuat, SoPXK, NgayPXK, MaTuyenDuong, DischargePoint, DesDischargePoint , BSART from tblDO_Header where SoLenh = @p_SoLenh) b 
     where a.SoLenh = b.solenh AND A.SoLenh = @p_SoLenh  
     
     
     declare @p_lineID int  declare @p_DonGia decimal(18, 6) 
      
      
      declare @p_CurrencyKey varchar(5)  DECLARE p_Cursor CURSOR FOR  select LineID, DonGia, CurrencyKey 
      from tblDO_Item_Material where SoLenh = @p_SoLenh  OPEN p_Cursor  FETCH NEXT FROM p_Cursor 
      INTO @p_LineID,@p_DonGia, @p_CurrencyKey  WHILE @@FETCH_STATUS = 0  BEGIN  update tblLenhXuat_HangHoaE5
        set DonGia = @p_DonGia, CurrencyKey = @p_CurrencyKey  where SoLenh = @p_SoLenh and LineID = @p_lineID  FETCH NEXT FROM p_Cursor INTO  @p_LineID, @p_DonGia, @p_CurrencyKey  End  CLOSE p_Cursor  DEALLOCATE p_Cursor   End