

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>  exec  [KV2_BM_01_32] '20200601','20200630',null

-- =============================================
ALTER PROCEDURE [dbo].[KV2_BM_01_32]
	@p_Fromdate date,
	@p_To_Date date,
	@p_Client nvarchar(10)
AS
BEGIN
	select
	Client as DoiGiaoNhan,
	MaVanChuyen as LoaiXuat,
	MaLuuLuongKe,
	MaHangHoa,
	TenHangHoa,
	MIN(Sl_llkebd) as SoCongToDau,
	MAX(Sl_llkekt) as SoCongToCuoi,
	MAX(Sl_llkekt) - MIN(Sl_llkebd) as SLXuatCongTo, 
	case when MaVanChuyen = 'BO' then sum(SoLuongDuXuat)
	else sum(SoLuongThucXuat) end as SLThucXuat,
	case when MaVanChuyen = 'BO' then max(Sl_llkekt) - MIN(Sl_llkebd ) - SUM(soluongduxuat)
	else max(Sl_llkekt) - MIN(Sl_llkebd ) - SUM(soluongthucxuat) end as ChenhLech,
	case when MaVanChuyen='BO' then N'bộ' 
	else case when MaVanChuyen='THUY' then N'thủy' else N'sắt' end 
	end as TenLoaiXuat,
	case when MaVanChuyen = 'BO' then ROUND((max(Sl_llkekt ) - MIN(Sl_llkebd ) - SUM(soluongduxuat))/(max(Sl_llkekt) - MIN(Sl_llkebd)) * 100, 2)
	else ROUND((max(Sl_llkekt ) - MIN(Sl_llkebd ) - SUM(soluongthucxuat))/(max(Sl_llkekt) - MIN(Sl_llkebd)) * 100, 2) end as TyLe
	from(
	select a.Client, 
	       case when a.MaVanChuyen = 'ZT' then 'BO'
	       else case when a.MaVanChuyen = 'ZB' or a.MaVanChuyen = 'ZM' then 'THUY' else 'SAT' end end
	       as MaVanChuyen, 
	       a.MaLuuLuongKe, 
	       a.MaHangHoa, 
	       a.TenHangHoa, 
		   a.Sl_llkebd, 
		   a.Sl_llkekt,
		   a.SoLuongDuXuat,
		   a.SoLuongThucXuat
	from FPT_LenhXuat_TongHop_v a
	where CONVERT(date,a.ThoiGianDau)>=CONVERT(date,@p_Fromdate) and 
		  CONVERT(date,a.ThoiGianDau)<=CONVERT(date,@p_To_Date) and
		  a.Client = ISNULL(@p_Client,a.Client) and
		  a.[Status] in ('31','4','5')   and  (isnull(Sl_llkekt,0) + isnull(Sl_llkebd,0)  >0) 
	) BM_01_32
	
	group by Client, MaVanChuyen, MaLuuLuongKe, MaHangHoa, TenHangHoa
	order by Client, MaVanChuyen, MaLuuLuongKe, MaHangHoa, TenHangHoa
END

