

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER function	  [dbo].[zFPT_mdlQCI_GetVCFSub_NS]
(
	@i_temp nvarchar(50),
	@i_dens nvarchar(50),
     @i_dens_1 nvarchar(50),
    @i_dens_2 nvarchar(50)
)
RETURNS nvarchar(50)
AS
BEGIN
	declare  @l_dens_in decimal(18,9)
	declare @l_dens_1_dec decimal(18,9)
    declare @l_dens_2_dec decimal(18,9)
	
	declare @l_vcf_1 decimal(18,9)
    declare @l_vcf_2 decimal(18,9)
    declare @l_vcf decimal(18,9)
                
                
	declare @p_Count int            
            
	--set @l_dens_in = convert(decimal(18,7),@i_dens)
	set @l_dens_in = round(convert(decimal(18,7),@i_dens),3)   -- anhqh 20200630 theo yêu cau để đồng nhất với SAP
	
	set @l_dens_1_dec = Convert(decimal(18,7),@i_dens_1)
	set @l_dens_2_dec = Convert (Decimal(18,7),@i_dens_2)
    
	--select @i_temp, @l_dens_1_dec, @l_dens_2_dec,@p_Count
	
    set @p_Count = (select COUNT(*)  from tblVCF where [Temp] = @i_temp  and [Dens] >= @l_dens_1_dec
		and  [Dens] <= @l_dens_2_dec)
		
	select @l_vcf_1=MIN([VCF]), @l_vcf_2=MAX([VCF])  from tblVCF where [Temp] = @i_temp  and [Dens] >= @l_dens_1_dec
		and  [Dens] <= @l_dens_2_dec
	
	
    if @p_Count <> 2
		return '0'        
	
	--select 	@l_vcf_2, @l_vcf_1, @l_dens_2_dec, @l_dens_1_dec, @l_dens_in
		
	set @l_vcf = abs(@l_vcf_2 - @l_vcf_1) / (@l_dens_2_dec - @l_dens_1_dec) 
	
--	select @l_vcf
	--select  @l_vcf * (@l_dens_in - @l_dens_1_dec)
	
--	select @l_vcf_1  , @l_vcf * (@l_dens_in - @l_dens_1_dec)
	
    set @l_vcf = @l_vcf_1 + @l_vcf * (@l_dens_in - @l_dens_1_dec)
	
	--select  @l_vcf_1, @l_vcf_2, @l_vcf
	
	--select @l_dens_2_dec  , @l_dens_1_dec,  @l_vcf          		
--select  @l_vcf
	return left(convert(nvarchar(20), round(@l_vcf,4)),6)
	
	

END

