

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER function	  [dbo].[zFPT_mdlQCI_GetVCFSub_NS]
(
	@i_temp nvarchar(50),
	@i_dens nvarchar(50),
     @i_dens_1 nvarchar(50),
    @i_dens_2 nvarchar(50)
)
RETURNS nvarchar(50)
AS
BEGIN
	declare  @l_dens_in decimal(18,9)
	declare @l_dens_1_dec decimal(18,9)
    declare @l_dens_2_dec decimal(18,9)
	
	declare @l_vcf_1 decimal(10,4) --decimal(18,9)
    declare @l_vcf_2 decimal(10,4) --decimal(18,9)
    declare @l_vcf decimal(18,9)               
    declare @p_Tmp nvarchar(100)
	declare @p_Tmp1 nvarchar(100)      
	declare @p_Count int      
	declare @p_StringTmp nvarchar(50)

	set @l_dens_in = round(convert(decimal(18,7),@i_dens),3)   -- anhqh 20200630 theo yêu cau để đồng nhất với SAP
	set @l_dens_1_dec = Convert(decimal(18,7),@i_dens_1)
	set @l_dens_2_dec = Convert (Decimal(18,7),@i_dens_2)	
	
	
	--
	set @p_StringTmp = dbo.GetVCF1_VCF2 (@l_dens_in)	
---return  '0.7879'	
	set @p_Tmp = left(@p_StringTmp, charindex ('-',@p_StringTmp,1)-1)
	set @p_Tmp1  = replace(@p_StringTmp,@p_Tmp +'-','')
	
	
	set  @l_vcf_1 =convert(decimal(10,4) , @p_Tmp)
	set  @l_vcf_2 =convert(decimal(10,4) , @p_Tmp1)
	
	
	set @l_vcf = abs(@l_vcf_2 - @l_vcf_1) / (@l_dens_2_dec - @l_dens_1_dec) 
	

	
    set @l_vcf = @l_vcf_1 + @l_vcf * (@l_dens_in - @l_dens_1_dec)
	
	
	return left(convert(nvarchar(20), round(@l_vcf,4)),6)
	
	

END

