
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER function [dbo].[zzFPT_mdlQCI_GetVCF_NS]
(
	 @i_temp1 nvarchar(50),
     @i_dens nvarchar(50)
)
RETURNS nvarchar(50)
AS
BEGIN
		declare @l_vcf_1 nvarchar(50)
		declare @l_vcf_2 nvarchar(50)
		
		declare @i_temp nvarchar(50)
		

        declare @l_dens nvarchar(50)
        declare @l_dens_1 nvarchar(50)
        declare @l_dens_2 nvarchar(50)
        declare @l_temp nvarchar(50)       
        declare @l_vcf nvarchar(50)
		
		declare @p_Count int
		declare @p_Len int
		
		if len(@i_temp1)>5	
			set @i_temp=LEFT(@i_temp1,5)
		else
			set @i_temp=@i_temp1
			
		If len(@i_dens) > 6 
            set @l_dens = left(@i_dens, 6)
        Else
            set @l_dens = @i_dens
        
        declare @p_StringTmp nvarchar(100)
        	set @p_StringTmp = dbo.GetDens1_Dens2 (@l_dens)
		set @l_dens_1 = left(@p_StringTmp, charindex ('-',@p_StringTmp,1)-1)
		set @l_dens_2  = replace(@p_StringTmp,@l_dens_1 +'-','')

   --    set   @l_dens_1 =   dbo.zFPT_mdlQCI_ConvertDens_1(@l_dens)
   --     set @l_dens_2 = dbo.zFPT_mdlQCI_ConvertDens_2(@l_dens)
       
 
       
       If len(@i_temp)  > 5 
            set @l_temp = left(@i_temp,5)
        Else
			begin
				set @l_temp = @i_temp
				If LEN( @l_temp) = 2 
					set @l_temp = @l_temp + CONVERT(nvarchar(5), '.00')
				Else
					
					if len(@i_temp) < 5 					
						begin
								set @p_Count =1
								set @p_Len=LEN(@i_temp)
								while  @p_Count<= 5 - len(@i_temp)
									begin
										set @l_temp = @l_temp + CONVERT(nvarchar(1), '0')
										set @p_Count=@p_Count+1
									end
						end
					--end 
				--end
			end  
		--end       
		--select @l_temp
		
		set @l_temp = dbo.zFPT_mdlQCI_ConvertTemp(@l_temp)
		   
		   --select @l_temp
		   -- select @l_dens_1 , @l_dens_2
		    
		If @l_dens_1 = @l_dens_2 		
				begin  
					--set @p_Count = (select COUNT(*)  from tblVCF where [Temp] = @i_temp  and [Dens] >= @l_dens_1
					--	and  [Dens] <= @l_dens_2)
				--
				--	select @l_dens_1 , @l_dens_2	,@i_temp
						
						
					--select @l_vcf_1=MIN([Dens]), @l_vcf_2=MAX([Dens])  from tblVCF where [Temp] = @i_temp  and [Dens] >= @l_dens_1
					select @l_vcf_1= VCF  from tblVCF where [Temp] = @l_temp  and [Dens] = @l_dens_1
						--and  [Dens] <= @l_dens_2		               
					--If @p_Count > 0 
					--	begin
							--set @l_vcf_1 = @l_vcf_1		                
						--end					
		        end   
        Else
            set @l_vcf_1 = dbo.zFPT_mdlQCI_GetVCFSub_NS(@l_temp, @i_dens, @l_dens_1, @l_dens_2)
        
            		 --select @l_dens_1 , @l_dens_2, @l_vcf_1
	return  @l_vcf_1
END




