

ALTER PROCEDURE [dbo].[KV2_LenhXuat_TongHop_New]
	-- Add the parameters for the stored procedure here
	@p_FDat date, 
	@p_TDat date,
	@p_Client nvarchar(10)
	,@p_NhomBe nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    SELECT
	fu.NgayXuat as NgayTaoTrenLenhXuat,
	fu.NgayHieuLuc as NgayHetHanLenhXuat,
	CONVERT(date,fu.ThoiGianDau) as NgayXuatHangTaiKho,
	fu.SoLenh,
	fu.TableID as MaTuDongHoa,
	fu.SoLuongThucXuat as SoLuongDatLtt,
	fu.NgayTichKe as NgayInTichKe,
	fu.MaKhachHang,
	fu.TenKhachHang,
	fu.MaNguon as MaNguonXuat,
	fu.TenNguon as TenNguonXuat,
	fu.MaVanChuyen as MaPhuongThucVanTai,
	fu.TenVanChuyen as TenPhuongThucVanTai,
	fu.MaHangHoa,
	fu.TenHangHoa,
	fu.SoLuongDuXuat as SoLuongDangKy,
	fu.Client as KhoLayHang,
	fu.BeXuat as MaBe,
	fu.MaPhuongTien as BienSoPhuongTien,
	fu.TuText as LoaiPhuongTien,
	fu.MaLuuLuongKe as MaCongTo,
	fu.Sl_llkebd as SoCongToDau,
	fu.Sl_llkekt as SoCongToCuoi,
	(fu.Sl_llkekt - fu.Sl_llkebd) as SoLuongXuatCongTo,
	fu.ThoiGianDau as TgianBDBom,
	fu.ThoiGianCuoi as TgianKTBom,	
	fu.TyTrong,
	fu.VCF,
	fu.NhietDo,
	case when fu.[Status] = '3' then '0'
	else dbo.FPT_mdlQCI_GetQCI(fu.SoLuongThucXuat,'L15',fu.NhietDo,fu.TyTrong,VCF) 
	end as SoLuongV15,
	case when fu.[Status] = '3' then '0' 
	else dbo.FPT_mdlQCI_GetQCI(fu.SoLuongThucXuat,'KG',fu.NhietDo,fu.TyTrong,VCF) 
	end as SoLuongKG,																	 
	fu.Niem as SoNiem,
	fu.MaEntry as HHH,
	fu.LuongGiamDinh as SoLuongTaiPhuongTien
	,fu.NhomBeXuat 
	, case when isnull(fu.NhomBeXuat,'')  <> '' then  isnull(fu.NhomBeXuat,'')  + ' - ' +  a2.GrpName else '' end as TenNhomBe	
	from (
		select
		ck.NgayXuat,
		ck.NgayHieuLuc,
		ck.SoLenh,
		ck.TableID,
		ck.SoLuongThucXuat,
		ck.NgayTichKe,
		ck.MaKhachHang,
		ck.TenKhachHang,
		ck.MaNguon,
		ck.TenNguon,
		ck.MaVanChuyen,
		ck.TenVanChuyen,
		ck.MaHangHoa,
		ck.TenHangHoa,
		ck.SoLuongDuXuat,
		ck.Client,
		ck.BeXuat,
		ck.MaPhuongTien,
		ck.TuText,
		case when ck.MaVanChuyen = 'ZT' then ck.MaLuuLuongKe
		else ck.MeterId 
		end as MaLuuLuongKe,
		ck.Sl_llkebd, 
		ck.Sl_llkekt, 
		ck.ThoiGianDau, 
		ck.ThoiGianCuoi,
		case when ck.[Status] = '3' then (select Dens_nd from FPT_tblTankActive_V where Name_nd = ck.BeXuat and Date1 = convert(date,ISNULL(ck.NgayTichKe,ck.NgayXuat )))
		else ck.TyTrong_15
		end as TyTrong, 
		ck.NhietDo,		
		ck.Niem,
		ck.MaEntry,
		ck.LuongGiamDinh,
		ck.[Status],
		case when ck.[Status] = '3' then '0'
		else dbo.zzFPT_mdlQCI_GetVCF_NS(ck.NhietDo, convert(decimal(14,5),ck.TyTrong_15)) 
		end as VCF							
		,NhomBeXuat 
		from (
			SELECT
			a.NgayXuat,
			a.NgayHieuLuc,
			a.SoLenh,
			a.TableID,
			a.SoLuongThucXuat, 
			a.NgayTichKe,
			a.MaKhachHang,
			a.TenKhachHang,
			a.MaNguon,
			b.TenNguon,
			a.MaVanChuyen,
			c.TenVanChuyen,
			a.MaHangHoa,
			a.TenHangHoa,
			a.SoLuongDuXuat,
			a.Client,
			a.BeXuat,
			a.MaPhuongTien,
			d.TuText,
			a.MaLuuLuongKe,
			a.MeterId,
			a.Sl_llkebd, 
			a.Sl_llkekt, 
			a.ThoiGianDau, 
			a.ThoiGianCuoi,
			a.TyTrong_15, 
			a.NhietDo,																 
			a.Niem,
			a.MaEntry,
			a.LuongGiamDinh,
			a.[Status]				
			,a.NhomBeXuat 
			from FPT_LenhXuat_TongHop_v a
			inner join tblNguon b on b.MaNguon = a.MaNguon
			inner join tblVanChuyen c on c.MaVanChuyen = a.MaVanChuyen
			inner join FPT_tblPhuongTien_V d on d.MaPhuongTien = a.MaPhuongTien
			where CONVERT(date,a.ThoiGianDau) >= @p_FDat
			and CONVERT(date,a.ThoiGianDau) <= @p_TDat
			and a.Client = ISNULL(@p_Client,a.Client)
			and a.[Status] in ('31','4','5')
			
			union all
			SELECT
			a.NgayXuat,
			a.NgayHieuLuc,
			a.SoLenh,
			a.TableID,
			a.SoLuongThucXuat, 
			a.NgayTichKe,
			a.MaKhachHang,
			a.TenKhachHang,
			a.MaNguon,
			b.TenNguon,
			a.MaVanChuyen,
			c.TenVanChuyen,
			a.MaHangHoa,
			a.TenHangHoa,
			a.SoLuongDuXuat,
			a.Client,
			a.BeXuat,
			a.MaPhuongTien,
			d.TuText,
			a.MaLuuLuongKe,
			a.MeterId,
			a.Sl_llkebd, 
			a.Sl_llkekt, 
			a.ThoiGianDau, 
			a.ThoiGianCuoi,
			a.TyTrong_15, 
			a.NhietDo,																 
			a.Niem,
			a.MaEntry,
			a.LuongGiamDinh,
			a.[Status]
			,a.NhomBeXuat 
			from FPT_LenhXuat_TongHop_v a
			inner join tblNguon b on b.MaNguon = a.MaNguon
			inner join tblVanChuyen c on c.MaVanChuyen = a.MaVanChuyen
			inner join FPT_tblPhuongTien_V d on d.MaPhuongTien = a.MaPhuongTien			
			where CONVERT(date,ISNULL(a.NgayTichKe,a.NgayXuat)) >= @p_FDat
			and CONVERT(date,ISNULL(a.NgayTichKe,a.NgayXuat)) <= @p_TDat
			and a.Client = ISNULL(@p_Client,a.Client)
			and a.[Status] in ('3')
		) ck
	) fu left join  tblTankGroupList_V a2  on    isnull(fu.NhomBeXuat,'')  =  a2.Code
    
    
    
END
