
-- =============================================
create PROCEDURE [dbo].[KV2_BM_14_03_TH]
	-- Add the parameters for the stored procedure here
	@p_FDate date, 
	@p_TDate date,
	@p_Client nvarchar(10),
	@p_NhomBe nvarchar(10),
	@p_MaHangHoa nvarchar(18),
	@p_SoCongTo nvarchar(30),
	@p_BeXuat nvarchar(20),
	@p_MaPhuongTien nvarchar(10),
	@p_TimeF datetime,
	@p_TimeT datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	declare @p_FromDateTime datetime
	declare @p_ToDateTime datetime


	declare @p_From_Hour int
	declare @p_From_MINUTE int
	
	declare @p_To_Hour int
	declare @p_To_MINUTE int
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	
	set @p_From_Hour= datepart(hour,@p_TimeF)
	set @p_From_MINUTE = datepart(MINUTE ,@p_TimeF)
	set @p_to_Hour= datepart(hour,@p_TimeT)
	set @p_To_MINUTE = datepart(MINUTE ,@p_TimeT)
	
	declare @p_TableID nvarchar(50)
	declare @p_SoLenh nvarchar(50)
	declare @p_Count int
	declare @p_NgayXuat date
	declare @p_LineID nvarchar(50)
	declare @p_MaLenh nvarchar(50)
	
	if isnull(@p_NhomBe,'' ) =''
		set @p_NhomBe  =null
	
	declare @p_TableHangHoaE5 table (SoLenh nvarchar(200)
					,MaHangHoa nvarchar(200)
					,TableID nvarchar(200)
					,VCF decimal(18,4)
					,WCF decimal(18,4)
					,D15 decimal(18,4)
					,NhietDo decimal(18,2)
					,L15 decimal(18)
					,KG decimal(18)
					
					)
	

	 set @p_FromDateTime=  convert (datetime,     replace( CONVERT(char(10),@p_FDate, 102),'.','')  + ' ' +  CONVERT(char(5),@p_TimeF, 108))
	 
	 set @p_ToDateTime =   convert (datetime,  replace( CONVERT(char(10),@p_TDate, 102),'.','')  + ' ' +  CONVERT(char(5),@p_TimeT, 108))
	

	--anhqh  20181208 lien quan den dung bang tam @TableVarTmp chayj cham khong len du lieu
	IF OBJECT_ID('tempdb..#TableVarTmp33') IS NOT NULL
				 DROP TABLE #TableVarTmp33
	select SoLenh, min(ThoiGianDau) as ThoiGianDau into #TableVarTmp33
			from  (
							select kk.SoLenh, ThoiGianDau from  Fpt_tblLenhXuatChiTietE5_V kk , (
							select Distinct a.SoLenh 
									from FPT_LenhXuat_TongHop_v a
								where ThoiGianDau>=  @p_FromDateTime --dateadd (day,-1 ,@p_Fdate) and 
									and  ThoiGianDau<=@p_ToDateTime   ---@p_TDate 
											and a.Status in ('31','4','5')
											and ( a.MaVanChuyen = 'ZB' or  a.MaVanChuyen = 'ZM' )
													and a.Client = case when len(@p_Client)=0 OR @p_Client IS NULL then a.Client else @p_Client end 		  
													and a.MaHangHoa = case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
													ISNULL(a.MaLuuLuongKe,'') = case when len(@p_SoCongTo)=0 OR @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and
													a.BeXuat = case when LEN(@p_BeXuat)=0 OR @p_BeXuat IS NULL then a.BeXuat else @p_BeXuat end  and
													a.MaPhuongTien = case when LEN(@p_MaPhuongTien)=0 OR @p_MaPhuongTien IS NULL then a.MaPhuongTien else @p_MaPhuongTien end 
		
											--and a.MaLuuLuongKe =bb.MeterID 				
											--	and  a.MaHangHoa = ISNULL(@p_MaHangHoa,a.mahanghoa) -- case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
										 -- and ISNULL(a.MaLuuLuongKe,'') =isnull(@p_SoCongTo,isnull(MaLuuLuongKe,''))  -- case when  @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and   -- case when len(@p_SoCongTo)=0 OR @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and
										 --and a.BeXuat =  ISNULL(@p_BeXuat,a.BeXuat)   --case when LEN(@p_BeXuat)=0 OR @p_BeXuat IS NULL then a.BeXuat else @p_BeXuat end and
										 -- and a.MaPhuongTien =isnull(@p_MaPhuongTien,a.maphuongtien) 		
									) kk1  where kk.SoLenh =kk1.SoLenh		  
								) kk2 group by SoLenh
				Having min(ThoiGianDau) > = @p_FromDateTime
							and  min(ThoiGianDau) < =@p_ToDateTime	


	

	
	declare @TableVar2 table (
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NhietDo decimal (10,2),
			TongNDSL decimal(18,0), 
			TongSL decimal (18,0),
			iCount int
			)
	
	declare @TableVar1 table (
			MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			LuongGiamDinh nvarchar(50) ,
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime
			,Tableid nvarchar(50)
			, MaNgan nvarchar(10),
			Row_ID int
			,NhomBeXuat nvarchar(10)
			--CustomerID nchar(5) NOT NULL			
			)		
	IF OBJECT_ID('tempdb..#TableVarTmp44') IS NOT NULL
				DROP TABLE #TableVarTmp44
	select * into #TableVarTmp44  from @TableVar1  

	insert into  #TableVarTmp44  -- @TableVar1
				(Row_ID,
				MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat ,
				BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				LuongGiamDinh,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				NhietDo,
				TyTrong ,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau 
				,Tableid
				,NhomBeXuat)
	
	
	SELECT	
	a.Row_ID,
	a.MaHangHoa, 
	a.TenHangHoa, 
	a.SoLenh, 
	a.SoLuongThucXuat as SoLuongThucXuat, --a.SoLuongDuXuat as SoLuongThucXuat, --a.SoLuongThucXuat,
	a.BeXuat, 
	a.MaPhuongTien,
	a.MeterId  as SoCongTo, 
	LuongGiamDinh,
	a.Sl_llkebd,
	a.Sl_llkekt,
	a.MaEntry,
	
	NhietDo as NhietDo,
	
	TyTrong_15 as  TyTrong,
	0.0000 as VCF, 
	0 as SluongQC, 
	
	a.ThoiGianDau as GioXuatKho,
	a.[Status], client,
	MaVanChuyen,
	MaLuuLuongKe,
	SoLuongDuXuat,
	LineID,
	MaLenh,
	NgayXuat,
	NgayTichKe,
	TyTrong_15,
	a.ThoiGianDau
	,Tableid			 
			, isnull(a.NhomBeXuat,'') as NhomBeXuat
	from FPT_LenhXuat_TongHop_v a, #TableVarTmp33 cc
	where --convert(date,ThoiGianDau)>=@p_Fdate 
	----and CONVERT(date,ThoiGianDau)<=@p_TDate 
	--and 
	a.Status in ('31','4','5')
	and ( a.MaVanChuyen = 'ZB' or  a.MaVanChuyen = 'ZM' )	
	--and isnull(cc.ThoiGianDau,getdate() )  > = @p_FromDateTime
	--			and isnull(cc.ThoiGianDau,getdate()) < =@p_ToDateTime		
	and a.SoLenh =cc.SoLenh
			and isnull(a.NhomBeXuat,'') = case when isnull(@p_NhomBe,'') ='' then isnull(a.NhomBeXuat,'') else @p_NhomBe  end 
	
union all
	SELECT	a.Row_ID,
	a.MaHangHoa, 
	a.TenHangHoa, 
	a.SoLenh, 
	a.SoLuongDuXuat as SoLuongThucXuat, --a.SoLuongThucXuat,
	a.BeXuat, 
	a.MaPhuongTien,
	a.MeterId  as SoCongTo, 
	LuongGiamDinh,
	a.Sl_llkebd,
	a.Sl_llkekt,
	a.MaEntry,
	--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
	NhietDo as NhietDo,
	--case when a.[Status] = '3' then --dbo.fm_TyTrongE5 (a.LineID, a.MaLenh, a.NgayXuat) 
	--0 else TyTrong_15 end as  TyTrong,
	0 as  TyTrong,
	0.0000 as VCF, 
	0 as SluongQC, 
	--case when a.[Status] = '3' then isnull(a.NgayTichKe,a.NgayXuat)
	--else a.ThoiGianDau end as GioXuatKho,
	isnull(a.NgayTichKe,a.NgayXuat) as GioXuatKho,
	a.[Status], 
	client,
	MaVanChuyen,
	MaLuuLuongKe,
	SoLuongDuXuat,
	LineID,
	MaLenh,
	NgayXuat,
	NgayTichKe,
	TyTrong_15,
	ThoiGianDau
	,Tableid, isnull(a.NhomBeXuat,'') as NhomBeXuat
	from FPT_LenhXuat_TongHop_v a
	where CONVERT(date, isnull(a.NgayTichKe,a.NgayXuat))>=@p_Fdate 
	and convert(date,isnull(a.NgayTichKe,a.NgayXuat)) <=@p_TDate 
	and a.Status ='3'
	and ( a.MaVanChuyen = 'ZB' or  a.MaVanChuyen = 'ZM' )	
		and isnull(a.NhomBeXuat,'') = case when isnull(@p_NhomBe,'') ='' then isnull(a.NhomBeXuat,'') else @p_NhomBe  end 
	
	--and  CONVERT(int, REPLACE( CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108),':','')) >=  @p_FromTime
	--				and convert(int,  REPLACE( CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108),':','')) <= @p_ToTime	
	
	and isnull(a.NgayTichKe,a.NgayXuat)  > = @p_FromDateTime
	and isnull(a.NgayTichKe,a.NgayXuat) < =@p_ToDateTime		
				
	update #TableVarTmp44 set ThoiGianDau = isnull(NgayTichKe,NgayXuat), 
				          TyTrong=(select top 1 Dens_nd from FPT_tblTankActive_V where Name_nd = BeXuat and Date1 = convert(date,ISNULL( NgayTichKe,NgayXuat )))										
	where [Status] = '3'
		



	--anhqh  20200318
	insert into  @p_TableHangHoaE5 (SoLenh 
					,MaHangHoa 
					,TableID 
					,VCF 
					,WCF 
					,D15 
					,NhietDo 
					,L15 
					,KG)
	select SoLenh, MaHangHoa,  TableID, VCF 
					,WCF 
					,D15_BQGQ
					,NhietDo_BQGQ 
					,L15 
					,KG  
		from tblLenhXuat_HangHoaE5 h with (nolock) where exists  ( select 1 from  #TableVarTmp44  kk  where kk.SoLenh =h.SoLenh)
	
	--select * from @p_TableHangHoaE5
	--return
	----anhqh 20180621  them doan tinh lai SLPhuongTien cho tung dong==============================
	
	declare @TableTong11 table (
			MaHangHoa nvarchar(20),
			MaLenh nvarchar(20),		
			
			TongLTT decimal(18,0), 
			TongLPT decimal (18,0),
			ChenhLech decimal (18,0),
			TyLe  decimal (18,6),
			ChenhLechTL decimal (18,0),
			iCount int,
			MaNgan nvarchar(10)
			,Row_ID int
			)
			
			
	declare @TableTong table (
			MaHangHoa nvarchar(20),
			MaLenh nvarchar(20),		
			
			TongLTT decimal(18,0), 
			TongLPT decimal (18,0),
			ChenhLech decimal (18,0),
			TyLe  decimal (18,6),
			ChenhLechTL decimal (18,0),
			iCount int
			
			)
	insert into @TableTong11 ( Row_ID, MaHangHoa,MaLenh,TongLPT , TongLTT ) --,ChenhLech,TyLe,ChenhLechTL ,iCount )
	select  Row_ID,
			MaHangHoa, 			
			SoLenh,
			SluongTaiPtien ,
			SluongThucXuat
			--sum(SluongThucXuat ) as SluongThucXuat  			
			--, count(*) as iCount
	from (	SELECT	Row_ID,
			a.MaHangHoa, 
	        a.TenHangHoa, 
	        a.SoLenh, 	        
	        case when a.[Status] = '3' then a.SoLuongDuXuat
	        else a.SoLuongThucXuat
	        end as SluongThucXuat_QCI,	  
	        a.SoLuongThucXuat  as   SluongThucXuat,
	        a.BeXuat, a.MaPhuongTien,
			SoCongTo, --a.MaLuuLuongKe as SoCongTo, 
			a.Sl_llkebd as CSCtoDau, 
			a.Sl_llkekt as CSCtoCuoi,
			a.Sl_llkekt - a.Sl_llkebd as SluongXuatCto, 		
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then convert(decimal(7),a.LuongGiamDinh)
			else null 
			end as SluongTaiPtien,			
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then (a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh)
			else (a.Sl_llkekt - a.Sl_llkebd) -- -null
			end as ClechSluong,			
			case when a.[Status] = '3'  then 0 else case when ISNUMERIC(a.LuongGiamDinh) = 1 and a.Sl_llkekt - a.Sl_llkebd <>0 then ((a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh))/(a.Sl_llkekt - a.Sl_llkebd) * 100
			else 1 * 100
			end end  as ClechTyLe,						
			--a.MaEntry as CCHH, -- Chiều cao hầm hàng
			a.NhietDo, 
			
			
			case when a.[Status] = '3' then
			(select top 1 Dens_nd from FPT_tblTankActive_V where Name_nd = a.BeXuat and Date1 =convert(date,ISNULL( a.NgayTichKe,a.NgayXuat )))
			else a.TyTrong_15 end as TyTrong, 
			
		--0 as TyTrong, 
			
			0.0000 as VCF, 			
			0 as SluongQC, 
			case when a.[Status] = '3' then CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108)
			else convert(char(5), a.ThoiGianDau, 108) end as GioXuatKho,
			GioXuatKho	as NgayXuatKho,
			a.[Status]
			from #TableVarTmp44 a 		 
			where a.Client = case when len(@p_Client)=0 OR @p_Client IS NULL then a.Client else @p_Client end 		  
			and a.MaHangHoa = case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
			ISNULL(a.MaLuuLuongKe,'') = case when len(@p_SoCongTo)=0 OR @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and
			a.BeXuat = case when LEN(@p_BeXuat)=0 OR @p_BeXuat IS NULL then a.BeXuat else @p_BeXuat end  and
			a.MaPhuongTien = case when LEN(@p_MaPhuongTien)=0 OR @p_MaPhuongTien IS NULL then a.MaPhuongTien else @p_MaPhuongTien end 
		  --CONVERT(char(5),a.ThoiGianDau, 108) >= case when a.[Status] in ('3') then CONVERT(char(5),a.ThoiGianDau, 108) else CONVERT(char(5),@p_TimeF, 108) end and
		  --CONVERT(char(5),a.ThoiGianDau, 108) <= case when a.[Status] in ('3') then CONVERT(char(5),a.ThoiGianDau, 108) else CONVERT(char(5),@p_TimeT, 108) end	
		  
		  and a.[Status]  in ( '4','5') 
	) abc	 
				
	
	insert into @TableTong (MaHangHoa,MaLenh,TongLPT , TongLTT, iCount ) --,ChenhLech,TyLe,ChenhLechTL ,iCount )
		select  MaHangHoa,MaLenh,TongLPT ,sum( TongLTT) as TongLTT, count(*) as iCount
				 from @TableTong11 group by  MaLenh, MaHangHoa, TongLPT
			
	UPDATE @TableTong set ChenhLech= TongLPT - TongLTT--, TyLe = (TongLPT/( TongLPT - TongLTT)) --,ChenhLech,TyLe,ChenhLechTL ,iCount )
			where 				iCount >1		
	update 	@TableTong11 set  iCount  = (select iCount  from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa )
	update 	@TableTong11 set  ChenhLech  = (select ChenhLech  from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa)		
						where 	 iCount >1												
															
	update 	@TableTong11 set  TyLe  = TongLTT / (select TongLPT from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa)
			where 	 iCount >1
	update 	@TableTong11 set  ChenhLechTL  = round(TyLe * 	ChenhLech,0)
						where 	 iCount >1			
																			
	UPDATE @TableTong set ChenhLechTL= ChenhLech  -  (select sum(ChenhLechTL)  from @TableTong11  
																where MaLenh=[@TableTong].MaLenh 
																	and MaHangHoa =[@TableTong].MaHangHoa) 
			where 				iCount >1	
	
    
    
    update #TableVarTmp44 set  LuongGiamDinh =0 where isnull(LuongGiamDinh,'') =''
    	
	update 	@TableTong11 set  ChenhLechTL  = ChenhLechTL+ isnull((select ChenhLechTL from @TableTong  
													where MaLenh=[@TableTong11].MaLenh 
														and MaHangHoa =[@TableTong11].MaHangHoa),0)
						where 	 iCount >1	
								and Row_ID= (select Min(Row_ID) from @TableTong11 aa where aa.MaLenh= [@TableTong11].MaLenh 
																and aa.MaHangHoa =[@TableTong11].MaHangHoa) 
	
	
	
	update #TableVarTmp44 set  LuongGiamDinh =
				  case when  isnull((select  ChenhLechTL from @TableTong11  hhh where  iCount >1 and hhh.Row_ID=#TableVarTmp44.Row_ID),0) >0 then
				 isnull(SoLuongThucXuat,0) +  isnull((select  ChenhLechTL from @TableTong11  hhh where  iCount >1 and hhh.Row_ID=#TableVarTmp44.Row_ID),0)	
		else  LuongGiamDinh end 
	
	create table  #RPTReport	(MaHangHoa nvarchar(100),
		TenHangHoa nvarchar(200),
		SoLenh nvarchar(100),
		SluongThucXuat int,
		BeXuat nvarchar(100),
		MaPhuongTien nvarchar(100),
		SoCongTo  nvarchar(100),
		CSCtoDau  nvarchar(100),
		CSCtoCuoi  nvarchar(100),
		SluongXuatCto  nvarchar(100),
		SluongTaiPtien  nvarchar(100),
		ClechSluong decimal(10,4),
		ClechTyLe decimal(10,4),
		CCHH nvarchar(100),
		NhietDo nvarchar(100),
		TyTrong nvarchar(100),
		VCF nvarchar(100),
		SluongQC decimal(10,4),
		GioXuatKho datetime,
		DVT  nvarchar(100),
		NgayGioXuat datetime,
		NhomBe nvarchar(100),
		TenNhomBe nvarchar(200))
	
	insert into #RPTReport (MaHangHoa, TenHangHoa,SoLenh,SluongThucXuat  ,BeXuat, MaPhuongTien,SoCongTo,CSCtoDau, 
			CSCtoCuoi,SluongXuatCto, SluongTaiPtien,	ClechSluong,	ClechTyLe,	NhietDo,TyTrong, VCF, SluongQC, GioXuatKho, DVT, NhomBe, TenNhomBe)
	select
			abc.MaHangHoa, 
			TenHangHoa, 
			abc.SoLenh, 	        
			--SluongThucXuat_QCI,	  
			SluongThucXuat  ,
			BeXuat, 
			MaPhuongTien,
			SoCongTo, --a.MaLuuLuongKe as SoCongTo, 
			CSCtoDau, 
			CSCtoCuoi,
			SluongXuatCto, 		
			SluongTaiPtien,		
		
			ClechSluong,			
			ClechTyLe,						
			--a.MaEntry as CCHH, -- Chiều cao hầm hàng
			case when isnull(cde.NhietDo,0) >0 then cde.NhietDo else abc.NhietDo end as NhietDo, 
			case when isnull(D15 ,0) >0 then D15  else TyTrong end as	TyTrong, 
			--0.0000 as VCF, 	
			case when isnull(cde.VCF,0) >0 then cde.VCF else	dbo.zzFPT_mdlQCI_GetVCF_NS (abc.NhietDo, TyTrong) end as VCF,
			
			case  when   abc.MaHangHoa  like '07%'  then		
				cde.KG
			else
				case when isnull(L15,0) >0 then L15  else	
					CONVERT(decimal(18,0),	isnull(dbo.zzFPT_mdlQCI_CalculateQCI_NS (
										SluongThucXuat_QCI, 
										'L',
										abc.NhietDo,
										TyTrong,abc.MaHangHoa,''
										) ,0)) end 
			end as SluongQC, 
	GioXuatKho,
	--NgayXuatKho,
	--[Status],
	case when abc.MaHangHoa not like '07%' then 'L15' else 'KG' end as DVT
	--, (case when isnull(SluongTaiPtien,0) >0 
	--		then isnull(SluongThucXuat,0) / SluongTaiPtien else 0 end ) as TL_SluongTaiPtien
	--,round( (case when isnull(SluongTaiPtien,0) >0 then isnull(SluongThucXuat,0) / SluongTaiPtien else 0 end )
	--		 * isnull(SluongTaiPtien,0),0)  as TT_SluongTaiPtien	
		, abc.NhomBeXuat as NhomBe
		, case when isnull(abc.NhomBeXuat,'')  <> '' then  isnull(abc.NhomBeXuat,'')  + ' - ' + isnull( a2.GrpName,'') else '' end as TenNhomBe
	from (	SELECT	 a.Row_ID,
			a.MaHangHoa, 
	        a.TenHangHoa, 
	        a.SoLenh, 	        
	        case when a.[Status] = '3' then a.SoLuongDuXuat
	        else a.SoLuongThucXuat
	        end as SluongThucXuat_QCI,	  
	        a.SoLuongThucXuat  as   SluongThucXuat,
	        a.BeXuat, a.MaPhuongTien,
			SoCongTo, --a.MaLuuLuongKe as SoCongTo, 
			a.Sl_llkebd as CSCtoDau, 
			a.Sl_llkekt as CSCtoCuoi,
			a.Sl_llkekt - a.Sl_llkebd as SluongXuatCto, 		
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then convert(decimal(7),a.LuongGiamDinh)
			else null 
			end as SluongTaiPtien,			
			case when ISNUMERIC(a.LuongGiamDinh) = 1 then (a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh)
			else (a.Sl_llkekt - a.Sl_llkebd) -- -null
			end as ClechSluong,			
			case when a.[Status] = '3'  then 0 else case when ISNUMERIC(a.LuongGiamDinh) = 1 and a.Sl_llkekt - a.Sl_llkebd <>0 then ((a.Sl_llkekt - a.Sl_llkebd) - convert(decimal(7),a.LuongGiamDinh))/(a.Sl_llkekt - a.Sl_llkebd) * 100
			else 1 * 100
			end end  as ClechTyLe,						
			--a.MaEntry as CCHH, -- Chiều cao hầm hàng
			a.NhietDo, 	
			case when a.[Status] = '3' then
			(select top 1 Dens_nd from FPT_tblTankActive_V where Name_nd = a.BeXuat and Date1 =convert(date,ISNULL( a.NgayTichKe,a.NgayXuat )))
			else a.TyTrong_15 end as TyTrong, 
			0.0000 as VCF, 			
			0 as SluongQC, 
			case when a.[Status] = '3' then CONVERT(char(5),isnull(a.NgayTichKe,a.NgayXuat), 108)
			else convert(char(5), a.ThoiGianDau, 108) end as GioXuatKho,
			GioXuatKho	as NgayXuatKho,
			a.[Status]		
			
			, a.NhomBeXuat
			from #TableVarTmp44 a			
			where a.Client = case when len(@p_Client)=0 OR @p_Client IS NULL then a.Client else @p_Client end 		  
			and a.MaHangHoa = case when len(@p_MaHangHoa)=0 OR @p_MaHangHoa IS NULL then a.MaHangHoa else @p_MaHangHoa end and
			ISNULL(a.MaLuuLuongKe,'') = case when len(@p_SoCongTo)=0 OR @p_SoCongTo IS NULL then ISNULL(a.MaLuuLuongKe,'') else @p_SoCongTo end and
			a.BeXuat = case when LEN(@p_BeXuat)=0 OR @p_BeXuat IS NULL then a.BeXuat else @p_BeXuat end  and
			a.MaPhuongTien = case when LEN(@p_MaPhuongTien)=0 OR @p_MaPhuongTien IS NULL then a.MaPhuongTien else @p_MaPhuongTien end 
	) abc	inner join  @p_TableHangHoaE5  cde  on abc.SoLenh =cde.SoLenh
		 left join tblTankGroupList_V a2  on    isnull(abc.NhomBeXuat,'')  =  a2.Code
	--order by MaHangHoa, [Status], SoCongTo, CSCtoDau, GioXuatKho
	
	----20250103 bo sung cho nhóm tổng cộng
	insert into #RPTReport (MaHangHoa, TenHangHoa,SoLenh,SluongThucXuat  ,BeXuat, MaPhuongTien,SoCongTo,CSCtoDau, 
			CSCtoCuoi,SluongXuatCto, SluongTaiPtien,	ClechSluong,	ClechTyLe,	NhietDo,TyTrong, VCF, SluongQC, GioXuatKho, DVT, NhomBe, TenNhomBe)
	select  MaHangHoa, TenHangHoa,SoLenh,SluongThucXuat  ,BeXuat, MaPhuongTien,SoCongTo,CSCtoDau, 
			CSCtoCuoi,SluongXuatCto, SluongTaiPtien,	ClechSluong,	ClechTyLe,	NhietDo,TyTrong, VCF, SluongQC, GioXuatKho, DVT, '' as NhomBe,  N'Tổng cộng' as TenNhomBe 
			from  #RPTReport
	
	select * from #RPTReport 

	drop table #RPTReport
END

