

alter PROCEDURE [dbo].[MauKiemSoatTaiTrong_New]
	-- Add the parameters for the stored procedure here
	@p_FromDate_In date
	,@p_ToDate_In date
	,@p_MaPhuongTien nvarchar(100)
AS
BEGIN
	
	declare @TONGDUXUAT nvarchar(10)
	declare @TONGDUXUATTHUY nvarchar(10)
    declare @p_From_Hour int
	declare @p_From_MINUTE int
	
	declare @p_To_Hour int
	declare @p_To_MINUTE int
	
	declare @p_FromDate datetime
	declare @p_ToDate datetime
	
	set @p_FromDate =isnull(@p_FromDate_In, '20190101')
	set @p_ToDate =isnull(@p_ToDate_In, getdate() +5)
			
	
	select  @TONGDUXUAT =KeyValue  from sys_config where  keycode ='TONGDUXUAT'
	--select  @TONGDUXUATTHUY =  KeyValue from sys_config where  keycode ='TONGDUXUATTHUY'
	
		
	declare @TableVar1 table (
		MaHangHoa nvarchar(50), 
			TenHangHoa nvarchar(500), 
			TenKhachHang nvarchar(1500), 
			SoLenh nvarchar(50),
			SoLuongThucXuat decimal(18,0) , --a.SoLuongThucXuat,
			SoLuongDuXuat_Ndo decimal(18,0) , --a.SoLuongThucXuat,
			BeXuat nvarchar(50), 
			MaPhuongTien nvarchar(50),
			SoCongTo nvarchar(50), 
			Sl_llkebd decimal(18,0),
			Sl_llkekt decimal(18,0),
			MaEntry decimal (5,1),
			 NhietDo decimal(10,2),
			TyTrong decimal (10,4),
			VCF decimal (10,4), 
			SluongQC decimal (18), 
			GioXuatKho datetime,
			Status nvarchar(5),
			client nvarchar(5),
			MaVanChuyen nvarchar(20),
			MaLuuLuongKe nvarchar(20),
			SoLuongDuXuat decimal(18),
			LineID nvarchar(20),
			MaLenh nvarchar(20),
			NgayXuat datetime,
			NgayTichKe datetime,
			TyTrong_15 numeric(10,4),
			ThoiGianDau datetime,
			DVT nvarchar(10),
			gst numeric
			, SoThucXuat decimal(18)
			,SoDuXuat decimal(18)
			,XITEC_OPTION nvarchar(10)
			,Number int
			, QCI_KG decimal(18)
			--CustomerID nchar(5) NOT NULL			
			)		
	insert into @TableVar1
		(MaHangHoa , 
				TenHangHoa , 
				SoLenh ,
				SoLuongThucXuat 
				,SoLuongDuXuat_Ndo
				,BeXuat ,
				MaPhuongTien ,
				SoCongTo ,
				Sl_llkebd ,
				Sl_llkekt,
				MaEntry ,
				 NhietDo,
				TyTrong ,
				VCF ,
				SluongQC ,
				GioXuatKho ,
				Status,
				client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst
				,SoThucXuat 
				,SoDuXuat 
				,Number
				--,XITEC_OPTION
				,TenKhachHang
				 )
	SELECT	a.MaHangHoa, 
				a.TenHangHoa, 
				a.SoLenh, 
				a.SoLuongDuXuat as SoLuongThucXuat, 
				a.SoLuongDuXuat as SoLuongDuXuat_Ndo,
				a.BeXuat, 
				a.MaPhuongTien,
				a.MaLuuLuongKe as SoCongTo, 
				a.Sl_llkebd,
				a.Sl_llkekt,
				a.MaEntry,
				--dbo.fm_NhietDo_TBE5 (a.LineID, a.MaLenh, a.NgayXuat) AS NhietDo,
				NhietDo as NhietDo,
				 TyTrong_15  as  TyTrong,
				0.0000 as VCF, 
				0 as SluongQC, 
				 a.ThoiGianDau as GioXuatKho,
				a.[Status], client,
				MaVanChuyen,
				MaLuuLuongKe,
				SoLuongDuXuat,
				LineID,
				MaLenh,
				NgayXuat,
				NgayTichKe,
				TyTrong_15,
				ThoiGianDau,
				gst
				,a.SoLuongthucXuat as SoThucXuat, 
				a.SoLuongDuXuat as SDuXuat
				, a.Number
				--,XITEC_OPTION
				, a.TenKhachHang
		from FPT_LenhXuat_TongHop_v a	

		where convert(date,ThoiGianDau)>=@p_Fromdate and 
			CONVERT(date,ThoiGianDau)<=@p_ToDate 
					and a.Status in ('31','4','5')
					and a.MaVanChuyen = 'ZT' 	
					and a.MaPhuongTien =isnull(@p_MaPhuongTien,a.maphuongtien)  				  

		update @TableVar1  set XITEC_OPTION = (select top 1 XITEC_OPTION from tbllenhxuate5 h 
				with (nolock) where solenh =[@TableVar1].SoLenh) 
				
							
			---	return
	if @TONGDUXUAT ='1'    --Lay du xuat
		begin
			update @TableVar1 set 				
				SoLuongThucXuat  =   case when isnull(XITEC_OPTION,'') ='Y' then SoThucXuat else   SoDuXuat end 
				,SoLuongDuXuat_Ndo =  case when isnull(XITEC_OPTION,'') ='Y' then SoThucXuat else   SoDuXuat end 
			--where   dbo.FPT_GetLoadingSite(MavanChuyen)='BO'
		end
	else       --Laytheo thu xuats
		begin
				update @TableVar1 set 				
				SoLuongThucXuat  =   case when isnull(XITEC_OPTION,'') ='Y' then SoDuXuat else   SoThucXuat end 
				,SoLuongDuXuat_Ndo =  case when isnull(XITEC_OPTION,'') ='Y' then SoDuXuat else   SoThucXuat end   
				--where   dbo.FPT_GetLoadingSite(MavanChuyen)='BO'
		end
				
	
	declare @p_TableResult table (
					MaHangHoa nvarchar(100) , 
					TenHangHoa nvarchar(1000) ,
					TenKhachHang nvarchar(1500),
					SoLenh  nvarchar(100) , 
					NgayXuat datetime,
					SluongThucXuat decimal(18) , 					 
					MaPhuongTien nvarchar(100) , 					
					TyTrong  decimal(18,4) ,
					VCF decimal(18,4) ,
					WCF decimal(18,4) ,
					Number int,
					SluongQC  decimal(18)
					, KG decimal(18)
					,QCI_KG decimal (18)
					
		)
	insert into @p_TableResult (MaHangHoa, 
			   TenHangHoa,
			   SoLenh, 
			   NgayXuat,
			    SluongThucXuat, 
			  -- BeXuat, 
			   MaPhuongTien,	
			   -- NhietDo,
			   TyTrong,
				VCF,	
				WCF,	
			  Number,
			  SluongQC
			  ,KG
			  ,TenKhachHang)
			  
	select MaHangHoa, 
			   TenHangHoa,
			   SoLenh, 
			   NgayXuat,
			    SluongThucXuat, 
			  -- BeXuat, 
			   MaPhuongTien,	
			   -- NhietDo,
			   TyTrong,
				VCF,		
				convert (decimal(18,4),VCF ) -0.0011 as WCF,
			  Number,
			  SluongQC
			  ,(convert (decimal(18,4),VCF ) -0.0011  ) *SluongQC  as KG
			  ,TenKhachHang
		FROM  (
					select MaHangHoa, 
						   TenHangHoa,
						   SoLenh, 
						   NgayXuat,
							SluongThucXuat, 
						  -- BeXuat, 
						   MaPhuongTien,	
							--NhietDo,
						   TyTrong,
						   case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then round(gst/SluongThucXuat,4) else 
							VCF end as VCF,		
						  Number,
						  case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then gst else 
							dbo.zzFPT_mdlQCI_CalculateQCI_NS (
											SluongThucXuat, 
											'L',
											(NhietDo * SluongThucXuat) / (SluongThucXuat),
											TyTrong,MaHangHoa,VCF
											) end as SluongQC,
							gst
							,TenKhachHang
							from  (
										select MaHangHoa, 
											   TenHangHoa,
											   SoLenh, 
											   NgayXuat,
											   TenKhachHang,
											   sum(SoLuongDuXuat) as SluongThucXuat, 
											 ----  BeXuat, 
											   MaPhuongTien,
											   Number,								
											   round(sum(NhietDo *  SoLuongDuXuat_Ndo) / sum(SoLuongDuXuat_Ndo),2) as NhietDo,
											  -- avg(TyTrong) as TyTrong,
											  avg(convert(decimal(14,5),TyTrong)) as TyTrong,
											 -- 0.0000 as VCF, --BM_05_04.VCF, 
											case when dbo.FPT_MaHangHoa_E5(MaHangHoa)=1 then '0' else  dbo.zzFPT_mdlQCI_GetVCF_NS (round(sum(NhietDo * SoLuongDuXuat_Ndo) / sum(SoLuongDuXuat_Ndo),2), avg(convert(decimal(14,5),TyTrong))) end as VCF,
											  0 as SluongQC,    
											
											SUM(round(isnull(gst,0),0)) as gst	   					   	
										from  @TableVar1 
										group by MaHangHoa, TenHangHoa, SoLenh, NgayXuat,TenKhachHang,  --BeXuat,
										 MaPhuongTien, Number
						
					) abc
			) a1
	---
	
	update @p_TableResult set QCI_KG = (select sum(hh.QCI_KG) from   tbllenhxuat_hanghoae5 hh with (nolock)
												where [@p_TableResult].SoLenh=hh.SoLenh  													
												)
	--select * from @p_TableResult	
	
	
	
		select NgayXuat,
			STUFF(
									(   SELECT '; ' + SoLenh 
										FROM tbllenhxuate5 hh  with (Nolock)
										WHERE hh.MaPhuongTien =a.MaPhuongTien
											and hh.ngayxuat =a.NgayXuat
											and hh.Number=a.Number
										FOR xml path('')
									)
									, 1
									, 1
									, '') as SoLenh,
			   ---  TenKhachHang, 
			   STUFF(
									(   SELECT distinct '; ' + TenKhachHang 
										FROM tbllenhxuate5 hh with (Nolock)
										WHERE hh.MaPhuongTien =a.MaPhuongTien
											and hh.ngayxuat =a.NgayXuat
											and hh.Number=a.Number
										FOR xml path('')
									)
									, 1
									, 1
									, '') as TenKhachHang,  
				STUFF ( (select distinct '; ' +  bbb.MaLenh   from tbllenhxuate5 aaa  with (Nolock)
							, tbllenhxuat_hanghoae5 bbb  with (Nolock)
									where aaa.SoLenh=bbb.SoLenh
										and aaa.MaPhuongTien =a.MaPhuongTien
											and aaa.ngayxuat =a.NgayXuat
											and aaa.Number=a.Number
										FOR xml path('') )
									, 1
									, 1
									, ''
									) as MaLenh,			
				 MaPhuongTien, 
				 Number, 
				 sum(QCI_KG) as QCI_KG, 
				 sum(KG) as  KG,  
				 sum(KG) - sum(QCI_KG)  as  ChenhLech
				 
				 , case when isnull(sum(QCI_KG),0) >0 then round( (isnull( sum(KG),0)/sum(QCI_KG) ) *100,2) 
					else  0 end  as TyLeChenhLech
			FROM  @p_TableResult  a
		group by NgayXuat, TenKhachHang, MaPhuongTien, Number
			order by NgayXuat,  MaPhuongTien, Number, TenKhachHang
	
END