
--exec [KV1_Rpt_Material]  null, '20180709','20180709 23:59',NULL

ALTER proc [dbo].[KV1_Rpt_Material]
	@p_MaHangHoa nvarchar(4000),	
	@p_TuNgay datetime,
	@p_DenNgay datetime,
	@p_MaVanChuyen nvarchar(1000)	
as
begin							

	declare @TONGDUXUAT nvarchar(10)
	declare @TONGDUXUATTHUY nvarchar(10)
	
	select  @TONGDUXUAT =KeyValue  from sys_config where  keycode ='TONGDUXUAT'
	select  @TONGDUXUATTHUY =  KeyValue from sys_config where  keycode ='TONGDUXUATTHUY'
	
	   
	
	set @p_TuNgay = CONVERT(varchar(16),@p_TuNgay,120) + ':00.000'
	set	@p_DenNgay = CONVERT(varchar(16),@p_DenNgay,120) + ':59'		    		    
	--
 --print @p_TuNgay
	--	print @p_DenNgay
	--return
	

	declare @p_TableLine table (
		SoLenh nvarchar(200),
		MaHangHoa nvarchar(200),
		MaLuuLuongKe nvarchar(200),
		MaPhuongTien nvarchar(200),
		SoLuongThucXuat decimal(18,0),
		SoLuongDuXuat decimal(18,0),
		TyTrong_15 decimal(6,4),
		NhietDo decimal(6,2),
		ThoiGianDau datetime,
		GST  decimal(18,0)
		,MaVanChuyen nvarchar(200)
		,XITEC_OPTION nvarchar(100)
	)
	
	insert into @p_TableLine (SoLenh ,
								MaHangHoa,
								MaLuuLuongKe ,
								MaPhuongTien,
								SoLuongThucXuat,
								SoLuongDuXuat,
								TyTrong_15 ,
								NhietDo,
								ThoiGianDau,
								GST, MaVanChuyen )
	select 
			a.SoLenh,
			a.MaHangHoa,
			a.MaLuuLuongKe as MaHong,
			a.MaPhuongTien as BienSoXe,
			a.SoLuongThucXuat,
			a.SoLuongDuXuat,
			a.TyTrong_15 as TyTrong,
			a.NhietDo,
			a.ThoiGianDau,
			a.GST , a.MaVanChuyen
			from FPT_LenhXuat_TongHop_v a
			where CHARINDEX(','+a.MaHangHoa+',',','+ISNULL(@p_MaHangHoa,a.MaHangHoa)+',',1)>0
			and CHARINDEX(','+a.MaVanChuyen+',',','+ISNULL(@p_MaVanChuyen,a.MaVanChuyen)+',',1)>0		
			and a.[Status] in ('31','4','5')
	
	
	update  @p_TableLine set MaVanChuyen = dbo.FPT_GetLoadingSite(MaVanChuyen)
	update  @p_TableLine set XITEC_OPTION = (select top 1 XITEC_OPTION from tblLenhXuatE5 h with (nolock) 
						where SoLenh =[@p_TableLine].SoLenh)
				---	return
	if @TONGDUXUAT ='1'    --Lay du xuat
		begin
			update @p_TableLine set 				
				SoLuongThucXuat  =   case when isnull(XITEC_OPTION,'') ='Y' then SoLuongThucXuat else   SoLuongDuXuat end 
				,SoLuongDuXuat =  case when isnull(XITEC_OPTION,'') ='Y' then SoLuongThucXuat else   SoLuongDuXuat end 
					where MaVanChuyen ='BO'
			--where   dbo.FPT_GetLoadingSite(MavanChuyen)='BO'
		end
	else       --Laytheo thu xuats
		begin
				update @p_TableLine set 				
				SoLuongThucXuat  =   case when isnull(XITEC_OPTION,'') ='Y' then SoLuongDuXuat else   SoLuongThucXuat end 
				,SoLuongDuXuat =  case when isnull(XITEC_OPTION,'') ='Y' then SoLuongDuXuat else   SoLuongThucXuat end   
					where MaVanChuyen ='BO'
				--where   dbo.FPT_GetLoadingSite(MavanChuyen)='BO'
		end
	if @TONGDUXUATTHUY ='1'    --Lay du xuat
		begin
			update @p_TableLine set 				
				SoLuongThucXuat  =   case when isnull(XITEC_OPTION,'') ='Y' then SoLuongThucXuat else   SoLuongDuXuat end 
				,SoLuongDuXuat =  case when isnull(XITEC_OPTION,'') ='Y' then SoLuongThucXuat else   SoLuongDuXuat end 
					where MaVanChuyen ='THUY'
			--where   dbo.FPT_GetLoadingSite(MavanChuyen)='BO'
		end
	else       --Laytheo thu xuats
		begin
				update @p_TableLine set 				
				SoLuongThucXuat  =   case when isnull(XITEC_OPTION,'') ='Y' then SoLuongDuXuat else   SoLuongThucXuat end 
				,SoLuongDuXuat =  case when isnull(XITEC_OPTION,'') ='Y' then SoLuongDuXuat else   SoLuongThucXuat end   
					where MaVanChuyen ='THUY'
				--where   dbo.FPT_GetLoadingSite(MavanChuyen)='BO'
		end
	


	if OBJECT_ID('tempdb..#tblTTHH') is not null drop table #tblTTHH
	
	select
	c.SoLenh,
	c.MaHangHoa,
	c.MaHong,
	c.BienSoXe,
	c.SoLuongThucXuat,
	c.TyTrong,
	c.NhietDo,
	case when dbo.FPT_MaHangHoa_E5(MaHangHoa) = 1 then round(GST/SoLuongThucXuat,4)
	else dbo.zzFPT_mdlQCI_GetVCF_NS(c.NhietDo, convert(decimal(14,5),c.TyTrong)) end as VCF,
	c.ThoiGianDau,
	c.GST
	into #tblTTHH
	from(
		select
		b.SoLenh,
		b.MaHangHoa,
		b.MaHong,
		b.BienSoXe,
		SUM(b.SoLuongThucXuat) as SoLuongThucXuat,
		avg(convert(decimal(14,5),b.TyTrong)) as TyTrong,
		round(sum(b.NhietDo *  b.SoLuongThucXuat) / sum(b.SoLuongThucXuat),2) as NhietDo,
		MIN(b.ThoiGianDau) as ThoiGianDau,
		SUM(round(isnull(b.GST,0),0)) as GST
		from (	select   SoLenh ,
								MaHangHoa,
								MaLuuLuongKe as MaHong ,
								MaPhuongTien as BienSoXe,
								SoLuongThucXuat,
								TyTrong_15  as TyTrong,
								NhietDo,
								ThoiGianDau,
								GST   from @p_TableLine 		    			    
			--select 
			--a.SoLenh,
			--a.MaHangHoa,
			----a.BeXuat,
			--a.MaLuuLuongKe as MaHong,
			--a.MaPhuongTien as BienSoXe,
			--a.SoLuongDuXuat  as  SoLuongThucXuat,
			--a.TyTrong_15 as TyTrong,
			--a.NhietDo,
			--a.ThoiGianDau,
			--a.GST 
			--from FPT_LenhXuat_TongHop_v a
			--where CHARINDEX(','+a.MaHangHoa+',',','+ISNULL(@p_MaHangHoa,a.MaHangHoa)+',',1)>0
			--and CHARINDEX(','+a.MaVanChuyen+',',','+ISNULL(@p_MaVanChuyen,a.MaVanChuyen)+',',1)>0
			
			--and a.[Status] in ('31','4','5')
		) b	
		group by b.SoLenh, b.MaHangHoa, b.MaHong, b.BienSoXe
	) c	
	where c.ThoiGianDau >= @p_TuNgay
	and c.ThoiGianDau <= @p_DenNgay
	
	--
	select SoLenh,
			MaHangHoa,
			MaHong,
			BienSoXe,
			SoLuongThucXuat
			, case when left(MaHangHoa,2)='07'then  round( (TyTrong -0.0011) * SoLuongL15,0)  else SoLuongL15  end as SoLuongL15,
			TyTrong,
			NhietDo, ThoiGianDau
		from  (
			select
			SoLenh,
			MaHangHoa,
			MaHong,
			BienSoXe,
			SoLuongThucXuat,
			case when dbo.FPT_MaHangHoa_E5(MaHangHoa) = 1 then GST
			else dbo.FPT_mdlQCI_GetQCI(SoLuongThucXuat,'L',NhietDo,TyTrong,MaHangHoa,VCF) end as SoLuongL15,
			TyTrong,
			NhietDo,
			convert(varchar(19),ThoiGianDau,120) as ThoiGianDau
			from #tblTTHH
		)abc
	ORDER BY MaHangHoa    
end