<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DoMucServicesAspNetAjaxBehavior">
          <enableWebScript/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://203.162.247.20/tichhoptrungtam/Service/ServiceATG.svc" behaviorConfiguration="DoMucServicesAspNetAjaxBehavior" binding="webHttpBinding" contract="ATGSvr.ServiceATG"/>
      <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
