USE [Database_TDH_Kho_K2]
GO
/****** Object:  Table [dbo].[XITEC_LENH_GH]    Script Date: 12/21/2022 9:29:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XITEC_LENH_GH](
	[NGAY_DKY] [datetime] NOT NULL,
	[NGAY_BD] [datetime] NULL,
	[NGAY_KT] [datetime] NULL,
	[SO_CTU] [char](7) NULL,
	[MA_LENH] [numeric](10, 0) NOT NULL,
	[MA_NGAN] [tinyint] NOT NULL,
	[MA_HHOA] [char](7) NOT NULL,
	[MA_HONG] [tinyint] NULL,
	[V_PRESET] [real] NULL,
	[TYLE_PRESET] [real] NULL,
	[TYLE_TTE] [real] NULL,
	[NHIET_DOTB] [real] NULL,
	[TRANG_THAI] [tinyint] NULL,
	[SO_PTIEN] [char](10) NULL,
	[LAI_XE] [char](20) NULL,
	[TYTRONG_BASE] [real] NULL,
	[TYTRONG_E] [real] NULL,
	[TY_TRONGTB_BASE] [real] NULL,
	[TY_TRONGTB_E] [real] NULL,
	[GV] [real] NULL,
	[GST] [real] NULL,
	[GVTotal_Start] [int] NULL,
	[GVTotal_End] [int] NULL,
	[GSTTotal_Start] [int] NULL,
	[GSTTotal_End] [int] NULL,
	[KF] [real] NULL,
	[KF_E] [real] NULL,
	[TY_TRONGTB] [real] NULL,
	[AVG_MF] [real] NULL,
	[AVG_MF_E] [real] NULL,
	[AVG_CTL] [real] NULL,
	[AVG_CTL_E] [real] NULL,
	[AVG_CTL_Base] [real] NULL,
	[RTD_Offset] [real] NULL,
	[GV_E] [real] NULL,
	[GST_E] [real] NULL,
	[GVTotal_E_Start] [real] NULL,
	[GVTotal_E_End] [real] NULL,
	[GSTTotal_E_Start] [real] NULL,
	[GSTTotal_E_End] [real] NULL,
	[GV_Base] [real] NULL,
	[GST_Base] [real] NULL,
	[GVTotal_Base_Start] [real] NULL,
	[GVTotal_Base_End] [real] NULL,
	[GSTTotal_Base_Start] [real] NULL,
	[GSTTotal_Base_End] [real] NULL,
	[Mass] [real] NULL,
	[Mass_Base] [real] NULL,
	[Mass_E] [real] NULL,
	[MassTotal_Start] [int] NULL,
	[MassTotal_End] [int] NULL,
	[MassTotal_Base_Start] [real] NULL,
	[MassTotal_Base_End] [real] NULL,
	[MassTotal_E_Start] [real] NULL,
	[MassTotal_E_End] [real] NULL,
	[ID_Transaction] [numeric](18, 0) NULL,
	[TDH_Update_Status] [tinyint] NULL,
 CONSTRAINT [PK_XITEC_LENH_GH] PRIMARY KEY CLUSTERED 
(
	[NGAY_DKY] ASC,
	[MA_LENH] ASC,
	[MA_NGAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[XITEC_LENH_GH] ADD  CONSTRAINT [DF_XITEC_LENH_GH_TDH_Update_Status]  DEFAULT ((0)) FOR [TDH_Update_Status]
GO
